/* Linked CSS Files */

@import url('./variables.css');








/* About Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonts-body);
    letter-spacing: var(--letterSpacings-normal);
    font-weight: var(--fontWeights-normal);
    line-height: var(--lineHeights-short);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--surface-layer-01);
    cursor: var(--cursor-default), auto;
}

#main-about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 48px;
    padding: 64px 128px;
    max-width: 1600px;
    margin: auto;
}

.me-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: start;
    align-items: start;
    gap: 80px;
}

.about {
    font-size: var(--fontSizes-40);
    color: var(--heading-primary);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
}

.me {
    border: 2px solid var();
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-none);
    object-fit: cover;
    object-position: center;
}

.myself {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
}

.myself p {
    font-size: var(--fontSizes-18);
    color: var(--paragraph-primary);
}

.question {
    max-width: 752px;
    font-size: var(--fontSizes-40);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    line-height: var(--lineHeights-shorter);
    color: var(--heading-primary);
}

.collage-outer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;
}

.image-main {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-none);
    object-fit: cover;
    object-position: center;
}

#finish {
    padding: 56px 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#fn-head {
    font-size: var(--fontSizes-40);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    line-height: var(--lineHeights-shorter);
    color: var(--heading-primary);
    text-align: center;
}

#back-to-all {
    margin: auto;
    width: max-content;
    font-weight: var(--fontWeights-semibold);
    line-height: var(--lineHeights-6);
    color: var(--secondary-button-text-dark);
    font-size: var(--fontSizes-18);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background-color: var(--button-secondary);
    border-radius: var(--border-radius-400);
    text-decoration: none;
    transition: 300ms ease-out;
    gap: 8px;
}

#back-to-all:hover {
    background-color: var(--button-secondary-hover);
    cursor: var(--cursor-pointer), auto;
    transform: translateY(-2px);
}

#back-to-all:focus {
    transform: translateY(0px);
    outline: 0.2rem solid var(--link-primary-hover);
    outline-offset: 2px;
}



/* Small Desktop */

@media (max-width: 1400px) {}



/* Tablet */

@media (max-width: 1024px) {

    #main-about {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 32px;
        padding: 48px 40px;
    }

    .about {
        font-size: var(--fontSizes-40);
    }

    .me-section {
        gap: 24px;
        display: flex;
        flex-direction: column-reverse;
    }

    .question {
        font-size: var(--fontSizes-32);
    }

    .collage-outer {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #finish {
        padding: 48px 0px;
    }

}



/* Mobile */

@media (max-width: 688px) {

    #main-about {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 24px;
        padding: 40px 24px;
    }


    .about {
        font-size: var(--fontSizes-32);
    }

    .myself {
        gap: 16px;
    }

    .myself p {
        font-size: var(--fontSizes-18);
    }

    .question {
        font-size: var(--fontSizes-32);
    }

    .collage-outer {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    #finish {
        padding: 40px 0px;
    }

}