@import url("./global.built.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  animation: pageLoading 1s var(--ease-in-out-sine);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (max-width: 1024px) {

}


@media (max-width: 768px) {

}