/* Linked CSS Files */

@import url("./karma-semantics.css");
@import url("./karma-typography&radius.css");

/*  Animations */

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* About Page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: var(--globalnav-wrapper-height);
  background: var(--background);
  animation: pageLoading 1000ms;
  animation-timing-function: var(--bounce-effect);
  position: relative;
  padding-top: var(--localnav-height);
}

main {
  padding: 0 96px;
  margin: auto;
  min-height: 100vh;
}

/* About Section */

.about-section {
  margin: auto;
  max-width: var(--global-max-width);
  padding: 96px 0 48px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--spacing-48);
}

.about-section-headline {
  font: var(--title2-m-emphasized);
  letter-spacing: var(--title2-letterspacing);
  color: var(--text);
}

.about-section-story-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-48);
}

.me {
  order: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius-8);
}

.journey {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.journey-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

/* Outside of work */

.outside-of-work {
  margin: auto;
  max-width: var(--global-max-width);
  padding: 48px 0 96px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--spacing-48);
}

.ow-section-headline {
  font: var(--title2-m-emphasized);
  letter-spacing: var(--title2-letterspacing);
  color: var(--text);
}

.cricket-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-48);
}

.me-cricket {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius-8);
}

.cricket-story {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.cricket-story-heading {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
}

.cricket-story-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

.snap-and-music-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-48);
}

.snap-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  overflow: hidden;
}

.snap-section-heading {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
}

.snaps {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--spacing-16);
}

.snap {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius-8);
}

.snap-section-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

.music-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  overflow: hidden;
}

.music-section-heading {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
}

.music-covers {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--spacing-16);
}

.music-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius-8);
}

.music-section-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

/* Small Desktop */

@media (max-width: 1400px) {
}

/* Tablet */

@media (max-width: 1068px) {
  main {
    padding: 0 48px;
  }

  /* About Section */

  .about-section {
    padding: 96px 0 48px;
    gap: var(--spacing-48);
  }

  .about-section-story-wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--spacing-48);
  }

  .me {
    order: 1;
  }

  .journey {
    order: 2;
  }

  /* Outside of work */

  .outside-of-work {
    padding: 48px 0 96px;
    gap: var(--spacing-48);
  }

  .cricket-section {
    gap: var(--spacing-48);
  }

  .snap-and-music-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--spacing-48);
  }

  .snap-section {
    gap: var(--spacing-16);
  }

  .music-section {
    gap: var(--spacing-16);
  }
}

/* Mobile */

@media (max-width: 734px) {
  main {
    padding: 0 24px;
  }

  /* About Section */

  .about-section {
    padding: 80px 0 40px;
    gap: var(--spacing-32);
  }

  .about-section-headline {
    font: var(--title2-xxxs-emphasized);
  }

  .about-section-story-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--spacing-32);
  }

  .me {
    order: 1;
  }

  .journey {
    order: 2;
  }

  .journey-copy {
    font: var(--body2-xxxs);
  }

  /* Outside of work */

  .outside-of-work {
    padding: 40px 0 80px;
    gap: var(--spacing-32);
  }

  .ow-section-headline {
    font: var(--title2-xxxs-emphasized);
  }

  .cricket-section {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--spacing-16);
  }

  .cricket-story {
    gap: var(--spacing-8);
  }

  .cricket-story-heading {
    font: var(--title4-xxxs-emphasized);
  }

  .cricket-story-copy {
    font: var(--body2-xxxs);
  }

  .snap-and-music-section {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--spacing-32);
  }

  .snap-section-heading {
    font: var(--title4-xxxs-emphasized);
  }

  .snap-section-copy {
    font: var(--body2-xxxs);
  }

  .music-section-heading {
    font: var(--title4-xxxs-emphasized);
  }

  .music-section-copy {
    font: var(--body2-xxxs);
  }
}
