/* Linked CSS Files */

@import url('./variables.css');
@import url('./karma-semantics.css');
@import url('./karma-typography.css');








/*  Animations */

@keyframes pageLoading {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}



/* About Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--karma-font-body);
    letter-spacing: var(--karma-letterSpacing-normal);
    font-weight: var(--karma-fontWeight-regular);
    line-height: var(--karma-lineHeight-short);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--karma-color-system-background-dark);
    cursor: var(--cursor-default), auto;
    animation: pageLoading 950ms;
}



/* Introduction Section */

.introduction-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px 0px 80px;
    max-width: 600px;
    margin: auto;
    gap: 32px;
}

.question-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.question-1 {
    max-width: 416px;
    padding: 12px 22px;
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    color: var(--karma-color-glyph-action-brand-accent-default-dark);
    font-weight: var(--karma-fontWeight-regular);
    border-radius: 24px 24px 24px 4px;
    background-color: #313131;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16)
}


.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
}

.answer {
    max-width: 416px;
    padding: 12px 20px;
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    color: var(--karma-color-glyph-action-brand-accent-default-dark);
    font-weight: var(--karma-fontWeight-regular);
    background-color: #087FE7;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16)
}

.me {
    position: relative;
    max-width: 320px;
    width: 100%;
    height: 360px;
    background-image: url(/assets/me.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px 4px 4px 24px;
    border: 4px solid #087FE7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16)
}

.reaction {
    z-index: 1;
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    position: absolute;
    top: 4px;
    left: -20px;
    width: 40px;
    height: 40px;
    background-color: #FFEDB3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--karma-border-radius-full);
}

#answer-1 {
    border-radius: 24px 24px 4px 24px;
}

#answer-2,
#answer-3,
#answer-4 {
    border-radius: 24px 4px 4px 24px;
}

#answer-5 {
    border-radius: 24px 4px 24px 24px;
}

.status {
    text-align: center;
    width: 100%;
    font-size: var(--karma-fontSize-16x1);
    line-height: var(--karma-lineHeight-16x1);
    color: var(--karma-color-label-tertiary-dark);
    font-weight: var(--karma-fontWeight-medium);
    letter-spacing: var(--karma-letterSpacing-wide);
}

#time {
    margin-bottom: 16px;
}

#seen {
    width: fit-content;
}

#blocked {
    margin-top: 32px;
    color: var(--karma-color-label-secondary-dark);
}



/* SLider Section */

.slider-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 0 0;
    max-width: 1024px;
    margin: auto;
}

.slider-section-heading {
    max-width: 432px;
    text-align: center;
    font-size: var(--karma-fontSize-40x1);
    color: var(--karma-color-label-secondary-dark);
    font-family: var(--karma-font-heading);
    font-weight: var(--karma-fontWeight-medium);
    line-height: var(--karma-lineHeight-40x1);
    letter-spacing: var(--karma-letterSpacing-tight);
}

.slider-container {
    padding: 80px 0px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    touch-action: pan-y;
}

.slider-wrapper {
    display: flex;
    will-change: transform;
}

.slide {
    flex: 0 0 calc(80% - 40px);
    max-width: 424px;
    height: auto;
    margin-right: 20px;
    border-radius: var(--karma-border-radius-none);
    overflow: hidden;
    transition: opacity 0.5s ease;
    opacity: 0.25;
}

.slide:last-child {
    margin-right: 0;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

.controls {
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
    z-index: 10;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color: var(--karma-color-fill-action-secondary-default-dark);
    border: none;
    border-radius: var(--karma-border-radius-full);
    transition: background-color 200ms ease;
}

.chevron-left path {
    fill: var(--karma-color-glyph-action-secondary-default-dark);
}

.chevron-right path {
    fill: var(--karma-color-glyph-action-secondary-default-dark);
}

.btn:hover {
    cursor: var(--cursor-pointer), auto;
    background-color: var(--karma-color-fill-action-secondary-hover-dark);
}

.btn:disabled {
    cursor: var(--cursor-not-allowed), not-allowed;
    background-color: var(--karma-color-fill-action-secondary-disabled-dark);
}

.btn:disabled .chevron-left path {
    fill: var(--karma-color-glyph-action-secondary-disabled-dark);
}

.btn:disabled .chevron-right path {
    fill: var(--karma-color-glyph-action-secondary-disabled-dark);
}



/* Writing */

#writing-section {
    max-width: 1024px;
    margin: auto;
    padding: 80px 0px 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

#writing-section-headline {
    text-align: center;
    max-width: 336px;
    font-size: var(--karma-fontSize-40x1);
    line-height: var(--karma-lineHeight-40x1);
    color: var(--karma-color-label-secondary-dark);
    font-family: var(--karma-font-heading);
    font-weight: var(--karma-fontWeight-medium);
    letter-spacing: var(--karma-letterSpacing-tight);
}

#article-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 48px;
    justify-content: space-between;
    align-items: start;
    min-width: 100%;
}

.main-article-container {
    box-shadow: var(--karma-depth-raised);
    transition: 200ms ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: var(--karma-color-fill-primary-dark);
    overflow: hidden;
    border-radius: var(--karma-border-radius-24x1);
}

.main-article-container:hover {
    cursor: var(--cursor-pointer), auto;
}

.article-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
    padding: 24px;
}

.article-heading {
    font-size: var(--karma-fontSize-20x1);
    font-family: var(--karma-font-heading);
    font-weight: var(--karma-fontWeight-medium);
    letter-spacing: var(--karma-letterSpacing-tight);
    line-height: var(--karma-lineHeight-20x1);
    color: var(--karma-color-label-primary-dark);
}

.article-read-time {
    color: var(--karma-color-label-secondary-dark);
    font-size: var(--karma-fontSize-14x1);
    line-height: var(--karma-lineHeight-14x1);
    font-weight: var(--karma-fontWeight-medium);
    text-overflow: ellipsis;
}

.article-date-of-release {
    color: var(--karma-color-label-secondary-dark);
    font-size: var(--karma-fontSize-14x1);
    line-height: var(--karma-lineHeight-14x1);
    font-weight: var(--karma-fontWeight-medium);
    text-overflow: ellipsis;
}



/* Small Desktop */

@media (max-width: 1400px) {}



/* Tablet */

@media (max-width: 1068px) {


    .introduction-section {
        padding: 96px 0px 64px;
    }

    .myself {
        font-size: var(--karma-fontSize-32x1);
        line-height: var(--karma-lineHeight-32x1);
        max-width: 512px;
    }

    .photography-section {
        padding: 64px 48px 96px;
    }

    .slider-heading-container {
        padding: 64px 40px 0 40px;
    }

    .slider-container {
        padding: 80px 0px 64px;
    }

    /* writing section */

    #writing-section {
        margin: auto;
        padding: 64px 40px 96px;
    }

    #article-section {
        gap: 32px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}



/* Mobile */

@media (max-width: 735px) {

    .introduction-section {
        padding: 80px 24px 56px;
    }

    .question-1 {
        max-width: 320px;
        padding: 8px 16px;
        font-size: var(--karma-fontSize-18x1);
        line-height: var(--karma-lineHeight-20x1);
    }

    .answer {
        max-width: 320px;
        padding: 8px 16px;
        font-size: var(--karma-fontSize-18x1);
        line-height: var(--karma-lineHeight-18x1);
    }

    .me {
        max-width: 224px;
        width: 100%;
        height: 256px;
    }

    .status {
        font-size: var(--karma-fontSize-16x1);
        line-height: var(--karma-lineHeight-16x1);
    }

    .slider-heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 56px 24px 0 24px;
        max-width: 1024px;
        margin: auto;
    }

    .slider-section-heading {
        max-width: 360px;
        font-size: var(--karma-fontSize-32x1);
        line-height: var(--karma-lineHeight-32x1);
    }

    .slider-container {
        padding: 48px 0px;
        gap: 40px;
    }

    /* writing section */

    #writing-section {
        margin: auto;
        padding: 56px 24px 80px;
        gap: 48px;
    }

    #article-section {
        gap: 40px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    #writing-section-headline {
        font-size: var(--karma-fontSize-32x1);
        line-height: var(--karma-lineHeight-32x1);
        max-width: 256px;
    }


}