@import url("./global.built.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


body {
  position: relative;
  animation: pageLoading 1s var(--ease-in-out-sine);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background: var(--color-background-primary);
}

.story-section {
  padding: 128px 0;
  position: relative;
  background: var(--color-background-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-section-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 48px;
  max-width: 1024px;
  padding: 0 48px;
}

.story {
  grid-column: 1 / 8;
  width: 100%;
}

.story-headline {
  width: 100%;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-leading-xxlarge);
  letter-spacing: var(--font-tracking-tightest);
  color: var(--color-foreground-primary);
}

.story-body {
  width: 100%;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-small);
  letter-spacing: var(--font-tracking-tight);
  color: var(--color-foreground-primary);
}

.me {
  position: sticky;
  top: 128px;
  grid-column: 8 / 13;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  box-shadow: 0 0 0 1px var(--color-foreground-quinary);
  aspect-ratio: 4/5;
}



@media (max-width: 1024px) {}


@media (max-width: 768px) {

  .story-section-content {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
  }

  .story-headline {
    font-size: var(--font-size-xlarge);
    line-height: var(--font-leading-xlarge);
    letter-spacing: var(--font-tracking-tighter);
  }

  .me {
    position: static;
  }

}