:root {
  --brand-100: var(--green-100);
  --brand-200: var(--green-200);
  --brand-300: var(--green-300);
  --brand-400: var(--green-400);
  --brand-500: var(--green-500);
  --brand-600: var(--green-600);
  --brand-700: var(--green-700);
  --brand-800: var(--green-800);
  --brand-900: var(--green-900);
  --brand-1000: var(--green-1000);

  --blue-100: #e5f1f7;
  --blue-200: #d2e8f3;
  --blue-300: #abd7ed;
  --blue-400: #7ec6ea;
  --blue-500: #1990cc;
  --blue-600: #1973a1;
  --blue-700: #1a6386;
  --blue-800: #174d69;
  --blue-900: #153849;
  --blue-1000: #0f212a;

  --green-100: #eaf5f1;
  --green-200: #caeade;
  --green-300: #aae3ce;
  --green-400: #64d3aa;
  --green-500: #1a9b6b;
  --green-600: #1a7d58;
  --green-700: #175e44;
  --green-800: #164b38;
  --green-900: #113226;
  --green-1000: #0c1f18;

  --gray-100: #f5f5f5;
  --gray-200: #e6e6e6;
  --gray-300: #d9d9d9;
  --gray-400: #b3b3b3;
  --gray-500: #757575;
  --gray-600: #444444;
  --gray-700: #383838;
  --gray-800: #2c2c2c;
  --gray-900: #1e1e1e;
  --gray-1000: #111111;

  --black-100: rgba(0, 0, 0, 0.05);
  --black-200: rgba(0, 0, 0, 0.1);
  --black-300: rgba(0, 0, 0, 0.2);
  --black-400: rgba(0, 0, 0, 0.3);
  --black-500: rgba(0, 0, 0, 0.5);
  --black-600: rgba(0, 0, 0, 0.8);
  --black-700: rgba(0, 0, 0, 0.85);
  --black-800: rgba(0, 0, 0, 0.9);
  --black-900: rgba(0, 0, 0, 0.95);
  --black-1000: rgba(0, 0, 0);

  --white-100: rgba(255, 255, 255, 0.05);
  --white-200: rgba(255, 255, 255, 0.1);
  --white-300: rgba(255, 255, 255, 0.2);
  --white-400: rgba(255, 255, 255, 0.4);
  --white-500: rgba(255, 255, 255, 0.7);
  --white-600: rgba(255, 255, 255, 0.8);
  --white-700: rgba(255, 255, 255, 0.85);
  --white-800: rgba(255, 255, 255, 0.9);
  --white-900: rgba(255, 255, 255, 0.95);
  --white-1000: rgba(255, 255, 255);
}
