:root {
  --orange-1: #fa6000;
  --orange-2: #fff2e8;
  --orange-3: #3e1909;

  --green-1: #1da574;
  --green-2: #e5fff2;
  --green-3: #0d231c;

  --violet-1: #693dfd;
  --violet-2: #f3f0ff;
  --violet-3: #221835;

  --green-1: #1da574;
  --green-2: #e5fff2;
  --green-3: #0d231c;

  --slate-100: #0c0c0d;
  --slate-75: #47474a;
  --slate-60: #6c6c70;
  --slate-45: #909094;
  --slate-30: #b4b4b9;
  --slate-15: #d8d8dd;
  --slate-5: #f0f0f5;
  --slate-0: #ffffff;

  --slate-alpha-92: rgba(12, 12, 13, 0.92);
  --slate-alpha-75: rgba(12, 12, 13, 0.75);
  --slate-alpha-60: rgba(12, 12, 13, 0.6);
  --slate-alpha-45: rgba(12, 12, 13, 0.45);
  --slate-alpha-30: rgba(12, 12, 13, 0.3);
  --slate-alpha-15: rgba(12, 12, 13, 0.15);
  --slate-alpha-5: rgba(12, 12, 13, 0.05);
  --slate-alpha-0: rgba(12, 12, 13, 0);

  --chalk-100: #ffffff;
  --chalk-75: #c4c4c9;
  --chalk-60: #9e9ea3;
  --chalk-45: #7a7a7e;
  --chalk-30: #565659;
  --chalk-15: #323235;
  --chalk-5: #1a1a1c;
  --chalk-0: #0c0c0d;

  --chalk-alpha-92: rgba(255, 255, 255, 0.92);
  --chalk-alpha-75: rgba(255, 255, 255, 0.75);
  --chalk-alpha-60: rgba(255, 255, 255, 0.6);
  --chalk-alpha-45: rgba(255, 255, 255, 0.45);
  --chalk-alpha-30: rgba(255, 255, 255, 0.3);
  --chalk-alpha-15: rgba(255, 255, 255, 0.15);
  --chalk-alpha-5: rgba(255, 255, 255, 0.05);
  --chalk-alpha-0: rgba(255, 255, 255, 0);
}
