:root {
  /* Global */

  --gray-100: #f5f5f5;
  --gray-200: #e6e6e6;
  --gray-300: #d9d9d9;
  --gray-400: #b3b3b3;
  --gray-500: #757575;
  --gray-600: #444444;
  --gray-700: #383838;
  --gray-800: #2c2c2c;
  --gray-900: #1e1e1e;
  --gray-1000: #111111;

  --black-100: rgba(0, 0, 0, 0.05);
  --black-200: rgba(0, 0, 0, 0.1);
  --black-300: rgba(0, 0, 0, 0.2);
  --black-400: rgba(0, 0, 0, 0.3);
  --black-500: rgba(0, 0, 0, 0.5);
  --black-600: rgba(0, 0, 0, 0.8);
  --black-700: rgba(0, 0, 0, 0.85);
  --black-800: rgba(0, 0, 0, 0.9);
  --black-900: rgba(0, 0, 0, 0.95);
  --black-1000: rgba(0, 0, 0);

  --white-100: rgba(255, 255, 255, 0.05);
  --white-200: rgba(255, 255, 255, 0.1);
  --white-300: rgba(255, 255, 255, 0.2);
  --white-400: rgba(255, 255, 255, 0.4);
  --white-500: rgba(255, 255, 255, 0.7);
  --white-600: rgba(255, 255, 255, 0.8);
  --white-700: rgba(255, 255, 255, 0.85);
  --white-800: rgba(255, 255, 255, 0.9);
  --white-900: rgba(255, 255, 255, 0.95);
  --white-1000: rgba(255, 255, 255);

  --pale-blue-100: #f1f5f8;
  --pale-blue-200: #e3ecf2;
  --pale-blue-300: #d2dae4;
  --pale-blue-400: #afbccf;
  --pale-blue-500: #667799;
  --pale-blue-600: #536383;
  --pale-blue-700: #4a5878;
  --pale-blue-800: #394360;
  --pale-blue-900: #252d41;
  --pale-blue-1000: #121721;

  /* Light Mode */

  --brand-light-100: var(--green-light-100);
  --brand-light-200: var(--green-light-200);
  --brand-light-300: var(--green-light-300);
  --brand-light-400: var(--green-light-400);
  --brand-light-500: var(--green-light-500);
  --brand-light-600: var(--green-light-600);
  --brand-light-700: var(--green-light-700);
  --brand-light-800: var(--green-light-800);
  --brand-light-900: var(--green-light-900);
  --brand-light-1000: var(--green-light-1000);

  --blue-light-100: #f2f9ff;
  --blue-light-200: #e5f4ff;
  --blue-light-300: #bde3ff;
  --blue-light-400: #80caff;
  --blue-light-500: #0d99ff;
  --blue-light-600: #007be5;
  --blue-light-700: #0768cf;
  --blue-light-800: #034ac1;
  --blue-light-900: #093077;
  --blue-light-1000: #0d193f;

  --green-light-100: #ebffee;
  --green-light-200: #cff7d3;
  --green-light-300: #aff4c6;
  --green-light-400: #85e0a3;
  --green-light-500: #14ae5c;
  --green-light-600: #009951;
  --green-light-700: #008043;
  --green-light-800: #036838;
  --green-light-900: #024626;
  --green-light-1000: #083a23;

  /* Dark Mode */

  --brand-dark-100: var(--green-dark-100);
  --brand-dark-200: var(--green-dark-200);
  --brand-dark-300: var(--green-dark-300);
  --brand-dark-400: var(--green-dark-400);
  --brand-dark-500: var(--green-dark-500);
  --brand-dark-600: var(--green-dark-600);
  --brand-dark-700: var(--green-dark-700);
  --brand-dark-800: var(--green-dark-800);
  --brand-dark-900: var(--green-dark-900);
  --brand-dark-1000: var(--green-dark-1000);

  --blue-dark-100: #e2f1fd;
  --blue-dark-200: #cfe9fc;
  --blue-dark-300: #a8d7fa;
  --blue-dark-400: #7cc4f8;
  --blue-dark-500: #0c8ce9;
  --blue-dark-600: #0a6dc2;
  --blue-dark-700: #105cad;
  --blue-dark-800: #184591;
  --blue-dark-900: #1b335f;
  --blue-dark-1000: #161e36;

  --green-dark-100: #ddfde2;
  --green-dark-200: #beefc2;
  --green-dark-300: #a1e8b9;
  --green-dark-400: #79d297;
  --green-dark-500: #198f51;
  --green-dark-600: #078348;
  --green-dark-700: #0a5c35;
  --green-dark-800: #0a4c2d;
  --green-dark-900: #082618;
  --green-dark-1000: #0b1e15;

  /* New */

  --orange-1: #fa6000;
  --orange-2: #fff2e8;
  --orange-3: #3e1909;

  --green-1: #1da574;
  --green-2: #e5fff2;
  --green-3: #0d231c;

  --violet-1: #693dfd;
  --violet-2: #f3f0ff;
  --violet-3: #221835;

  --slate-100: #0c0c0d;
  --slate-75: #47474a;
  --slate-60: #6c6c70;
  --slate-45: #909094;
  --slate-30: #b4b4b9;
  --slate-15: #d8d8dd;
  --slate-5: #f0f0f5;
  --slate-0: #ffffff;

  --slate-alpha-92: rgba(12, 12, 13, 0.92);
  --slate-alpha-75: rgba(12, 12, 13, 0.75);
  --slate-alpha-60: rgba(12, 12, 13, 0.6);
  --slate-alpha-45: rgba(12, 12, 13, 0.45);
  --slate-alpha-30: rgba(12, 12, 13, 0.3);
  --slate-alpha-15: rgba(12, 12, 13, 0.15);
  --slate-alpha-5: rgba(12, 12, 13, 0.05);
  --slate-alpha-0: rgba(12, 12, 13, 0);

  --chalk-100: #ffffff;
  --chalk-75: #c4c4c9;
  --chalk-60: #9e9ea3;
  --chalk-45: #7a7a7e;
  --chalk-30: #565659;
  --chalk-15: #323235;
  --chalk-5: #1a1a1c;
  --chalk-0: #0c0c0d;

  --chalk-alpha-92: rgba(255, 255, 255, 0.92);
  --chalk-alpha-75: rgba(255, 255, 255, 0.75);
  --chalk-alpha-60: rgba(255, 255, 255, 0.6);
  --chalk-alpha-45: rgba(255, 255, 255, 0.45);
  --chalk-alpha-30: rgba(255, 255, 255, 0.3);
  --chalk-alpha-15: rgba(255, 255, 255, 0.15);
  --chalk-alpha-5: rgba(255, 255, 255, 0.05);
  --chalk-alpha-0: rgba(255, 255, 255, 0);
}
