/* Linked CSS Files */

@import url('./variables.css');
@import url('./system-sementics.css');
@import url('./karma-typography.css');








/*  Animations */

@keyframes pageLoading {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonts-body);
  letter-spacing: var(--letterSpacings-normal);
  font-weight: var(--fontWeights-normal);
  line-height: var(--lineHeights-short);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--surface-layer-02);
  cursor: var(--cursor-default), auto;
  animation: pageLoading 800ms;
}

main {
  min-height: 100vh;
  margin-top: 64px;
}

#cover-mt {
  margin-bottom: 16px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-none);
}

#main-container {
  max-width: 800px;
  margin: auto;
  width: 100%;
}

#upper-com {
  padding: 32px 0px;
}

#head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  margin-bottom: 16px;
  color: var(--heading-primary);
}

.cs {
  font-size: var(--fontSizes-18);
  font-family: var(--fonts-mono);
  font-weight: var(--fontWeights-medium);
  color: var(--paragraph-primary-100);
  letter-spacing: var(--letterSpacings-wide);
  margin-bottom: 16px;
}

.po {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#project-info {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  align-items: start;
  margin-bottom: 24px;
  gap: 40px;
}

.r-r h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.r-r p {
  font-size: var(--fontSizes-16);
  color: var(--paragraph-primary);
}

.p-c h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.p-c p {
  font-size: var(--fontSizes-16);
  color: var(--paragraph-primary);
}

.tools h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.tools p {
  font-size: var(--fontSizes-16);
  color: var(--paragraph-primary);
}

.line {
  border: 1px solid var(--border-subtle-01);
}

/* Main Case Study Section */

/* #middle-com{
    padding: 32px 8px;
} */
#problem-s {
  padding: 32px 0px;
  display: grid;
}

#problem-s h6 {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#problem-s h6:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#problem-s p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#tackling-tp {
  padding: 32px 0px;
  display: grid;
}

#tackling-tp h6 {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#tackling-tp h6:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#tackling-tp p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#tackling-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#research-sec {
  padding: 32px 0px;
  display: grid;
}

#re-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#re-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#research-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#re-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#ideation-sec {
  padding: 32px 0px;
  display: grid;
}

#id-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#id-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#hmw-head {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 24px;
}

#hmw-q {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 32px;
}

#hmw-q p {
  margin-bottom: 16px;
}

#low-fi {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 24px;
}

#lf-para {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#low-fi-app {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#low-fi-web {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#task-sec {
  padding: 32px 0px;
  display: grid;
}

#ta-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#ta-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#task-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#em-task {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#ma-task {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#solution-sec {
  padding: 32px 0px;
  display: grid;
}

#so-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#so-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#solution-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#main-sol-sec {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.for-em {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 1100px;
  gap: 48px;
}

.for-em h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 24px;
}

#sol-v-mob {
  width: 100%;
  height: 532px;
}

.for-ma {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 1100px;
  gap: 48px;
}

.for-ma h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 24px;
}

#sol-v-des {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

#map-sec {
  padding: 32px 0px;
  display: grid;
}

#pr-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#pr-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}


#map-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

.main-map {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 48px;
}

.p-o-map {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

#key-ta-sec {
  padding: 32px 0px;
  display: grid;
}

#ke-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#ke-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#in-sec {
  display: grid;
  gap: 16px;
}

#in-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}


#finish {
  padding: 56px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#fn-head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  text-align: center;
}

#back-to-all {
  margin: auto;
  width: max-content;
  font-weight: var(--fontWeights-semibold);
  color: var(--link-primary);
  font-size: var(--fontSizes-18);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 300ms ease-out;
  gap: 8px;
}

#back-to-all:hover {
  color: var(--link-primary-hover);
  cursor: var(--cursor-pointer), auto;
  text-decoration: 2px underline solid var(--link-primary-hover);
}



/* Small desktop */

@media (max-width: 1400px) {

  #main-container {
    max-width: 972px;
    margin: auto;
    width: 100%;
  }

  #sol-v-des {
    object-fit: contain;
  }

  #side-navbar {
    display: none;
  }

}



/* Tablet */

@media (max-width: 1068px) {

  #main-container {
    max-width: 972px;
    margin: auto;
    padding: 0px 40px;
    width: 100%;
  }

  #project-info {
    gap: 24px;
  }

  #side-navbar {
    display: none;
  }

  .for-ma {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }

  #finish {
    padding: 48px 0px;
  }

}

/* Mobile */

@media (max-width: 735px) {

  #main-container {
    margin: auto;
    padding: 0px 24px;
    width: 100%;
  }

  #upper-com {
    padding: 16px 0px;
  }

  #cover-mt {
    margin-top: 16px;
  }

  #head {
    font-size: var(--fontSizes-32);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 12px;
  }

  .cs {
    font-size: var(--fontSizes-16);
    font-family: var(--fonts-mono);
    margin-bottom: 12px;
  }

  .po {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 16px;
    gap: 8px;
  }

  .r-r {
    margin-bottom: 16px;
  }

  .p-c {
    margin-bottom: 16px;
  }

  .tools {
    margin-bottom: 16px;
  }

  .r-r h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  .r-r p {
    font-size: var(--fontSizes-16);
  }

  .p-c h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  .p-c p {
    font-size: var(--fontSizes-16);
  }

  .tools h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  .tools p {
    font-size: var(--fontSizes-16);
  }


  #problem-s {
    padding: 16px 0px;
  }

  #problem-s h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  #problem-s h6:hover::after {
    content: "";
  }

  #problem-s p {
    font-size: var(--fontSizes-18);
  }

  #tackling-tp {
    padding: 16px 0px;
  }

  #tackling-tp h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  #tackling-tp h6:hover::after {
    content: "";
  }

  #tackling-tp p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #research-sec {
    padding: 16px 0px;
  }

  #re-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  #re-head:hover::after {
    content: "";
  }

  #research-sec p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #ideation-sec {
    padding: 16px 0px;
  }

  #id-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #id-head:hover::after {
    content: "";
  }

  #hmw-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 12px;
  }

  #hmw-q {
    font-size: var(--fontSizes-18);
  }

  #hmw-q p {
    margin-bottom: 8px;
  }

  #low-fi {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 24px;
  }

  #lf-para {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #task-sec {
    padding: 16px 0px;
  }

  #ta-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #ta-head:hover::after {
    content: "";
  }

  #task-sec p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #solution-sec {
    padding: 16px 0px;
  }

  #so-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #so-head:hover::after {
    content: "";
  }

  #solution-sec p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #main-sol-sec {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .for-em {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }

  .for-em h6 {
    font-size: var(--fontSizes-24);
    margin-bottom: 16px;
  }

  #sol-v-mob {
    width: 100%;
    height: 100%;
  }

  .for-ma {
    gap: 32px;
  }

  .for-ma h6 {
    font-size: var(--fontSizes-24);
    margin-bottom: 16px;
  }

  #map-sec {
    padding: 16px 0px;
    display: grid;
  }

  #pr-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #pr-head:hover::after {
    content: "";
  }


  #map-sec p {
    font-size: var(--fontSizes-18);
  }

  .main-map {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }

  #key-ta-sec {
    padding: 16px 0px;
    display: grid;
  }

  #ke-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #ke-head:hover::after {
    content: "";
  }

  #in-sec {
    display: grid;
    gap: 16px;
  }

  #finish {
    padding: 40px 0px;
  }

}