/* Linked CSS Files */

@import url('./variables.css');
@import url('./karma-semantics.css');
@import url('./karma-typography&radius.css');








/*  Animations */

@keyframes pageLoading {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}



/* Dynanmic Nav */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--karma-font-body);
    letter-spacing: var(--karma-letterSpacing-normal);
    font-weight: var(--karma-fontWeight-regular);
    line-height: var(--karma-lineHeight-short);
}

.nav-container {
    height: 60px;
    z-index: 999;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background: var(--karma-color-materialSover-header-dark);
    -webkit-backdrop-filter: var(--karma-blur-materialSover-header);
    backdrop-filter: var(--karma-blur-materialSover-header);
    padding: 14px 128px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;

}

#link-logo {
    text-decoration: none;
    font-size: var(--karma-fontSize-20x1);
    line-height: var(--karma-lineHeight-20x1);
    letter-spacing: var(--karma-letterSpacing-tight);
    color: var(--karma-color-label-primary-dark);
    text-decoration: none;
    font-family: var(--karma-font-heading);
    font-weight: var(--karma-fontWeight-bold);
    transition: 100ms ease-out;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#link-logo:hover {
    cursor: var(--cursor-pointer), auto;
}


.right-side-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.inner-right-side-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
}

.inner-right-side-container li a {
    text-decoration: none;
    border-radius: var(--karma-border-radius-full);
    font-size: var(--karma-fontSize-14x1);
    line-height: var(--karma-lineHeight-14x1);
    color: var(--karma-color-glyph-interactive-secondary-default-dark);
    text-decoration: none;
    font-weight: var(--karma-fontWeight-medium);
    transition: 200ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-right-side-container li a:hover {
    cursor: var(--cursor-pointer), auto;
    color: var(--karma-color-glyph-interactive-secondary-hover-dark);
}

.inner-right-side-container li a:active {
    color: var(--karma-color-glyph-interactive-secondary-pressed-dark);
}

.current {
    cursor: var(--cursor-not-allowed), auto !important;
    color: var(--karma-color-glyph-interactive-secondary-disabled-dark) !important;
}




#nav-cta {
    margin-left: 28px;
    padding: 5px 12px;
    border-radius: var(--karma-border-radius-full);
    text-decoration: none;
    font-size: var(--karma-fontSize-14x1);
    line-height: var(--karma-lineHeight-14x1);
    font-weight: var(--karma-fontWeight-medium);
    color: var(--karma-color-glyph-action-brand-default-dark);
    background-color: var(--karma-color-fill-action-brand-default-dark);
    text-align: center;
    transition: all 200ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-cta:hover {
    cursor: var(--cursor-pointer), auto;
    background-color: var(--karma-color-fill-action-brand-hover-dark);
}

#nav-cta:active {
    background-color: var(--karma-color-fill-action-brand-pressed-dark);
}

#nav-cta:focus {
    background-color: var(--karma-color-fill-action-brand-selected-dark);
}



/* Hidden Items */

.menu-icon-container {
    display: none;
}





/* Small Desktop */

@media (max-width: 1400px) {}



/* Tablet */

@media (max-width: 1068px) {

    .main-nav {
        padding: 14px 40px;
    }

}



/* Mobile */

@media (max-width: 735px) {

    .main-nav {
        align-items: start;
        padding: 0px 16px;
        transition: all 250ms ease;
        justify-content: space-between;
    }

    .nav-container.active .main-nav {
        height: 100vh;
        transition: all 400ms ease-out;
    }

    .inner-right-side-container li {
        width: 100%;
        transition: 100ms ease-out;
    }

    .inner-right-side-container li a {
        text-align: start;
        width: 100%;
        padding: 0px 0px 16px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        font-size: var(--karma-fontSize-32x1);
        line-height: var(--karma-lineHeight-32x1);
        font-weight: var(--karma-fontWeight-semibold);
        transform: translateY(-24px);
        transition: all 200ms ease-out;
        transition: 100ms;
    }

    #nav-cta {
        margin-left: 0px;
    }

    .right-side-container {
        gap: 20px;
    }

    .nav-container.active #link-logo,
    .nav-container.active #nav-cta {
        display: none;
    }

    .inner-right-side-container {
        display: none;
        margin-top: 60px;
        flex-direction: column;
        align-items: start;
        position: fixed;
        top: 0;
        left: 0;
        gap: 0;
        min-width: 100%;
        padding: 0 40px;
    }

    .nav-container.active .inner-right-side-container {
        display: flex;
        justify-content: start;
        top: 0;
        left: 0;
        gap: 0;
        width: 100%;
        padding: 0 40px;
        height: 100vh;
    }

    .menu-icon-container {
        width: 20px;
        height: 60px;
        display: flex;
        align-items: center;
        cursor: var(--cursor-pointer), auto;
    }

    .menu-icon {
        position: relative;
        width: 100%;
    }

    .line-1,
    .line-2 {
        position: absolute;
        height: 2px;
        width: 100%;
        background: var(--karma-color-glyph-action-secondary-default-dark);
        border-radius: var(--karma-border-radius-full);
        transition-property: transform, top;
        transition-delay: 0ms, 150ms;
        transition-duration: 200ms;
    }

    .line-1 {
        top: -4px;
    }

    .line-2 {
        top: 4px;
    }

    .nav-container.active .menu-icon-container .menu-icon .line-1 {
        top: 0;
        transform: rotateZ(45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 150ms;
        transition-duration: 200ms;
    }

    .nav-container.active .menu-icon-container .menu-icon .line-2 {
        top: 0;
        transform: rotateZ(-45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 150ms;
        transition-duration: 200ms;
    }



    /* Link Animation */

    .nav-container.active .main-nav .inner-right-side-container li a:nth-last-of-type(1) {
        transition-delay: 0ms;
        transform: translateY(0px);
    }

    .nav-container.active .main-nav .inner-right-side-container li a:nth-last-of-type(2) {
        transition-delay: 60ms;
        transform: translateY(0px);
    }

    .nav-container.active .main-nav .inner-right-side-container li a:nth-last-of-type(3) {
        transition-delay: 120ms;
        transform: translateY(0px);
    }

}