/* Linked CSS Files */

@import url('./variables.css');








/*  Animations */

@keyframes pageLoading {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}



/* Dynanmic Nav */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonts-body);
    letter-spacing: var(--letterSpacings-normal);
    font-weight: var(--fontWeights-normal);
    line-height: var(--lineHeights-short);
}

.nav-container {
    background: var(--glass-dark);
    backdrop-filter: saturate(180%) blur(22px);
    border-bottom: 1px solid var(--drop-shadow-dark);
    z-index: 999;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.main-nav {
    padding: 14px 128px;
    max-width: 1600px;
    height: 64px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.desktop-nav li a {
    text-decoration: none;
    font-size: var(--fontSizes-14);
    color: var(--paragraph-primary);
    text-decoration: none;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-medium);
    letter-spacing: var(--letterSpacings-wide);
    transition: 100ms ease-out;
}

.desktop-nav li a:hover {
    cursor: var(--cursor-pointer), auto;
    color: var(--link-primary-hover);
}

.current {
    color: var(--paragraph-primary-100) !important;
    cursor: var(--cursor-default), auto !important;
}

.desktop-right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

#link-logo {
    text-decoration: none;
    font-size: var(--fontSizes-20);
    color: var(--paragraph-primary);
    text-decoration: none;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-semibold);
    transition: 100ms ease-out;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#let-connect {
    padding: 5px 12px;
    background-color: var(--button-primary);
    border-radius: var(--border-radius-full);
    text-decoration: none;
    font-size: var(--fontSizes-14);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-medium);
    letter-spacing: var(--letterSpacings-wide);
    color: var(--primary-button-text);
    text-align: center;
    transition: 200ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

#let-connect:hover {
    cursor: var(--cursor-pointer), auto;
    background-color: var(--button-primary-hover);
}

#let-connect:focus {
    box-shadow: var(--shadows-outline);
}



/* Hidden Items */

.desktop-right-side li:nth-last-of-type(1),
.nav-container.active .main-nav .desktop-nav .desktop-right-side li:nth-last-child(1) {
    transition-delay: 30ms;
}



/* Hidden Items */

.mobile-nav {
    display: none;
}



/* Floating Theme Switch */

.theme {
    position: fixed;
    right: 36px;
    bottom: 36px;
    z-index: 999;
    background-color: var(--surface-layer-02);
    border: 1px solid var(--border-subtle-02);
    padding: 2px;
    border-radius: var(--border-radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-out;
}

.theme:hover {
    cursor: var(--cursor-pointer), auto;
    background-color: var(--surface-layer-02-hover);
}

.theme:focus {
    box-shadow: var(--shadows-outline);
}



/* Small Desktop */

@media (max-width: 1400px) {}



/* Tablet */

@media (max-width: 1024px) {

    .main-nav {
        padding: 14px 40px;
    }

}



/* Mobile */

@media (max-width: 688px) {

    .main-nav {
        padding: 14px 16px;
        transition: all 200ms ease;
    }

    .nav-container .desktop-nav {
        width: 100%;
        flex-direction: column;
        justify-content: start;
        background: var(--surface-layer-02);
        height: 0px;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -99;
        transition: all 200ms ease;
    }

    .nav-container.active .desktop-nav {
        height: 100vh;
        transition: all 450ms ease;
    }

    .desktop-nav li {
        width: 100%;
        padding: 0 40px;
    }

    .desktop-nav li a {
        width: 100%;
        padding: 10px 0px 12px;
        display: block;
        font-size: var(--fontSizes-18);
        font-weight: var(--fontWeights-semibold);
        border-bottom: 1px solid var(--border-subtle-01);
    }

    .desktop-nav .desktop-right-side li:first-child {
        margin-top: 64px;
    }

    .desktop-right-side {
        display: inline-block;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
        gap: 0px;
    }

    #link-logo {
        width: 100%;
    }

    .desktop-nav #link-logo,
    .desktop-nav #let-connect {
        display: none;
    }

    .nav-container.active #link-logo,
    .nav-container.active #let-connect {
        display: none;
    }

    .mobile-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 16px;
        height: 64px;
    }

    .right-side {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .menu-icon-container {
        width: 20px;
        height: 64px;
        display: flex;
        align-items: center;
        cursor: var(--cursor-pointer), auto;
    }

    .menu-icon {
        position: relative;
        width: 100%;
    }

    .line-1,
    .line-2 {
        position: absolute;
        height: 1.2px;
        width: 100%;
        background: var(--button-icon);
        transition-property: transform, top;
        transition-delay: 0ms, 150ms;
        transition-duration: 200ms;
    }

    .line-1 {
        top: -4px;
    }

    .line-2 {
        top: 4px;
    }

    .nav-container.active .menu-icon-container .menu-icon .line-1 {
        top: 0;
        transform: rotateZ(45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 150ms;
        transition-duration: 200ms;
    }

    .nav-container.active .menu-icon-container .menu-icon .line-2 {
        top: 0;
        transform: rotateZ(-45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 150ms;
        transition-duration: 200ms;
    }

}