/* Linked CSS Files */

@import url("./variables.css");
@import url("./karma-semantics.css");
@import url("./karma-typography&radius.css");

/*  Animations */

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Dynanmic Nav */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--karma-font-sans);
}

.nav-container {
  height: var(--globalnav-wrapper-height);
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.main-nav {
  position: fixed;
  top: 20px;
  right: 64px;
  left: 64px;
  z-index: 999;
  background: var(--globalnav-background);
  -webkit-backdrop-filter: var(--globalnav-backdrop-filter);
  backdrop-filter: var(--globalnav-backdrop-filter);
  padding: 12px 14px;
  height: var(--globalnav-height);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--global-max-width);
  border-radius: var(--border-radius-20);
  outline: 1px solid var(--globalnav-keyline-color);
  box-shadow: var(--depth-baseline);
}

/* .main-nav::after {
  height: 1px;
  display: block;
  width: 100%;
  z-index: 999;
  background-color: var(--globalnav-keyline-color);
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
} */

.desktop-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  max-width: var(--global-max-width);
  margin-right: auto;
  margin-left: auto;
}

#link-logo {
  text-decoration: none;
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius-10);
  background: var(--button-tertiary-background);
  transition: 100ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

#link-logo:hover {
  cursor: var(--cursor-pointer), auto;
  background: var(--button-tertiary-background-hover);
}

#link-logo:focus {
  outline: 4px solid var(--focus-ring);
  background: var(--button-tertiary-background-active);
}

.logo {
  height: 28px;
  width: 28px;
  object-fit: cover;
  object-position: center;
}

.right-side-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.inner-right-side-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
}

.inner-right-side-container li a {
  text-decoration: none;
  font: var(--navbarlink-xl);
  letter-spacing: var(--navbarlink-letterspacing);
  color: var(--globalnav-color);
  transition: 200ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-10);
}

.inner-right-side-container li a:hover {
  cursor: var(--cursor-pointer), auto;
  color: var(--globalnav-color-hover);
}

.current {
  cursor: var(--cursor-not-allowed), auto !important;
  color: var(--globalnav-color-disabled) !important;
}

/* Theme Button */

.theme-toggle-wrapper {
  margin-left: 16px;
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius-10);
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle {
  width: 36px;
  height: 36px;
  background-color: var(--button-secondary-background);
  border: none;
  border-radius: var(--border-radius-10);
  cursor: var(--cursor-pointer), auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-out;
}

.theme-toggle:hover {
  background-color: var(--button-secondary-background-hover);
}

.theme-toggle:hover svg {
  fill: var(--button-secondary-color-hover);
}

.theme-toggle:active {
  background-color: var(--button-secondary-background-active);
}

.theme-toggle:focus {
  outline: 4px solid var(--focus-ring);
}

.theme-toggle svg {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: var(--button-secondary-color);
  transition: fill 0.3s ease-out;
}

.nav-cta {
  display: block;
  margin-left: 24px;
  background: var(--button-background);
  text-decoration: none;
  padding: 7px 12px;
  height: 36px;
  font: var(--navbarlink-xl);
  letter-spacing: var(--navbarlink-letterspacing);
  color: var(--button-color);
  border-radius: var(--border-radius-10);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-out;
}

.nav-cta:hover {
  cursor: var(--cursor-pointer), auto;
  background: var(--button-background-hover);
}

.nav-cta:active {
  background: var(--button-background-active);
}

/* Hidden Items */

.menu-icon-container {
  display: none;
}

/* Small Desktop */

@media (max-width: 1400px) {
}

/* Tablet */

@media (max-width: 1068px) {
  .main-nav {
    right: 32px;
    left: 32px;
  }
}

/* Mobile */

@media (max-width: 734px) {
  .main-nav {
    right: 16px;
    left: 16px;
    align-items: start;
    padding: 12px;
    transition: 300ms cubic-bezier(0.4, 0, 0.6, 1) 20ms;
    justify-content: space-between;
  }

  .nav-container.active .main-nav {
    height: 100%;
    animation: globalNavbaropen;
    transition: 300ms cubic-bezier(0.4, 0, 0.6, 1) 10ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    background: var(--globalnav-background-opened);
  }

  .inner-right-side-container li a {
    text-align: start;
    width: 100%;
    height: 100%;
    padding: 0 0 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font: var(--navbarlink-xxxs);
    transition: all 200ms ease-out;
  }

  .right-side-container {
    gap: 8px;
  }

  .nav-container.active #link-logo,
  .nav-container.active .nav-cta {
    display: none;
  }

  .inner-right-side-container {
    display: none;
    margin-top: var(--globalnav-height);
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    gap: 0;
    min-width: 100%;
    padding: 0 48px;
  }

  .nav-container.active .inner-right-side-container {
    display: flex;
    justify-content: start;
    top: 0;
    left: 0;
    gap: 0;
    width: 100%;
    padding: 0 40px;
    height: min-content;
  }

  .theme-toggle-wrapper {
    margin-left: 6px;
  }

  @keyframes globalNavbaropen {
    0% {
      height: 0;
    }

    100% {
      height: 70vh;
    }
  }

  .menu-icon-container {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: var(--cursor-pointer), auto;
    border-radius: var(--border-radius-10);
  }

  .menu-icon {
    position: relative;
    width: 22px;
  }

  .line-1,
  .line-2 {
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--globalnav-color);
    border-radius: var(--border-radius-full);
    transition-property: transform, top;
    transition-delay: 0ms, 150ms;
    transition-duration: 200ms;
  }

  .line-1 {
    top: -4px;
  }

  .line-2 {
    top: 4px;
  }

  .nav-container.active .menu-icon-container .menu-icon .line-1 {
    top: 0;
    transform: rotateZ(45deg);
    transition-property: top, transform;
    transition-delay: 0ms, 150ms;
    transition-duration: 200ms;
  }

  .nav-container.active .menu-icon-container .menu-icon .line-2 {
    top: 0;
    transform: rotateZ(-45deg);
    transition-property: top, transform;
    transition-delay: 0ms, 150ms;
    transition-duration: 200ms;
  }

  /* Link Animation */

  @keyframes navbarLinks {
    0% {
      transform: translateY(-8px);
      opacity: 0;
      visibility: hidden;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }

  .nav-container .main-nav .inner-right-side-container li {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: translateY(-8px);
  }

  .nav-container.active .main-nav .inner-right-side-container li {
    transition: opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1);
    animation: navbarLinks;
    animation-duration: 0.32s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }

  .nav-container.active
    .main-nav
    .inner-right-side-container
    li:nth-last-of-type(1) {
    animation-delay: 60ms;
  }

  .nav-container.active
    .main-nav
    .inner-right-side-container
    li:nth-last-of-type(2) {
    animation-delay: 30ms;
  }

  .nav-container.active
    .main-nav
    .inner-right-side-container
    li:nth-last-of-type(3) {
    animation-delay: 0ms;
  }
}
