/* Proxima Nova */

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("☺"), url("/assets/Fonts/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("☺"), url("/assets/Fonts/ProximaNova-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("☺"), url("/assets/Fonts/ProximaNova-Regular.woff") format("woff");
}