/* SF Pro */


@font-face {
    font-family: 'SF Pro';
    src: url('/assets/Fonts/SF-Pro/SFPro.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}



/* SF Pro Icons */


@font-face {
    font-family: 'SF Pro Icons';
    src: url('/assets/Fonts/SF-Pro-Icons/SFProIcons-regular.woff') format('woff');
    font-weight: 100 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Icons';
    src: url('/assets/Fonts/SF-Pro-Icons/SFProIcons-semibold.woff') format('woff');
    font-weight: 500 900;
    font-style: normal;
    font-display: swap;
}