/* ABC Marfa */

@font-face {
    font-family: 'ABC Marfa';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
    src: local('☺'), url("/assets/Fonts/ABCMarfa-Variable.woff2") format("woff2");
}