/* Linked CSS Files */

@import url("./global.built.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-section {
  padding: 128px 0;
  position: relative;
  background: var(--color-background-neutral-secondary)
}

.footer-section-layout {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: var(--layout-width-maximum);
  padding: 0 var(--layout-margin);
  margin: auto;
  z-index: 1;
}

.footer-section-content {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
  gap: 64px var(--grid-guttur);
  align-items: start;
  justify-content: start;
}

.footer-section-label {
  grid-column: 1 / 5;
  width: 100%;
  color: var(--color-foreground-neutral-secondary);
}

.socials-container {
  grid-column: 5 / 8;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-link {
  width: max-content;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: var(--font-family-content);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-xsmall);
  letter-spacing: var(--font-tracking-wide);
  cursor: pointer;
  color: var(--color-foreground-neutral-primary);
  transition: var(--transition-property-colors) var(--transition-duration-normal) var(--ease-out-sine);
}

.social-link:hover {
  text-decoration: underline;
  color: var(--color-foreground-neutral-primary-hover);
}

.connect-container {
  grid-column: 8 / 13;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.connect-headline {
  color: var(--color-foreground-neutral-primary);
}

/* Tablet */

@media (max-width: 1024px) {

  .footer-section-label {
    grid-column: 1 / 3;
  }

  .socials-container {
    grid-column: 3 / 5;
  }

  .connect-container {
    grid-column: 5 / 9;
  }

}

/* Mobile */

@media (max-width: 768px) {

  .footer-section-label {
    grid-column: 1 / 3;
  }

  .socials-container {
    grid-column: 3 / 5;
  }

  .connect-container {
    grid-column: 1 / 5;
  }

}