/* Linked CSS Files */

@import url('./variables.css');
@import url('./karma-semantics.css');
@import url('./karma-typography.css');








/* footer Section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--karma-font-body);
    letter-spacing: var(--karma-letterSpacing-normal);
    font-weight: var(--karma-fontWeight-normal);
    line-height: var(--karma-lineHeight-short);
}

footer {
    padding: 128px 0px;
    margin: auto;
    background-color: var(--karma-color-fill-primary-dark);
    border-top: 1px solid var(--karma-color-border-muted-dark);

}

.footer-container-one {
    margin: auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;
    width: 100%;
}

.navigation-container {
    width: 100%;
    display: flex;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: 33.3333%;
    max-width: 33.33333%;
    width: 33.33333%;
}

#pages-sec-heading {
    font-family: var(--fonts-heading);
    font-size: var(--fontSizes-24);
    font-weight: var(--fontWeights-semibold);
    color: var(--heading-primary);
    letter-spacing: var(--letterSpacings-wide);
}

.pages-link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.link-to-page {
    width: max-content;
    text-decoration: none;
    font-size: var(--fontSizes-18);
    color: var(--paragraph-primary-100);
    max-width: 160px;
}

.link-to-page:hover {
    color: var(--link-primary);
    text-decoration: 2px underline solid var(--link-primary-hover);
    cursor: var(--cursor-pointer), auto;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: 33.3333%;
    max-width: 33.33333%;
    width: 33.33333%;
}

#projects-sec-heading {
    font-family: var(--fonts-heading);
    font-size: var(--fontSizes-24);
    font-weight: var(--fontWeights-semibold);
    color: var(--heading-primary);
    letter-spacing: var(--letterSpacings-wide);
}

.projects-link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.link-to-project {
    width: max-content;
    text-decoration: none;
    font-size: var(--fontSizes-18);
    color: var(--paragraph-primary-100);
    max-width: 160px;
}

.link-to-project:hover {
    color: var(--link-primary);
    text-decoration: 2px underline solid var(--link-primary-hover);
    cursor: var(--cursor-pointer), auto;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: 33.3333%;
    max-width: 33.33333%;
    width: 33.33333%;
}

#socials-sec-heading {
    font-family: var(--fonts-heading);
    font-size: var(--fontSizes-24);
    font-weight: var(--fontWeights-semibold);
    color: var(--heading-primary);
    letter-spacing: var(--letterSpacings-wide);
}

.socials-link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.link-to-social {
    width: max-content;
    text-decoration: none;
    font-size: var(--fontSizes-18);
    color: var(--paragraph-primary-100);
    max-width: 160px;
}

.link-to-social:hover {
    color: var(--link-primary);
    text-decoration: 2px underline solid var(--link-primary-hover);
    cursor: var(--cursor-pointer), auto;
}

/* Theme Change Section */


.theme-change-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.design-and-code {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    font-weight: var(--karma-fontWeight-medium);
    color: var(--paragraph-primary-100);
}


.theme-switch {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--karma-border-radius-10x1);
    padding: 2px;
    background-color: var(--surface-layer-03);
    overflow: hidden;
}

.theme-option {
    border: none;
    background-color: transparent;
    color: var(--heading-primary);
    padding: 4px 8px;
    border-radius: var(--karma-border-radius-8x1);
    font-family: var(--karma-font-heading);
    cursor: var(--cursor-pointer), auto;
    font-size: var(--karma-fontSize-16x1);
    line-height: var(--karma-lineHeight-16x1);
    font-weight: var(--karma-fontWeight-medium);
    letter-spacing: var(--karma-letterSpacing-wide);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 64px;
}

.theme-option.active {
    background-color: var(--primary);
    color: var(--primary-button-text);
    box-shadow: var(--karma-depth-raised);
}



/* Small Desktop */

@media (max-width: 1400px) {}



/* Tablet */

@media (max-width: 1068px) {

    footer {
        padding: 96px 48px;
    }

}



/* Mobile */

@media (max-width: 735px) {

    footer {
        padding: 96px 24px;
    }

    .navigation-container {
        flex-direction: column;
    }

    .pages {
        padding: 24px 0px;
        width: 100%;
        max-width: 100%;
    }

    .link-to-pages {
        max-width: 296px;
    }

    .projects {
        padding: 24px 0px;
        width: 100%;
        max-width: 100%;
    }

    .link-to-project {
        max-width: 296px;
    }

    .socials {
        padding: 24px 0px;
        width: 100%;
        max-width: 100%;
    }

    .link-to-socials {
        max-width: 296px;
    }

}