/* Linked CSS Files */

@import url("./global.built.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  position: relative;
  z-index: 1;
  margin: auto;
  background: var(--systemFillSecondary);
  overflow: hidden;
  padding: 48px 0px;
}

.footer-container {
  max-width: var(--layoutWidth-maximum);
  padding: 0 var(--layoutMargin);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.design-and-code {
  color: var(--systemGlyphSecondary);
}

/* Tablet */

@media (max-width: 1024px) {

  .footer-container {
    padding: 0 var(--layoutMargin);
    max-width: 100%;
  }

}

/* Mobile */

@media (max-width: 767px) {

  .footer-container {
    padding: 0 var(--layoutMargin);
    max-width: 100%;
  }

}