@font-face {
    font-family: "Awesome Serif";
    font-display: swap;
    font-style: normal;
    font-weight: 1 500;
    src: url(../assets/fonts/AwesomeSerif-Regular.woff) format("woff");
}

@font-face {
    font-family: "Awesome Serif";
    font-display: swap;
    font-style: normal;
    font-weight: 501 1000;
    src: url(../assets/fonts/AwesomeSerif-Bold.woff) format("woff");
}

@font-face {
    font-family: "Basis Grotesque Arabic Pro";
    font-display: swap;
    font-style: normal;
    font-weight: 1 500;
    src: url(../assets/fonts/BasisGrotesqueArabicPro-Regular.woff) format("woff");
}

@font-face {
    font-family: "Basis Grotesque Arabic Pro";
    font-display: swap;
    font-style: normal;
    font-weight: 501 1000;
    src: url(../assets/fonts/BasisGrotesqueArabicPro-Bold.woff) format("woff");
}

@font-face {
    font-family: "SK Modernist";
    font-display: swap;
    font-style: normal;
    font-weight: 1 500;
    src: url(../assets/fonts/SKModernist-Regular.woff) format("woff");
}

@font-face {
    font-family: "SK Modernist";
    font-display: swap;
    font-style: normal;
    font-weight: 501 1000;
    src: url(../assets/fonts/SKModernist-Bold.woff) format("woff");
}


/* Semantics */

:root {

    --font-family-serif: Awesome Serif, serif;
    --font-family-sans: Basis Grotesque Arabic Pro, sans-serif;
    --font-family-mono: SK Modernist, monospace;

    --font-weight-normal: 400;
    --font-weight-emphasized: 700;

    --font-size-xxxxsmall: 12px;
    --font-size-xxxsmall: 14px;
    --font-size-xxsmall: 16px;
    --font-size-xsmall: 18px;
    --font-size-small: 20px;
    --font-size-medium: 24px;
    --font-size-large: 28px;
    --font-size-xlarge: 36px;
    --font-size-xxlarge: 44px;
    --font-size-xxxlarge: 60px;
    --font-size-xxxxlarge: 76px;

    --font-leading-xxxxsmall: 16px;
    --font-leading-xxxsmall: 20px;
    --font-leading-xxsmall: 20px;
    --font-leading-xsmall: 24px;
    --font-leading-small: 28px;
    --font-leading-medium: 32px;
    --font-leading-large: 32px;
    --font-leading-xlarge: 40px;
    --font-leading-xxlarge: 48px;
    --font-leading-xxxlarge: 64px;
    --font-leading-xxxxlarge: 80px;

    --font-tracking-tightest: -1px;
    --font-tracking-tighter: -0.25px;
    --font-tracking-tight: -0.125px;
    --font-tracking-none: 0;
    --font-tracking-wide: 0.125px;
    --font-tracking-wider: 0.25px;
    --font-tracking-widest: 1px;

    --scale-0: 0px;
    --scale-1: 1px;
    --scale-2: 2px;
    --scale-4: 4px;
    --scale-8: 8px;
    --scale-12: 12px;
    --scale-16: 16px;
    --scale-20: 20px;
    --scale-24: 24px;
    --scale-28: 28px;
    --scale-32: 32px;
    --scale-36: 36px;
    --scale-40: 40px;
    --scale-44: 44px;
    --scale-48: 48px;
    --scale-56: 56px;
    --scale-64: 64px;
    --scale-72: 72px;
    --scale-80: 80px;
    --scale-88: 88px;
    --scale-96: 96px;
    --scale-104: 104px;
    --scale-112: 112px;
    --scale-120: 120px;
    --scale-128: 128px;

    --border-radius-sharp: var(--scale-0);
    --border-radius-xxxsmall: var(--scale-2);
    --border-radius-xxsmall: var(--scale-4);
    --border-radius-xsmall: var(--scale-8);
    --border-radius-small: var(--scale-12);
    --border-radius-medium: var(--scale-16);
    --border-radius-large: var(--scale-24);
    --border-radius-xlarge: var(--scale-32);
    --border-radius-xxlarge: var(--scale-48);
    --border-radius-xxxlarge: var(--scale-64);
    --border-radius-circle: 99999px;

    --border-size-0: var(--scale-0);
    --border-size-1: var(--scale-1);
    --border-size-2: var(--scale-2);
    --border-size-4: var(--scale-4);

    --space-none: var(--scale-0);
    --space-xxxxsmall: var(--scale-2);
    --space-xxxsmall: var(--scale-4);
    --space-xxsmall: var(--scale-8);
    --space-xsmall: var(--scale-12);
    --space-small: var(--scale-16);
    --space-medium: var(--scale-20);
    --space-large: var(--scale-24);
    --space-xlarge: var(--scale-32);
    --space-xxlarge: var(--scale-48);
    --space-xxxlarge: var(--scale-64);
    --space-xxxxlarge: var(--scale-80);

    --layout-margin: var(--space-xxxxlarge);
    --layout-width-maximum: 1280px;
    --layout-width-minimum: 320px;

    --ease-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --ease-linear: cubic-bezier(.25, .25, .75, .75);
    --ease-in-sine: cubic-bezier(.47, 0, .745, .715);
    --ease-out-sine: cubic-bezier(.39, .575, .565, 1);
    --ease-in-out-sine: cubic-bezier(.445, .05, .55, .95);
    --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
    --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
    --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
    --ease-in-cubic: cubic-bezier(.55, .055, .675, .19);
    --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
    --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
    --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
    --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
    --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
    --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
    --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
    --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
    --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
    --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-circ: cubic-bezier(.6, .04, .98, .335);
    --ease-out-circ: cubic-bezier(.075, .82, .165, 1);
    --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);
    --ease-in-back: cubic-bezier(.6, -.28, .735, .045);
    --ease-out-back: cubic-bezier(.175, .885, .32, 1.275);
    --ease-in-out-back: cubic-bezier(.68, -.55, .265, 1.55);
    --ease-out-elastic: linear(0, .5737 7.6%, .8382 11.87%, .9463 14.19%, 1.0292 16.54%, 1.0886 18.97%, 1.1258 21.53%, 1.137 22.97%, 1.1424 24.48%, 1.1423 26.1%, 1.1366 27.86%, 1.1165 31.01%, 1.0507 38.62%, 1.0219 42.57%, .9995 46.99%, .9872 51.63%, .9842 58.77%, 1.0011 81.26%, 1);
    --ease-out-elastic-100-30: linear(0, .2178 2.1%, 1.1144 8.49%, 1.2959 10.7%, 1.3463 11.81%, 1.3705 12.94%, 1.3726, 1.3643 14.48%, 1.3151 16.2%, 1.0317 21.81%, .941 24.01%, .8912 25.91%, .8694 27.84%, .8698 29.21%, .8824 30.71%, 1.0122 38.33%, 1.0357, 1.046 42.71%, 1.0416 45.7%, .9961 53.26%, .9839 57.54%, .9853 60.71%, 1.0012 68.14%, 1.0056 72.24%, .9981 86.66%, 1);

    --color-snow: #FFF;
    --color-void: #000;
    --color-water: #0000;

    --color-brand-050: #FFF2ED;
    --color-brand-100: #FEE3D7;
    --color-brand-200: #FDC7AD;
    --color-brand-300: #FC9D70;
    --color-brand-400: #FB7130;
    --color-brand-500: #FA5000;
    --color-brand-600: #D84500;
    --color-brand-700: #983100;
    --color-brand-800: #621F00;
    --color-brand-900: #411500;
    --color-brand-950: #2C0E00;

    --color-accent-050: #EEF3FE;
    --color-accent-100: #DBE4FC;
    --color-accent-200: #B5C9FA;
    --color-accent-300: #7EA0F5;
    --color-accent-400: #4375F1;
    --color-accent-500: #1855EE;
    --color-accent-600: #154ACE;
    --color-accent-700: #0F3491;
    --color-accent-800: #09215D;
    --color-accent-900: #06163E;
    --color-accent-950: #040F29;

    --color-highlight-050: #F4F1FD;
    --color-highlight-100: #E7E1FB;
    --color-highlight-200: #CDC2F7;
    --color-highlight-300: #A894F0;
    --color-highlight-400: #8164EA;
    --color-highlight-500: #6440E5;
    --color-highlight-600: #5737C6;
    --color-highlight-700: #3D278B;
    --color-highlight-800: #271959;
    --color-highlight-900: #1A113C;
    --color-highlight-950: #110B28;

    --color-negative-050: #FFEEF0;
    --color-negative-100: #FEDADF;
    --color-negative-200: #FDB3BE;
    --color-negative-300: #FC7B8D;
    --color-negative-400: #FB3F59;
    --color-negative-500: #FA1333;
    --color-negative-600: #D8102C;
    --color-negative-700: #980C1F;
    --color-negative-800: #620714;
    --color-negative-900: #41050D;
    --color-negative-950: #2C0309;

    --color-Alert-050: #FFF9ED;
    --color-Alert-100: #FEF1D7;
    --color-Alert-200: #FDE3AD;
    --color-Alert-300: #FCCD70;
    --color-Alert-400: #FBB730;
    --color-Alert-500: #FAA600;
    --color-Alert-600: #D89000;
    --color-Alert-700: #986500;
    --color-Alert-800: #624100;
    --color-Alert-900: #412B00;
    --color-Alert-950: #2C1D00;

    --color-Positive-050: #EDF7F4;
    --color-Positive-100: #D7EEE6;
    --color-Positive-200: #ADDDCD;
    --color-Positive-300: #70C4A7;
    --color-Positive-400: #30AA7F;
    --color-Positive-500: #009662;
    --color-Positive-600: #008255;
    --color-Positive-700: #005B3C;
    --color-Positive-800: #003B26;
    --color-Positive-900: #002719;
    --color-Positive-950: #001A11;

    --color-neutral-050: #F5F6F8;
    --color-neutral-100: #E8ECEF;
    --color-neutral-200: #D1D8DE;
    --color-neutral-300: #AFBAC5;
    --color-neutral-400: #8B9BAB;
    --color-neutral-500: #708498;
    --color-neutral-600: #617283;
    --color-neutral-700: #44505C;
    --color-neutral-800: #2C333B;
    --color-neutral-900: #1D2228;
    --color-neutral-950: #13171A;

    --depth-baseline: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    --depth-raised: 0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.02);
    --depth-elevated: 0px 8px 16px 0px rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.02);
    --depth-floating: 0px 16px 32px 0px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.02);

}


/* Appearance */

.light {

    --appearance-glyph: var(--color-neutral-900);
    --appearance-glyph-subtle: var(--color-neutral-600);
    --appearance-glyph-dim: var(--color-neutral-400);

    --appearance-fill: var(--color-snow);
    --appearance-fill-grouped: var(--color-neutral-050);

    --appearance-separator: rgba(0, 0, 0, 0.08);
    --appearance-separator-opaque: var(--color-neutral-200);

}

.dark {

    --appearance-glyph: var(--color-neutral-100);
    --appearance-glyph-subtle: var(--color-neutral-400);
    --appearance-glyph-dim: var(--color-neutral-600);

    --appearance-fill: var(--color-neutral-950);
    --appearance-fill-grouped: var(--color-void);

    --appearance-separator: rgba(255, 255, 255, 0.12);
    --appearance-separator-opaque: var(--color-neutral-800);

}


/* Typography */

.typography-display {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-xxxxlarge);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--font-leading-xxxxlarge);
    letter-spacing: var(--font-tracking-tight);
}

.typography-quote {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-leading-xlarge);
    letter-spacing: var(--font-tracking-tighter);
}

.typography-callout {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--font-leading-large);
    letter-spacing: var(--font-tracking-tight);
}

.typography-eyebrow {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--font-leading-small);
    letter-spacing: var(--font-tracking-widest);
    text-transform: uppercase;
}

.typography-intro {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-leading-medium);
    letter-spacing: var(--font-tracking-wide);
}

.typography-body {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-leading-xsmall);
    letter-spacing: var(--font-tracking-wide);
}

@media (max-width: 1024px) {

    :root {

        --layout-margin: var(--space-xxlarge);

    }

    .typography-display {
        font-size: var(--font-size-xxxlarge);
        line-height: var(--font-leading-xxxlarge);
        letter-spacing: var(--font-tracking-none);
    }

    .typography-quote {
        font-size: var(--font-size-large);
        line-height: var(--font-leading-large);
        letter-spacing: var(--font-tracking-tight);
    }

    .typography-callout {
        font-size: var(--font-size-medium);
        line-height: var(--font-leading-medium);
        letter-spacing: var(--font-tracking-tight);
    }

    .typography-intro {
        font-size: var(--font-size-small);
        line-height: var(--font-leading-small);
        letter-spacing: var(--font-tracking-wide);
    }

}


@media (max-width: 768px) {

    :root {

        --layout-margin: var(--space-large);

    }

    .typography-display {
        font-size: var(--font-size-xxlarge);
        line-height: var(--font-leading-xxlarge);
        letter-spacing: var(--font-tracking-wide);
    }

}


/* Components */

.button {
    position: relative;
    text-decoration: none;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s var(--ease-bounce), box-shadow 0.25s var(--ease-linear);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button-base {
    --button-glyph-height: var(--scale-24);
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-xsmall);
    line-height: var(--glyph-height);
    letter-spacing: var(--font-tracking-none);
    gap: var(--space-xxsmall);
    padding: var(--space-xsmall) var(--space-medium);
    border-radius: var(--border-radius-circle);
    border-width: var(--border-size-1);
    border-style: solid;
}

.button-small {
    --button-glyph-height: var(--scale-20);
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-xsmall);
    line-height: var(--glyph-height);
    letter-spacing: var(--font-tracking-none);
    gap: var(--space-xxxsmall);
    padding: var(--space-xxsmall) var(--space-small);
    border-radius: var(--border-radius-circle);
    border: var(--border-size-1);
    border-style: solid;
}

.button-brand {
    color: var(--color-snow);
    fill: var(--color-snow);
    background: var(--color-brand-500);
    box-shadow: var(--depth-baseline);
    border-color: var(--color-brand-500);
}

.button-brand-alternate {
    color: var(--color-brand-600);
    fill: var(--color-brand-600);
    background: var(--color-brand-100);
    box-shadow: var(--depth-baseline);
    border-color: var(--color-brand-200);
}

.button-accent {
    color: var(--color-snow);
    fill: var(--color-snow);
    background: var(--color-accent-500);
    box-shadow: var(--depth-baseline);
    border-color: var(--color-accent-500);
}

.button-accent-alternate {
    color: var(--color-accent-600);
    fill: var(--color-accent-600);
    background: var(--color-accent-100);
    box-shadow: var(--depth-baseline);
    border-color: var(--color-accent-200);
}

.button-icon {
    aspect-ratio: 4 / 4;
    width: 100%;
    fill: inherit;
}

.button-base .button-icon {
    height: var(--button-glyph-height);
}

.button-small .button-icon {
    height: var(--button-glyph-height);
}

.button:hover {
    transform: scale(1.05);
    box-shadow: var(--depth-raised);
}

.button:active {
    transform: scale(1);
}

.tile {
    position: relative;
    text-wrap: pretty;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    justify-content: start;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: var(--border-radius-xlarge);
    transition: box-shadow 0.125s var(--ease-linear);
    box-shadow: var(--depth-baseline);
    border: var(--border-size-1) solid var(--appearance-separator-opaque);
}

.tile-media {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tile-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 4/4;
}

.tile-information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--space-small);
    padding: var(--space-xlarge);
    background: var(--appearance-fill-grouped);
}

.tile-badge {
    padding: var(--space-xxxsmall) var(--space-xxsmall);
    font-family: var(--font-family-mono);
    font-weight: var(--font-weight-emphasized);
    font-size: var(--font-size-xxxxsmall);
    line-height: var(--font-leading-xxxxsmall);
    letter-spacing: var(--font-tracking-widest);
    text-transform: uppercase;
    text-align: center;
    color: var(--appearance-glyph-subtle);
    background: var(--appearance-fill);
    border-radius: var(--border-radius-xsmall);
}

.tile-headline {
    color: var(--appearance-glyph);
    font-family: var(--font-family-sans);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--font-leading-large);
    letter-spacing: var(--font-tracking-tight);
}

.tile-cta {
    margin-top: auto;
}

@media (max-width: 1024px) {

    .tile-headline {
        font-size: var(--font-size-medium);
        line-height: var(--font-leading-medium);
    }

}

@media (max-width: 768px) {

    .tile {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .tile-information {
        padding: var(--space-large);
    }

}