@font-face {
    font-family: "Fell";
    font-display: swap;
    font-style: normal;
    font-weight: 1 500;
    src: url(../assets/fonts/Fell.woff) format("woff");
}

@font-face {
    font-family: "Fell";
    font-display: swap;
    font-style: normal;
    font-weight: 501 1000;
    src: url(../assets/fonts/Fell.woff) format("woff");
}

@font-face {
    font-family: "Fell";
    font-display: swap;
    font-style: italic;
    font-weight: 1 500;
    src: url(../assets/fonts/FellItalic.woff) format("woff");
}

@font-face {
    font-family: "Fell";
    font-display: swap;
    font-style: italic;
    font-weight: 501 1000;
    src: url(../assets/fonts/FellItalic.woff) format("woff");
}

@font-face {
    font-family: "SK Modernist";
    font-display: swap;
    font-style: normal;
    font-weight: 1 500;
    src: url(../assets/fonts/SKModernist-Regular.woff) format("woff");
}

@font-face {
    font-family: "SK Modernist";
    font-display: swap;
    font-style: normal;
    font-weight: 501 1000;
    src: url(../assets/fonts/SKModernist-Bold.woff) format("woff");
}

@font-face {
    font-family: "Sohne";
    font-display: swap;
    font-style: normal;
    font-weight: 1 500;
    src: url(../assets/fonts/Sohne-Regular.woff) format("woff");
}

@font-face {
    font-family: "Sohne";
    font-display: swap;
    font-style: normal;
    font-weight: 501 1000;
    src: url(../assets/fonts/Sohne-Semibold.woff) format("woff");
}


/* Semantics */

:root {

    --font-family-serif: Fell, Denton, Awesome Serif, serif;
    --font-family-sans: Sohne, Basis Grotesque Arabic Pro, system-ui, sans-serif;
    --font-family-mono: SK Modernist, system-ui, monospace;

    --font-family-brand: Fell, Denton, Awesome Serif, serif;
    --font-family-content: Sohne, Basis Grotesque Arabic Pro, system-ui, sans-serif;
    --font-family-ui: SK Modernist, var(--font-family-sans);

    --font-weight-normal: 400;
    --font-weight-emphasized: 700;

    --font-size-xxxxsmall: 12px;
    --font-size-xxxsmall: 14px;
    --font-size-xxsmall: 16px;
    --font-size-xsmall: 18px;
    --font-size-small: 20px;
    --font-size-medium: 24px;
    --font-size-large: 28px;
    --font-size-xlarge: 36px;
    --font-size-xxlarge: 44px;
    --font-size-xxxlarge: 60px;
    --font-size-xxxxlarge: 76px;

    --font-leading-xxxxsmall: 16px;
    --font-leading-xxxsmall: 20px;
    --font-leading-xxsmall: 20px;
    --font-leading-xsmall: 24px;
    --font-leading-small: 28px;
    --font-leading-medium: 32px;
    --font-leading-large: 32px;
    --font-leading-xlarge: 40px;
    --font-leading-xxlarge: 48px;
    --font-leading-xxxlarge: 64px;
    --font-leading-xxxxlarge: 80px;

    --font-tracking-tightest: -1px;
    --font-tracking-tighter: -0.3px;
    --font-tracking-tight: -0.13px;
    --font-tracking-none: 0;
    --font-tracking-wide: 0.13px;
    --font-tracking-wider: 0.3px;
    --font-tracking-widest: 1px;

    --scale-0: 0px;
    --scale-1: 1px;
    --scale-2: 2px;
    --scale-4: 4px;
    --scale-8: 8px;
    --scale-12: 12px;
    --scale-16: 16px;
    --scale-20: 20px;
    --scale-24: 24px;
    --scale-28: 28px;
    --scale-32: 32px;
    --scale-36: 36px;
    --scale-40: 40px;
    --scale-44: 44px;
    --scale-48: 48px;
    --scale-52: 52px;
    --scale-56: 56px;
    --scale-60: 60px;
    --scale-64: 64px;
    --scale-68: 68px;
    --scale-72: 72px;
    --scale-76: 76px;
    --scale-80: 80px;
    --scale-88: 88px;
    --scale-96: 96px;
    --scale-104: 104px;
    --scale-112: 112px;
    --scale-120: 120px;
    --scale-128: 128px;

    --border-radius-sharp: var(--scale-0);
    --border-radius-xxxsmall: var(--scale-2);
    --border-radius-xxsmall: var(--scale-4);
    --border-radius-xsmall: var(--scale-8);
    --border-radius-small: var(--scale-12);
    --border-radius-medium: var(--scale-16);
    --border-radius-large: var(--scale-24);
    --border-radius-xlarge: var(--scale-32);
    --border-radius-xxlarge: var(--scale-48);
    --border-radius-xxxlarge: var(--scale-64);
    --border-radius-circle: 99999px;

    --border-size-0: var(--scale-0);
    --border-size-1: var(--scale-1);
    --border-size-2: var(--scale-2);
    --border-size-4: var(--scale-4);

    --space-none: var(--scale-0);
    --space-xxxxsmall: var(--scale-2);
    --space-xxxsmall: var(--scale-4);
    --space-xxsmall: var(--scale-8);
    --space-xsmall: var(--scale-12);
    --space-small: var(--scale-16);
    --space-medium: var(--scale-20);
    --space-large: var(--scale-24);
    --space-xlarge: var(--scale-32);
    --space-xxlarge: var(--scale-48);
    --space-xxxlarge: var(--scale-64);
    --space-xxxxlarge: var(--scale-80);

    --layout-margin: var(--space-xxxxlarge);
    --layout-width-maximum: 1280px;
    --layout-width-minimum: 320px;

    --ease-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --ease-linear: cubic-bezier(.25, .25, .75, .75);
    --ease-in-sine: cubic-bezier(.47, 0, .745, .715);
    --ease-out-sine: cubic-bezier(.39, .575, .565, 1);
    --ease-in-out-sine: cubic-bezier(.445, .05, .55, .95);
    --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
    --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
    --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
    --ease-in-cubic: cubic-bezier(.55, .055, .675, .19);
    --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
    --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
    --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
    --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
    --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
    --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
    --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
    --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
    --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
    --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-circ: cubic-bezier(.6, .04, .98, .335);
    --ease-out-circ: cubic-bezier(.075, .82, .165, 1);
    --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);
    --ease-in-back: cubic-bezier(.6, -.28, .735, .045);
    --ease-out-back: cubic-bezier(.175, .885, .32, 1.275);
    --ease-in-out-back: cubic-bezier(.68, -.55, .265, 1.55);
    --ease-out-elastic: linear(0, .5737 7.6%, .8382 11.87%, .9463 14.19%, 1.0292 16.54%, 1.0886 18.97%, 1.1258 21.53%, 1.137 22.97%, 1.1424 24.48%, 1.1423 26.1%, 1.1366 27.86%, 1.1165 31.01%, 1.0507 38.62%, 1.0219 42.57%, .9995 46.99%, .9872 51.63%, .9842 58.77%, 1.0011 81.26%, 1);
    --ease-out-elastic-100-30: linear(0, .2178 2.1%, 1.1144 8.49%, 1.2959 10.7%, 1.3463 11.81%, 1.3705 12.94%, 1.3726, 1.3643 14.48%, 1.3151 16.2%, 1.0317 21.81%, .941 24.01%, .8912 25.91%, .8694 27.84%, .8698 29.21%, .8824 30.71%, 1.0122 38.33%, 1.0357, 1.046 42.71%, 1.0416 45.7%, .9961 53.26%, .9839 57.54%, .9853 60.71%, 1.0012 68.14%, 1.0056 72.24%, .9981 86.66%, 1);

    --color-snow: #FFF;
    --color-void: #000;
    --color-water: #0000;

    --color-brand-050: #FFF8F5;
    --color-brand-100: #FFF1EB;
    --color-brand-200: #FEDED0;
    --color-brand-300: #FDBFA1;
    --color-brand-400: #FB783A;
    --color-brand-500: #FA5000;
    --color-brand-600: #CD4100;
    --color-brand-700: #7A2700;
    --color-brand-800: #5E1E00;
    --color-brand-900: #371200;
    --color-brand-950: #290D00;

    --color-accent-050: #F6F9FE;
    --color-accent-100: #EDF2FE;
    --color-accent-200: #D4E1FC;
    --color-accent-300: #AAC4F9;
    --color-accent-400: #4C83F2;
    --color-accent-500: #185EEE;
    --color-accent-600: #144DC3;
    --color-accent-700: #0C2E74;
    --color-accent-800: #09235A;
    --color-accent-900: #051534;
    --color-accent-950: #040F27;

    --color-highlight-050: #F9F8FE;
    --color-highlight-100: #F3F0FD;
    --color-highlight-200: #E2DBFA;
    --color-highlight-300: #C6B9F5;
    --color-highlight-400: #876BEB;
    --color-highlight-500: #6440E5;
    --color-highlight-600: #5234BB;
    --color-highlight-700: #311F70;
    --color-highlight-800: #261856;
    --color-highlight-900: #160E32;
    --color-highlight-950: #100A25;

    --color-negative-050: #FFF6F7;
    --color-negative-100: #FFECEF;
    --color-negative-200: #FED3D9;
    --color-negative-300: #FDA8B4;
    --color-negative-400: #FB4961;
    --color-negative-500: #FA1333;
    --color-negative-600: #CD102A;
    --color-negative-700: #7A0919;
    --color-negative-800: #5E0713;
    --color-negative-900: #37040B;
    --color-negative-950: #290308;

    --color-alert-050: #FFFCF5;
    --color-alert-100: #FFF9EB;
    --color-alert-200: #FFF0D0;
    --color-alert-300: #FFE2A1;
    --color-alert-400: #FFC23A;
    --color-alert-500: #FFB000;
    --color-alert-600: #D19000;
    --color-alert-700: #7D5600;
    --color-alert-800: #604200;
    --color-alert-900: #382700;
    --color-alert-950: #291D00;

    --color-positive-050: #F5FBF9;
    --color-positive-100: #EBF7F3;
    --color-positive-200: #D0EBE2;
    --color-positive-300: #A1D8C5;
    --color-positive-400: #3AAE86;
    --color-positive-500: #009662;
    --color-positive-600: #007B50;
    --color-positive-700: #004930;
    --color-positive-800: #003925;
    --color-positive-900: #002116;
    --color-positive-950: #001810;

    --color-neutral-050: #FAFAFB;
    --color-neutral-100: #F4F4F7;
    --color-neutral-200: #E4E6EC;
    --color-neutral-300: #CACDD9;
    --color-neutral-400: #9095B0;
    --color-neutral-500: #6F7699;
    --color-neutral-600: #5B617D;
    --color-neutral-700: #363A4B;
    --color-neutral-800: #2A2C3A;
    --color-neutral-900: #181A22;
    --color-neutral-950: #121319;

    --depth-baseline: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    --depth-raised: 0 1px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 16px 0 rgba(0, 0, 0, 0.04);
    --depth-elevated: 0 1px 8px 0 rgba(0, 0, 0, 0.08), 0 1px 24px 0 rgba(0, 0, 0, 0.08);
    --depth-floating: 0 1px 16px 0 rgba(0, 0, 0, 0.08), 0 1px 48px 0 rgba(0, 0, 0, 0.08);

}


/* Appearance */

.appearance-light {

    --appearance-glyph: var(--color-neutral-900);
    --appearance-glyph-secondary: var(--color-neutral-600);
    --appearance-glyph-tertiary: var(--color-neutral-400);
    --appearance-glyph-brand: var(--color-brand-600);
    --appearance-glyph-brand-secondary: var(--color-brand-700);
    --appearance-glyph-brand-tertiary: var(--color-brand-900);
    --appearance-glyph-accent: var(--color-accent-600);
    --appearance-glyph-accent-secondary: var(--color-accent-700);
    --appearance-glyph-accent-tertiary: var(--color-accent-900);
    --appearance-glyph-highlight: var(--color-highlight-600);
    --appearance-glyph-highlight-secondary: var(--color-highlight-700);
    --appearance-glyph-highlight-tertiary: var(--color-highlight-900);
    --appearance-glyph-negative: var(--color-negative-600);
    --appearance-glyph-negative-secondary: var(--color-negative-700);
    --appearance-glyph-negative-tertiary: var(--color-negative-900);
    --appearance-glyph-alert: var(--color-alert-600);
    --appearance-glyph-alert-secondary: var(--color-alert-700);
    --appearance-glyph-alert-tertiary: var(--color-alert-900);
    --appearance-glyph-positive: var(--color-positive-600);
    --appearance-glyph-positive-secondary: var(--color-positive-700);
    --appearance-glyph-positive-tertiary: var(--color-positive-900);
    --appearance-glyph-neutral: var(--color-neutral-900);
    --appearance-glyph-neutral-secondary: var(--color-neutral-700);
    --appearance-glyph-neutral-tertiary: var(--color-neutral-300);

    --appearance-fill: var(--color-snow);
    --appearance-fill-secondary: var(--color-neutral-050);
    --appearance-fill-tertiary: var(--color-neutral-100);
    --appearance-fill-brand: var(--color-brand-500);
    --appearance-fill-brand-secondary: var(--color-brand-300);
    --appearance-fill-brand-tertiary: var(--color-brand-100);
    --appearance-fill-accent: var(--color-accent-500);
    --appearance-fill-accent-secondary: var(--color-accent-300);
    --appearance-fill-accent-tertiary: var(--color-accent-100);
    --appearance-fill-highlight: var(--color-highlight-500);
    --appearance-fill-highlight-secondary: var(--color-highlight-300);
    --appearance-fill-highlight-tertiary: var(--color-highlight-100);
    --appearance-fill-negative: var(--color-negative-500);
    --appearance-fill-negative-secondary: var(--color-negative-300);
    --appearance-fill-negative-tertiary: var(--color-negative-100);
    --appearance-fill-alert: var(--color-alert-500);
    --appearance-fill-alert-secondary: var(--color-alert-300);
    --appearance-fill-alert-tertiary: var(--color-alert-100);
    --appearance-fill-positive: var(--color-positive-500);
    --appearance-fill-positive-secondary: var(--color-positive-300);
    --appearance-fill-positive-tertiary: var(--color-positive-100);
    --appearance-fill-neutral: var(--color-neutral-900);
    --appearance-fill-neutral-secondary: var(--color-neutral-500);
    --appearance-fill-neutral-tertiary: var(--color-neutral-200);

    --appearance-material-ultrathick: rgba(255, 255, 255, 0.84);
    --appearance-material-thick: rgba(255, 255, 255, 0.72);
    --appearance-material-regular: rgba(255, 255, 255, 0.60);
    --appearance-material-thin: rgba(255, 255, 255, 0.48);
    --appearance-material-ultrathin: rgba(255, 255, 255, 0.36);
    --appearance-material-idle: var(--appearance-fill);

}

.appearance-dark {

    --appearance-glyph: var(--color-neutral-100);
    --appearance-glyph-secondary: var(--color-neutral-400);
    --appearance-glyph-tertiary: var(--color-neutral-600);
    --appearance-glyph-brand: var(--color-brand-400);
    --appearance-glyph-brand-secondary: var(--color-brand-300);
    --appearance-glyph-brand-tertiary: var(--color-brand-100);
    --appearance-glyph-accent: var(--color-accent-400);
    --appearance-glyph-accent-secondary: var(--color-accent-300);
    --appearance-glyph-accent-tertiary: var(--color-accent-100);
    --appearance-glyph-highlight: var(--color-highlight-400);
    --appearance-glyph-highlight-secondary: var(--color-highlight-300);
    --appearance-glyph-highlight-tertiary: var(--color-highlight-100);
    --appearance-glyph-negative: var(--color-negative-400);
    --appearance-glyph-negative-secondary: var(--color-negative-300);
    --appearance-glyph-negative-tertiary: var(--color-negative-100);
    --appearance-glyph-alert: var(--color-alert-400);
    --appearance-glyph-alert-secondary: var(--color-alert-300);
    --appearance-glyph-alert-tertiary: var(--color-alert-100);
    --appearance-glyph-positive: var(--color-positive-400);
    --appearance-glyph-positive-secondary: var(--color-positive-300);
    --appearance-glyph-positive-tertiary: var(--color-positive-100);
    --appearance-glyph-neutral: var(--color-neutral-100);
    --appearance-glyph-neutral-secondary: var(--color-neutral-300);
    --appearance-glyph-neutral-tertiary: var(--color-neutral-800);

    --appearance-fill: var(--color-void);
    --appearance-fill-secondary: var(--color-neutral-950);
    --appearance-fill-tertiary: var(--color-neutral-900);
    --appearance-fill-brand: var(--color-brand-500);
    --appearance-fill-brand-secondary: var(--color-brand-700);
    --appearance-fill-brand-tertiary: var(--color-brand-900);
    --appearance-fill-accent: var(--color-accent-500);
    --appearance-fill-accent-secondary: var(--color-accent-700);
    --appearance-fill-accent-tertiary: var(--color-accent-900);
    --appearance-fill-highlight: var(--color-highlight-500);
    --appearance-fill-highlight-secondary: var(--color-highlight-700);
    --appearance-fill-highlight-tertiary: var(--color-highlight-900);
    --appearance-fill-negative: var(--color-negative-500);
    --appearance-fill-negative-secondary: var(--color-negative-700);
    --appearance-fill-negative-tertiary: var(--color-negative-900);
    --appearance-fill-alert: var(--color-alert-500);
    --appearance-fill-alert-secondary: var(--color-alert-700);
    --appearance-fill-alert-tertiary: var(--color-alert-900);
    --appearance-fill-positive: var(--color-positive-500);
    --appearance-fill-positive-secondary: var(--color-positive-700);
    --appearance-fill-positive-tertiary: var(--color-positive-900);
    --appearance-fill-neutral: var(--color-neutral-100);
    --appearance-fill-neutral-secondary: var(--color-neutral-500);
    --appearance-fill-neutral-tertiary: var(--color-neutral-800);

    --appearance-material-ultrathick: rgba(0, 0, 0, 0.84);
    --appearance-material-thick: rgba(0, 0, 0, 0.72);
    --appearance-material-regular: rgba(0, 0, 0, 0.60);
    --appearance-material-thin: rgba(0, 0, 0, 0.48);
    --appearance-material-ultrathin: rgba(0, 0, 0, 0.36);
    --appearance-material-idle: var(--appearance-fill);

}

.glyph {
    color: var(--appearance-glyph);
}

.glyph-secondary {
    color: var(--appearance-glyph-secondary);
}

.glyph-tertiary {
    color: var(--appearance-glyph-tertiary);
}

.fill {
    background: var(--appearance-fill);
}

.fill-secondary {
    background: var(--appearance-fill-secondary);
}

.fill-tertiary {
    background: var(--appearance-fill-tertiary);
}


/* Typography */

.typography-display {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-xxxxlarge);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--font-leading-xxxxlarge);
    letter-spacing: var(--font-tracking-tighter);
}

.typography-title1 {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-xxxlarge);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--font-leading-xxxlarge);
    letter-spacing: var(--font-tracking-none);
}

.typography-quote {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-leading-xlarge);
    letter-spacing: var(--font-tracking-tighter);
}

.typography-callout {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--font-leading-large);
    letter-spacing: var(--font-tracking-tight);
}

.typography-eyebrow {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--font-leading-small);
    letter-spacing: var(--font-tracking-widest);
    text-transform: uppercase;
}

.typography-intro {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-leading-medium);
    letter-spacing: var(--font-tracking-none);
}

.typography-body {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-leading-xsmall);
    letter-spacing: var(--font-tracking-wide);
}

@media (max-width: 1024px) {

    :root {

        --layout-margin: var(--space-xxlarge);

    }

    .typography-display {
        font-size: var(--font-size-xxxlarge);
        line-height: var(--font-leading-xxxlarge);
        letter-spacing: var(--font-tracking-none);
    }

    .typography-title1 {
        font-size: var(--font-size-xxlarge);
        line-height: var(--font-leading-xxlarge);
        letter-spacing: var(--font-tracking-none);
    }

    .typography-quote {
        font-size: var(--font-size-large);
        line-height: var(--font-leading-large);
        letter-spacing: var(--font-tracking-tight);
    }

    .typography-callout {
        font-size: var(--font-size-medium);
        line-height: var(--font-leading-medium);
        letter-spacing: var(--font-tracking-tight);
    }

    .typography-eyebrow {
        font-size: var(--font-size-xsmall);
        line-height: var(--font-leading-xsmall);
        letter-spacing: var(--font-tracking-widest);
    }

    .typography-intro {
        font-size: var(--font-size-small);
        line-height: var(--font-leading-small);
        letter-spacing: var(--font-tracking-wide);
    }

}


@media (max-width: 768px) {

    :root {

        --layout-margin: var(--space-large);

    }

    .typography-display {
        font-size: var(--font-size-xxlarge);
        line-height: var(--font-leading-xxlarge);
        letter-spacing: var(--font-tracking-wide);
    }

    .typography-title1 {
        font-size: var(--font-size-xlarge);
        line-height: var(--font-leading-xlarge);
        letter-spacing: var(--font-tracking-wide);
    }

}


/* Components */


/* Component / Button */

.button {
    position: relative;
    text-decoration: none;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 250ms var(--ease-bounce), box-shadow 250ms var(--ease-linear);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-transform: uppercase;
    height: var(--button-height);
    max-width: calc(var(--layout-width-minimum) - 32px);
}

.button-xlarge {
    --button-glyph-height: var(--scale-36);
    --button-height: var(--scale-64);
    font-family: var(--font-family-ui);
    font-weight: var(--font-weight-emphasized);
    font-size: var(--font-size-medium);
    line-height: var(--button-glyph-height);
    letter-spacing: var(--font-tracking-wide);
    gap: var(--space-xsmall);
    padding: var(--space-small) var(--space-xlarge);
    border-radius: var(--border-radius-circle);
    border-width: var(--border-size-1);
    border-style: solid;
}

.button-base {
    --button-glyph-height: var(--scale-24);
    --button-height: var(--scale-48);
    font-family: var(--font-family-ui);
    font-weight: var(--font-weight-emphasized);
    font-size: var(--font-size-xsmall);
    line-height: var(--button-glyph-height);
    letter-spacing: var(--font-tracking-wide);
    gap: var(--space-xxsmall);
    padding: var(--space-xsmall) var(--space-medium);
    border-radius: var(--border-radius-circle);
    border-width: var(--border-size-1);
    border-style: solid;
}

.button-small {
    --button-glyph-height: var(--scale-20);
    --button-height: var(--scale-36);
    font-family: var(--font-family-ui);
    font-weight: var(--font-weight-emphasized);
    font-size: var(--font-size-xxsmall);
    line-height: var(--button-glyph-height);
    letter-spacing: var(--font-tracking-wide);
    gap: var(--space-xxxsmall);
    padding: var(--space-xxsmall) var(--space-small);
    border-radius: var(--border-radius-circle);
    border: var(--border-size-1);
    border-style: solid;
}

.button-brand {
    color: var(--color-snow);
    fill: var(--color-snow);
    background: var(--appearance-fill-brand);
    box-shadow: var(--depth-baseline);
    border-color: var(--appearance-fill-brand);
}

.button-brand-alternate {
    color: var(--appearance-glyph-brand);
    fill: var(--appearance-glyph-brand);
    background: var(--appearance-fill-brand-secondary);
    box-shadow: var(--depth-baseline);
    border-color: var(--appearance-fill-brand-secondary);
}

.button-accent {
    color: var(--color-snow);
    fill: var(--color-snow);
    background: var(--appearance-fill-accent);
    box-shadow: var(--depth-baseline);
    border-color: var(--appearance-fill-accent);
}

.button-accent-alternate {
    color: var(--appearance-glyph-accent);
    fill: var(--appearance-glyph-accent);
    background: var(--appearance-fill-accent-secondary);
    box-shadow: var(--depth-baseline);
    border-color: var(--appearance-fill-accent-secondary);
}

.button-positive {
    color: var(--color-snow);
    fill: var(--color-snow);
    background: var(--appearance-fill-positive);
    box-shadow: var(--depth-baseline);
    border-color: var(--appearance-fill-positive);
}

.button-positive-alternate {
    color: var(--appearance-glyph-positive);
    fill: var(--appearance-glyph-positive);
    background: var(--appearance-fill-positive-secondary);
    box-shadow: var(--depth-baseline);
    border-color: var(--appearance-fill-positive-secondary);
}

.button-icon {
    aspect-ratio: 4 / 4;
    fill: inherit;
}

.button-xlarge .button-icon {
    height: var(--button-glyph-height);
}

.button-base .button-icon {
    height: var(--button-glyph-height);
}

.button-small .button-icon {
    height: var(--button-glyph-height);
}

.button:hover {
    transform: scale(1.05);
    box-shadow: var(--depth-raised);
}

.button:active {
    transform: scale(1);
}


/* Component / Link */

.link {
    position: relative;
    text-decoration: underline dashed;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: text-decoration 250ms var(--ease-linear);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.link-large {
    --link-glyph-height: var(--scale-28);
    font-family: var(--font-family-ui);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-small);
    line-height: var(--link-glyph-height);
    letter-spacing: var(--font-tracking-wide);
    gap: var(--space-xxsmall);
}

.link-base {
    --link-glyph-height: var(--scale-24);
    font-family: var(--font-family-ui);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-xsmall);
    line-height: var(--link-glyph-height);
    letter-spacing: var(--font-tracking-wide);
    gap: var(--space-xxsmall);
}

.link-small {
    --link-glyph-height: var(--scale-20);
    font-family: var(--font-family-ui);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-xsmall);
    line-height: var(--link-glyph-height);
    letter-spacing: var(--font-tracking-wide);
    gap: var(--space-xxsmall);
}

.link-brand {
    color: var(--appearance-glyph-brand);
    fill: var(--appearance-glyph-brand);
}

.link-accent {
    color: var(--appearance-glyph-accent);
    fill: var(--appearance-glyph-accent);
}

.link-neutral {
    color: var(--appearance-glyph-neutral);
    fill: var(--appearance-glyph-neutral);
}

.link-icon {
    aspect-ratio: 4 / 4;
    fill: inherit;
}

.link-large .link-icon {
    height: var(--link-glyph-height);
}

.link-base .link-icon {
    height: var(--link-glyph-height);
}

.link-small .link-icon {
    height: var(--link-glyph-height);
}

.link:hover {
    text-decoration: underline solid;
}

/* Component / Tile */

.tile {
    position: relative;
    text-wrap: pretty;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    justify-content: start;
    text-decoration: none;
    overflow: hidden;
    padding: var(--space-small);
    gap: var(--space-small);
    background: linear-gradient(180deg, var(--appearance-fill) 0%, var(--appearance-fill-tertiary) 100%);
    cursor: pointer;
    border-radius: var(--border-radius-xlarge);
    transition: box-shadow 125ms var(--ease-linear);
    box-shadow: var(--depth-baseline), inset 0 0 0 var(--border-size-1) var(--appearance-fill-neutral-tertiary);
}

.tile:hover {
    box-shadow: var(--depth-raised), inset 0 0 0 var(--border-size-1) var(--appearance-fill-neutral-tertiary);
}

.tile:active {
    box-shadow: var(--depth-baseline), inset 0 0 0 var(--border-size-1) var(--appearance-fill-neutral-tertiary);
}


.tile-media {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-large);
}

.tile-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 4/4;
}

.tile-information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--space-small);
    padding: var(--space-small);
}

.tile-badge {
    padding: var(--space-xxxsmall) var(--space-xxsmall);
    font-family: var(--font-family-mono);
    font-weight: var(--font-weight-emphasized);
    font-size: var(--font-size-xxxxsmall);
    line-height: var(--font-leading-xxxxsmall);
    letter-spacing: var(--font-tracking-widest);
    text-transform: uppercase;
    text-align: center;
    color: var(--appearance-glyph-secondary);
    background: var(--appearance-fill);
    border-radius: var(--border-radius-xsmall);
}

.tile-headline {
    color: var(--appearance-glyph);
    font-family: var(--font-family-sans);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--font-leading-large);
    letter-spacing: var(--font-tracking-tight);
}

.tile-description {
    color: var(--appearance-glyph-tertiary);
    font-family: var(--font-family-sans);
    font-size: var(--font-size-xxsmall);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--font-leading-xxsmall);
    letter-spacing: var(--font-tracking-tight);
}

.tile-cta {
    margin-top: auto;
}

@media (max-width: 1024px) {

    .tile-headline {
        font-size: var(--font-size-medium);
        line-height: var(--font-leading-medium);
        letter-spacing: var(--font-tracking-tight);
    }

}

@media (max-width: 768px) {

    .tile {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}