@font-face {
    font-family: "Tiempos Headline";
    font-display: swap;
    font-style: normal;
    font-weight: 1 500;
    src: url(../assets/fonts/TiemposHeadline-Regular.woff) format("woff");
}

@font-face {
    font-family: "Tiempos Headline";
    font-display: swap;
    font-style: normal;
    font-weight: 501 1000;
    src: url(../assets/fonts/TiemposHeadline-Regular.woff) format("woff");
}

@font-face {
    font-family: "Geist";
    font-display: swap;
    font-style: normal;
    font-weight: 1 500;
    src: url(../assets/fonts/Geist-Regular.woff) format("woff");
}

@font-face {
    font-family: "Geist";
    font-display: swap;
    font-style: normal;
    font-weight: 501 1000;
    src: url(../assets/fonts/Geist-SemiBold.woff) format("woff");
}

@font-face {
    font-family: "Geist Mono";
    font-display: swap;
    font-style: normal;
    font-weight: 1 500;
    src: url(../assets/fonts/GeistMono-Regular.woff) format("woff");
}

@font-face {
    font-family: "Geist Mono";
    font-display: swap;
    font-style: normal;
    font-weight: 501 1000;
    src: url(../assets/fonts/GeistMono-SemiBold.woff) format("woff");
}


:root {


    --fontFamily-display: Tiempos Headline, serif;
    --fontFamily-default: Geist, sans-serif;
    --fontFamily-mono: Geist Mono, monospace;


    --fontLeading-xxxxSmall: 16px;
    --fontLeading-xxxSmall: 20px;
    --fontLeading-xxSmall: 20px;
    --fontLeading-xSmall: 24px;
    --fontLeading-small: 28px;
    --fontLeading-medium: 32px;
    --fontLeading-large: 32px;
    --fontLeading-xLarge: 40px;
    --fontLeading-xxLarge: 48px;
    --fontLeading-xxxLarge: 64px;
    --fontLeading-xxxxLarge: 80px;


    --fontSize-xxxxSmall: 12px;
    --fontSize-xxxSmall: 14px;
    --fontSize-xxSmall: 16px;
    --fontSize-xSmall: 18px;
    --fontSize-small: 20px;
    --fontSize-medium: 24px;
    --fontSize-large: 28px;
    --fontSize-xLarge: 36px;
    --fontSize-xxLarge: 44px;
    --fontSize-xxxLarge: 60px;
    --fontSize-xxxxLarge: 76px;


    --fontTracking-tighter: -0.3px;
    --fontTracking-tight: -0.13px;
    --fontTracking-none: 0;
    --fontTracking-wide: 0.13px;
    --fontTracking-wider: 0.3px;


    --fontWeight-normal: 400;
    --fontWeight-emphasized: 600;


}


:root {


    --scale-0: 0px;
    --scale-1: 1px;
    --scale-2: 2px;
    --scale-4: 4px;
    --scale-8: 8px;
    --scale-12: 12px;
    --scale-16: 16px;
    --scale-20: 20px;
    --scale-24: 24px;
    --scale-28: 28px;
    --scale-32: 32px;
    --scale-36: 36px;
    --scale-40: 40px;
    --scale-44: 44px;
    --scale-48: 48px;
    --scale-56: 56px;
    --scale-64: 64px;
    --scale-72: 72px;
    --scale-80: 80px;
    --scale-88: 88px;
    --scale-96: 96px;
    --scale-104: 104px;
    --scale-112: 112px;
    --scale-120: 120px;
    --scale-128: 128px;


    --borderRadius-sharp: var(--scale-0);
    --borderRadius-xxxSmall: var(--scale-2);
    --borderRadius-xxSmall: var(--scale-4);
    --borderRadius-xSmall: var(--scale-8);
    --borderRadius-small: var(--scale-12);
    --borderRadius-medium: var(--scale-16);
    --borderRadius-large: var(--scale-24);
    --borderRadius-xLarge: var(--scale-32);
    --borderRadius-xxLarge: var(--scale-48);
    --borderRadius-xxxLarge: var(--scale-64);
    --borderRadius-circle: 99999px;


    --borderSize-0: var(--scale-0);
    --borderSize-1: var(--scale-1);
    --borderSize-2: var(--scale-2);
    --borderSize-4: var(--scale-4);


    --space-none: var(--scale-0);
    --space-xxxxSmall: var(--scale-2);
    --space-xxxSmall: var(--scale-4);
    --space-xxSmall: var(--scale-8);
    --space-xSmall: var(--scale-12);
    --space-small: var(--scale-16);
    --space-medium: var(--scale-20);
    --space-large: var(--scale-24);
    --space-xLarge: var(--scale-32);
    --space-xxLarge: var(--scale-48);
    --space-xxxLarge: var(--scale-64);
    --space-xxxxLarge: var(--scale-80);


}


:root {


    --layoutMargin: 96px;
    --layoutWidth-maximum: 1152px;
    --layoutWidth-minimum: 1025px;


    --typographyHeading1-family: var(--fontFamily-display);
    --typographyHeading1-weight: var(--fontWeight-emphasized);
    --typographyHeading1-size: var(--fontSize-xxxxLarge);
    --typographyHeading1-leading: var(--fontLeading-xxxxLarge);
    --typographyHeading1-tracking: var(--fontTracking-tighter);


    --typographyHeading2-family: var(--fontFamily-display);
    --typographyHeading2-weight: var(--fontWeight-emphasized);
    --typographyHeading2-size: var(--fontSize-xxxLarge);
    --typographyHeading2-leading: var(--fontLeading-xxxLarge);
    --typographyHeading2-tracking: var(--fontTracking-tighter);


    --typographyHeading3-family: var(--fontFamily-display);
    --typographyHeading3-weight: var(--fontWeight-emphasized);
    --typographyHeading3-size: var(--fontSize-xxLarge);
    --typographyHeading3-leading: var(--fontLeading-xxLarge);
    --typographyHeading3-tracking: var(--fontTracking-tighter);


    --typographyHeading4-family: var(--fontFamily-display);
    --typographyHeading4-weight: var(--fontWeight-emphasized);
    --typographyHeading4-size: var(--fontSize-xLarge);
    --typographyHeading4-leading: var(--fontLeading-xLarge);
    --typographyHeading4-tracking: var(--fontTracking-tight);


    --typographyHeading5-family: var(--fontFamily-display);
    --typographyHeading5-weight: var(--fontWeight-emphasized);
    --typographyHeading5-size: var(--fontSize-large);
    --typographyHeading5-leading: var(--fontLeading-large);
    --typographyHeading5-tracking: var(--fontTracking-tight);


    --typographyHeading6-family: var(--fontFamily-display);
    --typographyHeading6-weight: var(--fontWeight-emphasized);
    --typographyHeading6-size: var(--fontSize-medium);
    --typographyHeading6-leading: var(--fontLeading-medium);
    --typographyHeading6-tracking: var(--fontTracking-none);


    --typographyParagraph-family: var(--fontFamily-default);
    --typographyParagraph-weight: var(--fontWeight-normal);
    --typographyParagraph-size: var(--fontSize-xSmall);
    --typographyParagraph-leading: var(--fontLeading-xSmall);
    --typographyParagraph-tracking: var(--fontTracking-wide);


    --typographySmall-family: var(--fontFamily-default);
    --typographySmall-weight: var(--fontWeight-normal);
    --typographySmall-size: var(--fontSize-xxSmall);
    --typographySmall-leading: var(--fontLeading-xxSmall);
    --typographySmall-tracking: var(--fontTracking-wide);


}


@media (max-width: 1024px) {


    :root {


        --layoutMargin: 48px;
        --layoutWidth-maximum: 1024px;
        --layoutWidth-minimum: 768px;


        --typographyHeading1-family: var(--fontFamily-display);
        --typographyHeading1-weight: var(--fontWeight-emphasized);
        --typographyHeading1-size: var(--fontSize-xxxLarge);
        --typographyHeading1-leading: var(--fontLeading-xxxLarge);
        --typographyHeading1-tracking: var(--fontTracking-tighter);


        --typographyHeading2-family: var(--fontFamily-display);
        --typographyHeading2-weight: var(--fontWeight-emphasized);
        --typographyHeading2-size: var(--fontSize-xxLarge);
        --typographyHeading2-leading: var(--fontLeading-xxLarge);
        --typographyHeading2-tracking: var(--fontTracking-tighter);


        --typographyHeading3-family: var(--fontFamily-display);
        --typographyHeading3-weight: var(--fontWeight-emphasized);
        --typographyHeading3-size: var(--fontSize-xLarge);
        --typographyHeading3-leading: var(--fontLeading-xLarge);
        --typographyHeading3-tracking: var(--fontTracking-tighter);


        --typographyHeading4-family: var(--fontFamily-display);
        --typographyHeading4-weight: var(--fontWeight-emphasized);
        --typographyHeading4-size: var(--fontSize-large);
        --typographyHeading4-leading: var(--fontLeading-large);
        --typographyHeading4-tracking: var(--fontTracking-tight);


        --typographyHeading5-family: var(--fontFamily-display);
        --typographyHeading5-weight: var(--fontWeight-emphasized);
        --typographyHeading5-size: var(--fontSize-medium);
        --typographyHeading5-leading: var(--fontLeading-medium);
        --typographyHeading5-tracking: var(--fontTracking-tight);


        --typographyHeading6-family: var(--fontFamily-display);
        --typographyHeading6-weight: var(--fontWeight-emphasized);
        --typographyHeading6-size: var(--fontSize-small);
        --typographyHeading6-leading: var(--fontLeading-small);
        --typographyHeading6-tracking: var(--fontTracking-none);


        --typographyParagraph-family: var(--fontFamily-default);
        --typographyParagraph-weight: var(--fontWeight-normal);
        --typographyParagraph-size: var(--fontSize-xSmall);
        --typographyParagraph-leading: var(--fontLeading-xSmall);
        --typographyParagraph-tracking: var(--fontTracking-wide);


        --typographySmall-family: var(--fontFamily-default);
        --typographySmall-weight: var(--fontWeight-normal);
        --typographySmall-size: var(--fontSize-xxSmall);
        --typographySmall-leading: var(--fontLeading-xxSmall);
        --typographySmall-tracking: var(--fontTracking-wide);


    }


}


@media (max-width: 767px) {


    :root {


        --layoutMargin: 24px;
        --layoutWidth-maximum: 767px;
        --layoutWidth-minimum: 320px;


        --typographyHeading1-family: var(--fontFamily-display);
        --typographyHeading1-weight: var(--fontWeight-emphasized);
        --typographyHeading1-size: var(--fontSize-xxLarge);
        --typographyHeading1-leading: var(--fontLeading-xxLarge);
        --typographyHeading1-tracking: var(--fontTracking-tighter);


        --typographyHeading2-family: var(--fontFamily-display);
        --typographyHeading2-weight: var(--fontWeight-emphasized);
        --typographyHeading2-size: var(--fontSize-xLarge);
        --typographyHeading2-leading: var(--fontLeading-xLarge);
        --typographyHeading2-tracking: var(--fontTracking-tighter);


        --typographyHeading3-family: var(--fontFamily-display);
        --typographyHeading3-weight: var(--fontWeight-emphasized);
        --typographyHeading3-size: var(--fontSize-large);
        --typographyHeading3-leading: var(--fontLeading-large);
        --typographyHeading3-tracking: var(--fontTracking-tighter);


        --typographyHeading4-family: var(--fontFamily-display);
        --typographyHeading4-weight: var(--fontWeight-emphasized);
        --typographyHeading4-size: var(--fontSize-medium);
        --typographyHeading4-leading: var(--fontLeading-medium);
        --typographyHeading4-tracking: var(--fontTracking-tight);


        --typographyHeading5-family: var(--fontFamily-display);
        --typographyHeading5-weight: var(--fontWeight-emphasized);
        --typographyHeading5-size: var(--fontSize-small);
        --typographyHeading5-leading: var(--fontLeading-small);
        --typographyHeading5-tracking: var(--fontTracking-tight);


        --typographyHeading6-family: var(--fontFamily-display);
        --typographyHeading6-weight: var(--fontWeight-emphasized);
        --typographyHeading6-size: var(--fontSize-xSmall);
        --typographyHeading6-leading: var(--fontLeading-xSmall);
        --typographyHeading6-tracking: var(--fontTracking-none);


        --typographyParagraph-family: var(--fontFamily-default);
        --typographyParagraph-weight: var(--fontWeight-normal);
        --typographyParagraph-size: var(--fontSize-xSmall);
        --typographyParagraph-leading: var(--fontLeading-xSmall);
        --typographyParagraph-tracking: var(--fontTracking-wide);


        --typographySmall-family: var(--fontFamily-default);
        --typographySmall-weight: var(--fontWeight-normal);
        --typographySmall-size: var(--fontSize-xxSmall);
        --typographySmall-leading: var(--fontLeading-xxSmall);
        --typographySmall-tracking: var(--fontTracking-wide);


    }


}


h1 {
    font-family: var(--typographyHeading1-family);
    font-weight: var(--typographyHeading1-weight);
    font-size: var(--typographyHeading1-size);
    line-height: var(--typographyHeading1-leading);
    letter-spacing: var(--typographyHeading1-tracking);
}


h2 {
    font-family: var(--typographyHeading2-family);
    font-weight: var(--typographyHeading2-weight);
    font-size: var(--typographyHeading2-size);
    line-height: var(--typographyHeading2-leading);
    letter-spacing: var(--typographyHeading2-tracking);
}


h3 {
    font-family: var(--typographyHeading3-family);
    font-weight: var(--typographyHeading3-weight);
    font-size: var(--typographyHeading3-size);
    line-height: var(--typographyHeading3-leading);
    letter-spacing: var(--typographyHeading3-tracking);
}


h4 {
    font-family: var(--typographyHeading4-family);
    font-weight: var(--typographyHeading4-weight);
    font-size: var(--typographyHeading4-size);
    line-height: var(--typographyHeading4-leading);
    letter-spacing: var(--typographyHeading4-tracking);
}


h5 {
    font-family: var(--typographyHeading5-family);
    font-weight: var(--typographyHeading5-weight);
    font-size: var(--typographyHeading5-size);
    line-height: var(--typographyHeading5-leading);
    letter-spacing: var(--typographyHeading5-tracking);
}


h6 {
    font-family: var(--typographyHeading6-family);
    font-weight: var(--typographyHeading6-weight);
    font-size: var(--typographyHeading6-size);
    line-height: var(--typographyHeading6-leading);
    letter-spacing: var(--typographyHeading6-tracking);
}


p {
    font-family: var(--typographyParagraph-family);
    font-weight: var(--typographyParagraph-weight);
    font-size: var(--typographyParagraph-size);
    line-height: var(--typographyParagraph-leading);
    letter-spacing: var(--typographyParagraph-tracking);
}

small {
    font-family: var(--typographySmall-family);
    font-weight: var(--typographySmall-weight);
    font-size: var(--typographySmall-size);
    line-height: var(--typographySmall-leading);
    letter-spacing: var(--typographySmall-tracking);
}

b {
    font-weight: var(--fontWeight-emphasized);
}


:root {
    --ease-linear: cubic-bezier(.25, .25, .75, .75);
    --ease-in-sine: cubic-bezier(.47, 0, .745, .715);
    --ease-out-sine: cubic-bezier(.39, .575, .565, 1);
    --ease-in-out-sine: cubic-bezier(.445, .05, .55, .95);
    --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
    --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
    --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
    --ease-in-cubic: cubic-bezier(.55, .055, .675, .19);
    --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
    --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
    --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
    --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
    --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
    --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
    --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
    --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
    --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
    --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-circ: cubic-bezier(.6, .04, .98, .335);
    --ease-out-circ: cubic-bezier(.075, .82, .165, 1);
    --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);
    --ease-in-back: cubic-bezier(.6, -.28, .735, .045);
    --ease-out-back: cubic-bezier(.175, .885, .32, 1.275);
    --ease-in-out-back: cubic-bezier(.68, -.55, .265, 1.55);
    --ease-out-elastic: linear(0, .5737 7.6%, .8382 11.87%, .9463 14.19%, 1.0292 16.54%, 1.0886 18.97%, 1.1258 21.53%, 1.137 22.97%, 1.1424 24.48%, 1.1423 26.1%, 1.1366 27.86%, 1.1165 31.01%, 1.0507 38.62%, 1.0219 42.57%, .9995 46.99%, .9872 51.63%, .9842 58.77%, 1.0011 81.26%, 1);
    --ease-out-elastic-100-30: linear(0, .2178 2.1%, 1.1144 8.49%, 1.2959 10.7%, 1.3463 11.81%, 1.3705 12.94%, 1.3726, 1.3643 14.48%, 1.3151 16.2%, 1.0317 21.81%, .941 24.01%, .8912 25.91%, .8694 27.84%, .8698 29.21%, .8824 30.71%, 1.0122 38.33%, 1.0357, 1.046 42.71%, 1.0416 45.7%, .9961 53.26%, .9839 57.54%, .9853 60.71%, 1.0012 68.14%, 1.0056 72.24%, .9981 86.66%, 1);
}


.light {


    --systemDisabled: 0.48;


    --systemBackgroundPrimary: rgb(255, 255, 255);
    --systemBackgroundSecondary: rgb(249, 249, 249);
    --systemBackgroundTertiary: rgb(242, 242, 242);


    --systemGray: rgb(36, 36, 36);
    --systemGray-hover: rgb(61, 61, 61);
    --systemGray-active: rgb(86, 86, 86);

    --systemRed: rgb(245, 42, 33);
    --systemRed-hover: rgb(220, 17, 8);
    --systemRed-active: rgb(255, 67, 58);

    --systemOrange: rgb(243, 136, 0);
    --systemOrange-hover: rgb(218, 111, 0);
    --systemOrange-active: rgb(255, 161, 25);

    --systemYellow: rgb(243, 193, 0);
    --systemYellow-hover: rgb(218, 168, 0);
    --systemYellow-active: rgb(255, 218, 25);

    --systemGreen: rgb(30, 192, 53);
    --systemGreen-hover: rgb(5, 167, 28);
    --systemGreen-active: rgb(55, 217, 78);

    --systemBlue: rgb(0, 110, 243);
    --systemBlue-hover: rgb(0, 85, 218);
    --systemBlue-active: rgb(25, 135, 255);

    --systemPurple: rgb(157, 72, 201);
    --systemPurple-hover: rgb(132, 47, 176);
    --systemPurple-active: rgb(182, 97, 226);


    --systemGlyphPrimary: rgba(0, 0, 0, 0.92);
    --systemGlyphSecondary: rgba(0, 0, 0, 0.68);
    --systemGlyphTertiary: rgba(0, 0, 0, 0.44);

    --systemMaterialUltrathick: rgba(242, 242, 242, 0.84);
    --systemMaterialThick: rgba(242, 242, 242, 0.72);
    --systemMaterialRegular: rgba(242, 242, 242, 0.60);
    --systemMaterialThin: rgba(242, 242, 242, 0.48);
    --systemMaterialUltrathin: rgba(242, 242, 242, 0.36);
    --systemMaterial-idle: rgb(242, 242, 242);


    --systemOnGary: rgb(255, 255, 255);
    --systemOnRed: rgb(255, 255, 255);
    --systemOnOrange: rgb(255, 255, 255);
    --systemOnYellow: rgb(0, 0, 0);
    --systemOnGreen: rgb(255, 255, 255);
    --systemOnBlue: rgb(255, 255, 255);
    --systemOnPurple: rgb(255, 255, 255);


    --systemBorderPrimary: rgba(0, 0, 0, 0.84);
    --systemBorderSecondary: rgba(0, 0, 0, 0.52);
    --systemBorderTertiary: rgba(0, 0, 0, 0.12);


    --systemTintGrayPrimary: rgba(36, 36, 36, 0.28);
    --systemTintGraySecondary: rgba(36, 36, 36, 0.16);
    --systemTintGrayTertiary: rgba(36, 36, 36, 0.08);

    --systemTintRedPrimary: rgba(245, 42, 33, 0.28);
    --systemTintRedSecondary: rgba(245, 42, 33, 0.16);
    --systemTintRedTertiary: rgba(245, 42, 33, 0.08);

    --systemTintOrangePrimary: rgba(243, 136, 0, 0.28);
    --systemTintOrangeSecondary: rgba(243, 136, 0, 0.16);
    --systemTintOrangeTertiary: rgba(243, 136, 0, 0.08);

    --systemTintYellowPrimary: rgba(243, 193, 0, 0.28);
    --systemTintYellowSecondary: rgba(243, 193, 0, 0.16);
    --systemTintYellowTertiary: rgba(243, 193, 0, 0.08);

    --systemTintGreenPrimary: rgba(30, 192, 53, 0.28);
    --systemTintGreenSecondary: rgba(30, 192, 53, 0.16);
    --systemTintGreenTertiary: rgba(30, 192, 53, 0.08);

    --systemTintBluePrimary: rgba(0, 110, 243, 0.28);
    --systemTintBlueSecondary: rgba(0, 110, 243, 0.16);
    --systemTintBlueTertiary: rgba(0, 110, 243, 0.08);

    --systemTintPurplePrimary: rgba(157, 72, 201, 0.28);
    --systemTintPurpleSecondary: rgba(157, 72, 201, 0.16);
    --systemTintPurpleTertiary: rgba(157, 72, 201, 0.08);


}


.dark {


    --systemDisabled: 0.48;


    --systemBackgroundPrimary: rgb(0, 0, 0);
    --systemBackgroundSecondary: rgb(18, 18, 18);
    --systemBackgroundTertiary: rgb(36, 36, 36);


    --systemGray: rgb(242, 242, 242);
    --systemGray-hover: rgb(217, 217, 217);
    --systemGray-active: rgb(192, 192, 192);

    --systemRed: rgb(255, 77, 65);
    --systemRed-hover: rgb(255, 102, 90);
    --systemRed-active: rgb(230, 52, 40);

    --systemOrange: rgb(255, 167, 18);
    --systemOrange-hover: rgb(255, 192, 43);
    --systemOrange-active: rgb(230, 142, 0);

    --systemYellow: rgb(255, 222, 18);
    --systemYellow-hover: rgb(255, 247, 43);
    --systemYellow-active: rgb(230, 197, 0);

    --systemGreen: rgb(59, 225, 83);
    --systemGreen-hover: rgb(84, 250, 108);
    --systemGreen-active: rgb(34, 200, 58);

    --systemBlue: rgb(18, 139, 255);
    --systemBlue-hover: rgb(43, 164, 255);
    --systemBlue-active: rgb(0, 114, 230);

    --systemPurple: rgb(203, 100, 255);
    --systemPurple-hover: rgb(228, 125, 255);
    --systemPurple-active: rgb(178, 75, 230);


    --systemGlyphPrimary: rgba(255, 255, 255, 0.92);
    --systemGlyphSecondary: rgba(255, 255, 255, 0.68);
    --systemGlyphTertiary: rgba(255, 255, 255, 0.44);

    --systemMaterialUltrathick: rgba(36, 36, 36, 0.84);
    --systemMaterialThick: rgba(36, 36, 36, 0.72);
    --systemMaterialRegular: rgba(36, 36, 36, 0.60);
    --systemMaterialThin: rgba(36, 36, 36, 0.48);
    --systemMaterialUltrathin: rgba(36, 36, 36, 0.36);
    --systemMaterial-idle: rgb(36, 36, 36);


    --systemOnGary: rgb(0, 0, 0);
    --systemOnRed: rgb(255, 255, 255);
    --systemOnOrange: rgb(255, 255, 255);
    --systemOnYellow: rgb(0, 0, 0);
    --systemOnGreen: rgb(255, 255, 255);
    --systemOnBlue: rgb(255, 255, 255);
    --systemOnPurple: rgb(255, 255, 255);


    --systemBorderPrimary: rgba(255, 255, 255, 0.84);
    --systemBorderSecondary: rgba(255, 255, 255, 0.52);
    --systemBorderTertiary: rgba(255, 255, 255, 0.12);


    --systemTintGrayPrimary: rgba(249, 249, 249, 0.28);
    --systemTintGraySecondary: rgba(249, 249, 249, 0.16);
    --systemTintGrayTertiary: rgba(249, 249, 249, 0.08);

    --systemTintRedPrimary: rgba(255, 77, 65, 0.28);
    --systemTintRedSecondary: rgba(255, 77, 65, 0.16);
    --systemTintRedTertiary: rgba(255, 77, 65, 0.08);

    --systemTintOrangePrimary: rgba(255, 167, 18, 0.28);
    --systemTintOrangeSecondary: rgba(255, 167, 18, 0.16);
    --systemTintOrangeTertiary: rgba(255, 167, 18, 0.08);

    --systemTintYellowPrimary: rgba(255, 222, 18, 0.28);
    --systemTintYellowSecondary: rgba(255, 222, 18, 0.16);
    --systemTintYellowTertiary: rgba(255, 222, 18, 0.08);

    --systemTintGreenPrimary: rgba(59, 225, 83, 0.28);
    --systemTintGreenSecondary: rgba(59, 225, 83, 0.16);
    --systemTintGreenTertiary: rgba(59, 225, 83, 0.08);

    --systemTintBluePrimary: rgba(18, 139, 255, 0.28);
    --systemTintBlueSecondary: rgba(18, 139, 255, 0.16);
    --systemTintBlueTertiary: rgba(18, 139, 255, 0.08);

    --systemTintPurplePrimary: rgba(203, 100, 255, 0.28);
    --systemTintPurpleSecondary: rgba(203, 100, 255, 0.16);
    --systemTintPurpleTertiary: rgba(203, 100, 255, 0.08);


}