/* Linked CSS Files */

@import url("./global.built.css");

.header {
    position: fixed;
    z-index: 999;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 144px;
    user-select: none;
    transition: width 0.5s var(--ease-in-out-circ), height 0.5s var(--ease-in-out-circ);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header.headerExpanded {
    width: 288px;
    height: 56px;
}

.headerBackground {
    width: 100%;
    height: 100%;
    background: var(--systemMaterialUltrathick);
    backdrop-filter: blur(50px);
    transition: width 0.5s var(--ease-in-out-circ), height 0.5s var(--ease-in-out-circ);
    border-radius: 32px;
    box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.16), 0px 8px 16px -4px rgba(0, 0, 0, 0.08), 0px 0px 0px 1px rgba(0, 0, 0, 0.02), inset 0.5px 0.5px 0 rgba(255, 255, 255, 0.16), inset -0.5px -0.5px 0 rgba(255, 255, 255, 0.12);
}

.headerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    position: relative;
    gap: 12px;
}

.headerAction {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s var(--ease-linear) 0.5s;
}

.header.headerExpanded .headerAction {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    transition: opacity 0.5s var(--ease-linear) 0.5s;
}

.headerNavigation {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 2px 4px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 0.5s var(--ease-linear) 0.5s;
    pointer-events: none;
    overflow: hidden;
}

.header.headerExpanded .headerNavigation {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: static;
    transition: opacity 0.5s var(--ease-linear) 0.5s;
}

.headerLogo {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20px;
    height: 20px;
    fill: var(--systemGlyphPrimary);
}

.headerControl {
    color: var(--systemBlue);
    font-family: var(--fontFamily-default);
    font-size: var(--fontSize-xxSmall);
    font-weight: var(--fontWeight-normal);
    line-height: var(--fontLeading-xxSmall);
    letter-spacing: var(--fontTracking-tight);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    transition: color 0.25s var(--ease-linear);
}

.headerControl svg {
    fill: var(--systemBlue);
    transition: fill 0.25s var(--ease-linear);
}

.headerControl:hover {
    color: var(--systemBlue-hover);
}

.headerControl:hover svg {
    fill: var(--systemBlue-hover);
}

.headerTab {
    text-decoration: none;
    font-family: var(--fontFamily-default);
    font-size: var(--fontSize-xxSmall);
    font-weight: var(--fontWeight-normal);
    line-height: var(--fontLeading-xxSmall);
    letter-spacing: var(--fontTracking-tight);
    color: var(--systemOrange);
    background: var(--systemTintOrangeTertiary);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    width: 100%;
    border-radius: 24px;
    transition: background 0.25s var(--ease-linear);
}

.headerTab:hover {
    background: var(--systemTintOrangeSecondary);
}

.activeTab {
    color: var(--systemOnOrange);
    background: var(--systemOrange);
    cursor: default;
}

.activeTab:hover {
    color: var(--systemOnOrange);
    background: var(--systemOrange);
}