@import url("./global.built.css");


.header-container {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(60px + 32px);
}

.header-container-blur {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 16px;
    z-index: 9999;
    min-width: 256px;
    max-width: 256px;
    width: 100%;
    height: 60px;
    background: var(--appearance-material-ultrathick);
    border-radius: var(--border-radius-large);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    overflow: hidden;
    transition: width 500ms var(--ease-in-out-circ), min-width 500ms var(--ease-in-out-circ), max-width 500ms var(--ease-in-out-circ), height 500ms var(--ease-in-out-circ) 125ms, background 500ms var(--ease-in-out-circ);
    box-shadow: var(--depth-floating), 0 0 0 0.5px var(--appearance-fill-neutral-tertiary);
}

.header.expanded {
    background: var(--appearance-fill);
    min-width: 256px;
    max-width: calc(256px + 256px);
    width: 100%;
    height: calc(60px + calc(48px * 5) + 12px);
}

.header-content {
    position: relative;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px 20px 20px;
}

.header-logo {
    color: var(--appearance-glyph-neutral);
    fill: var(--appearance-glyph-neutral);
    text-decoration: none;
    position: relative;
    width: 20px;
    height: 20px;
}

.header-logo-icon {
    width: 20px;
    height: 20px;
}

.header-control {
    --glyph-height: var(--scale-20);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    font-family: var(--font-family-ui);
    font-size: var(--font-size-xxxsmall);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--glyph-height);
    letter-spacing: var(--font-tracking-widest);
    text-transform: uppercase;
    color: var(--appearance-glyph-neutral-secondary);
    cursor: pointer;
    transition: color 250ms var(--ease-in-out-circ);
}

.header-control:hover {
    color: var(--appearance-glyph-neutral);
}

.header-control:hover .header-control-icon-path {
    background: var(--appearance-glyph-neutral);
}

.header-control .header-control-icon {
    width: var(--glyph-height);
    height: var(--glyph-height);
    position: relative;
}

.header-control-icon-path {
    width: 2.4px;
    height: 2.4px;
    background: var(--appearance-glyph-neutral-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius-circle);
    transition: width 250ms var(--ease-in-out-circ), height 250ms var(--ease-in-out-circ), background 250ms var(--ease-in-out-circ);
}

.header.expanded .header-control-icon-path {
    width: 9.6px;
    height: 1.2px;
}

.header-navigation {
    position: relative;
}

.header-navigation-content {
    opacity: 0;
    visibility: hidden;
    transform: translateX(16px);
    transition: opacity 125ms var(--ease-linear), visibility 125ms var(--ease-linear), transform 125ms var(--ease-linear);
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header.expanded .header-navigation-content {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: opacity 250ms var(--ease-linear) 250ms, visibility 250ms var(--ease-linear) 250ms, transform 250ms var(--ease-linear) 250ms;
}

.header-navigation-link {
    width: 100%;
    padding: 8px;
    font-family: var(--font-family-ui);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-emphasized);
    line-height: var(--font-leading-medium);
    letter-spacing: var(--font-tracking-wider);
    color: var(--appearance-glyph-neutral);
    border-radius: var(--border-radius-small);
    text-decoration: none;
    transition: background 250ms var(--ease-in-out-circ), color 250ms var(--ease-in-out-circ);
}

.header-navigation-link:hover {
    color: var(--appearance-glyph-accent);
    background: var(--appearance-fill-accent-tertiary);
}

.header-navigation-link.active {
    color: var(--appearance-glyph-accent-tertiary);
    pointer-events: none;
    cursor: not-allowed;
}

@media (max-width: 768px) {

    .header-container {
        height: calc(60px + 0px);
    }

    .header {
        top: 0;
        right: 0;
        left: 0;
        border-radius: var(--border-radius-sharp);
        min-width: 100%;
        max-width: 100%;
        box-shadow: var(--depth-baseline);
    }

    .header.expanded {
        min-width: 100%;
        max-width: 100%;
    }

}