@import url("./global.built.css");

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 48px 0 0;
}

.header-content {
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  max-width: 896px;
  padding: 0 48px;
}

@keyframes header-logo {

  0% {
    backdrop-filter: blur(20px);
    opacity: 0;
  }

  100% {
    backdrop-filter: blur(0);
    opacity: 1;
  }

}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-foreground);
  fill: var(--color-foreground);
  cursor: pointer;
  text-decoration: none;
  transition: background 250ms var(--ease-out-cubic), color 250ms var(--ease-out-cubic), fill 250ms var(--ease-out-cubic);
  /* animation: 1000ms var(--ease-in-out-sine) header-logo; */
}

.header-logo:hover {
  color: var(--color-foreground-hover);
  fill: var(--color-foreground-hover);
}

.header-logo svg {
  width: auto;
  height: 16px;
  fill: inherit;
}


@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 640px) {

  .header-content {
    padding: 0 24px;
  }

}