/* Linked CSS Files */

@import url("./global.built.css");

.header-container {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    height: calc(48px + 40px);
}

.header-container-background {
    position: absolute;
    inset: 0;
    overflow: hidden
}

.header {
    margin: auto;
    z-index: 9999;
    width: calc(288px - 128px);
    user-select: none;
    transition: width 0.5s var(--ease-in-out-circ), height 0.5s var(--ease-in-out-circ);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header.header-expanded {
    width: 288px;
    height: 60px;
}

.header-background {
    width: 100%;
    height: 100%;
    background: var(--color-void);
    transition: width 0.5s var(--ease-in-out-circ), height 0.5s var(--ease-in-out-circ);
    border-radius: 32px;
    box-shadow: var(--depth-floating), inset 0.5px 0.5px 0 rgba(255, 255, 255, 0.16), inset -0.5px -0.5px 0 rgba(255, 255, 255, 0.12);
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    position: relative;
    gap: 12px;
}

.header-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s var(--ease-linear) 0.5s;
}

.header.header-expanded .header-action {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    transition: opacity 0.5s var(--ease-linear) 0.5s;
}

.header-navigation {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 0.5s var(--ease-linear) 0.5s;
    pointer-events: none;
    overflow: hidden;
}

.header.header-expanded .header-navigation {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: static;
    transition: opacity 0.5s var(--ease-linear) 0.5s;
}

.header-logo {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    height: 20px;
    aspect-ratio: 4/4;
    fill: var(--color-neutral-100);
}

.header-control {
    color: var(--color-snow);
    fill: var(--color-snow);
    background: var(--color-accent-500);
    font-family: var(--font-family-sans);
    font-size: var(--font-size-xxsmall);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-leading-xxsmall);
    letter-spacing: var(--font-tracking-wide);
    padding: var(--space-xxxxsmall) var(--space-xxxsmall);
    border-radius: var(--border-radius-circle);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xxxxsmall);
    transition: transform 0.25s var(--ease-bounce);
    transform-origin: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header-control-icon {
    width: 100%;
    height: 20px;
    aspect-ratio: 4/4;
    fill: inherit;
}

.header-control:hover {
    transform: scale(1.05);
}

.header-control:active {
    transform: scale(1);
}

.header-tab {
    text-decoration: none;
    font-family: var(--font-family-sans);
    font-size: var(--font-size-xxxsmall);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-leading-xxxsmall);
    letter-spacing: var(--font-tracking-wider);
    color: var(--color-neutral-100);
    fill: var(--color-neutral-100);
    background: var(--color-neutral-800);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    width: 100%;
    border-radius: 24px;
    transition: transform 0.25s var(--ease-bounce);
    transform-origin: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header-tab:hover {
    transform: scale(1.05);
}

.header-tab:active {
    transform: scale(1);
}

.active-tab {
    color: var(--color-neutral-900);
    fill: var(--color-neutral-900);
    background: var(--color-neutral-100);
    cursor: not-allowed;
}

.active-tab:hover {
    transform: scale(1);
}

.header-button {
    text-decoration: none;
    font-family: var(--font-family-sans);
    font-size: var(--font-size-xxxsmall);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-leading-xxxsmall);
    letter-spacing: var(--font-tracking-wider);
    color: var(--color-snow);
    fill: var(--color-snow);
    background: var(--color-brand-500);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    width: 100%;
    border-radius: 24px;
    transition: transform 0.25s var(--ease-bounce);
    transform-origin: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header-button:hover {
    transform: scale(1.05);
}

.header-button:active {
    transform: scale(1);
}