/* Linked CSS Files */

@import url("/karma-semantics.css");
@import url("/karma-typography&radius.css");

/*  Animations */

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #889296;
}

@supports (scrollbar-color: #889296 transparent) {
  * {
    scrollbar-color: #889296 transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background);
  cursor: var(--cursor-default), auto;
  animation: pageLoading 1000ms;
  animation-timing-function: var(--bounce-effect);
  position: relative;
}

main {
  position: relative;
  padding: 0 80px;
  margin: auto;
  min-height: 100vh;
}

.hero-section-double-wrapper {
  width: 100%;
  height: 600px;
  overflow: visible;
  border-radius: 0 0 var(--border-radius-32) var(--border-radius-32);
}

.hero-section-wrapper {
  position: relative;
  padding-top: var(--globalnav-wrapper-height);
  padding-right: 80px;
  padding-left: 80px;
  background: var(--hero-section-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  border-radius: 0 0 var(--border-radius-32) var(--border-radius-32);
  height: 600px;
  animation: heroHeight 1500ms;
  animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

@keyframes heroHeight {
  0% {
    height: 0px;
  }

  25% {
    height: 200px;
  }

  100% {
    height: 600px;
  }
}

/* .hero-section-background {
  flex: none;
  inset: 0;
  opacity: 0.4;
  overflow: visible;
  position: absolute;
  z-index: 0;
}

.hero-section-background-tile {
  position: absolute;
  border-radius: inherit;
  inset: 0px;
  background-repeat: repeat;
  background-position: left top;
  background-size: 56px;
  background-image: url(/assets/global/hero-section-bg-tile.png);
  border: 0px;
} */

.hero-section {
  margin: 0 auto;
  max-width: var(--global-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  padding: 64px 0 128px;
  z-index: 1;
}

.currently {
  text-align: center;
  background: var(--hero-section-badge-background);
  padding: 10px 12px;
  border-radius: var(--border-radius-12);
  font: var(--badge-xl);
  letter-spacing: var(--badge-letterspacing);
  color: var(--white-800);
  width: max-content;
  box-shadow: var(--hero-section-badge-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-size: 300% 100%;
  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  from {
    background-position: 300% 0;
  }

  to {
    background-position: calc(300% * -1) 0;
  }
}

.hero-headline {
  width: 100%;
  max-width: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px 16px;
  flex-wrap: wrap;
}

.hero-headline-copy {
  text-align: center;
  font: var(--display-xl);
  letter-spacing: var(--display-letterspacing);
  color: var(--hero-section-color);
}

.mac-sticker {
  height: 81px;
  object-fit: contain;
  object-position: center;
}

.figma-logo-sticker {
  height: 81px;
  object-fit: contain;
  object-position: center;
}

.heart-sticker {
  height: 81px;
  object-fit: contain;
  object-position: center;
}

/* Project Section */

#project-section {
  overflow: visible;
  margin: auto;
  max-width: var(--global-max-width);
  padding: 128px 0px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 100%;
}

.project-section-headline {
  font: var(--eyebrow-xl);
  letter-spacing: var(--eyebrow-letterspacing);
  color: var(--text-tertiary);
}

#project-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: start;
  justify-content: start;
  gap: 48px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: visible;
  gap: 24px;
  text-decoration: none;
  transition: var(--tile-transition);
}

.project:hover {
  cursor: var(--cursor-pointer), auto;
}

.project:hover .project-cover {
  cursor: var(--cursor-pointer), auto;
  outline-offset: 0.125rem;
  outline: var(--tile-outline-hover);
  transition: var(--tile-transition);
}

.project:active .project-cover {
  outline: var(--tile-outline-active);
}

.project-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-badge {
  width: max-content;
  padding: 4px 6px;
  font: var(--badge-xl);
  letter-spacing: var(--badge-letterspacing);
  background-color: var(--fill-tertiary);
  color: var(--text-tertiary);
  border-radius: var(--border-radius-8);
  border: 1px solid var(--separator);
}

.project-title {
  font: var(--title4-xl-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
  text-overflow: ellipsis;
}

.project-description {
  font: var(--body2-xl);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text-secondary);
  text-overflow: ellipsis;
}

.project-cover {
  background: var(--tile-background);
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-16);
  outline-offset: 0.75rem;
  outline: var(--tile-outline);
  transition: var(--tile-transition);
}

/* Writing Section */

#writing-section {
  margin: auto;
  max-width: var(--global-max-width);
  padding: 64px 0px 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.writing-section-headline {
  font: var(--eyebrow-xl);
  letter-spacing: var(--eyebrow-letterspacing);
  color: var(--text-tertiary);
}

#writing-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 48px;
}

.writing-wrapper {
  width: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: visible;
  gap: 24px;
  text-decoration: none;
}

.article:hover {
  cursor: var(--cursor-pointer), auto;
}

.article:hover .article-cover {
  cursor: var(--cursor-pointer), auto;
  outline-offset: 0.125rem;
  outline: var(--tile-outline-hover);
  transition: var(--tile-transition);
}

.article:active .article-cover {
  outline: var(--tile-outline-active);
}

.article-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-title {
  font: var(--title4-xl-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
  text-overflow: ellipsis;
}

.article-description {
  font: var(--body3-xl);
  letter-spacing: var(--body3-letterspacing);
  color: var(--text-secondary);
  text-overflow: ellipsis;
}

.article-cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: fit-content;
  border-radius: var(--border-radius-16);
  outline-offset: 0.75rem;
  outline: var(--tile-outline);
  transition: var(--tile-transition);
}

/* @media (max-width: 1400px) {} */

@media (max-width: 1068px) {
  main {
    padding: 0 48px;
  }

  .hero-section-wrapper {
    padding-right: 48px;
    padding-left: 48px;
  }

  .hero-section {
    padding: 48px 0 96px;
  }

  .currently-copy {
    font: var(--badge-m);
  }

  .hero-headline {
    max-width: 840px;
  }

  .hero-headline-copy {
    font: var(--display-m);
  }

  .mac-sticker {
    height: 72px;
  }

  .figma-logo-sticker {
    height: 72px;
  }

  .heart-sticker {
    height: 72px;
  }

  /* Project Section */

  #project-section {
    padding: 96px 0px 48px;
    gap: 40px;
  }

  .project-section-headline {
    font: var(--eyebrow-m);
  }

  #project-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 40px;
  }

  .project {
    gap: 16px;
  }

  .project-title {
    font: var(--title4-m-emphasized);
  }

  .project-badge {
    font: var(--badge-m);
  }

  .project-description {
    font: var(--body2-m);
  }

  /* Writing Section */

  #writing-section {
    padding: 48px 0px 96px;
    gap: 40px;
  }

  .writing-section-headline {
    font: var(--eyebrow-m);
  }

  #writing-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
  }

  .article {
    gap: 16px;
  }

  .article-title {
    font: var(--title4-m-emphasized);
  }

  .article-description {
    font: var(--body3-m);
  }
}

@media (max-width: 734px) {
  main {
    padding: 0 24px;
  }

  .hero-section-wrapper {
    padding-right: 24px;
    padding-left: 24px;
  }

  .hero-section {
    padding: 40px 0 80px;
  }

  .currently-copy {
    font: var(--badge-xxxs);
  }

  .hero-headline {
    max-width: 512px;
  }

  .hero-headline-copy {
    font: var(--display-xxxs);
  }

  .mac-sticker {
    height: 57px;
  }

  .figma-logo-sticker {
    height: 57px;
  }

  .heart-sticker {
    height: 57px;
  }

  /* Project Section */

  #project-section {
    padding: 80px 0px 40px;
    gap: 32px;
  }

  .project-section-headline {
    font: var(--eyebrow-xxxs);
  }

  #project-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
  }

  .project {
    gap: 16px;
  }

  .project-title {
    font: var(--title4-xxxs-emphasized);
  }

  .project-badge {
    font: var(--badge-xxxs);
  }

  .project-description {
    font: var(--body2-xxxs);
  }

  /* Writing Section */

  #writing-section {
    padding: 40px 0px 80px;
    gap: 32px;
  }

  .writing-section-headline {
    font: var(--eyebrow-xxxs);
  }

  #writing-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
  }

  .article {
    gap: 16px;
  }

  .article-title {
    font: var(--title4-xxxs-emphasized);
  }

  .article-description {
    font: var(--body3-xxxs);
  }
}