/* Linked CSS Files */

@import url("/karma-semantics.css");
@import url("/karma-typography&radius.css");

/*  Animations */

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #889296;
}

@supports (scrollbar-color: #889296 transparent) {
  * {
    scrollbar-color: #889296 transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background);
  cursor: var(--cursor-default), auto;
  animation: pageLoading 950ms;
  position: relative;
}

main {
  position: relative;
  padding: 0 80px;
  margin: auto;
  min-height: 100vh;
}

.hero-section-wrapper {
  position: relative;
  padding-top: var(--globalnav-wrapper-height);
  padding-right: 80px;
  padding-left: 80px;
  background: var(--hero-section-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  border-radius: 0 0 var(--border-radius-32) var(--border-radius-32);
  height: 600px;
  animation: heroHeight 1250ms;
  animation-timing-function: var(--bounce-effect);
  animation-delay: 500ms;
}

@keyframes heroHeight {
  from {
    height: 0px;
  }

  to {
    height: 600px;
  }
}

.hero-section-background {
  flex: none;
  inset: 0;
  opacity: 0.4;
  overflow: visible;
  position: absolute;
  z-index: 0;
}

.hero-section-background-tile {
  position: absolute;
  border-radius: inherit;
  inset: 0px;
  background-repeat: repeat;
  background-position: left top;
  background-size: 64px;
  background-image: url(/assets/global/hero-section-bg-tile.png);
  border: 0px;
}

.hero-section {
  margin: 0 auto;
  max-width: var(--global-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  padding: 64px 0 128px;
  z-index: 1;
}

.currently {
  text-align: center;
  background: var(--success-background);
  padding: 10px 12px;
  border-radius: var(--border-radius-12);
  width: max-content;
  border: 1px solid var(--success-border);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.currently-copy {
  font: var(--badge-xl);
  letter-spacing: var(--badge-letterspacing);
  color: var(--success-color);
}

.dot-wrapper {
  width: 16px;
  height: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.static-dot {
  width: 8px;
  height: 8px;
  background: var(--success-color);
  border-radius: var(--border-radius-full);
  z-index: 1;
}

.animated-dot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background: var(--success-color);
  border-radius: var(--border-radius-full);
  opacity: 0.25;
  animation: dotAnimation 2000ms linear infinite;
}

@keyframes dotAnimation {
  from {
    opacity: 0.125;
    transform: scale(0.5);
  }

  to {
    opacity: 0.25;
    transform: scale(1.25);
  }
}

.hero-headline {
  text-align: center;
  font: var(--display-xl);
  letter-spacing: var(--display-letterspacing);
  color: var(--white-1000);
  max-width: 800px;
}

/* Project Section */

#project-section {
  overflow: visible;
  margin: auto;
  max-width: var(--global-max-width);
  padding: 128px 0px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 100%;
}

.project-section-headline {
  font: var(--eyebrow-xl);
  letter-spacing: var(--eyebrow-letterspacing);
  color: var(--text-tertiary);
}

#project-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: start;
  justify-content: start;
  gap: 48px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: visible;
  gap: 24px;
  text-decoration: none;
  transition: var(--tile-transition);
}

.project:hover {
  cursor: var(--cursor-pointer), auto;
}

.project:hover .project-cover {
  cursor: var(--cursor-pointer), auto;
  outline-offset: 0.125rem;
  outline: var(--tile-outline-hover);
  transition: var(--tile-transition);
}

.project:active .project-cover {
  outline: var(--tile-outline-active);
}

.project-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-badge {
  width: max-content;
  padding: 4px 6px;
  font: var(--badge-xl);
  letter-spacing: var(--badge-letterspacing);
  background-color: var(--fill-tertiary);
  color: var(--text-tertiary);
  border-radius: var(--border-radius-8);
  border: 1px solid var(--separator);
}

.project-title {
  font: var(--title3-xl-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
  text-overflow: ellipsis;
}

.project-description {
  font: var(--body2-xl);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text-secondary);
  text-overflow: ellipsis;
}

.project-cover {
  background: var(--tile-background);
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-16);
  outline-offset: 0.75rem;
  outline: var(--tile-outline);
  transition: var(--tile-transition);
}

/* Writing Section */

#writing-section {
  margin: auto;
  max-width: var(--global-max-width);
  padding: 64px 0px 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.writing-section-headline {
  font: var(--eyebrow-xl);
  letter-spacing: var(--eyebrow-letterspacing);
  color: var(--text-tertiary);
}

#writing-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 48px;
}

.writing-wrapper {
  width: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: visible;
  gap: 24px;
  text-decoration: none;
}

.article:hover {
  cursor: var(--cursor-pointer), auto;
}

.article:hover .article-cover {
  cursor: var(--cursor-pointer), auto;
  outline-offset: 0.125rem;
  outline: var(--tile-outline-hover);
  transition: var(--tile-transition);
}

.article:active .article-cover {
  outline: var(--tile-outline-active);
}

.article-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-title {
  font: var(--title4-xl-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
  text-overflow: ellipsis;
}

.article-description {
  font: var(--body3-xl);
  letter-spacing: var(--body3-letterspacing);
  color: var(--text-secondary);
  text-overflow: ellipsis;
}

.article-cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: fit-content;
  border-radius: var(--border-radius-16);
  outline-offset: 0.75rem;
  outline: var(--tile-outline);
  transition: var(--tile-transition);
}

/* @media (max-width: 1400px) {} */

@media (max-width: 1068px) {
  main {
    padding: 0 48px;
  }

  .hero-section-wrapper {
    padding-right: 48px;
    padding-left: 48px;
  }

  .hero-section {
    padding: 48px 0 96px;
  }

  .currently-copy {
    font: var(--badge-m);
  }

  .hero-headline {
    font: var(--display-m);
  }

  /* Project Section */

  #project-section {
    padding: 96px 0px 48px;
    gap: 40px;
  }

  .project-section-headline {
    font: var(--eyebrow-m);
  }

  #project-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 40px;
  }

  .project {
    gap: 16px;
  }

  .project-title {
    font: var(--title3-m-emphasized);
  }

  .project-badge {
    font: var(--badge-m);
  }

  .project-description {
    font: var(--body2-m);
  }

  /* Writing Section */

  #writing-section {
    padding: 48px 0px 96px;
    gap: 40px;
  }

  .writing-section-headline {
    font: var(--eyebrow-m);
  }

  #writing-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
  }

  .article {
    gap: 16px;
  }

  .article-title {
    font: var(--title4-m-emphasized);
  }

  .article-description {
    font: var(--body3-m);
  }
}

@media (max-width: 734px) {
  main {
    padding: 0 24px;
  }

  .hero-section-wrapper {
    padding-right: 24px;
    padding-left: 24px;
  }

  .hero-section {
    padding: 40px 0 80px;
  }

  .currently-copy {
    font: var(--badge-xxxs);
  }

  .hero-headline {
    font: var(--display-xxxs);
    max-width: 512px;
  }

  /* Project Section */

  #project-section {
    padding: 80px 0px 40px;
    gap: 32px;
  }

  .project-section-headline {
    font: var(--eyebrow-xxxs);
  }

  #project-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
  }

  .project {
    gap: 16px;
  }

  .project-title {
    font: var(--title3-xxxs-emphasized);
  }

  .project-badge {
    font: var(--badge-xxxs);
  }

  .project-description {
    font: var(--body2-xxxs);
  }

  /* Writing Section */

  #writing-section {
    padding: 40px 0px 80px;
    gap: 32px;
  }

  .writing-section-headline {
    font: var(--eyebrow-xxxs);
  }

  #writing-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
  }

  .article {
    gap: 16px;
  }

  .article-title {
    font: var(--title4-xxxs-emphasized);
  }

  .article-description {
    font: var(--body3-xxxs);
  }
}