/* Linked CSS Files */

@import url("./karma-semantics.css");
@import url("./karma-typography&radius.css");
@import url("./global.built.css");

/*  Animations */

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  animation: pageLoading 1000ms;
  animation-timing-function: var(--bounce-effect);
  position: relative;
  padding-top: var(--globalnav-height);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

main {
  position: relative;
  margin: auto;
  min-height: 100vh;
}

.dvider {
  height: 16px;
  width: 100%;
  background: var(--background);
}

.hero-section-background {
  --hero-section-background: var(--fill);
  background: var(--hero-section-background);
}

.hero-section {
  max-width: var(--global-max-width);
  margin: auto;
  padding: 96px 24px;
}

.hero-section-content {
  display: flex;
}

.me-wrapper {
  width: 50%;
  overflow: visible;
}

.hero-section-card-wrapper {
  width: 50%;
  height: 100%;
}

.hero-section-card {
  display: flex;
  flex-direction: column;
  padding: 10%;
  margin-top: 10%;
  margin-left: 10%;
  background: var(--fill);
  gap: 16px;
}

.hero-section-card-header {
  color: var(--text);
}

.hero-section-card-copy {
  color: var(--textSecondary);
}

.me {
  object-fit: cover;
  object-position: top;
  width: 140%;
  height: 100%;
  aspect-ratio: 4/3;
}

.journey-section-background {
  background: var(--fill);
}

.journey-section-content {
  max-width: var(--content-max-width);
  margin: auto;
  padding: 96px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.journey-section-header {
  color: var(--text);
}

.switch {
  background: var(--switchBackgroundOFF);
  width: 64px;
  height: 32px;
  border-radius: 100rem;
  transition: 0.25s linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 4px;
}

.knob {
  height: 24px;
  width: 32px;
  border-radius: 99px;
  background: var(--switchKnobBackgroundOFF);
  box-shadow: var(--switchKnobShadow);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.075s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .switch:active .knob {
  box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.24);
} */

.knob-lines {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.knob-line {
  width: 1px;
  height: 10px;
  background: rgba(0, 0, 0, 0.24);
  border-radius: 1px;
}

.journey {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
}

.journey-copy {
  color: var(--text);
}

.journey-section.active .switch {
  background: var(--switchBackgroundON);
}

.journey-section.active .knob {
  transform: translateX(24px);
  background: var(--switchKnobBackgroundON);
}

.journey-section.active .disabled-journey-copy {
  text-decoration: line-through;
  color: var(--textTertiary);
  opacity: 0.56;
}


/* Project Section */

.project-section-background {
  background: var(--fillTertiary);
}

#project-section {
  overflow: visible;
  margin: auto;
  padding: 96px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 100%;
  max-width: var(--global-max-width);
}

.project-section-header {
  text-align: center;
  color: var(--text);
}

#project-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.project {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: var(--tile-transition);
  max-width: var(--global-max-width);
  position: relative;
  transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  background: var(--fill);
  border-radius: 32px;
  text-decoration: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
}

#project-1 {
  background: #007AFF;
}

#project-2 {
  background: #41AFDC;
}

#project-3 {
  background: #242424;
}

#project-4 {
  background: #000000;
}

.project:hover {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
}

.project:active {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.02);
}

.project:focus {
  outline: none;
}

.project-information {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 48px;
}

.project-badge {
  color: var(--mui-color-gray-100);
  text-align: center;
  padding: 4px 8px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 6px;
}

.project-title {
  color: var(--mui-color-gray-100);
  text-align: center;
  width: 100%;
  max-width: 360px;
}

.project-cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  aspect-ratio: 4/4;
}

.recent-work {
  padding: 96px 0 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.recent-work-headline {
  margin: auto;
  max-width: calc(1025px - 48px);
  padding: 0 16px;
  width: 100%;
  font: var(--font-weight-semibold) var(--font-size-40) / var(--line-height-40) var(--font-sans);
  letter-spacing: var(--letter-spacing-40);
}

:root {
  --grid-gap: 16px;
  --elastic-position-x: 0;
}

.scroll-gallery {
  position: relative;
  --viewport-content: calc(1025px - 48px);
  --page-padding: 0px;
  --grid-columns: 8;
  --grid-gap: 16px;
  --_col-width: calc(calc(var(--viewport-content) - var(--page-padding) * 2 - calc(var(--grid-columns) - 1) * var(--grid-gap)) / var(--grid-columns) * 0 + -1 * var(--grid-gap));
}

.scroll-gallery .scroll-container {
  --offset-left: calc(50vw - (var(--viewport-content) / 2) + var(--_col-width) + var(--grid-gap) + var(--page-padding));
  --_gap: var(--gap, var(--grid-gap));
  --_offset-left: var(--offset-left, 10px);
  --_offset-right: var(--offset-right, var(--_offset-left));
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  display: flex;
  gap: var(--_gap);
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-padding-inline-start: var(--_offset-left);
  scroll-padding-inline-end: var(--_offset-right);
  padding-inline-start: var(--_offset-left);
  padding-inline-end: var(--_offset-right);
  transform: translate(var(--elastic-position-x));
  will-change: transform;
  align-items: flex-start;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery-item {
  position: relative;
  scroll-snap-align: start;
  --aspect-ratio: 3 / 2;
  --border-radius: 32px;
  --min-width: none;
  --width: calc(calc(var(--viewport-content) - var(--page-padding) * 2 - calc(var(--grid-columns) - 1) * var(--grid-gap)) / var(--grid-columns) * 6 + 5 * var(--grid-gap));
  --_width: var(--width, 100%);
  --_min-width: var(--min-width, none);
  --_max-width: var(--max-width, none);
  --_border-radius: var(--border-radius, 15px);
  --_aspect-ratio: var(--aspect-ratio, 4 / 5);
  position: relative;
  width: var(--_width);
  text-wrap: pretty;
  aspect-ratio: var(--aspect-ratio, 4 / 5);
  min-width: var(--_min-width);
  max-width: var(--_max-width);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-decoration: none;
}

.tile {
  --_width: var(--width, 100%);
  --_min-width: var(--min-width, none);
  --_max-width: var(--max-width, none);
  --_border-radius: var(--border-radius, 15px);
  --_aspect-ratio: var(--aspect-ratio, 4 / 5);
  position: relative;
  width: var(--_width);
  text-wrap: pretty;
  aspect-ratio: var(--aspect-ratio, 4 / 5);
  min-width: var(--_min-width);
  max-width: var(--_max-width);
}

.tile-rounded {
  border-radius: 16px;
  overflow: hidden;
}

.tile-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.gallery-item-information {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gallery-item-badge {
  padding: 4px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  font: var(--font-weight-regular) var(--font-size-10) / var(--line-height-10) var(--font-sans);
  letter-spacing: var(--letter-spacing-10);
  background: var(--fillTertiary);
  color: var(--textTertiary);
}

.gallery-item-headline {
  font: var(--font-weight-semibold) var(--font-size-30) / var(--line-height-30) var(--font-sans);
  letter-spacing: var(--letter-spacing-30);
  color: var(--text);
}

.get-in-touch-section {
  margin: auto;
  padding: 48px 0 96px;
}

.get-in-touch-content {
  width: calc(1025px - 48px);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 48px;
  background: var(--fillTertiary);
  border-radius: 32px;
}

.get-in-touch-media {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.get-in-touch-information {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.get-in-touch-headline {
  font: var(--font-weight-semibold) var(--font-size-40) / var(--line-height-40) var(--font-sans);
  letter-spacing: var(--letter-spacing-40);
  color: var(--text);
}

.get-in-touch-body {
  font: var(--font-weight-regular) var(--font-size-30) / var(--line-height-30) var(--font-sans);
  letter-spacing: var(--letter-spacing-30);
  color: var(--textSecondary);
}

.button {
  text-decoration: none;
  min-width: 44px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 16px;
  font: var(--font-weight-regular) var(--font-size-20) / var(--line-height-20) var(--font-sans);
  letter-spacing: var(--letter-spacing-20);
  color: white;
  background: #0071E3;
  border-radius: 999px;
}

.button:hover {
  cursor: pointer;
  background: #0077ED;
}

.button:active {
  background: #006EDB;
}

@media (max-width: 1068px) {

  .hero-section {
    margin: auto;
    padding: 96px 48px;
  }

  .me {
    aspect-ratio: 3.60/4;
    object-position: center;
  }

  .journey-section-content {
    padding: 96px 48px;
  }

  #project-section {
    padding: 96px 48px;
  }

  .recent-work-headline {
    margin: auto;
    max-width: calc(769px - 32px);
    padding: 0 16px;
    width: 100%;
    font: var(--font-weight-semibold) var(--font-size-40) / var(--line-height-40) var(--font-sans);
    letter-spacing: var(--letter-spacing-40);
  }

  .scroll-gallery {
    position: relative;
    --viewport-content: calc(769px - 32px);
    --page-padding: 0px;
    --grid-columns: 8;
    --grid-gap: 16px;
    --offset-left: calc(50vw - (var(--viewport-content) / 2) + var(--_col-width) + var(--grid-gap) + var(--page-padding));
    --_col-width: calc(calc(var(--viewport-content) - var(--page-padding) * 2 - calc(var(--grid-columns) - 1) * var(--grid-gap)) / var(--grid-columns) * 0 + -1 * var(--grid-gap));
  }

  .get-in-touch-content {
    width: calc(769px - 48px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

}

@media (max-width: 767px) {

  .hero-section {
    margin: auto;
    padding: 80px 24px;
  }

  .hero-section-content {
    display: flex;
    flex-direction: column;
  }

  .me-wrapper {
    width: 100%;
    overflow: hidden;
  }

  .hero-section-card-wrapper {
    width: 100%;
    height: 100%;
  }

  .hero-section-card {
    width: 90%;
    margin-top: -10%;
    margin-left: auto;
  }

  .me {
    width: 90%;
  }

  .journey-section-content {
    padding: 80px 24px;
  }

  /* Project Section */

  #project-section {
    padding: 80px 24px;
  }

  #project-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .project {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .scroll-gallery {
    position: relative;
    --viewport-content: 100vw;
    --page-padding: 0px;
    --grid-columns: 10;
    --grid-gap: 16px;
    --_col-width: 0;
  }

  .scroll-gallery .scroll-container {
    --offset-left: 16px;
    --_gap: var(--gap, var(--grid-gap));
    --_offset-left: var(--offset-left, 10px);
    --_offset-right: var(--offset-right, var(--_offset-left));
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    display: flex;
    gap: var(--_gap);
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-padding-inline-start: var(--_offset-left);
    scroll-padding-inline-end: var(--_offset-right);
    padding-inline-start: var(--_offset-left);
    padding-inline-end: var(--_offset-right);
    transform: translate(var(--elastic-position-x));
    will-change: transform;
    align-items: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll-gallery .gallery-item {
    position: relative;
    scroll-snap-align: start;
    --border-radius: 16px;
    --min-width: none;
    --aspect-ratio: 4 / 5;
    --width: calc(calc(var(--viewport-content) - var(--page-padding) * 2 - calc(var(--grid-columns) - 1) * var(--grid-gap)) / var(--grid-columns) * 8 + 7 * var(--grid-gap));
    --_width: var(--width, 100%);
    --_min-width: var(--min-width, none);
    --_max-width: var(--max-width, none);
    --_border-radius: var(--border-radius, 15px);
    --_aspect-ratio: var(--aspect-ratio, 4 / 5);
    position: relative;
    width: var(--_width);
    text-wrap: pretty;
    aspect-ratio: var(--aspect-ratio, 4 / 5);
    min-width: var(--_min-width);
    max-width: var(--_max-width);
  }

  .get-in-touch-content {
    width: calc(100vw - 32px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

}