/* Linked CSS Files */

@import url("./global.built.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--system-fill-primary);
  color: var(--system-glyph-primary);
  animation: pageLoading 1s var(--ease-in-out-sine);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

main {
  position: relative;
  margin: auto;
}

.highlight {
  color: var(--appearance-glyph) !important;
  background: rgba(101, 64, 229, 0.16);
  position: relative;
}

.hero-section {
  padding: 128px 0;
  background: var(--appearance-fill);
}

.hero-section-layout {
  width: 100%;
  max-width: var(--layout-width-maximum);
  padding: 0 var(--layout-margin);
  margin: auto;
}

.hero-section-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 64px 48px;
  align-items: center;
  justify-content: center;
}

.hero-information {
  grid-column: 3 / 11;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-medium);
}

.hero-section-actions {
  grid-column: 3 / 11;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-medium);
}

.media-me-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-small);
}

.hero-avatar {
  border-radius: var(--border-radius-circle);
  width: 192px;
  height: 128px;
  overflow: hidden;
}

.hero-avatar-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.hero-eyebrow {
  text-align: center;
  color: var(--appearance-glyph-dim);
}

.hero-heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-xlarge);
}

.hero-heading {
  text-align: center;
  color: var(--appearance-glyph);
}

.hero-subheading {
  text-align: center;
  color: var(--appearance-glyph-subtle);
}

.project-section {
  padding: 128px 0 64px;
  background: var(--appearance-fill);
}

.project-section-layout {
  margin: auto;
  width: 100%;
  max-width: var(--layout-width-maximum);
  padding: 0 var(--layout-margin);
}

.project-section-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 64px 48px;
  align-items: center;
  justify-content: center;
}

.project-section-heading {
  grid-column: 3 / 11;
  width: 100%;
  color: var(--appearance-glyph-dim);
  text-align: center;
}

.projects {
  grid-column: 3 / 11;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--space-xlarge);
}

.shipped-project-section {
  padding: 64px 0;
  background: var(--appearance-fill);
}

.shipped-project-section-layout {
  margin: auto;
  width: 100%;
  max-width: var(--layout-width-maximum);
  padding: 0 var(--layout-margin);
}

.shipped-project-section-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 64px 48px;
  align-items: center;
  justify-content: center;
}

.shipped-project-section-heading {
  grid-column: 3 / 11;
  width: 100%;
  color: var(--appearance-glyph-dim);
  text-align: center;
}

.shipped-projects {
  grid-column: 3 / 11;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--space-xlarge);
  width: 100%;
}

.reel-section {
  padding: 64px 0 128px;
  background: var(--appearance-fill);
}

.reel-section-layout {
  width: 100%;
  max-width: var(--layout-width-maximum);
  padding: 0 var(--layout-margin);
  margin: auto;
}

.reel-section-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 64px 48px;
  align-items: center;
  justify-content: center;
}

.reel-section-heading {
  grid-column: 3 / 11;
  width: 100%;
  text-align: center;
  color: var(--appearance-glyph-dim);
}

.reel {
  grid-column: 1 / 13;
  overflow: hidden;
  width: 100%;
  padding: var(--space-xlarge) 0;
  background: var(--appearance-fill-grouped);
  border-radius: var(--border-radius-large);
}

.reel-track {
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
  gap: var(--space-xxsmall);
}

.reel-slides {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-xxsmall);
}

.reel-slide {
  flex: 0 0 auto;
  width: fit-content;
  height: calc(512px - (128px + 16px));
  object-fit: contain;
  object-position: center;
  border-radius: var(--border-radius-small);
}


@media (max-width: 1024px) {

  .hero-section-content {
    grid-template-columns: repeat(8, 1fr);
    gap: 64px 32px;
  }

  .hero-information {
    grid-column: 2 / 8;
  }

  .hero-section-actions {
    grid-column: 2 / 8;
  }

  .project-section-content {
    grid-template-columns: repeat(8, 1fr);
    gap: 64px 32px;
  }

  .project-section-heading {
    grid-column: 2 / 8;
  }

  .projects {
    grid-column: 2 / 8;
  }

  .shipped-project-section-content {
    grid-template-columns: repeat(8, 1fr);
    gap: 64px 32px;
  }

  .shipped-project-section-heading {
    grid-column: 2 / 8;
  }

  .shipped-projects {
    grid-column: 2 / 8;
  }

  .reel-section-content {
    grid-template-columns: repeat(8, 1fr);
    gap: 64px 32px;
  }

  .reel-section-heading {
    grid-column: 2 / 8;
  }

  .reel {
    grid-column: 1 / 9;
  }

  .reel-slide {
    height: calc(512px - calc(128px + 32px));
  }

}

@media (max-width: 768px) {

  .hero-section-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 16px;
  }

  .hero-information {
    grid-column: 1 / 5;
  }

  .hero-section-actions {
    grid-column: 1 / 5;
  }

  .project-section-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 16px;
  }

  .project-section-heading {
    grid-column: 1 / 5;
  }

  .projects {
    grid-column: 1 / 5;
  }

  .shipped-project-section-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 16px;
  }

  .shipped-project-section-heading {
    grid-column: 1 / 5;
  }

  .shipped-projects {
    grid-column: 1 / 5;
  }

  .reel-section-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 16px;
  }

  .reel-section-heading {
    grid-column: 1 / 5;
  }

  .reel {
    grid-column: 1 / 5;
  }

  .reel-slide {
    height: calc(512px - calc(128px + 64px));
  }

}