:root {



    /* Fonts */


    --karma-fonts-heading: Inter Variable, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --karma-fonts-body: Inter Variable, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --karma-fonts-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;



    /* Fonts Weights */


    --karma-fontWeights-regular: 408;
    --karma-fontWeights-medium: 540;
    --karma-fontWeights-bold: 616;



    /* Letter Spacing */


    --karma-letterSpacings-tighter: -0.05em;
    --karma-letterSpacings-tight: -0.025em;
    --karma-letterSpacings-normal: 0;
    --karma-letterSpacings-wide: 0.025em;
    --karma-letterSpacings-wider: 0.05em;



    /* Line Heights */


    --karma-lineHeights-12x1: 1rem;
    --karma-lineHeights-14x1: 1.125rem;
    --karma-lineHeights-16x1: 1.25rem;
    --karma-lineHeights-18x1: 1.625rem;
    --karma-lineHeights-20x1: 1.75rem;
    --karma-lineHeights-24x1: 2rem;
    --karma-lineHeights-32x1: 2.5rem;
    --karma-lineHeights-40x1: 3rem;
    --karma-lineHeights-48x1: 3.5rem;
    --karma-lineHeights-56x1: 4rem;
    --karma-lineHeights-64x1: 4.5rem;
    --karma-lineHeights-72x1: 5rem;
    --karma-lineHeights-80x1: 5.5rem;
    --karma-lineHeights-96x1: 6.5rem;
    --karma-lineHeights-128x1: 8.5rem;



    /* Border Radius */


    --karma-radius-none: 0rem;
    --karma-radius-2x1: 0.625rem;
    --karma-radius-4x1: 0.25rem;
    --karma-radius-8x1: 0.5rem;
    --karma-radius-12x1: 0.75rem;
    --karma-radius-16x1: 1rem;
    --karma-radius-full: 999rem;



    /* Font Sizes */


    --karma-fontSize-12x1: 0.75rem;
    --karma-fontSize-14x1: 0.875rem;
    --karma-fontSize-16x1: 1rem;
    --karma-fontSize-18x1: 1.125rem;
    --karma-fontSize-20x1: 1.25rem;
    --karma-fontSize-24x1: 1.5rem;
    --karma-fontSize-32x1: 2rem;
    --karma-fontSize-40x1: 2.5rem;
    --karma-fontSize-48x1: 3rem;
    --karma-fontSize-56x1: 3.5rem;
    --karma-fontSize-64x1: 4rem;
    --karma-fontSize-72x1: 4.5rem;
    --karma-fontSize-80x1: 5rem;
    --karma-fontSize-96x1: 6rem;
    --karma-fontSize-128x1: 8rem;



    /* Shadows */


    --karma-shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
    --karma-shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --karma-shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --karma-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --karma-shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --karma-shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --karma-shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --karma-shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
    --karma-shadows-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    --karma-shadows-none: none;
    --karma-shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;




}