@import url(/css/font-face.css);



:root {



    /* Font Faces */

    --karma-font-sans: GTAArtDeco, system-ui, Helvetica, Arial, sans-serif;
    --karma-font-serif: Denton, Times New Roman, serif;
    --karma-font-mono: Overpass Mono, Nitti, Menlo, Courier, monospace;



    /* Fonts Weights */

    --karma-fontWeight-regular: 400;
    --karma-fontWeight-medium: 600;
    --karma-fontWeight-bold: 600;



    /* Letter Spacings */

    --karma-letterSpacing-condensed: -0.05em;
    --karma-letterSpacing-tighter: -0.025em;
    --karma-letterSpacing-tight: -0.0125em;
    --karma-letterSpacing-normal: 0;
    --karma-letterSpacing-wide: 0.0125em;
    --karma-letterSpacing-wider: 0.025em;
    --karma-letterSpacing-expanded: 0.05em;



    /* Line Heights */

    --karma-lineHeight-0: 14px;
    --karma-lineHeight-50: 16px;
    --karma-lineHeight-100: 18px;
    --karma-lineHeight-150: 20px;
    --karma-lineHeight-200: 24px;
    --karma-lineHeight-250: 26px;
    --karma-lineHeight-300: 28px;
    --karma-lineHeight-350: 30px;
    --karma-lineHeight-400: 34px;
    --karma-lineHeight-450: 38px;
    --karma-lineHeight-500: 40px;
    --karma-lineHeight-550: 44px;
    --karma-lineHeight-600: 50px;
    --karma-lineHeight-650: 56px;
    --karma-lineHeight-700: 58px;
    --karma-lineHeight-750: 64px;
    --karma-lineHeight-800: 72px;
    --karma-lineHeight-850: 80px;
    --karma-lineHeight-900: 86px;
    --karma-lineHeight-950: 96px;
    --karma-lineHeight-1000: 110px;

    --karma-lineHeight-none: 1.067;
    --karma-lineHeight-shorter: 1.125;
    --karma-lineHeight-short: 1.25;
    --karma-lineHeight-base: 1.333;
    --karma-lineHeight-tall: 1.5;
    --karma-lineHeight-taller: 1.618;



    /* Border Radius */

    --border-radius-full: 9999rem;
    --border-radius-64: 64px;
    --border-radius-48: 48px;
    --border-radius-32: 32px;
    --border-radius-24: 24px;
    --border-radius-16: 16px;
    --border-radius-12: 12px;
    --border-radius-8: 8px;
    --border-radius-6: 6px;
    --border-radius-4: 4px;
    --border-radius-2: 2px;
    --border-radius-none: 0px;



    /* Spacing */

    --spacing-160: 160px;
    --spacing-128: 128px;
    --spacing-112: 112px;
    --spacing-96: 96px;
    --spacing-80: 80px;
    --spacing-72: 72px;
    --spacing-64: 64px;
    --spacing-56: 56px;
    --spacing-48: 48px;
    --spacing-40: 40px;
    --spacing-32: 32px;
    --spacing-24: 24px;
    --spacing-20: 20px;
    --spacing-16: 16px;
    --spacing-12: 12px;
    --spacing-8: 8px;
    --spacing-4: 4px;
    --spacing-2: 2px;
    --spacing-0: 0px;



    /* Font Sizes */

    --karma-fontSize-0: 12px;
    --karma-fontSize-50: 12px;
    --karma-fontSize-100: 12px;
    --karma-fontSize-150: 14px;
    --karma-fontSize-200: 16px;
    --karma-fontSize-250: 18px;
    --karma-fontSize-300: 20px;
    --karma-fontSize-350: 22px;
    --karma-fontSize-400: 25px;
    --karma-fontSize-450: 28px;
    --karma-fontSize-500: 32px;
    --karma-fontSize-550: 36px;
    --karma-fontSize-600: 40px;
    --karma-fontSize-650: 45px;
    --karma-fontSize-700: 51px;
    --karma-fontSize-750: 57px;
    --karma-fontSize-800: 64px;
    --karma-fontSize-850: 72px;
    --karma-fontSize-900: 81px;
    --karma-fontSize-950: 91px;
    --karma-fontSize-1000: 103px;



    /* ---------------------------- */



    --font-ui: GTA Art Deco, system-ui, sans-serif;

    --fontSize-8: 8px;
    --fontSize-10: 10px;
    --fontSize-12: 12px;
    --fontSize-14: 14px;
    --fontSize-16: 16px;
    --fontSize-18: 18px;
    --fontSize-20: 20px;
    --fontSize-22: 22px;
    --fontSize-25: 25px;
    --fontSize-28: 28px;
    --fontSize-32: 32px;
    --fontSize-36: 36px;
    --fontSize-40: 40px;
    --fontSize-45: 45px;
    --fontSize-51: 51px;
    --fontSize-57: 57px;
    --fontSize-64: 64px;
    --fontSize-72: 72px;
    --fontSize-81: 81px;
    --fontSize-91: 91px;
    --fontSize-103: 103px;

    --fontWeight-regular: 400;
    --fontWeight-bold: 700;

    --letterSpacing-tighter: -0.05em;
    --letterSpacing-tight: -0.025em;
    --letterSpacing-normal: 0;
    --letterSpacing-wide: 0.025em;
    --letterSpacing-wider: 0.05em;

    --display-letterspacing: var(--letterSpacing-tighter);
    --display-xxl: var(--fontWeight-bold) var(--fontSize-91)/95% var(--font-ui);
    --display-xl: var(--fontWeight-bold) var(--fontSize-81)/95% var(--font-ui);
    --display-m: var(--fontWeight-bold) var(--fontSize-72)/110% var(--font-ui);
    --display-xxxs: var(--fontWeight-bold) var(--fontSize-56)/100% var(--font-ui);

    --title1-letterspacing: var(--letterSpacing-tight);
    --title1-xxl: var(--fontWeight-regular) var(--fontSize-81)/100% var(--font-ui);
    --title1-xl: var(--fontWeight-regular) var(--fontSize-72)/100% var(--font-ui);
    --title1-m: var(--fontWeight-regular) var(--fontSize-64)/110% var(--font-ui);
    --title1-xxxs: var(--fontWeight-regular) var(--fontSize-45)/110% var(--font-ui);

    --title2-letterspacing: var(--letterSpacing-tight);
    --title2-xxl: var(--fontWeight-regular) var(--fontSize-64)/110% var(--font-ui);
    --title2-xl: var(--fontWeight-regular) var(--fontSize-57)/110% var(--font-ui);
    --title2-m: var(--fontWeight-regular) var(--fontSize-45)/110% var(--font-ui);
    --title2-xxxs: var(--fontWeight-regular) var(--fontSize-36)/110% var(--font-ui);

    --title3-letterspacing: var(--letterSpacing-tight);
    --title3-xxl: var(--fontWeight-regular) var(--fontSize-64)/130% var(--font-ui);
    --title3-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-64)/130% var(--font-ui);
    --title3-xl: var(--fontWeight-regular) var(--fontSize-32)/130% var(--font-ui);
    --title3-xl-emphasized: var(--fontWeight-bold) var(--fontSize-32)/130% var(--font-ui);
    --title3-m: var(--fontWeight-regular) var(--fontSize-32)/130% var(--font-ui);
    --title3-m-emphasized: var(--fontWeight-bold) var(--fontSize-32)/130% var(--font-ui);
    --title3-xxxs: var(--fontWeight-regular) var(--fontSize-28)/130% var(--font-ui);
    --title3-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-28)/130% var(--font-ui);

    --title4-letterspacing: var(--letterSpacing-tight);
    --title4-xxl: var(--fontWeight-regular) var(--fontSize-25)/135% var(--font-ui);
    --title4-xl: var(--fontWeight-regular) var(--fontSize-25)/135% var(--font-ui);
    --title4-m: var(--fontWeight-regular) var(--fontSize-25)/135% var(--font-ui);
    --title4-xxxs: var(--fontWeight-regular) var(--fontSize-22)/135% var(--font-ui);

    --title5-letterspacing: var(--letterSpacing-tight);
    --title5-xxl: var(--fontWeight-regular) var(--fontSize-20)/140% var(--font-ui);
    --title5-xl: var(--fontWeight-regular) var(--fontSize-18)/140% var(--font-ui);
    --title5-m: var(--fontWeight-regular) var(--fontSize-18)/140% var(--font-ui);
    --title5-xxxs: var(--fontWeight-regular) var(--fontSize-16)/145% var(--font-ui);

    --body1-letterspacing: var(--letterSpacing-wide);
    --body1-xxl: var(--fontWeight-regular) var(--fontSize-25)/135% var(--font-ui);
    --body1-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-25)/135% var(--font-ui);
    --body1-xl: var(--fontWeight-regular) var(--fontSize-25)/135% var(--font-ui);
    --body1-xl-emphasized: var(--fontWeight-bold) var(--fontSize-25)/135% var(--font-ui);
    --body1-m: var(--fontWeight-regular) var(--fontSize-25)/135% var(--font-ui);
    --body1-m-emphasized: var(--fontWeight-bold) var(--fontSize-25)/135% var(--font-ui);
    --body1-xxxs: var(--fontWeight-regular) var(--fontSize-22)/135% var(--font-ui);
    --body1-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-22)/135% var(--font-ui);

    --body2-letterspacing: var(--letterSpacing-wide);
    --body2-xxl: var(--fontWeight-regular) var(--fontSize-20)/140% var(--font-ui);
    --body2-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-20)/140% var(--font-ui);
    --body2-xl: var(--fontWeight-regular) var(--fontSize-18)/140% var(--font-ui);
    --body2-xl-emphasized: var(--fontWeight-bold) var(--fontSize-18)/140% var(--font-ui);
    --body2-m: var(--fontWeight-regular) var(--fontSize-18)/140% var(--font-ui);
    --body2-m-emphasized: var(--fontWeight-bold) var(--fontSize-18)/140% var(--font-ui);
    --body2-xxxs: var(--fontWeight-regular) var(--fontSize-18)/140% var(--font-ui);
    --body2-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-18)/140% var(--font-ui);

    --body3-letterspacing: var(--letterSpacing-wide);
    --body3-xxl: var(--fontWeight-regular) var(--fontSize-18)/145% var(--font-ui);
    --body3-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-18)/145% var(--font-ui);
    --body3-xl: var(--fontWeight-regular) var(--fontSize-16)/145% var(--font-ui);
    --body3-xl-emphasized: var(--fontWeight-bold) var(--fontSize-16)/145% var(--font-ui);
    --body3-m: var(--fontWeight-regular) var(--fontSize-16)/145% var(--font-ui);
    --body3-m-emphasized: var(--fontWeight-bold) var(--fontSize-16)/145% var(--font-ui);
    --body3-xxxs: var(--fontWeight-regular) var(--fontSize-16)/145% var(--font-ui);
    --body3-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-16)/145% var(--font-ui);

    --body4-letterspacing: var(--letterSpacing-wide);
    --body4-xxl: var(--fontWeight-regular) var(--fontSize-14)/145% var(--font-ui);
    --body4-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-14)/145% var(--font-ui);
    --body4-xl: var(--fontWeight-regular) var(--fontSize-14)/145% var(--font-ui);
    --body4-xl-emphasized: var(--fontWeight-bold) var(--fontSize-14)/145% var(--font-ui);
    --body4-m: var(--fontWeight-regular) var(--fontSize-14)/145% var(--font-ui);
    --body4-m-emphasized: var(--fontWeight-bold) var(--fontSize-14)/145% var(--font-ui);
    --body4-xxxs: var(--fontWeight-regular) var(--fontSize-14)/145% var(--font-ui);
    --body4-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-14)/145% var(--font-ui);

    --eyebrow-letterspacing: var(--letterSpacing-wide);
    --eyebrow-xxl: var(--fontWeight-regular) var(--fontSize-18)/130% var(--font-ui);
    --eyebrow-xl: var(--fontWeight-regular) var(--fontSize-16)/130% var(--font-ui);
    --eyebrow-m: var(--fontWeight-regular) var(--fontSize-16)/130% var(--font-ui);
    --eyebrow-xxxs: var(--fontWeight-regular) var(--fontSize-16)/130% var(--font-ui);

    --badge-letterspacing: var(--letterSpacing-wide);
    --badge-xxl: var(--fontWeight-regular) var(--fontSize-16)/100% var(--font-ui);
    --badge-xl: var(--fontWeight-regular) var(--fontSize-14)/100% var(--font-ui);
    --badge-m: var(--fontWeight-regular) var(--fontSize-14)/100% var(--font-ui);
    --badge-xxxs: var(--fontWeight-regular) var(--fontSize-14)/100% var(--font-ui);

    --button-letterspacing: var(--letterSpacing-wide);
    --button-xxl: var(--fontWeight-regular) var(--fontSize-20)/140% var(--font-ui);
    --button-xl: var(--fontWeight-regular) var(--fontSize-18)/140% var(--font-ui);
    --button-m: var(--fontWeight-regular) var(--fontSize-18)/140% var(--font-ui);
    --button-xxxs: var(--fontWeight-regular) var(--fontSize-18)/140% var(--font-ui);

    --link-letterspacing: var(--letterSpacing-wide);
    --link-xxl: var(--fontWeight-regular) var(--fontSize-20)/130% var(--font-ui);
    --link-xl: var(--fontWeight-regular) var(--fontSize-18)/130% var(--font-ui);
    --link-m: var(--fontWeight-regular) var(--fontSize-18)/130% var(--font-ui);
    --link-xxxs: var(--fontWeight-regular) var(--fontSize-18)/130% var(--font-ui);




}