/* Graphik */

@font-face {
  font-family: "Graphik";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Graphik-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/Graphik-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Graphik-Regular.woff") format("woff");
  font-display: swap;
}

/* Denton */

@font-face {
  font-family: "Denton";
  font-weight: 800;
  font-style: normal;
  src: url("../assets/fonts/Denton-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Denton";
  font-weight: 500 700;
  font-style: normal;
  src: url("../assets/fonts/Denton-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Denton";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Denton-Regular.woff") format("woff");
  font-display: swap;
}

:root {
  /* Border Radius */

  --border-radius-full: 9999rem;
  --border-radius-64: 64px;
  --border-radius-48: 48px;
  --border-radius-32: 32px;
  --border-radius-24: 24px;
  --border-radius-20: 20px;
  --border-radius-16: 16px;
  --border-radius-12: 12px;
  --border-radius-10: 10px;
  --border-radius-8: 8px;
  --border-radius-6: 6px;
  --border-radius-4: 4px;
  --border-radius-2: 2px;
  --border-radius-none: 0px;

  /* Spacing */

  --spacing-160: 160px;
  --spacing-128: 128px;
  --spacing-112: 112px;
  --spacing-96: 96px;
  --spacing-80: 80px;
  --spacing-72: 72px;
  --spacing-64: 64px;
  --spacing-56: 56px;
  --spacing-48: 48px;
  --spacing-40: 40px;
  --spacing-32: 32px;
  --spacing-24: 24px;
  --spacing-20: 20px;
  --spacing-16: 16px;
  --spacing-12: 12px;
  --spacing-8: 8px;
  --spacing-4: 4px;
  --spacing-2: 2px;
  --spacing-0: 0px;

  /* ---------------------------- */

  --typography-fallback-sans: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  --typography-fallback-serif: Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", SimSun, "Nanum Myeongjo", NanumMyeongjo, Batang, serif;
  --typography-fallback-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --font-ui: Graphik, var(--typography-fallback-sans), sans-serif;
  --font-display: Denton, var(--typography-fallback-serif), serif;
  --font-title: Denton, var(--typography-fallback-serif), serif;
  --font-body: Graphik, var(--typography-fallback-sans), sans-serif;
  --font-content: Graphik, var(--typography-fallback-sans), sans-serif;
  --font-mono: Graphik, var(--typography-fallback-mono), monospace;

  --fontSize-10: 10px;
  --fontSize-12: 12px;
  --fontSize-14: 14px;
  --fontSize-16: 16px;
  --fontSize-18: 18px;
  --fontSize-20: 20px;
  --fontSize-22: 22px;
  --fontSize-25: 25px;
  --fontSize-28: 28px;
  --fontSize-32: 32px;
  --fontSize-36: 36px;
  --fontSize-40: 40px;
  --fontSize-45: 45px;
  --fontSize-51: 51px;
  --fontSize-57: 57px;
  --fontSize-64: 64px;
  --fontSize-72: 72px;
  --fontSize-81: 81px;
  --fontSize-91: 91px;
  --fontSize-103: 103px;



  --fontWeight-regular: 400;
  --fontWeight-medium: 500;
  --fontWeight-bold: 700;

  --letterSpacing-tighter: -0.05em;
  --letterSpacing-tight: -0.025em;
  --letterSpacing-normal: -0.0125em;
  --letterSpacing-wide: 0.0125em;
  --letterSpacing-wider: 0.025em;

  --letterSpacing-display: 0.0125em;
  --letterSpacing-title: 0.025em;
  --letterSpacing-body: 0.0125em;
  --letterSpacing-content: 0.0125em;
  --letterSpacing-badge: 0.25em;
  --letterSpacing-eyebrow: 0.25em;

  --display-letterspacing: var(--letterSpacing-display);
  --display-xxl: var(--fontWeight-bold) var(--fontSize-91) / 95% var(--font-display);
  --display-xl: var(--fontWeight-bold) var(--fontSize-81) / 95% var(--font-display);
  --display-m: var(--fontWeight-bold) var(--fontSize-72) / 100% var(--font-display);
  --display-xxxs: var(--fontWeight-bold) var(--fontSize-57) / 100% var(--font-display);

  --title1-letterspacing: var(--letterSpacing-title);
  --title1-xxl: var(--fontWeight-regular) var(--fontSize-81) / 100% var(--font-title);
  --title1-xl: var(--fontWeight-regular) var(--fontSize-72) / 100% var(--font-title);
  --title1-m: var(--fontWeight-regular) var(--fontSize-64) / 110% var(--font-title);
  --title1-xxxs: var(--fontWeight-regular) var(--fontSize-45) / 110% var(--font-title);

  --title2-letterspacing: var(--letterSpacing-title);
  --title2-xxl: var(--fontWeight-regular) var(--fontSize-64) / 110% var(--font-title);
  --title2-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-64) / 110% var(--font-title);
  --title2-xl: var(--fontWeight-regular) var(--fontSize-57) / 110% var(--font-title);
  --title2-xl-emphasized: var(--fontWeight-bold) var(--fontSize-57) / 110% var(--font-title);
  --title2-m: var(--fontWeight-regular) var(--fontSize-45) / 110% var(--font-title);
  --title2-m-emphasized: var(--fontWeight-bold) var(--fontSize-45) / 110% var(--font-title);
  --title2-xxxs: var(--fontWeight-regular) var(--fontSize-36) / 110% var(--font-title);
  --title2-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-36) / 110% var(--font-title);

  --title3-letterspacing: var(--letterSpacing-title);
  --title3-xxl: var(--fontWeight-regular) var(--fontSize-64) / 130% var(--font-title);
  --title3-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-64) / 130% var(--font-title);
  --title3-xl: var(--fontWeight-regular) var(--fontSize-32) / 130% var(--font-title);
  --title3-xl-emphasized: var(--fontWeight-bold) var(--fontSize-32) / 130% var(--font-title);
  --title3-m: var(--fontWeight-regular) var(--fontSize-32) / 130% var(--font-title);
  --title3-m-emphasized: var(--fontWeight-bold) var(--fontSize-32) / 130% var(--font-title);
  --title3-xxxs: var(--fontWeight-regular) var(--fontSize-28) / 130% var(--font-title);
  --title3-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-28) / 130% var(--font-title);

  --title4-letterspacing: var(--letterSpacing-title);
  --title4-xxl: var(--fontWeight-regular) var(--fontSize-25) / 135% var(--font-title);
  --title4-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-25) / 135% var(--font-title);
  --title4-xl: var(--fontWeight-regular) var(--fontSize-25) / 135% var(--font-title);
  --title4-xl-emphasized: var(--fontWeight-bold) var(--fontSize-25) / 135% var(--font-title);
  --title4-m: var(--fontWeight-regular) var(--fontSize-25) / 135% var(--font-title);
  --title4-m-emphasized: var(--fontWeight-bold) var(--fontSize-25) / 135% var(--font-title);
  --title4-xxxs: var(--fontWeight-regular) var(--fontSize-22) / 135% var(--font-title);
  --title4-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-22) / 135% var(--font-title);

  --title5-letterspacing: var(--letterSpacing-title);
  --title5-xxl: var(--fontWeight-regular) var(--fontSize-20) / 140% var(--font-title);
  --title5-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-20) / 140% var(--font-title);
  --title5-xl: var(--fontWeight-regular) var(--fontSize-18) / 140% var(--font-title);
  --title5-xl-emphasized: var(--fontWeight-bold) var(--fontSize-18) / 140% var(--font-title);
  --title5-m: var(--fontWeight-regular) var(--fontSize-18) / 140% var(--font-title);
  --title5-m-emphasized: var(--fontWeight-bold) var(--fontSize-18) / 140% var(--font-title);
  --title5-xxxs: var(--fontWeight-regular) var(--fontSize-16) / 145% var(--font-title);
  --title5-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-16) / 145% var(--font-title);

  --body1-letterspacing: var(--letterSpacing-body);
  --body1-xxl: var(--fontWeight-regular) var(--fontSize-25) / 135% var(--font-body);
  --body1-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-25) / 135% var(--font-body);
  --body1-xl: var(--fontWeight-regular) var(--fontSize-25) / 135% var(--font-body);
  --body1-xl-emphasized: var(--fontWeight-bold) var(--fontSize-25) / 135% var(--font-body);
  --body1-m: var(--fontWeight-regular) var(--fontSize-25) / 135% var(--font-body);
  --body1-m-emphasized: var(--fontWeight-bold) var(--fontSize-25) / 135% var(--font-body);
  --body1-xxxs: var(--fontWeight-regular) var(--fontSize-22) / 135% var(--font-body);
  --body1-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-22) / 135% var(--font-body);

  --body2-letterspacing: var(--letterSpacing-body);
  --body2-xxl: var(--fontWeight-regular) var(--fontSize-20) / 140% var(--font-body);
  --body2-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-20) / 140% var(--font-body);
  --body2-xl: var(--fontWeight-regular) var(--fontSize-18) / 140% var(--font-body);
  --body2-xl-emphasized: var(--fontWeight-bold) var(--fontSize-18) / 140% var(--font-body);
  --body2-m: var(--fontWeight-regular) var(--fontSize-18) / 140% var(--font-body);
  --body2-m-emphasized: var(--fontWeight-bold) var(--fontSize-18) / 140% var(--font-body);
  --body2-xxxs: var(--fontWeight-regular) var(--fontSize-18) / 140% var(--font-body);
  --body2-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-18) / 140% var(--font-body);

  --body3-letterspacing: var(--letterSpacing-body);
  --body3-xxl: var(--fontWeight-regular) var(--fontSize-18) / 145% var(--font-body);
  --body3-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-18) / 145% var(--font-body);
  --body3-xl: var(--fontWeight-regular) var(--fontSize-16) / 145% var(--font-body);
  --body3-xl-emphasized: var(--fontWeight-bold) var(--fontSize-16) / 145% var(--font-body);
  --body3-m: var(--fontWeight-regular) var(--fontSize-16) / 145% var(--font-body);
  --body3-m-emphasized: var(--fontWeight-bold) var(--fontSize-16) / 145% var(--font-body);
  --body3-xxxs: var(--fontWeight-regular) var(--fontSize-16) / 145% var(--font-body);
  --body3-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-16) / 145% var(--font-body);

  --body4-letterspacing: var(--letterSpacing-body);
  --body4-xxl: var(--fontWeight-regular) var(--fontSize-14) / 145% var(--font-body);
  --body4-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-14) / 145% var(--font-body);
  --body4-xl: var(--fontWeight-regular) var(--fontSize-14) / 145% var(--font-body);
  --body4-xl-emphasized: var(--fontWeight-bold) var(--fontSize-14) / 145% var(--font-body);
  --body4-m: var(--fontWeight-regular) var(--fontSize-14) / 145% var(--font-body);
  --body4-m-emphasized: var(--fontWeight-bold) var(--fontSize-14) / 145% var(--font-body);
  --body4-xxxs: var(--fontWeight-regular) var(--fontSize-14) / 145% var(--font-body);
  --body4-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-14) / 145% var(--font-body);

  --content-letterspacing: var(--letterSpacing-content);
  --content-xxl: var(--fontWeight-regular) var(--fontSize-18) / 140% var(--font-content);
  --content-xxl-emphasized: var(--fontWeight-bold) var(--fontSize-18) / 140% var(--font-content);
  --content-xl: var(--fontWeight-regular) var(--fontSize-18) / 140% var(--font-content);
  --content-xl-emphasized: var(--fontWeight-bold) var(--fontSize-18) / 140% var(--font-content);
  --content-m: var(--fontWeight-regular) var(--fontSize-18) / 140% var(--font-content);
  --content-m-emphasized: var(--fontWeight-bold) var(--fontSize-18) / 140% var(--font-content);
  --content-xxxs: var(--fontWeight-regular) var(--fontSize-18) / 140% var(--font-content);
  --content-xxxs-emphasized: var(--fontWeight-bold) var(--fontSize-18) / 140% var(--font-content);

  --eyebrow-letterspacing: var(--letterSpacing-eyebrow);
  --eyebrow-xxl: var(--fontWeight-bold) var(--fontSize-22) / 130% var(--font-mono);
  --eyebrow-xl: var(--fontWeight-bold) var(--fontSize-20) / 130% var(--font-mono);
  --eyebrow-m: var(--fontWeight-bold) var(--fontSize-18) / 130% var(--font-mono);
  --eyebrow-xxxs: var(--fontWeight-bold) var(--fontSize-16) / 130% var(--font-mono);

  --badge-letterspacing: var(--letterSpacing-badge);
  --badge-xxl: var(--fontWeight-bold) var(--fontSize-14) / 100% var(--font-mono);
  --badge-xl: var(--fontWeight-bold) var(--fontSize-12) / 100% var(--font-mono);
  --badge-m: var(--fontWeight-bold) var(--fontSize-12) / 100% var(--font-mono);
  --badge-xxxs: var(--fontWeight-bold) var(--fontSize-12) / 100% var(--font-mono);

  --button-letterspacing: var(--letterSpacing-wide);
  --button-xxl: var(--fontWeight-medium) var(--fontSize-20) / 140% var(--font-ui);
  --button-xl: var(--fontWeight-medium) var(--fontSize-18) / 140% var(--font-ui);
  --button-m: var(--fontWeight-medium) var(--fontSize-18) / 140% var(--font-ui);
  --button-xxxs: var(--fontWeight-medium) var(--fontSize-18) / 140% var(--font-ui);

  --largebutton-letterspacing: var(--letterSpacing-normal);
  --largebutton-xxl: var(--fontWeight-bold) var(--fontSize-20) / 140% var(--font-ui);
  --largebutton-xl: var(--fontWeight-bold) var(--fontSize-20) / 140% var(--font-ui);
  --largebutton-m: var(--fontWeight-bold) var(--fontSize-20) / 140% var(--font-ui);
  --largebutton-xxxs: var(--fontWeight-bold) var(--fontSize-20) / 140% var(--font-ui);

  --mediumbutton-letterspacing: var(--letterSpacing-normal);
  --mediumbutton-xxl: var(--fontWeight-medium) var(--fontSize-16) / 140% var(--font-ui);
  --mediumbutton-xl: var(--fontWeight-medium) var(--fontSize-16) / 140% var(--font-ui);
  --mediumbutton-m: var(--fontWeight-medium) var(--fontSize-16) / 140% var(--font-ui);
  --mediumbutton-xxxs: var(--fontWeight-medium) var(--fontSize-16) / 140% var(--font-ui);

  --smallbutton-letterspacing: var(--letterSpacing-wider);
  --smallbutton-xxl: var(--fontWeight-regular) var(--fontSize-14) / 140% var(--font-ui);
  --smallbutton-xl: var(--fontWeight-regular) var(--fontSize-14) / 140% var(--font-ui);
  --smallbutton-m: var(--fontWeight-regular) var(--fontSize-14) / 140% var(--font-ui);
  --smallbutton-xxxs: var(--fontWeight-regular) var(--fontSize-14) / 140% var(--font-ui);

  --link-letterspacing: var(--letterSpacing-wide);
  --link-xxl: var(--fontWeight-medium) var(--fontSize-20) / 140% var(--font-ui);
  --link-xl: var(--fontWeight-medium) var(--fontSize-18) / 140% var(--font-ui);
  --link-m: var(--fontWeight-medium) var(--fontSize-18) / 140% var(--font-ui);
  --link-xxxs: var(--fontWeight-medium) var(--fontSize-18) / 140% var(--font-ui);

  --globalnav-link-letterspacing: var(--letterSpacing-wider);
  --globalnav-link-xxl: var(--fontWeight-regular) var(--fontSize-14) / 140% var(--font-ui);
  --globalnav-link-xl: var(--fontWeight-regular) var(--fontSize-14) / 140% var(--font-ui);
  --globalnav-link-m: var(--fontWeight-regular) var(--fontSize-14) / 140% var(--font-ui);
  --globalnav-link-xxxs: var(--fontWeight-semibold) var(--fontSize-28) / 140% var(--font-ui);

  --logo-letterspacing: var(--letterSpacing-wide);
  --logo-xxl: var(--fontWeight-semibold) var(--fontSize-20) / 120% var(--font-title);
  --logo-xl: var(--fontWeight-semibold) var(--fontSize-20) / 120% var(--font-title);
  --logo-m: var(--fontWeight-semibold) var(--fontSize-20) / 120% var(--font-title);
  --logo-xxxs: var(--fontWeight-semibold) var(--fontSize-20) / 120% var(--font-title);

  --mui-typography-font-family-sans: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

  --mui-typography-font-size-0: 13px;
  --mui-typography-font-size-10: 15px;
  --mui-typography-font-size-20: 17px;
  --mui-typography-font-size-30: 21px;
  --mui-typography-font-size-40: 24px;
  --mui-typography-font-size-50: 32px;
  --mui-typography-font-size-60: 40px;
  --mui-typography-font-size-70: 48px;
  --mui-typography-font-size-80: 64px;
  --mui-typography-font-size-90: 80px;
  --mui-typography-font-size-100: 96px;

  --mui-typography-line-height-0: 21px;
  --mui-typography-line-height-10: 23px;
  --mui-typography-line-height-20: 25px;
  --mui-typography-line-height-30: 29px;
  --mui-typography-line-height-40: 32px;
  --mui-typography-line-height-50: 36px;
  --mui-typography-line-height-60: 44px;
  --mui-typography-line-height-70: 52px;
  --mui-typography-line-height-80: 68px;
  --mui-typography-line-height-90: 84px;
  --mui-typography-line-height-100: 100px;

  --mui-typography-letter-spacing-0: 0.16px;
  --mui-typography-letter-spacing-10: 0.12px;
  --mui-typography-letter-spacing-20: 0.08px;
  --mui-typography-letter-spacing-30: 0.04px;
  --mui-typography-letter-spacing-40: -0.02px;
  --mui-typography-letter-spacing-50: -0.04px;
  --mui-typography-letter-spacing-60: -0.08px;
  --mui-typography-letter-spacing-70: -0.12px;
  --mui-typography-letter-spacing-80: -0.16px;
  --mui-typography-letter-spacing-90: -0.24px;
  --mui-typography-letter-spacing-100: -0.32px;

  --mui-typography-font-weight-light: 300;
  --mui-typography-font-weight-regular: 400;
  --mui-typography-font-weight-medium: 500;
  --mui-typography-font-weight-semibold: 600;
  --mui-typography-font-weight-bold: 700;
  --mui-typography-font-weight-black: 900;

  --mui-typography-font-feature: "blwf" on, "cv09" on, "cv03" on, "cv04" on, "cv11" on;

}


/* Semantics */

.typography-headline-standalone {
  font-family: var(--mui-typography-font-family-sans);
  font-size: var(--mui-typography-font-size-90);
  line-height: var(--mui-typography-line-height-90);
  letter-spacing: var(--mui-typography-letter-spacing-90);
  font-weight: var(--mui-typography-font-weight-bold);
  font-feature-settings: var(--mui-typography-font-feature);
}

.typography-headline-super {
  font-family: var(--mui-typography-font-family-sans);
  font-size: var(--mui-typography-font-size-80);
  line-height: var(--mui-typography-line-height-80);
  letter-spacing: var(--mui-typography-letter-spacing-80);
  font-weight: var(--mui-typography-font-weight-bold);
  font-feature-settings: var(--mui-typography-font-feature);
}

.typography-headline-base {
  font-family: var(--mui-typography-font-family-sans);
  font-size: var(--mui-typography-font-size-70);
  line-height: var(--mui-typography-line-height-70);
  letter-spacing: var(--mui-typography-letter-spacing-70);
  font-weight: var(--mui-typography-font-weight-semibold);
  font-feature-settings: var(--mui-typography-font-feature);
}

.typography-headline-reduced {
  font-family: var(--mui-typography-font-family-sans);
  font-size: var(--mui-typography-font-size-60);
  line-height: var(--mui-typography-line-height-60);
  letter-spacing: var(--mui-typography-letter-spacing-60);
  font-weight: var(--mui-typography-font-weight-semibold);
  font-feature-settings: var(--mui-typography-font-feature);
}

.typography-headline-tiny {
  font-family: var(--mui-typography-font-family-sans);
  font-size: var(--mui-typography-font-size-50);
  line-height: var(--mui-typography-line-height-50);
  letter-spacing: var(--mui-typography-letter-spacing-50);
  font-weight: var(--mui-typography-font-weight-semibold);
  font-feature-settings: var(--mui-typography-font-feature);
}

.typography-body-standalone {
  font-family: var(--mui-typography-font-family-sans);
  font-size: var(--mui-typography-font-size-40);
  line-height: var(--mui-typography-line-height-40);
  letter-spacing: var(--mui-typography-letter-spacing-40);
  font-weight: var(--mui-typography-font-weight-regular);
  font-feature-settings: var(--mui-typography-font-feature);
}

.typography-body-super {
  font-family: var(--mui-typography-font-family-sans);
  font-size: var(--mui-typography-font-size-30);
  line-height: var(--mui-typography-line-height-30);
  letter-spacing: var(--mui-typography-letter-spacing-30);
  font-weight: var(--mui-typography-font-weight-regular);
  font-feature-settings: var(--mui-typography-font-feature);
}

.typography-body-base {
  font-family: var(--mui-typography-font-family-sans);
  font-size: var(--mui-typography-font-size-20);
  line-height: var(--mui-typography-line-height-20);
  letter-spacing: var(--mui-typography-letter-spacing-20);
  font-weight: var(--mui-typography-font-weight-regular);
  font-feature-settings: var(--mui-typography-font-feature);
}

.typography-body-reduced {
  font-family: var(--mui-typography-font-family-sans);
  font-size: var(--mui-typography-font-size-10);
  line-height: var(--mui-typography-line-height-10);
  letter-spacing: var(--mui-typography-letter-spacing-10);
  font-weight: var(--mui-typography-font-weight-regular);
  font-feature-settings: var(--mui-typography-font-feature);
}

.typography-body-tiny {
  font-family: var(--mui-typography-font-family-sans);
  font-size: var(--mui-typography-font-size-0);
  line-height: var(--mui-typography-line-height-0);
  letter-spacing: var(--mui-typography-letter-spacing-0);
  font-weight: var(--mui-typography-font-weight-regular);
  font-feature-settings: var(--mui-typography-font-feature);
}


@media (max-width: 1068px) {

  .typography-headline-standalone {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-80);
    line-height: var(--mui-typography-line-height-80);
    letter-spacing: var(--mui-typography-letter-spacing-80);
    font-weight: var(--mui-typography-font-weight-bold);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-headline-super {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-70);
    line-height: var(--mui-typography-line-height-70);
    letter-spacing: var(--mui-typography-letter-spacing-70);
    font-weight: var(--mui-typography-font-weight-bold);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-headline-base {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-60);
    line-height: var(--mui-typography-line-height-60);
    letter-spacing: var(--mui-typography-letter-spacing-60);
    font-weight: var(--mui-typography-font-weight-semibold);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-headline-reduced {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-50);
    line-height: var(--mui-typography-line-height-50);
    letter-spacing: var(--mui-typography-letter-spacing-50);
    font-weight: var(--mui-typography-font-weight-semibold);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-headline-tiny {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-40);
    line-height: var(--mui-typography-line-height-40);
    letter-spacing: var(--mui-typography-letter-spacing-40);
    font-weight: var(--mui-typography-font-weight-semibold);
    font-feature-settings: var(--mui-typography-font-feature);
  }

  .typography-body-standalone {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-40);
    line-height: var(--mui-typography-line-height-40);
    letter-spacing: var(--mui-typography-letter-spacing-40);
    font-weight: var(--mui-typography-font-weight-regular);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-body-super {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-30);
    line-height: var(--mui-typography-line-height-30);
    letter-spacing: var(--mui-typography-letter-spacing-30);
    font-weight: var(--mui-typography-font-weight-regular);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-body-base {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-20);
    line-height: var(--mui-typography-line-height-20);
    letter-spacing: var(--mui-typography-letter-spacing-20);
    font-weight: var(--mui-typography-font-weight-regular);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-body-reduced {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-10);
    line-height: var(--mui-typography-line-height-10);
    letter-spacing: var(--mui-typography-letter-spacing-10);
    font-weight: var(--mui-typography-font-weight-regular);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-body-tiny {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-0);
    line-height: var(--mui-typography-line-height-0);
    letter-spacing: var(--mui-typography-letter-spacing-0);
    font-weight: var(--mui-typography-font-weight-regular);
    font-feature-settings: var(--mui-typography-font-feature);
  }

}

@media (max-width: 767px) {

  .typography-headline-standalone {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-70);
    line-height: var(--mui-typography-line-height-70);
    letter-spacing: var(--mui-typography-letter-spacing-70);
    font-weight: var(--mui-typography-font-weight-bold);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-headline-super {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-60);
    line-height: var(--mui-typography-line-height-60);
    letter-spacing: var(--mui-typography-letter-spacing-60);
    font-weight: var(--mui-typography-font-weight-bold);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-headline-base {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-50);
    line-height: var(--mui-typography-line-height-50);
    letter-spacing: var(--mui-typography-letter-spacing-50);
    font-weight: var(--mui-typography-font-weight-semibold);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-headline-reduced {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-40);
    line-height: var(--mui-typography-line-height-40);
    letter-spacing: var(--mui-typography-letter-spacing-40);
    font-weight: var(--mui-typography-font-weight-semibold);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-headline-tiny {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-30);
    line-height: var(--mui-typography-line-height-30);
    letter-spacing: var(--mui-typography-letter-spacing-30);
    font-weight: var(--mui-typography-font-weight-semibold);
    font-feature-settings: var(--mui-typography-font-feature);
  }

  .typography-body-standalone {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-40);
    line-height: var(--mui-typography-line-height-40);
    letter-spacing: var(--mui-typography-letter-spacing-40);
    font-weight: var(--mui-typography-font-weight-regular);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-body-super {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-30);
    line-height: var(--mui-typography-line-height-30);
    letter-spacing: var(--mui-typography-letter-spacing-30);
    font-weight: var(--mui-typography-font-weight-regular);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-body-base {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-20);
    line-height: var(--mui-typography-line-height-20);
    letter-spacing: var(--mui-typography-letter-spacing-20);
    font-weight: var(--mui-typography-font-weight-regular);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-body-reduced {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-10);
    line-height: var(--mui-typography-line-height-10);
    letter-spacing: var(--mui-typography-letter-spacing-10);
    font-weight: var(--mui-typography-font-weight-regular);
    font-feature-settings: var(--mui-typography-font-feature);
  }
  
  .typography-body-tiny {
    font-family: var(--mui-typography-font-family-sans);
    font-size: var(--mui-typography-font-size-0);
    line-height: var(--mui-typography-line-height-0);
    letter-spacing: var(--mui-typography-letter-spacing-0);
    font-weight: var(--mui-typography-font-weight-regular);
    font-feature-settings: var(--mui-typography-font-feature);
  }

}