/* Linked CSS Files */

@import url('./variables.css');








* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonts-body);
  letter-spacing: var(--letterSpacings-normal);
  font-weight: var(--fontWeights-normal);
  line-height: var(--lineHeights-short);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--surface-layer-01);
  cursor: var(--cursor-default), auto;
}

main {
  min-height: 100vh;
}

.indicator {
  position: fixed;
  width: 0;
  height: 4px;
  z-index: 100;
  background-color: var(--primary);
}

#cover-mt {
  margin-top: 32px;
  border-radius: var(--border-radius-none);
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#side-navbar {
  position: fixed;
  top: 120px;
  left: 0;
  background-color: var(--surface-layer-01);
  border-radius: 0px var(--border-radius-800) var(--border-radius-800) 0px;
  padding: 8px;
  z-index: 100;
  border: 1px solid var(--border-subtle-01);
}

.inner-nav {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.25rem;
}

.nav-children {
  transition: 100ms ease-out;
  padding: 6px 8px;
  font-size: var(--fontSizes-16);
  font-weight: var(--fontWeights-medium);
  font-family: var(--fonts-body);
  color: var(--paragraph-primary);
  text-decoration: none;
  min-width: 128px;
  border-radius: var(--border-radius-400);
}

.nav-children:hover {
  color: var(--link-primary-hover);
  background-color: var(--button-secondary-hover);
  cursor: var(--cursor-pointer), auto;
}

.nav-children:focus {
  outline: 0.2rem solid var(--link-primary-hover);
}

#main-container {
  max-width: 1024px;
  margin: auto;
  width: 100%;
}

#upper-com {
  margin: 32px 0px;
}

#head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  margin-bottom: 16px;
  color: var(--heading-primary);
}

.cs {
  font-size: var(--fontSizes-18);
  font-family: var(--fonts-mono);
  font-weight: var(--fontWeights-medium);
  letter-spacing: var(--letterSpacings-wide);
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

.po {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#project-info {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  align-items: start;
  margin-bottom: 24px;
  gap: 80px;
}

.r-r h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.r-r p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.p-c h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.p-c p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.tools h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.tools p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.why-i {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  /* margin-bottom: 24px; */
}

.line {
  border: 1px solid var(--border-subtle-01);
}

/* Main Case Study Section */

/* #middle-com{
    padding: 32px 8px;
} */
#problem-s {
  padding: 32px 0px;
}

#problem-s h6 {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#problem-s h6:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#problem-s p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.design-goal {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#solution {
  padding: 32px 0px;
}

#sol-h {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#sol-h:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

.sol-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v1 {
  width: 40%;
}

#sol-info1 {
  width: 50%;
}

#sol-v1 {
  width: 316px;
  height: auto;
}

#sol-info1 h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 16px;
}

#sol-info1 p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 8px;
}

.sol-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v2 {
  width: 40%;
}

#sol-info2 {
  width: 50%;
}

#sol-v2 {
  width: 316px;
  height: auto;
}

#sol-info2 h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 16px;
}

#sol-info2 p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 8px;
}

.sol-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v3 {
  width: 40%;
}

#sol-info3 {
  width: 50%;
}

#sol-v3 {
  width: 316px;
  height: auto;
}

#sol-info3 h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 16px;
}

#sol-info3 p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 8px;
}

.sol-4 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v4 {
  width: 40%;
}

#sol-info4 {
  width: 50%;
}

#sol-v4 {
  width: 316px;
  height: auto;
}

#sol-info4 h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 16px;
}

#sol-info4 p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 8px;
}

#my-ap {
  padding: 32px 0px;
  display: grid;
}

#ap-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#ap-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

.ap-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#research-sec {
  padding: 32px 0px;
  display: grid;
}

#re-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#re-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

.re-subh {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

.end-users {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

.btn-one {
  display: flex;
  align-items: start;
  justify-content: start;
}

.full-research {
  color: var(--secondary-button-text-dark);
  font-size: var(--fontSizes-18);
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-semibold);
  line-height: var(--lineHeights-6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 300ms ease-out;
  gap: 8px;
  background-color: var(--button-secondary);
  padding: 12px 16px;
  border-radius: var(--border-radius-400);
}

.full-research:hover {
  background-color: var(--button-secondary-hover);
  cursor: var(--cursor-pointer), auto;
  transform: translateY(-2px);
}

.full-research:focus {
  transform: translateY(0px);
  outline: 0.2rem solid var(--link-primary-hover);
  outline-offset: 2px;
}

.questions {
  padding: 32px 0px;
  display: grid;
}

#q-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#q-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

.questions p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#insights {
  padding: 32px 0px;
  display: grid;
}

#in-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#in-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#insights p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

.in-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#other-meth {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#design-sec {
  padding: 32px 0px;
  display: grid;
}

#de-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#de-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#design-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#wireframes {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#low-fi {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#proto-sec {
  padding: 32px 0px;
  display: grid;
}

#pr-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#pr-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#proto-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

.btn-two {
  display: flex;
  align-items: start;
  justify-content: start;
}

#pr-link {
  color: var(--secondary-button-text-dark);
  font-size: var(--fontSizes-18);
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-semibold);
  line-height: var(--lineHeights-6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 300ms ease-out;
  gap: 8px;
  margin-bottom: 16px;
  padding: 12px 16px;
  background-color: var(--button-secondary);
  border-radius: var(--border-radius-400);
}

#pr-link:hover {
  background-color: var(--button-secondary-hover);
  cursor: var(--cursor-pointer), auto;
  transform: translateY(-2px);
}

#pr-link:focus {
  transform: translateY(0px);
  outline: 0.2rem solid var(--link-primary-hover);
  outline-offset: 2px;
}

.proto-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#eva-sec {
  padding: 32px 0px;
  display: grid;
}

#ev-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#ev-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

.ut-info {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

.observe {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
  margin-bottom: 16px;
}

.usa-test {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

.ut-res {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#my-learn {
  padding: 32px 0px;
}

#lr-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#lr-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#my-learn p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#next-st {
  padding: 32px 0px;
}

#ns-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#ns-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#next-st p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#finish {
  padding: 56px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#fn-head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  text-align: center;
}

#back-to-all {
  margin: auto;
  width: max-content;
  font-weight: var(--fontWeights-semibold);
  line-height: var(--lineHeights-6);
  color: var(--secondary-button-text-dark);
  font-size: var(--fontSizes-18);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  background-color: var(--button-secondary);
  border-radius: var(--border-radius-400);
  text-decoration: none;
  transition: 300ms ease-out;
  gap: 8px;
}

#back-to-all:hover {
  background-color: var(--button-secondary-hover);
  cursor: var(--cursor-pointer), auto;
  transform: translateY(-2px);
}

#back-to-all:focus {
  transform: translateY(0px);
  outline: 0.2rem solid var(--link-primary-hover);
  outline-offset: 2px;
}



/* Small desktop */

@media (max-width: 1400px) {

  #main-container {
    max-width: 972px;
    margin: auto;
    width: 100%;
  }

  #side-navbar {
    display: none;
  }

}



/* Tablet */

@media (max-width: 1024px) {
  #main-container {
    margin: auto;
    padding: 0px 40px;
    width: 100%;
  }

  #side-navbar {
    display: none;
  }

  #back-to-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
  }

  #project-info {
    gap: 24px;
  }

  #finish {
    padding: 48px 0px;
  }

}



/* Mobile */

@media (max-width: 688px) {

  #main-container {
    margin: auto;
    padding: 0px 24px;
    width: 100%;
  }

  #upper-com {
    margin: 16px 0px;
  }

  #cover-mt {
    margin-top: 16px;
  }

  #head {
    font-size: var(--fontSizes-32);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 12px;
  }

  .cs {
    font-size: var(--fontSizes-16);
    margin-bottom: 12px;
  }

  .po {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 16px;
    gap: 8px;
  }

  .r-r {
    margin-bottom: 16px;
  }

  .p-c {
    margin-bottom: 16px;
  }

  .tools {
    margin-bottom: 16px;
  }

  .r-r h6 {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  .r-r p {
    font-size: var(--fontSizes-16);
  }

  .p-c h6 {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  .p-c p {
    font-size: var(--fontSizes-16);
  }

  .tools h6 {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  .tools p {
    font-size: var(--fontSizes-16);
  }

  .why-i {
    font-size: var(--fontSizes-18);
    /* margin-bottom: 24px; */
  }

  #problem-s {
    padding: 16px 0px;
  }

  #problem-s h6 {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  #problem-s h6:hover::after {
    content: "";
  }

  #problem-s p {
    font-size: var(--fontSizes-18);
  }

  .design-goal {
    display: none;
    /* height: 48px;
        background-image: url(./assets/moneytracker/design-goal.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px; */
  }

  #solution {
    padding: 16px 0px;
  }

  #sol-h {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  #sol-h:hover::after {
    content: "";
  }

  .sol-1 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v1 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info1 {
    min-width: 100%;
  }

  #sol-info1 h6 {
    display: block;
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #sol-info1 p {
    display: block;
    font-size: var(--fontSizes-18);
    margin-bottom: 8px;
  }

  .sol-2 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v2 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info2 {
    min-width: 100%;
  }

  #sol-info2 h6 {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #sol-info2 p {
    font-size: var(--fontSizes-18);
    margin-bottom: 8px;
  }

  .sol-3 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v3 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info3 {
    min-width: 100%;
  }

  #sol-info3 h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #sol-info3 p {
    font-size: var(--fontSizes-18);
    margin-bottom: 8px;
  }

  .sol-4 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v4 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info4 {
    min-width: 100%;
  }

  #sol-info4 h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-info4 p {
    font-size: var(--fontSizes-18);
    margin-bottom: 8px;
    min-width: auto;
  }

  #my-ap {
    padding: 16px 0px;
  }

  #ap-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #ap-head:hover::after {
    content: "";
  }

  #research-sec {
    padding: 16px 0px;
  }

  #re-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #re-head:hover::after {
    content: "";
  }

  .re-subh {
    font-size: var(--fontSizes-18);
    margin-bottom: 12px;
  }

  .end-users {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  /* .full-research {
    width: 100%;
  } */

  .questions {
    padding: 16px 0px;
  }

  #q-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #q-head:hover::after {
    content: "";
  }

  .questions p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #insights {
    padding: 16px 0px;
  }

  #in-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #in-head:hover::after {
    content: "";
  }

  #insights p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #design-sec {
    padding: 16px 0px;
  }

  #de-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #de-head:hover::after {
    content: "";
  }

  #design-sec p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #proto-sec {
    padding: 16px 0px;
  }

  #pr-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #pr-head:hover::after {
    content: "";
  }

  #proto-sec p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #pr-link {
    margin-bottom: 16px;
  }

  #eva-sec {
    padding: 16px 0px;
  }

  #ev-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #ev-head:hover::after {
    content: "";
  }

  .ut-info {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  .usa-test {
    max-width: 100%;
  }

  .observe {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #my-learn {
    padding: 16px 0px;
  }

  #lr-head {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #lr-head:hover::after {
    content: "";
  }

  #my-learn p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #next-st {
    padding: 16px 0px;
  }

  #ns-head {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #ns-head:hover::after {
    content: "";
  }

  #next-st p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #finish {
    padding: 40px 0px;
  }
}