/* Linked CSS Files */

@import url('./variables.css');
@import url('./karma-semantics.css');
@import url('./karma-typography&radius.css');








/*  Animations */

@keyframes pageLoading {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--karma-font-body);
  letter-spacing: var(--karma-letterSpacing-normal);
  font-weight: var(--karma-fontWeight-regular);
  line-height: var(--karma-lineHeight-short);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--karma-color-system-background-dark);
  cursor: var(--cursor-default), auto;
  animation: pageLoading 950ms;
}

main {
  min-height: 100vh;
}

#cover-mt {
  margin-bottom: 16px;
  border-radius: var(--border-radius-none);
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#main-container {
  max-width: 1024px;
  margin: auto;
  width: 100%;
}

#upper-com {
  padding: 32px 0px;
}

#head {
  font-size: var(--karma-fontSize-40x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  line-height: var(--karma-lineHeight-40x1);
  margin-bottom: 16px;
  color: var(--karma-color-label-primary-dark);
}

.po {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

#project-info {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  align-items: start;
  margin-bottom: 24px;
  gap: 40px;
}

.r-r h6 {
  font-size: var(--karma-fontSize-24x1);
  line-height: var(--karma-lineHeight-24x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 8px;
}

.r-r p {
  font-size: var(--karma-fontSize-16x1);
  line-height: var(--karma-lineHeight-16x1);
  color: var(--karma-color-label-primary-dark);
}

.p-c h6 {
  font-size: var(--karma-fontSize-24x1);
  line-height: var(--karma-lineHeight-24x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 8px;
}

.p-c p {
  font-size: var(--karma-fontSize-16x1);
  line-height: var(--karma-lineHeight-16x1);
  color: var(--karma-color-label-primary-dark);
}

.tools h6 {
  font-size: var(--karma-fontSize-24x1);
  line-height: var(--karma-lineHeight-24x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 8px;
}

.tools p {
  font-size: var(--karma-fontSize-16x1);
  line-height: var(--karma-lineHeight-16x1);
  color: var(--karma-color-label-primary-dark);
}

.why-i {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  /* margin-bottom: 24px; */
}

.line {
  border: 1px solid var(--karma-color-border-muted-dark);
}

/* Main Case Study Section */

/* #middle-com{
    padding: 32px 8px;
} */
#problem-s {
  padding: 32px 0px;
}

#problem-s h6 {
  font-size: var(--karma-fontSize-32x1);
  line-height: var(--karma-lineHeight-32x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 32px;
}

#problem-s p {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
}

.design-goal {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#solution {
  padding: 32px 0px;
}

#sol-h {
  font-size: var(--karma-fontSize-32x1);
  line-height: var(--karma-lineHeight-32x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 32px;
}

.sol-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v1 {
  width: 40%;
}

#sol-info1 {
  width: 50%;
}

#sol-v1 {
  width: 316px;
  height: auto;
}

#sol-info1 h6 {
  font-size: var(--karma-fontSize-24x1);
  line-height: var(--karma-lineHeight-24x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

#sol-info1 p {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 8px;
}

.sol-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v2 {
  width: 40%;
}

#sol-info2 {
  width: 50%;
}

#sol-v2 {
  width: 316px;
  height: auto;
}

#sol-info2 h6 {
  font-size: var(--karma-fontSize-24x1);
  line-height: var(--karma-lineHeight-24x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

#sol-info2 p {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 8px;
}

.sol-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v3 {
  width: 40%;
}

#sol-info3 {
  width: 50%;
}

#sol-v3 {
  width: 316px;
  height: auto;
}

#sol-info3 h6 {
  font-size: var(--karma-fontSize-24x1);
  line-height: var(--karma-lineHeight-24x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

#sol-info3 p {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 8px;
}

.sol-4 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v4 {
  width: 40%;
}

#sol-info4 {
  width: 50%;
}

#sol-v4 {
  width: 316px;
  height: auto;
}

#sol-info4 h6 {
  font-size: var(--karma-fontSize-24x1);
  line-height: var(--karma-lineHeight-24x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

#sol-info4 p {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 8px;
}

#my-ap {
  padding: 32px 0px;
  display: grid;
}

#ap-head {
  font-size: var(--karma-fontSize-32x1);
  line-height: var(--karma-lineHeight-32x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 32px;
}

.ap-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#research-sec {
  padding: 32px 0px;
  display: grid;
}

#re-head {
  font-size: var(--karma-fontSize-32x1);
  line-height: var(--karma-lineHeight-32x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 32px;
}

.re-subh {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

.end-users {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

.btn-one {
  display: flex;
  align-items: start;
  justify-content: start;
}

.full-research {
  color: var(--karma-color-glyph-interactive-brand-accent-default-dark);
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  font-family: var(--karma-font-heading);
  letter-spacing: var(--karma-letterSpacing-wide);
  font-weight: var(--karma-fontWeight-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 200ms ease-out;
  gap: 8px;
}

.full-research:hover {
  color: var(--karma-color-glyph-interactive-brand-accent-hover-dark);
  cursor: var(--cursor-pointer), auto;
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-hover-dark);
}

.full-research:active {
  color: var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
}

.questions {
  padding: 32px 0px;
  display: grid;
}

#q-head {
  font-size: var(--karma-fontSize-32x1);
  line-height: var(--karma-lineHeight-32x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 32px;
}

.questions p {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

#insights {
  padding: 32px 0px;
  display: grid;
}

#in-head {
  font-size: var(--karma-fontSize-32x1);
  line-height: var(--karma-lineHeight-32x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 32px;
}

#insights p {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

.in-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#other-meth {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#design-sec {
  padding: 32px 0px;
  display: grid;
}

#de-head {
  font-size: var(--karma-fontSize-32x1);
  line-height: var(--karma-lineHeight-32x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 32px;
}

#design-sec p {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

#wireframes {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#low-fi {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#proto-sec {
  padding: 32px 0px;
  display: grid;
}

#pr-head {
  font-size: var(--karma-fontSize-32x1);
  line-height: var(--karma-lineHeight-32x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 32px;
}

#proto-sec p {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

.btn-two {
  display: flex;
  align-items: start;
  justify-content: start;
}

#pr-link {
  color: var(--karma-color-glyph-interactive-brand-accent-default-dark);
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  font-family: var(--karma-font-heading);
  letter-spacing: var(--karma-letterSpacing-wide);
  font-weight: var(--karma-fontWeight-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 200ms ease-out;
  gap: 8px;
  margin-bottom: 16px;
}

#pr-link:hover {
  color: var(--karma-color-glyph-interactive-brand-accent-hover-dark);
  cursor: var(--cursor-pointer), auto;
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-hover-dark);
}

#pr-link:active {
  color: var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
}

.proto-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#eva-sec {
  padding: 32px 0px;
  display: grid;
}

#ev-head {
  font-size: var(--karma-fontSize-32x1);
  line-height: var(--karma-lineHeight-32x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 32px;
}

.ut-info {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

.observe {
  color: var(--karma-color-label-primary-dark);
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  margin-bottom: 16px;
}

.usa-test {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

.ut-res {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#my-learn {
  padding: 32px 0px;
}

#lr-head {
  font-size: var(--karma-fontSize-32x1);
  line-height: var(--karma-lineHeight-32x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 32px;
}

#my-learn p {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

#next-st {
  padding: 32px 0px;
}

#ns-head {
  font-size: var(--karma-fontSize-32x1);
  line-height: var(--karma-lineHeight-32x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 32px;
}

#next-st p {
  font-size: var(--karma-fontSize-18x1);
  line-height: var(--karma-lineHeight-18x1);
  color: var(--karma-color-label-primary-dark);
  margin-bottom: 16px;
}

.finish-section {
  padding: 40px 0px 80px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.finish-section-heading {
  font-size: var(--karma-fontSize-40x1);
  line-height: var(--karma-lineHeight-40x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-semibold);
  color: var(--karma-color-label-primary-dark);
  text-align: center;
}

.back-to-home {
  text-decoration: none;
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-medium);
  letter-spacing: var(--karma-letterSpacing-wide);
  color: var(--karma-color-glyph-interactive-brand-accent-default-dark);
  font-size: var(--karma-fontSize-20x1);
  line-height: var(--karma-lineHeight-20x1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 200ms ease-out;
}

.back-to-home:hover {
  color: var(--karma-color-glyph-interactive-brand-accent-hover-dark);
  cursor: var(--cursor-pointer), auto;
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-hover-dark);
}

.back-to-home:active {
  color: var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
}



/* Small desktop */

@media (max-width: 1400px) {

  #main-container {
    max-width: 972px;
    margin: auto;
    width: 100%;
  }

}



/* Tablet */

@media (max-width: 1068px) {
  #main-container {
    margin: auto;
    padding: 0px 40px;
    width: 100%;
  }

  #side-navbar {
    display: none;
  }

  #back-to-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
  }

  #project-info {
    gap: 24px;
  }

  .finish-section {
    padding: 32px 0px 64px;
  }

}



/* Mobile */

@media (max-width: 735px) {

  #main-container {
    margin: auto;
    padding: 0px 24px;
    width: 100%;
  }

  #upper-com {
    padding: 16px 0px;
  }

  #cover-mt {
    margin-top: 16px;
  }

  #head {
    font-size: var(--karma-fontSize-32x1);
    line-height: var(--karma-lineHeight-32x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 12px;
  }

  .po {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 16px;
  }

  #project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 16px;
    gap: 8px;
  }

  .r-r {
    margin-bottom: 16px;
  }

  .p-c {
    margin-bottom: 16px;
  }

  .tools {
    margin-bottom: 16px;
  }

  .r-r h6 {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 8px;
  }

  .r-r p {
    font-size: var(--karma-fontSize-16x1);
    line-height: var(--karma-lineHeight-16x1);
  }

  .p-c h6 {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 8px;
  }

  .p-c p {
    font-size: var(--karma-fontSize-16x1);
    line-height: var(--karma-lineHeight-16x1);
  }

  .tools h6 {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 8px;
  }

  .tools p {
    font-size: var(--karma-fontSize-16x1);
    line-height: var(--karma-lineHeight-16x1);
  }

  .why-i {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    /* margin-bottom: 24px; */
  }

  #problem-s {
    padding: 16px 0px;
  }

  #problem-s h6 {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 8px;
  }

  #problem-s p {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
  }

  #solution {
    padding: 16px 0px;
  }

  #sol-h {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 8px;
  }

  #sol-h:hover::after {
    content: "";
  }

  .sol-1 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v1 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info1 {
    min-width: 100%;
  }

  #sol-info1 h6 {
    display: block;
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  #sol-info1 p {
    display: block;
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 8px;
  }

  .sol-2 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v2 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info2 {
    min-width: 100%;
  }

  #sol-info2 h6 {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  #sol-info2 p {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 8px;
  }

  .sol-3 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v3 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info3 {
    min-width: 100%;
  }

  #sol-info3 h6 {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  #sol-info3 p {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 8px;
  }

  .sol-4 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v4 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info4 {
    min-width: 100%;
  }

  #sol-info4 h6 {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-info4 p {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 8px;
    min-width: auto;
  }

  #my-ap {
    padding: 16px 0px;
  }

  #ap-head {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  #research-sec {
    padding: 16px 0px;
  }

  #re-head {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  .re-subh {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 12px;
  }

  .end-users {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 16px;
  }

  /* .full-research {
    width: 100%;
  } */

  .questions {
    padding: 16px 0px;
  }

  #q-head {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  .questions p {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 16px;
  }

  #insights {
    padding: 16px 0px;
  }

  #in-head {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  #insights p {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 16px;
  }

  #design-sec {
    padding: 16px 0px;
  }

  #de-head {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  #design-sec p {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 16px;
  }

  #proto-sec {
    padding: 16px 0px;
  }

  #pr-head {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  #proto-sec p {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 16px;
  }

  #pr-link {
    margin-bottom: 16px;
  }

  #eva-sec {
    padding: 16px 0px;
  }

  #ev-head {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  .ut-info {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 16px;
  }

  .usa-test {
    max-width: 100%;
  }

  .observe {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 16px;
  }

  #my-learn {
    padding: 16px 0px;
  }

  #lr-head {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  #my-learn p {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 16px;
  }

  #next-st {
    padding: 16px 0px;
  }

  #ns-head {
    font-size: var(--karma-fontSize-24x1);
    line-height: var(--karma-lineHeight-24x1);
    font-weight: var(--karma-fontWeight-semibold);
    margin-bottom: 16px;
  }

  #next-st p {
    font-size: var(--karma-fontSize-18x1);
    line-height: var(--karma-lineHeight-18x1);
    margin-bottom: 16px;
  }

  .finish-section {
    padding: 24px 0px 64px;
  }

}