/* Linked CSS Files */

@import url('./variables.css');








/* Navbar CSS */

#dynamic-nav-head {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: transform 0.32s ease-out;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

.hidden {
    transform: translateY(-100%);
}


#dynamic-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    width: 100%;
    max-width: 400px;
    margin: auto;
    background: var(--glass-dark);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: var(--border-radius-full);
    box-shadow: var(--drop-shadow-dark);
}


#nav-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

#work {
    background-color: var(--surface-layer-02);
    border-radius: var(--border-radius-full);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-out;
    padding: 4px;
}

#work:hover {
    cursor: var(--cursor-pointer), auto;
    background-color: var(--surface-layer-02-hover);
}

#work:focus {
    box-shadow: var(--shadows-outline);
}

#about {
    font-size: var(--fontSizes-16);
    color: var(--paragraph-primary);
    text-decoration: none;
    font-family: var(--fonts-body);
    font-weight: var(--fontWeights-semibold);
    transition: 100ms ease-out;
    padding: 6px 10px;
    border-radius: var(--border-radius-full);
    text-align: center;
}

#about:hover {
    background-color: var(--surface-layer-02-hover);
    cursor: var(--cursor-pointer), auto;
}

#about:focus {
    box-shadow: var(--shadows-outline);
}


#home {
    font-size: var(--fontSizes-16);
    color: var(--paragraph-primary);
    text-decoration: none;
    font-family: var(--fonts-body);
    font-weight: var(--fontWeights-semibold);
    transition: 100ms ease-out;
    padding: 6px 10px;
    border-radius: var(--border-radius-full);
    text-align: center;
}

#home:hover {
    background-color: var(--surface-layer-02-hover);
    cursor: var(--cursor-pointer), auto;
}

#home:focus {
    box-shadow: var(--shadows-outline);
}

#resume {
    font-size: var(--fontSizes-16);
    color: var(--paragraph-primary);
    text-decoration: none;
    font-family: var(--fonts-body);
    font-weight: var(--fontWeights-semibold);
    transition: 100ms ease-out;
    padding: 6px 10px;
    border-radius: var(--border-radius-full);
    text-align: center;
}

#resume:hover {
    background-color: var(--surface-layer-02-hover);
    cursor: var(--cursor-pointer), auto;
}

#resume:focus {
    box-shadow: var(--shadows-outline);
}

.theme {
    background-color: var(--surface-layer-02);
    padding: 4px;
    border-radius: var(--border-radius-full);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-out;
}

.theme:hover {
    cursor: var(--cursor-pointer), auto;
    background-color: var(--surface-layer-02-hover);
}

.theme:focus {
    box-shadow: var(--shadows-outline);
}



/* Small Desktop */

@media (max-width: 1400px) {}



/* Tablet */

@media (max-width: 1024px) {}



/* Mobile */

@media (max-width: 688px) {

    #dynamic-nav-head {
        padding: 20px 16px 0px 16px;
    }

    #dynamic-nav {
        min-width: 100%;
    }

}