/* Linked CSS Files */

@import url('./variables.css');
@import url('./karma-semantics.css');
@import url('./karma-typography&radius.css');








/*  Animations */

@keyframes pageLoading {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--karma-font-body);
  letter-spacing: var(--karma-letterSpacing-normal);
  font-weight: var(--karma-fontWeight-regular);
  line-height: var(--karma-lineHeight-short);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--karma-color-system-background-dark);
  cursor: var(--cursor-default), auto;
  animation: pageLoading 950ms;
}

.prototype-container {
  max-width: 1024px;
  margin: auto;
}

.header-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 80px 0px 40px;
}

.title {
  font-size: var(--karma-fontSize-48x1);
  line-height: var(--karma-lineHeight-48x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-medium);
  letter-spacing: var(--karma-letterSpacing-tight);
  color: var(--karma-color-label-primary-dark);
}

.project-overview {
  font-size: var(--karma-fontSize-24x1);
  line-height: var(--karma-lineHeight-24x1);
  font-weight: var(--karma-fontWeight-regular);
  color: var(--karma-color-label-secondary-dark);
}

.link-to-prototype {
  width: fit-content;
  text-decoration: none;
  font-size: var(--karma-fontSize-24x1);
  line-height: var(--karma-lineHeight-24x1);
  font-weight: var(--karma-fontWeight-regular);
  color: var(--karma-color-glyph-interactive-brand-accent-default-dark);
  transition: 200ms ease-out;
}

.link-to-prototype:hover {
  cursor: var(--cursor-pointer), auto;
  color: var(--karma-color-glyph-interactive-brand-accent-hover-dark);
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-hover-dark);
}

.link-to-prototype:active {
  color: var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
}

.link-to-video {
  width: fit-content;
  text-decoration: none;
  font-size: var(--karma-fontSize-24x1);
  line-height: var(--karma-lineHeight-24x1);
  font-weight: var(--karma-fontWeight-regular);
  color: var(--karma-color-glyph-interactive-brand-accent-default-dark);
  transition: 200ms ease-out;
}

.link-to-video:hover {
  cursor: var(--cursor-pointer), auto;
  color: var(--karma-color-glyph-interactive-brand-accent-hover-dark);
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-hover-dark);
}

.link-to-video:active {
  color: var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
}

.design-deck-section {
  padding: 40px 0px;
}

.design-deck {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2;
  border: 1px solid var(--karma-color-border-muted-dark);
}

.finish-section {
  padding: 40px 0px 80px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.finish-section-heading {
  font-size: var(--karma-fontSize-40x1);
  line-height: var(--karma-lineHeight-40x1);
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-medium);
  color: var(--karma-color-label-primary-dark);
  text-align: center;
}

.back-to-home {
  text-decoration: none;
  font-family: var(--karma-font-heading);
  font-weight: var(--karma-fontWeight-medium);
  color: var(--karma-color-glyph-interactive-brand-accent-default-dark);
  font-size: var(--karma-fontSize-20x1);
  line-height: var(--karma-lineHeight-20x1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 200ms ease-out;
}

.back-to-home:hover {
  color: var(--karma-color-glyph-interactive-brand-accent-hover-dark);
  cursor: var(--cursor-pointer), auto;
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-hover-dark);
}

.back-to-home:active {
  color: var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
  text-decoration: underline var(--karma-color-glyph-interactive-brand-accent-pressed-dark);
}



/* Small desktop */

@media (max-width: 1400px) {}



/* Tablet */

@media (max-width: 1068px) {

  .prototype-container {
    padding: 0px 40px;
  }

  .header-section {
    padding: 64px 0px 32px;
  }

  .design-deck-section {
    padding: 32px 0px;
  }

  .finish-section {
    padding: 32px 0px 64px;
  }


}



/* Mobile*/

@media (max-width: 735px) {

  .prototype-container {
    padding: 0px 24px;
  }

  .header-section {
    padding: 64px 0px 24px;
  }

  .title {
    font-size: var(--karma-fontSize-40x1);
    line-height: var(--karma-lineHeight-40x1);
  }

  .project-overview {
    font-size: var(--karma-fontSize-20x1);
    line-height: var(--karma-lineHeight-20x1);
  }

  .link-to-prototype {
    font-size: var(--karma-fontSize-20x1);
    line-height: var(--karma-lineHeight-20x1);
  }

  .link-to-video {
    font-size: var(--karma-fontSize-20x1);
    line-height: var(--karma-lineHeight-20x1);
  }

  .design-deck-section {
    padding: 24px 0px;
  }

  .finish-section {
    padding: 24px 0px 64px;
  }


}