/* Linked CSS Files */

@import url("./variables.css");
@import url("./karma-semantics.css");
@import url("./karma-typography&radius.css");

/*  Animations */

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #889296;
}

@supports (scrollbar-color: #889296 transparent) {
  * {
    scrollbar-color: #889296 transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  animation: pageLoading 1000ms;
  animation-timing-function: var(--bounce-effect);
  position: relative;
  padding-top: var(--globalnav-height);
}

main {
  min-height: 100vh;
}

.project-cover-wrapper {
  background-color: var(--fill-secondary);
  width: 100%;
  max-height: 512px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-cover {
  aspect-ratio: 4/3;
  margin: auto;
  max-width: var(--content-max-width);
  width: 100%;
  height: 512px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border: none;
}

#main-container {
  max-width: var(--content-max-width);
  margin: auto;
  width: 100%;
}

#header-section-wrapper {
  padding: 32px 0px;
}

.header-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: var(--content-max-width);
}

.header-section-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font: var(--title2-m-emphasized);
  letter-spacing: var(--title2-letterspacing);
  color: var(--text);
}

.project-overview {
  font: var(--body1-m);
  letter-spacing: var(--body1-letterspacing);
  color: var(--text-secondary);
}

.project-information {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  align-items: start;
  gap: 24px;
}

.role h6 {
  font: var(--body2-m-emphasized);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
  margin-bottom: 8px;
}

.role p {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text-secondary);
}

.timeline h6 {
  font: var(--body2-m-emphasized);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
  margin-bottom: 8px;
}

.timeline p {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text-secondary);
}

.tools h6 {
  font: var(--body2-m-emphasized);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
  margin-bottom: 8px;
}

.tools p {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text-secondary);
}

.line {
  border: 1px solid var(--separator);
}

.line-muted {
  border: 1px solid var(--separator-muted);
}

/* Main Case Study */

#problem-statement-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.problem-statement-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.problem-statement-copy {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

#process-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.process-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.process-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

#understand-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.understand-section-heading {
  font: var(--eyebrow-m);
  letter-spacing: var(--eyebrow-letterspacing);
  color: var(--text);
}

.desk-research-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.desk-research-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.desk-research-section-copy {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

.finding-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

.user-research-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.user-research-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.user-research-section-copy {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

.user-research-question-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-research-question-section-heading {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
}

.user-research-question-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  align-items: start;
  gap: 16px 48px;
}

.user-research-question {
  font: var(--body3-m);
  letter-spacing: var(--body3-letterspacing);
  color: var(--text-secondary);
}

.user-research-observation-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-research-observation-section-heading {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
}

.user-research-observation-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  align-items: start;
  gap: 16px 48px;
}

.user-research-observation {
  font: var(--body3-m);
  letter-spacing: var(--body3-letterspacing);
  color: var(--text-secondary);
}

#define-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.define-section-heading {
  font: var(--eyebrow-m);
  letter-spacing: var(--eyebrow-letterspacing);
  color: var(--text);
}

.journey-map-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.journey-map-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.journey-map-section-copy {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

.journey-map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

#pain-point-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#pain-point-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.pain-point-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pain-point {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

#ideate-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ideate-section-heading {
  font: var(--eyebrow-m);
  letter-spacing: var(--eyebrow-letterspacing);
  color: var(--text);
}

#hmw-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#hmw-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.hmw-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hmw {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

#design-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.design-section-heading {
  font: var(--eyebrow-m);
  letter-spacing: var(--eyebrow-letterspacing);
  color: var(--text);
}

.user-flow-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.user-flow-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.user-flow-section-copy {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

.user-flow-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

.low-fidelity-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.low-fidelity-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.low-fidelity-section-copy {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

.low-fidelity-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

#solution-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.solution-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.solution {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 48px;
}

#solution-v1 {
  order: 1;
  margin-right: auto;
}

#solution-info1 {
  order: 2;
}

.solution-v {
  max-width: 320px;
  height: auto;
  border-radius: var(--border-radius-12);
}

#solution-info1 h6 {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
  margin-bottom: 16px;
}

#solution-info1 p {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
  margin-bottom: 8px;
}

#solution-v2 {
  order: 2;
  margin-left: auto;
}

#solution-info2 {
  order: 1;
}

#solution-info2 h6 {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
  margin-bottom: 16px;
}

#solution-info2 p {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
  margin-bottom: 8px;
}

#solution-v3 {
  order: 1;
  margin-right: auto;
}

#solution-info3 {
  order: 2;
}

#solution-info3 h6 {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
  margin-bottom: 16px;
}

#solution-info3 p {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
  margin-bottom: 8px;
}

#solution-v4 {
  order: 2;
  margin-left: auto;
}

#solution-info4 {
  order: 1;
}

#solution-info4 h6 {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
  margin-bottom: 16px;
}

#solution-info4 p {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
  margin-bottom: 8px;
}

.prototype-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.prototype-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.prototype-section-copy {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

.prototype-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

#test-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.test-section-heading {
  font: var(--eyebrow-m);
  letter-spacing: var(--eyebrow-letterspacing);
  color: var(--text);
}

.usability-test-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.usability-test-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.usability-test-section-copy {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

.usability-test-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

#test-result-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#test-result-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.test-result-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.test-result {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

.process-restart {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

.final-design-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.final-design-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.final-design-section-copy {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

.final-design-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

#next-step-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.next-step-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.next-step-section-copy {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

#key-takeaways-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.key-takeaways-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.key-takeaways-section-copy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.key-takeaways-section-copy {
  font: var(--content-m);
  letter-spacing: var(--content-letterspacing);
  color: var(--text);
}

.finish-section {
  padding: 48px 0 96px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.finish-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
  text-align: center;
}

.back-to-home {
  color: var(--link-color);
  font: var(--link-m);
  letter-spacing: var(--link-letterspacing);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 8px;
}

.back-to-home:hover {
  cursor: pointer, auto;
}

.back-to-home:hover .link-copy {
  text-decoration: underline dashed var(--link-color);
}

.arrow-left {
  width: 24px;
  height: 24px;
}

.arrow-left path {
  fill: var(--link-color);
}

/* Small desktop */

@media (max-width: 1400px) {}

/* Tablet */

@media (max-width: 1068px) {
  #main-container {
    padding: 0px 48px;
    width: 100%;
  }

  .project-cover-wrapper {
    width: 100%;
    max-height: 100%;
  }

  #project-cover {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .user-research-question-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
  }

  .user-research-observation-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
  }

  .solution-v {
    max-width: 100%;
  }

  .finish-section {
    padding: 48px 0 96px;
  }
}

/* Mobile*/

@media (max-width: 734px) {
  #main-container {
    padding: 0px 24px;
    width: 100%;
  }

  .header-section {
    gap: 48px;
  }

  .title {
    font: var(--title2-xxxs-emphasized);
  }

  .project-overview {
    font: var(--body1-xxxs);
  }

  .project-information {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .role h6 {
    font: var(--body2-xxxs-emphasized);
  }

  .role p {
    font: var(--body2-xxxs);
  }

  .timeline h6 {
    font: var(--body2-xxxs-emphasized);
  }

  .timeline p {
    font: var(--body2-xxxs);
  }

  .tools h6 {
    font: var(--body2-xxxs-emphasized);
  }

  .tools p {
    font: var(--body2-xxxs);
  }

  .problem-statement-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .problem-statement-copy {
    font: var(--content-xxxs);
  }

  .process-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .understand-section-heading {
    font: var(--eyebrow-xxxs);
  }

  .desk-research-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .desk-research-section-copy {
    font: var(--content-xxxs);
  }

  .user-research-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .user-research-section-copy {
    font: var(--content-xxxs);
  }

  .user-research-question-section-heading {
    font: var(--title4-xxxs-emphasized);
  }

  .user-research-question {
    font: var(--body3-xxxs);
  }

  .user-research-observation-section-heading {
    font: var(--title4-xxxs-emphasized);
  }

  .user-research-observation {
    font: var(--body3-xxxs);
  }

  .define-section-heading {
    font: var(--eyebrow-xxxs);
  }

  .journey-map-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .journey-map-section-copy {
    font: var(--content-xxxs);
  }

  #pain-point-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .pain-point {
    font: var(--content-xxxs);
  }

  .ideate-section-heading {
    font: var(--eyebrow-xxxs);
  }

  #hmw-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .hmw {
    font: var(--content-xxxs);
  }

  .design-section-heading {
    font: var(--eyebrow-xxxs);
  }

  .user-flow-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .user-flow-section-copy {
    font: var(--content-xxxs);
  }

  .low-fidelity-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .low-fidelity-section-copy {
    font: var(--content-xxxs);
  }

  .solution-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .solution {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  #solution-v1 {
    order: 1;
  }

  #solution-info1 {
    order: 2;
  }

  .solution-v {
    max-width: 100%;
  }

  #solution-info1 h6 {
    font: var(--title4-xxxs-emphasized);
  }

  #solution-info1 p {
    font: var(--content-xxxs);
  }

  #solution-v2 {
    order: 1;
  }

  #solution-info2 {
    order: 2;
  }

  #solution-info2 h6 {
    font: var(--title4-xxxs-emphasized);
  }

  #solution-info2 p {
    font: var(--content-xxxs);
  }

  #solution-v3 {
    order: 1;
  }

  #solution-info3 {
    order: 2;
  }

  #solution-info3 h6 {
    font: var(--title4-xxxs-emphasized);
  }

  #solution-info3 p {
    font: var(--content-xxxs);
  }

  #solution-v4 {
    order: 1;
  }

  #solution-info4 {
    order: 2;
  }

  #solution-info4 h6 {
    font: var(--title4-xxxs-emphasized);
  }

  #solution-info4 p {
    font: var(--content-xxxs);
  }

  .prototype-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .prototype-section-copy {
    font: var(--content-xxxs);
  }

  .test-section-heading {
    font: var(--eyebrow-xxxs);
  }

  .usability-test-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .usability-test-section-copy {
    font: var(--content-xxxs);
  }

  #test-result-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .test-result {
    font: var(--content-xxxs);
  }

  .final-design-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .final-design-section-copy {
    font: var(--content-xxxs);
  }

  .next-step-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .next-step-section-copy {
    font: var(--content-xxxs);
  }

  .key-takeaways-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .key-takeaways-section-copy {
    font: var(--content-xxxs);
  }

  .finish-section {
    padding: 40px 0 80px;
  }

  .finish-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .back-to-home {
    font: var(--link-xxxs);
  }
}