/* Linked CSS Files */

@import url('./variables.css');
@import url('./karma-semantics.css');
@import url('./karma-typography.css');








/*  Animations */

@keyframes pageLoading {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--karma-font-body);
  letter-spacing: var(--karma-letterSpacing-normal);
  font-weight: var(--karma-fontWeight-normal);
  line-height: var(--karma-lineHeight-short);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--karma-color-system-background-dark);
  cursor: var(--cursor-default), auto;
  animation: pageLoading 800ms;
}

main {
  margin-top: 64px;
}

.prototype-container {
  max-width: 800px;
  margin: auto;
  padding: 64px 0px;
  min-height: 75vh;
}

.design-deck {
  width: 100%;
  aspect-ratio: 3 / 2;
  border: 1px solid var(--border-subtle-01);
}

#upper-com {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 16px;
}

#head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
}

.po {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.button-group {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.link-to-video {
  width: fit-content;
  text-decoration: none;
  font-size: var(--fontSizes-18);
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-medium);
  color: var(--link-primary);
  transition: 300ms ease-out;
}

.link-to-video:hover {
  cursor: var(--cursor-pointer), auto;
  color: var(--link-primary-hover);
  text-decoration: 2px underline solid var(--link-primary-hover);
}

#finish {
  padding: 56px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#fn-head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  text-align: center;
}

#back-to-all {
  margin: auto;
  width: max-content;
  font-weight: var(--fontWeights-semibold);
  color: var(--link-primary);
  font-size: var(--fontSizes-18);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 300ms ease-out;
  gap: 8px;
}

#back-to-all:hover {
  color: var(--link-primary-hover);
  cursor: var(--cursor-pointer), auto;
  text-decoration: 2px underline solid var(--link-primary-hover);
}



/* Small desktop */

@media (max-width: 1400px) {}



/* Tablet */

@media (max-width: 1068px) {
  .prototype-container {
    padding: 48px 40px;
  }

  #upper-com {
    margin-top: 24px;
  }

  #finish {
    padding: 48px 0px;
  }


}



/* Mobile*/

@media (max-width: 735px) {
  .prototype-container {
    padding: 40px 24px;
  }

  #upper-com {
    margin-top: 16px;
  }

  #head {
    font-size: var(--fontSizes-32);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
  }

  .po {
    font-size: var(--fontSizes-18);
  }

  #finish {
    padding: 40px 0px;
  }


}