/* Linked CSS Files */

@import url('./variables.css');
@import url('./karma-semantics.css');








[data-theme="dark"] {

    --karma-globalnav-background: var(--karma-black-700);
    --karma-globalnav-background-opened: var(--karma-black-700);

    --karma-globalnav-color: var(--karma-white-700);
    --karma-globalnav-color-hover: var(--karma-white-900);
    --karma-globalnav-color-disabled: var(--karma-white-500);
    --karma-globalnav-keyline-color: var(--karma-white-100);

    --karma-globalfooter-background: var(--karma-fill-secondary);

    --karma-globalfooter-color: var(--karma-white-700);
    --karma-globalfooter-color-hover: var(--karma-white-900);
    --karma-globalfooter-color-disabled: var(--karma-white-500);
    --karma-globalfooter-keyline-color: var(--karma-white-200);

    --karma-body-background: var(--karma-gray-900);

    --karma-fill: var(--karma-black-900);
    --karma-fill-secondary: var(--karma-gray-800);
    --karma-fill-tertiary: var(--karma-gray-700);

    --karma-text: var(--karma-white-900);
    --karma-text-secondary: var(--karma-gray-300);
    --karma-text-tertiary: var(--karma-gray-500);

    --karma-button-background: var(--karma-blue-500);
    --karma-button-background-hover: var(--karma-blue-400);
    --karma-button-background-active: var(--karma-blue-300);

    --karma-button-color: var(--karma-white-900);
    --karma-button-color-hover: var(--karma-button-color);
    --karma-button-color-active: var(--karma-button-color-hover);

    --karma-link-color: var(--karma-blue-400);

}



/* ----------------------- */



[data-theme="light"] {


    --karma-globalnav-background: var(--karma-white-700);
    --karma-globalnav-background-opened: var(--karma-white-700);

    --karma-globalnav-color: var(--karma-black-700);
    --karma-globalnav-color-hover: var(--karma-black-900);
    --karma-globalnav-color-disabled: var(--karma-black-500);
    --karma-globalnav-keyline-color: var(--karma-black-100);

    --karma-globalfooter-background: var(--karma-fill-secondary);

    --karma-globalfooter-color: var(--karma-black-700);
    --karma-globalfooter-color-hover: var(--karma-black-900);
    --karma-globalfooter-color-disabled: var(--karma-black-500);
    --karma-globalfooter-keyline-color: var(--karma-black-200);

    --karma-body-background: var(--karma-white-900);

    --karma-fill: var(--karma-white-900);
    --karma-fill-secondary: var(--karma-gray-100);
    --karma-fill-tertiary: var(--karma-gray-200);

    --karma-text: var(--karma-gray-900);
    --karma-text-secondary: var(--karma-gray-700);
    --karma-text-tertiary: var(--karma-gray-500);

    --karma-button-background: var(--karma-blue-500);
    --karma-button-background-hover: var(--karma-blue-600);
    --karma-button-background-active: var(--karma-blue-700);

    --karma-button-color: var(--karma-white-900);
    --karma-button-color-hover: var(--karma-button-color);
    --karma-button-color-active: var(--karma-button-color-hover);

    --karma-link-color: var(--karma-blue-600);

}