/* Linked CSS Files */

@import url(/css/color-ramps.css);
@import url("/css/karma-semantics.css");

[data-theme="light"] {
  --globalnav-wrapper-background: linear-gradient(
    180deg,
    #fff 0%,
    rgba(255, 255, 255, 0.75) 25%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    rgba(255, 255, 255, 0) 100%
  );

  --globalnav-background: var(--white-1000);
  --globalnav-background-opened: var(--white-1000);

  --globalnav-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08),
    1px 1px 0px 0px #e6e6e6 inset, 1px 1px 0px 0px #f5f5f5;

  --globalfooter-background: var(--fill-secondary);

  --body-background: var(--white-1000);

  --separator: #e6e6e6;

  --separator-muted: rgba(0, 0, 0, 0.04);

  --fill: var(--white-1000);
  --fill-secondary: var(--gray-100);
  --fill-tertiary: var(--gray-200);

  --text: var(--black-1000);
  --text-secondary: var(--gray-600);
  --text-tertiary: var(--gray-500);

  --button-background: var(--blue-light-500);
  --button-border: var(--blue-light-600);
  --button-shadow: 0px 4px 0px 0px var(--blue-light-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-shadow-hover: 0px 6px 0px 0px var(--blue-light-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-shadow-active: none;
  --button-shadow-disabled: 0px 2px 0px 0px var(--blue-light-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-color: var(--white-1000);

  --button-brand-background: var(--brand-light-500);
  --button-brand-border: var(--brand-light-600);
  --button-brand-shadow: 0px 4px 0px 0px var(--brand-light-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-brand-shadow-hover: 0px 6px 0px 0px var(--brand-light-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-brand-shadow-active: none;
  --button-brand-shadow-disabled: 0px 2px 0px 0px var(--brand-light-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-brand-color: var(--white-1000);

  --button-secondary-background: var(--pale-blue-100);
  --button-secondary-border: var(--pale-blue-200);
  --button-secondary-shadow: 0px 4px 0px 0px var(--pale-blue-400),
    2px 2px 5px 0px var(--black-200) inset;
  --button-secondary-shadow-hover: 0px 6px 0px 0px var(--pale-blue-400),
    2px 2px 5px 0px var(--black-200) inset;
  --button-secondary-shadow-active: none;
  --button-secondary-shadow-disabled: 0px 2px 0px 0px var(--pale-blue-400),
    2px 2px 5px 0px var(--black-200) inset;
  --button-secondary-color: var(--black-1000);

  --button-tertiary-background: rgba(0, 0, 0, 0);
  --button-tertiary-background-hover: var(--blue-light-100);
  --button-tertiary-background-active: var(--blue-light-200);
  --button-tertiary-background-disabled: rgba(0, 0, 0, 0);
  --button-tertiary-color: var(--black-1000);
  --button-tertiary-color-hover: var(--blue-light-600);
  --button-tertiary-color-active: var(--blue-light-700);
  --button-tertiary-color-disabled: var(--black-1000);
  --button-tertiary-outline: 0px solid transparent;
  --button-tertiary-outline-hover: 4px solid var(--blue-light-500);
  --button-tertiary-outline-active: 4px solid var(--blue-light-600);

  --tile-background: var(--fill);
  --tile-outline: 0px solid transparent;
  --tile-outline-hover: 4px solid var(--blue-light-500);
  --tile-outline-active: 4px solid var(--blue-light-600);

  --success-background: var(--green-light-200);
  --success-color: var(--green-light-600);
  --success-border: var(--green-light-600);

  --link-color: var(--blue-light-700);
}

/* ----------------------- */

[data-theme="dark"] {
  --globalnav-wrapper-background: linear-gradient(
    180deg,
    #1e1e1e 0%,
    rgba(30, 30, 30, 0.75) 25%,
    rgba(30, 30, 30, 0.5) 50%,
    rgba(30, 30, 30, 0.25) 75%,
    rgba(30, 30, 30, 0) 100%
  );

  --globalnav-background: var(--black-1000);
  --globalnav-background-opened: var(--black-1000);

  --globalnav-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16),
    1px 1px 0px 0px #444 inset, 1px 1px 0px 0px #2c2c2c;

  --globalfooter-background: var(--fill);

  --body-background: var(--gray-900);

  --separator: #444;

  --separator-muted: rgba(255, 255, 255, 0.06);

  --fill: var(--gray-1000);
  --fill-secondary: var(--gray-900);
  --fill-tertiary: var(--gray-800);

  --text: var(--white-1000);
  --text-secondary: var(--gray-300);
  --text-tertiary: var(--gray-500);

  --button-background: var(--blue-dark-500);
  --button-border: var(--blue-dark-600);
  --button-shadow: 0px 4px 0px 0px var(--blue-dark-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-shadow-hover: 0px 6px 0px 0px var(--blue-dark-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-shadow-active: none;
  --button-shadow-disabled: 0px 2px 0px 0px var(--blue-dark-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-color: var(--white-1000);

  --button-brand-background: var(--brand-dark-500);
  --button-brand-border: var(--brand-dark-600);
  --button-brand-shadow: 0px 4px 0px 0px var(--brand-dark-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-brand-shadow-hover: 0px 6px 0px 0px var(--brand-dark-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-brand-shadow-active: none;
  --button-brand-shadow-disabled: 0px 2px 0px 0px var(--brand-dark-800),
    2px 2px 5px 0px var(--black-200) inset;
  --button-brand-color: var(--white-1000);

  --button-secondary-background: var(--pale-blue-900);
  --button-secondary-border: var(--pale-blue-800);
  --button-secondary-shadow: 0px 4px 0px 0px var(--pale-blue-700),
    2px 2px 5px 0px var(--black-200) inset;
  --button-secondary-shadow-hover: 0px 6px 0px 0px var(--pale-blue-700),
    2px 2px 5px 0px var(--black-200) inset;
  --button-secondary-shadow-active: none;
  --button-secondary-shadow-disabled: 0px 2px 0px 0px var(--pale-blue-700),
    2px 2px 5px 0px var(--black-200) inset;
  --button-secondary-color: var(--white-1000);

  --button-tertiary-background: rgba(0, 0, 0, 0);
  --button-tertiary-background-hover: var(--blue-dark-900);
  --button-tertiary-background-active: var(--blue-dark-1000);
  --button-tertiary-color: var(--white-1000);
  --button-tertiary-color-hover: var(--blue-dark-300);
  --button-tertiary-color-active: var(--blue-dark-200);
  --button-tertiary-color-disabled: var(--white-1000);
  --button-tertiary-outline: 0px solid transparent;
  --button-tertiary-outline-hover: 4px solid var(--blue-dark-600);
  --button-tertiary-outline-active: 4px solid var(--blue-dark-500);

  --tile-background: var(--fill);
  --tile-outline: 0px solid transparent;
  --tile-outline-hover: 4px solid var(--blue-dark-600);
  --tile-outline-active: 4px solid var(--blue-dark-500);

  --success-background: var(--green-dark-800);
  --success-color: var(--green-dark-400);
  --success-border: var(--green-dark-400);

  --link-color: var(--blue-dark-500);
}
