/* Linked CSS Files */

@import url("./karma-semantics.css");

[data-theme="light"] {
  --globalnav-background: rgba(255, 255, 255, 0.72);
  --globalnav-background-opened: rgba(255, 255, 255, 0.9);
  --globalnav-keyline-color: rgba(0, 0, 0, 0.08);

  --globalnav-color: var(--gray-900);
  --globalnav-color-hover: var(--blue-600);
  --globalnav-color-disabled: var(--gray-500);

  --globalfooter-background: var(--gray-100);

  --globalfooter-color: var(--gray-600);
  --globalfooter-color-hover: var(--gray-900);
  --globalfooter-color-disabled: var(--gray-600);

  --body-background: var(--white);

  --focus-ring: rgba(0, 108, 242, 0.6);

  --separator: var(--gray-200);

  --separator-muted: rgba(0, 0, 0, 0.04);

  --fill: var(--white);
  --fill-secondary: var(--gray-100);
  --fill-tertiary: var(--gray-200);

  --text: var(--black);
  --text-secondary: var(--gray-800);
  --text-tertiary: var(--gray-600);

  --button-background: var(--blue-500);
  --button-background-hover: var(--blue-600);
  --button-background-active: var(--blue-700);

  --button-color: var(--white);
  --button-color-hover: var(--button-color);
  --button-color-active: var(--button-color-hover);

  --button-secondary-background: var(--gray-100);
  --button-secondary-background-hover: var(--gray-200);
  --button-secondary-background-active: var(--gray-300);

  --button-secondary-color: var(--gray-900);
  --button-secondary-color-hover: var(--button-secondary-color);
  --button-secondary-color-active: var(--button-secondary-color-hover);

  --link-color: var(--blue-500);
}

/* ----------------------- */

[data-theme="dark"] {
  --globalnav-background: rgba(22, 22, 26, 0.72);
  --globalnav-background-opened: rgba(22, 22, 26, 0.9);
  --globalnav-keyline-color: rgba(255, 255, 255, 0.08);

  --globalnav-color: var(--gray-100);
  --globalnav-color-hover: var(--blue-300);
  --globalnav-color-disabled: var(--gray-500);

  --globalfooter-background: var(--black);

  --globalfooter-color: var(--gray-400);
  --globalfooter-color-hover: var(--gray-100);
  --globalfooter-color-disabled: var(--gray-400);

  --body-background: var(--gray-900);

  --focus-ring: rgba(56, 146, 255, 0.6);

  --separator: var(--gray-700);

  --separator-muted: rgba(255, 255, 255, 0.06);

  --fill: var(--black);
  --fill-secondary: var(--gray-900);
  --fill-tertiary: var(--gray-800);

  --text: var(--white);
  --text-secondary: var(--gray-300);
  --text-tertiary: var(--gray-500);

  --button-background: var(--blue-400);
  --button-background-hover: var(--blue-300);
  --button-background-active: var(--blue-200);

  --button-color: var(--white);
  --button-color-hover: var(--button-color);
  --button-color-active: var(--button-color-hover);

  --button-secondary-background: var(--gray-800);
  --button-secondary-background-hover: var(--gray-700);
  --button-secondary-background-active: var(--gray-600);

  --button-secondary-color: var(--gray-100);
  --button-secondary-color-hover: var(--button-secondary-color);
  --button-secondary-color-active: var(--button-secondary-color-hover);

  --link-color: var(--blue-400);
}