:root {



    /* Light Mode */

    /* Brand */

    --keyColor-light: #FA233B;
    --keyColor-rollover-light: #C60007;
    --keyColor-pressed-light: #E00921;
    --keyColor-deepPressed-light: #C60007;
    --keyColor-disabled-light: rgba(250, 35, 59, .35);
    --keyColor-default-IC-light: #D60017;
    --keyColor-rollover-IC-light: #A20000;
    --keyColor-pressed-IC-light: #BB0000;
    --keyColor-deepPressed-IC-light: #A20000;
    --keyColor-disabled-IC-light: rgba(214, 0, 23, .25);


    /* System */



    /* -------------------------------------------------------------- */



    /* Dark Mode */

    /* Brand */

    --keyColor-dark: #FA2D48;
    --keyColor-rollover-dark: #FF5F7A;
    --keyColor-pressed-dark: #FF4661;
    --keyColor-deepPressed-dark: #FF5F7A;
    --keyColor-disabled-dark: rgba(250, 45, 72, 0.35);
    --keyColor-default-IC-dark: #FA586A;
    --keyColor-rollover-IC-dark: #FF8A9C;
    --keyColor-pressed-IC-dark: #FF7183;
    --keyColor-deepPressed-IC-dark: #FF8A9C;
    --keyColor-disabled-IC-dark: rgba(250, 88, 106, 0.35);


    /* System */



}