@import url('./font-face.css');




:root {


    --gallery-side-padding: max(6.25%, calc(50% - 840px));



    /* Cursors */

    --cursor-default: url(/assets/Cursor/cursor-default.svg);
    --cursor-pointer: url(/assets/Cursor/cursor-pointer.svg);
    --cursor-grab: url(/assets/Cursor/cursor-grab.svg);
    --cursor-grabbed: url(/assets/Cursor/cursor-grabbed.svg);
    --cursor-text: url(/assets/Cursor/curson-text.svg);
    --cursor-not-allowed: url(/assets/Cursor/cursor-not-allowed.svg);

    /* Assets */


    --hello-hero-dark: url(/assets/global/dark-hello-hero.png);
    --hello-hero-dark-bg: #0D1210;
    --hello-hero-light: url(/assets/global/light-hello-hero.png);
    --hello-hero-light-bg: #DCE0DF;

    --about-hero-dark: url(/assets/global/dark-about-section.png);
    --about-hero-dark-bg: #1A1A1A;
    --about-hero-light: url(/assets/global/light-about-section.png);
    --about-hero-light-bg: #E6E6E6;


    /* Dark mode */


    --primary: #0071E3;

    --button-primary: #0071E3;
    --button-primary-hover: #0077ED;
    --button-primary-active: #0077ED;

    --button-secondary: #313131;
    --button-secondary-hover: #494949;
    --button-secondary-active: #494949;

    --secondary-button-text-dark: #2997FF;
    --secondary-button-icon-dark: #2997FF;

    --primary-button-text: #FFFFFF;
    --primary-button-icon: #FFFFFF;

    --button-text: #FFFFFF;
    --button-icon: #FFFFFF;

    --link-primary: #2997FF;
    --link-primary-hover: #2997FF;

    --heading-primary: #FFFFFF;
    --heading-primary-01: #AEB1B7;
    --heading-primary-02: #51545D;

    --paragraph-primary: #FFFFFF;
    --paragraph-primary-100: #AEB1B7;
    --paragraph-primary-200: #51545D;

    --surface-layer-01: #000000;
    --surface-layer-02: #111318;
    --surface-layer-03: #292C32;

    --surface-layer-01-hover: #111318;
    --surface-layer-02-hover: #292C32;
    --surface-layer-03-hover: #3B3E45;

    --border-subtle-01: #292C32;
    --border-subtle-02: #3B3E45;
    --border-subtle-03: #51545D;

    --focused-state-outline-dark: rgba(0, 125, 250, 0.6);

    --background-main: #000000;

    --glass-dark: rgba(25, 25, 25, 0.80);

    --drop-shadow-dark: rgba(255, 255, 255, 0.24);

    /* 0.5px 1px 0px 0px #595964 inset, -0.5px -1px 0px 0px #2F2F36 inset */

    /* Light Mode */


    --primary-light: #0071E3;

    --button-primary-light: #0071E3;
    --button-primary-hover-light: #0077ED;
    --button-primary-active-light: #0077ED;

    --button-secondary-light: #F1F1F1;
    --button-secondary-hover-light: #D6D6D6;
    --button-secondary-active-light: #D6D6D6;

    --secondary-button-text-light: #0066CC;
    --secondary-button-icon-light: #0066CC;

    --button-text-light: #000000;
    --button-icon-light: #000000;

    --link-primary-light: #0066CC;
    --link-primary-hover-light: #0066CC;

    --heading-primary-light: #000000;
    --heading-primary-01-light: #51545D;
    --heading-primary-02-light: #989CA4;

    --paragraph-primary-light: #000000;
    --paragraph-primary-100-light: #51545D;
    --paragraph-primary-200-light: #989CA4;

    --surface-layer-01-light: #FFFFFF;
    --surface-layer-02-light: #F6F7F8;
    --surface-layer-03-light: #E9EAEC;

    --surface-layer-01-hover-light: #F6F7F8;
    --surface-layer-02-hover-light: #E9EAEC;
    --surface-layer-03-hover-light: #D3D6D9;

    --border-subtle-01-light: #D3D6D9;
    --border-subtle-02-light: #AEB1B7;
    --border-subtle-03-light: #80858E;

    --focused-state-outline-light: rgba(0, 125, 250, 0.6);

    --background-main-light: #FFFFFF;

    --glass-light: rgba(255, 255, 255, 0.80);

    --drop-shadow-light: rgba(0, 0, 0, 0.16);

    /* 0.5px 1px 0px 0px #CCCCD4 inset, -0.5px -1px 0px 0px #E3E3E9 inset */

    /* Fonts */


    --fonts-heading: SF Pro Display, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --fonts-body: SF Pro Text, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --fonts-mono: "SF Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --fonts-symbols: SF Symbols, SF Pro Text, SFMono-Regular, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" sans-serif;



    /* Fonts Weights */

    --fontWeights-thin: 200;
    --fontWeights-light: 300;
    --fontWeights-normal: 400;
    --fontWeights-medium: 500;
    --fontWeights-semibold: 600;
    --fontWeights-bold: 700;
    --fontWeights-extrabold: 800;
    --fontWeights-black: 900;



    /* Letter Spacing */


    --letterSpacings-tighter: -0.05em;
    --letterSpacings-tight: -0.025em;
    --letterSpacings-normal: 0;
    --letterSpacings-wide: 0.025em;
    --letterSpacings-wider: 0.05em;



    /* Line Heights */


    --lineHeights-3: .75rem;
    --lineHeights-4: 1rem;
    --lineHeights-5: 1.25rem;
    --lineHeights-6: 1.5rem;
    --lineHeights-7: 1.75rem;
    --lineHeights-8: 2rem;
    --lineHeights-9: 2.25rem;
    --lineHeights-10: 2.5rem;
    --lineHeights-normal: normal;
    --lineHeights-none: 1;
    --lineHeights-shorter: 1.25;
    --lineHeights-short: 1.375;
    --lineHeights-base: 1.5;
    --lineHeights-tall: 1.625;
    --lineHeights-taller: 2;



    /* Border Radius */


    --border-radius-none: 0rem;
    --border-radius-200: 0.25rem;
    --border-radius-400: 0.5rem;
    --border-radius-500: 0.625rem;
    --border-radius-600: 0.75rem;
    --border-radius-800: 1rem;
    --border-radius-full: 1000rem;



    /* Font Sizes */


    --fontSizes-10: 0.625rem;
    --fontSizes-12: 0.75rem;
    --fontSizes-14: 0.875rem;
    --fontSizes-16: 1rem;
    --fontSizes-18: 1.125rem;
    --fontSizes-20: 1.25rem;
    --fontSizes-24: 1.5rem;
    --fontSizes-28: 1.75rem;
    --fontSizes-32: 2rem;
    --fontSizes-40: 2.5rem;
    --fontSizes-48: 3rem;
    --fontSizes-56: 3.5rem;
    --fontSizes-64: 4rem;
    --fontSizes-72: 4.5rem;
    --fontSizes-80: 5rem;
    --fontSizes-96: 6rem;
    --fontSizes-128: 8rem;



    /* Shadows */


    --shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
    --shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
    --shadows-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    --shadows-none: none;
    --shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;




}