@import url("./global.built.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  position: relative;
  animation: pageLoading 500ms var(--ease-in-out-sine);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background: #FFFFFF;
}

:focus {
  outline: none;
}

main {
  position: relative;
  margin: auto;
}

.intro-section {
  padding: 128px 0 64px;
  position: relative;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 1024px;
  padding: 0 48px;
}

@keyframes fade-in-blur {
  0% {
    opacity: 0;
    backdrop-filter: blur(5px);
    transform: translateY(25%) scale(0.95);
  }

  100% {
    opacity: 1;
    backdrop-filter: blur();
    transform: none;
  }
}

.selected-layer {
  position: relative;
  padding: 4px 12px 12px;
  border: 2px solid rgba(0, 122, 255);
  animation-name: fade-in-blur;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(.19, 1, .22, 1);
  animation-fill-mode: both;
  will-change: transform;
}

.selected-layer-label {
  position: absolute;
  top: -24px;
  left: -2px;
  padding: 2px 8px;
  font-family: var(--font-family-body);
  font-size: var(--font-size-xxxsmall);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-xxxsmall);
  letter-spacing: var(--font-tracking-none);
  color: rgb(255, 255, 255);
  background: rgba(0, 122, 255);
}

.intro-section-headline {
  width: 100%;
  font-family: var(--font-family-display);
  font-size: var(--font-size-xxxlarge);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-leading-xxxlarge);
  letter-spacing: var(--font-tracking-tighter);
  font-variation-settings: "EXPO" -20;
  color: #1D1D1F;
}

.intro-section-headline-highlighted-link {
  color: inherit;
  text-decoration: underline;
}

.intro-section-headline-highlighted-link-animall {
  color: rgba(20, 119, 111, 1);
}

.intro-section-headline-highlighted-link-groto {
  color: rgba(66, 40, 209, 1);
}

.intro-section-headline-highlighted-link-collegepur {
  color: rgba(85, 74, 152, 1);
}

/* ---------------- */


.work-section {
  padding: 64px 0 128px;
  position: relative;
  background: #FFFFFF;
  overflow: hidden;
}

.work-section-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  max-width: 1024px;
  padding: 0 48px;
}

.work-section-eyebrow {
  width: 100%;
  font-family: var(--font-family-body);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-leading-xsmall);
  letter-spacing: var(--font-tracking-widest);
  text-transform: uppercase;
  color: #6E6E73;
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 64px 32px;
}

.project {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  text-decoration: none;
  gap: 64px;
  transition: transform 500ms var(--ease-out-cubic);
}

.project-media {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.08);
  aspect-ratio: 4/4;
  border-radius: 20px;
  corner-shape: superellipse(1.25);
  transition: transform 250ms var(--ease-out-cubic);
}

.project-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-tag {
  width: 100%;
  font-family: var(--font-family-body);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-xsmall);
  letter-spacing: var(--font-tracking-none);
  color: #424245;
}

.project-title {
  width: 100%;
  font-family: var(--font-family-display);
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-leading-xxlarge);
  letter-spacing: var(--font-tracking-tighter);
  color: #1D1D1F;
}

.project-description {
  width: 100%;
  font-family: var(--font-family-body);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-xsmall);
  letter-spacing: var(--font-tracking-none);
  color: #6E6E73;
}

.project-actions {
  width: 100%;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.project-action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  font-family: var(--font-family-body);
  font-size: var(--font-size-xxsmall);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-xxsmall);
  letter-spacing: var(--font-tracking-none);
  cursor: pointer;
  text-decoration: none;
  border-radius: 999px;
  border: 1px solid #1D1D1F;
  height: 44px;
  transition: background 250ms var(--ease-out-cubic), color 250ms var(--ease-out-cubic), fill 250ms var(--ease-out-cubic);
}

.project-action-primary {
  background: #1D1D1F;
  color: #F4F4F7;
  fill: #F4F4F7;
}

.project-action-primary:hover {
  background: #333336;
}

.project-action-secondary {
  background: transparent;
  color: #1D1D1F;
  fill: #1D1D1F;
}

.project-action-secondary:hover {
  background: #1D1D1F;
  color: #F4F4F7;
  fill: #F4F4F7;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {

  .intro-section-content {
    padding: 0 24px;
  }

  .intro-section-headline {
    font-size: var(--font-size-xxlarge);
    line-height: var(--font-leading-xxlarge);
    letter-spacing: var(--font-tracking-tighter);
  }


  /* ---------- */


  .work-section-content {
    padding: 0 24px;
  }

  .projects {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .project {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
  }

  .project-information {
    gap: 16px;
  }

  .project-title {
    font-size: var(--font-size-xlarge);
    line-height: var(--font-leading-xlarge);
    letter-spacing: var(--font-tracking-tighter);
  }

  .project-actions {
    margin-top: 8px;
  }


}