/* Linked CSS Files */

@import url("./variables.css");
@import url("./karma-semantics.css");
@import url("./karma-typography&radius.css");

/*  Animations */

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  scrollbar-width: thin;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--separator);
}

@supports (scrollbar-color: var(--separator) transparent) {
  * {
    scrollbar-color: var(--separator) transparent;
    scrollbar-width: thin;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--karma-font-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: var(--globalnav-wrapper-height);
  background-color: var(--body-background);
  cursor: var(--cursor-default), auto;
  animation: pageLoading 950ms;
  position: relative;
}

.body-background {
  flex: none;
  inset: 0;
  opacity: .4;
  overflow: visible;
  position: absolute;
  z-index: -1;
}

.body-background-tile {
  position: absolute;
  border-radius: inherit;
  inset: 0px;
  background-repeat: repeat;
  background-position: left top;
  background-size: 52px;
  background-image: var(--body-background-tile);
  border: 0px;
}

main {
  min-height: 100vh;
}

.project-cover-wrapper {
  background-color: var(--fill-secondary);
  width: 100%;
  max-height: 512px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-cover {
  margin: auto;
  max-width: var(--content-max-width);
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#main-container {
  max-width: var(--content-max-width);
  margin: auto;
  width: 100%;
}

#header-section-wrapper {
  padding: 32px 0px;
}

.header-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: var(--content-max-width);
}

.header-section-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font: var(--title2-m-emphasized);
  letter-spacing: var(--title2-letterspacing);
  color: var(--text);
}

.project-overview {
  font: var(--body1-m);
  letter-spacing: var(--body1-letterspacing);
  color: var(--text-secondary);
}

.project-information {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  align-items: start;
  gap: 24px;
}

.role h6 {
  font: var(--body2-m-emphasized);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
  margin-bottom: 8px;
}

.role p {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text-secondary);
}

.timeline h6 {
  font: var(--body2-m-emphasized);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
  margin-bottom: 8px;
}

.timeline p {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text-secondary);
}

.tools h6 {
  font: var(--body2-m-emphasized);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
  margin-bottom: 8px;
}

.tools p {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text-secondary);
}

.line {
  border: 1px solid var(--separator);
}

/* Main Case Study Section */

#problem-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.problem-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.problem-section-copy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.problem-section-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

#process-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.process-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.process-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

#research-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.research-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.research-section-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

.link-one {
  display: flex;
  align-items: start;
  justify-content: start;
}

.full-research {
  color: var(--link-color);
  font: var(--link-m);
  letter-spacing: var(--link-letterspacing);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 200ms ease-out;
  gap: 4px;
}

.full-research:hover .link-copy {
  cursor: var(--cursor-pointer), auto;
  text-decoration: underline var(--link-color);
}

.arrow-top-right {
  width: 32px;
  height: 32px;
}

.arrow-top-right path {
  fill: var(--link-color);
}

.research-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

#pain-point-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pain-point-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.main-pain-point-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 48px;
}

.employees-pain-point {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.employees-pain-point-heading {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
}

.pain-point-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pain-point {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

.management-pain-point {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.management-pain-point-heading {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
}

#ideation-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ideation-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.hmw-heading {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
}

.hmw-question-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hmw-question {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

.sketches-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

#task-flow-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.task-flow-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.task-flow-section-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

.employees-task-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

.management-task-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

#solution-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.solution-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.solution-section-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

#main-solution-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.solution-employees {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.solution-employees-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.solution-employees-heading {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
}

.solution-employees-copy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.solution-employees-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

.solution-v-app {
  max-width: 320px;
  height: auto;
  margin-right: auto;
  border-radius: var(--border-radius-12);
}

.solution-management {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.solution-management-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.solution-management-heading {
  font: var(--title4-m-emphasized);
  letter-spacing: var(--title4-letterspacing);
  color: var(--text);
}

.solution-management-copy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.solution-management-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

.solution-v-web {
  max-width: 100%;
  height: auto;
  margin-right: auto;
  border-radius: var(--border-radius-12);
}

#map-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.map-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.map-section-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

.main-map {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.map-section-copy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.office-map-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-8);
}

#key-takeaways-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.key-takeaways-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.key-takeaways-section-copy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.key-takeaways-section-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

#next-step-section {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.next-step-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
}

.next-step-section-copy {
  font: var(--body2-m);
  letter-spacing: var(--body2-letterspacing);
  color: var(--text);
}

.finish-section {
  padding: 48px 0 96px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.finish-section-heading {
  font: var(--title3-m-emphasized);
  letter-spacing: var(--title3-letterspacing);
  color: var(--text);
  text-align: center;
}

.back-to-home {
  text-decoration: none;
  color: var(--link-color);
  font: var(--link-m);
  letter-spacing: var(--link-letterspacing);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 200ms ease-out;
  gap: 4px;
}

.back-to-home:hover .link-copy {
  cursor: var(--cursor-pointer), auto;
  text-decoration: underline var(--link-color);
}

.arrow-left {
  width: 32px;
  height: 32px;
}

.arrow-left path {
  fill: var(--link-color);
}

/* Small desktop */

@media (max-width: 1400px) {}

/* Tablet */

@media (max-width: 1068px) {
  #main-container {
    padding: 0px 48px;
    width: 100%;
  }

  #project-cover {
    max-width: 100%;
  }

  .solution-v-app {
    max-width: 100%;
  }

  .solution-v-web {
    max-width: 100%;
  }

  .main-map {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
  }

  .finish-section {
    padding: 48px 0 96px;
  }
}

/* Mobile*/

@media (max-width: 734px) {
  #main-container {
    padding: 0px 24px;
    width: 100%;
  }

  .header-section {
    gap: 48px;
  }

  .title {
    font: var(--title2-xxxs-emphasized);
  }

  .project-overview {
    font: var(--body1-xxxs);
  }

  .project-information {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .role h6 {
    font: var(--body2-xxxs-emphasized);
  }

  .role p {
    font: var(--body2-xxxs);
  }

  .timeline h6 {
    font: var(--body2-xxxs-emphasized);
  }

  .timeline p {
    font: var(--body2-xxxs);
  }

  .tools h6 {
    font: var(--body2-xxxs-emphasized);
  }

  .tools p {
    font: var(--body2-xxxs);
  }

  .problem-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .problem-section-copy {
    font: var(--body2-xxxs);
  }

  .process-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .research-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .research-section-copy {
    font: var(--body2-xxxs);
  }

  .pain-point-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .main-pain-point-section {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
  }

  .pain-point {
    font: var(--body2-xxxs);
  }

  .management-pain-point-heading {
    font: var(--title4-xxxs-emphasized);
  }

  .ideation-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .hmw-heading {
    font: var(--title4-xxxs-emphasized);
  }

  .hmw-question {
    font: var(--body2-xxxs);
  }

  .task-flow-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .task-flow-section-copy {
    font: var(--body2-xxxs);
  }

  .solution-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .solution-section-copy {
    font: var(--body2-xxxs);
  }

  .solution-employees {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
  }

  .solution-employees-heading {
    font: var(--title4-xxxs-emphasized);
  }

  .solution-employees-copy {
    font: var(--body2-xxxs);
  }

  .solution-management-heading {
    font: var(--title4-xxxs-emphasized);
  }

  .solution-management-copy {
    font: var(--body2-xxxs);
  }

  .map-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .map-section-copy {
    font: var(--body2-xxxs);
  }

  .key-takeaways-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .key-takeaways-section-copy {
    font: var(--body2-xxxs);
  }

  .next-step-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .next-step-section-copy {
    font: var(--body2-xxxs);
  }

  .finish-section {
    padding: 40px 0 80px;
  }

  .finish-section-heading {
    font: var(--title3-xxxs-emphasized);
  }

  .back-to-home {
    font: var(--link-xxxs);
  }
}