@import url("./global.built.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  animation: pageLoading 1s var(--ease-in-out-sine);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background: var(--appearance-fill-neutral-primary);
}

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

main {
  position: relative;
  margin: auto;
}

.hero-section {
  padding: 64px 0;
  position: relative;
  background: var(--appearance-fill-neutral-primary);
}

.hero-section-layout {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: var(--layout-width-maximum);
  padding: 0 var(--layout-margin);
  margin: auto;
  z-index: 1;
}

.hero-section-content {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
  gap: 64px var(--grid-guttur);
  align-items: start;
  justify-content: start;
}

.logo-container {
  grid-column: 1 / 3;
  width: 100%;
  display: flex;
}

.logo {
  text-decoration: none;
  width: 24px;
  height: 24px;
  border-radius: 999px;
  background: #FF4700;
}

.navigation-link-container {
  grid-column: 3 / 5;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xxxsmall) var(--space-medium);
}

.navigation-link {
  width: max-content;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: var(--font-family-content);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-xsmall);
  letter-spacing: var(--font-tracking-wide);
  cursor: pointer;
  color: var(--appearance-glyph-neutral-primary);
  transition: var(--transition-property-colors) var(--transition-duration-normal) var(--ease-out-sine);
}

.navigation-link:hover {
  text-decoration: underline;
  color: var(--appearance-glyph-neutral-primary-hover);
}

.intro-container {
  grid-column: 5 / 13;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-xlarge);
}

.intro {
  text-align: center;
  display: inline-block;
  color: var(--appearance-glyph-neutral-primary);
}

.about-section {
  padding: 128px 0;
  position: relative;
  background: var(--appearance-fill-neutral-primary);
}

.about-section-layout {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: var(--layout-width-maximum);
  padding: 0 var(--layout-margin);
  margin: auto;
}

.about-section-content {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
  gap: 64px var(--grid-guttur);
  align-items: start;
  justify-content: start;
}

.about-section-label {
  grid-column: 1 / 5;
  width: 100%;
  color: var(--appearance-glyph-neutral-quaternary);
}

.journey-container {
  grid-column: 5 / 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-xlarge);
}

.journey {
  color: var(--appearance-glyph-neutral-primary);
  text-align: justify;
}

.me {
  grid-column: 10 / 13;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
  border-radius: var(--border-radius-medium);
}

.work-section {
  padding: 128px 0;
  position: relative;
  background: var(--appearance-fill-neutral-primary);
}

.work-section-layout {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: var(--layout-width-maximum);
  padding: 0 var(--layout-margin);
  margin: auto;
  z-index: 1;
}

.work-section-content {
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
  gap: 64px var(--grid-guttur);
  align-items: start;
  justify-content: start;
}

.work-section-label {
  position: sticky;
  top: 128px;
  grid-column: 1 / 5;
  width: 100%;
  color: var(--appearance-glyph-neutral-quaternary);
}

.article {
  grid-column: 5 / 13;
  width: 100%;
}

.work-section .separator {
  grid-column: 5 / 13;
  background: var(--appearance-border-neutral-quaternary);
}


@media (max-width: 1024px) {

  .logo-container {
    grid-column: 1 / 2;
  }

  .navigation-link-container {
    grid-column: 5 / 9;
    justify-content: end;
  }

  .intro-container {
    grid-column: 2 / 8;
  }

  .about-section-label {
    grid-column: 1 / 9;
  }

  .journey-container {
    grid-column: 1 / 6;
  }

  .me {
    grid-column: 6 / 9;
  }

  .work-section-label {
    grid-column: 1 / 4;
  }

  .article {
    grid-column: 4 / 9;
  }

  .work-section .separator {
    grid-column: 4 / 9;
  }

}

@media (max-width: 768px) {

  .logo-container {
    grid-column: 1 / 2;
  }

  .navigation-link-container {
    grid-column: 2 / 5;
    justify-content: end;
  }

  .intro-container {
    grid-column: 1 / 5;
  }

  .about-section-label {
    grid-column: 1 / 5;
  }

  .journey-container {
    grid-column: 1 / 5;
  }

  .me {
    grid-column: 1 / 5;
  }

  .work-section-label {
    position: static;
    grid-column: 1 / 5;
  }

  .article {
    grid-column: 1 / 5;
  }

  .work-section .separator {
    grid-column: 1 / 5;
  }

}