@import url("./global.built.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

@keyframes pageLoading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  position: relative;
  animation: pageLoading 500ms var(--ease-in-out-sine);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background: var(--color-background-primary);
}

:focus {
  outline: none;
}

main {
  position: relative;
  margin: auto;
}

.intro-section {
  padding: 128px 0 64px;
  position: relative;
  background: var(--color-background-blue-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 1024px;
  padding: 0 48px;
}

@keyframes fade-in-blur {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(25%);
  }

  100% {
    opacity: 1;
    filter: blur();
    transform: translateY(0);
  }
}

.selected-layer {
  position: relative;
  padding: 0 8px 8px;
  border: 1px solid rgb(0, 122, 255);
  animation-name: fade-in-blur;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(.19, 1, .22, 1);
  animation-fill-mode: both;
  will-change: transform;
}

.selected-layer-handle {
  position: absolute;
  width: 8px;
  height: 8px;
  background: white;
  border: 1px solid rgb(0, 122, 255);
}

.selected-layer-handle-top-right {
  top: -4px;
  left: -4px;
}

.selected-layer-handle-top-left {
  top: -4px;
  right: -4px;
}

.selected-layer-handle-bottom-right {
  bottom: -4px;
  right: -4px;
}

.selected-layer-handle-bottom-left {
  bottom: -4px;
  left: -4px;
}

.selected-layer-label {
  position: absolute;
  top: -24px;
  left: 8px;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xxxsmall);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-xxxsmall);
  letter-spacing: var(--font-tracking-none);
  color: rgb(0, 122, 255);
}

.selected-layer-dimension {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translate(-50%);
  padding: 2px 8px;
  border-radius: 5px;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xxxsmall);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-xxxsmall);
  letter-spacing: var(--font-tracking-none);
  text-align: center;
  background: rgb(0, 122, 255);
  color: white;
}

.intro-section-headline {
  width: 100%;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xxxlarge);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-leading-xxxlarge);
  letter-spacing: var(--font-tracking-tightest);
  color: var(--color-foreground-primary);
}

.intro-section-headline-highlighted-link {
  color: inherit;
  text-decoration: underline;
}

.intro-section-headline-highlighted-link-animall {
  color: rgba(20, 119, 111, 1);
}

.intro-section-headline-highlighted-link-groto {
  color: rgba(66, 40, 209, 1);
}

.intro-section-headline-highlighted-link-collegepur {
  color: rgba(85, 74, 152, 1);
}

/* ---------------- */


.work-section {
  padding: 64px 0 128px;
  position: relative;
  background: var(--color-background-primary);
  overflow: hidden;
}

.work-section-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  max-width: 1024px;
  padding: 0 48px;
}

.work-section-eyebrow {
  width: 100%;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-xsmall);
  letter-spacing: var(--font-tracking-tight);
  color: var(--color-foreground-secondary);
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 48px 32px;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 20px;
  cursor: pointer;
  transition: transform 500ms var(--ease-out-cubic);
}

[data-scroll-tile-odd],
[data-scroll-tile-even] {
  will-change: transform;
}

.project:hover .project-title {
  text-decoration: underline;
  color: var(--color-foreground-primary-hover);
}

.project:hover .project-media {
  transform: scale(1.0125);
}

.project-media {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  box-shadow: 0 0 0 1px var(--color-foreground-quinary);
  aspect-ratio: 4/3.5;
  border-radius: 13px;
  corner-shape: superellipse(1.25);
  transition: transform 250ms var(--ease-out-cubic);
}

.project-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 12px;
}

.project-title {
  width: 100%;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-leading-small);
  letter-spacing: var(--font-tracking-tight);
  color: var(--color-foreground-primary);
}

.project-description {
  width: 100%;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xxsmall);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-xxsmall);
  letter-spacing: var(--font-tracking-none);
  color: var(--color-foreground-secondary);
}

.project-tag {
  width: 100%;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xxsmall);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-leading-xxsmall);
  letter-spacing: var(--font-tracking-none);
  color: var(--color-foreground-primary);
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {

  .intro-section-content {
    padding: 0 24px;
  }

  .intro-section-headline {
    font-size: var(--font-size-xxlarge);
    line-height: var(--font-leading-xxlarge);
    letter-spacing: var(--font-tracking-tighter);
  }


  /* ---------- */


  .work-section-content {
    padding: 0 24px;
  }

  .projects {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

}