:root {

  /* Dark mode */


  --primary: #0561EB;

  --button-primary: #0A84FF;
  --button-primary-hover: #0974E0;
  --button-primary-active: #086FD6;

  --button-secondary: #292B34;
  --button-secondary-hover: #3A3C44;
  --button-secondary-active: #43444C;

  --secondary-button-text-dark: #ffffff;
  --secondary-button-icon-dark: #ffffff;

  --primary-button-text: #ffffff;
  --primary-button-icon: #ffffff;

  --button-text: #ffffff;
  --button-icon: #ffffff;

  --link-primary: #2997FF;
  --link-primary-hover: #2791F5;

  --heading-primary: #F0F3F7;
  --heading-primary-01: #ECF1F7;
  --heading-primary-02: #E7EFF7;

  --paragraph-primary: #E6EBF0;
  --paragraph-primary-100: #C4D7E9;
  --paragraph-primary-200: #B4CCE3;

  --surface-layer-01: #141414;
  --surface-layer-02: #181818;
  --surface-layer-03: #1A1A1A;

  --surface-layer-01-hover: #292929;
  --surface-layer-02-hover: #2C2C2C;
  --surface-layer-03-hover: #252525;

  --border-subtle-01: #444444;
  --border-subtle-02: #474747;
  --border-subtle-03: #484848;

  --partition-dark: #191C24;

  --secondary-green: #11A859;
  --secondary-yellow: #FFC701;
  --secondary-red: #F34E1E;
  --secondary-purple: #5650FF;
  --secondary-orange: #FF6924;
  --secondary-brown: #A6674B;
  --secondary-teal: #45AEE5;

  --background-main: #0E1014;

  --glass-dark: rgba(23, 25, 35, 0.8);

  --nav-border-dark: rgba(60, 43, 153, 0.125);

  --drop-shadow-dark: rgba(255, 255, 255, 0.2) 0px -1px 0px inset, rgba(0, 0, 0, 0.05) 0px 8px 24px, rgba(10, 132, 255, 10%) 0px 4px 24px;

  --button-drop-shadow-dark: 0px 1px 2.5px 0px rgba(15, 98, 254, 0.24), 0px 0px 0px 0.5px rgba(15, 98, 254, 0.12);



  --green-gradient: linear-gradient(-45deg, #18B774, #055648);
  --blue-gradient: linear-gradient(-45deg, #2F49BD, #4898F1);


  /* Light Mode */

  --primary-light: #148EFF;

  --button-primary-light: #007AFF;
  --button-primary-hover-light: #1F8AFF;
  --button-primary-active-light: #3D9AFF;

  --button-secondary-light: #EDF2F7;
  --button-secondary-hover-light: #DADFE3;
  --button-secondary-active-light: #D1D5D9;

  --secondary-button-text-light: #000000;
  --secondary-button-icon-light: #000000;

  --button-text-light: #000000;
  --button-icon-light: #000000;

  --link-primary-light: #0066CC;
  --link-primary-hover-light: #0062C4;

  --heading-primary-light: #181A1E;
  --heading-primary-01-light: #171C23;
  --heading-primary-02-light: #171E28;

  --paragraph-primary-light: #2C3035;
  --paragraph-primary-100-light: #2E4255;
  --paragraph-primary-200-light: #344C65;

  --surface-layer-01-light: #FDFDFD;
  --surface-layer-02-light: #FAFAFA;
  --surface-layer-03-light: #F8F8F8;

  --surface-layer-01-hover-light: #EEEEF2;
  --surface-layer-02-hover-light: #EAEAEE;
  --surface-layer-03-hover-light: #E4E4E8;

  --border-subtle-01-light: #FBFBFD;
  --border-subtle-02-light: #F9F9FA;
  --border-subtle-03-light: #F6F6F8;

  --partition-light: #F5F6F7;

  --secondary-green-light: #3AA76D;
  --secondary-yellow-light: #FFC043;
  --secondary-red-light: #D44333;
  --secondary-purple-light: #716CFF;
  --secondary-orange-light: #ED6E33;
  --secondary-brown-light: #99644C;
  --secondary-teal-light: #22a6ed;

  --background-main-light: #ffffff;

  --glass-light: rgba(255, 255, 255, 0.8);

  --nav-border-light: #EDF2F7;

  --drop-shadow-light: inset 0 -1px 0 hsla(100, 100%, 100%, 0.2), 0 8px 24px rgba(255, 255, 255, .05), 0px 4px 24px rgba(20, 141, 255, 10%);

  --button-drop-shadow-light: 0px 1px 2.5px 0px rgba(0, 0, 0, 0.24), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);




  /* Fonts */


  --fonts-heading: -apple-system, "Work Sans", Inter, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-body: -apple-system, Inter, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-mono: -apple-system, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  ;

  --fontWeights-thin: 200;
  --fontWeights-light: 300;
  --fontWeights-normal: 400;
  --fontWeights-medium: 600;
  --fontWeights-semibold: 600;
  --fontWeights-bold: 700;
  --fontWeights-extrabold: 800;
  --fontWeights-black: 900;


  --letterSpacings-tighter: -0.05em;
  --letterSpacings-tight: -0.025em;
  --letterSpacings-normal: 0;
  --letterSpacings-wide: 0.025em;
  --letterSpacings-wider: 0.05em;
  --letterSpacings-widest: 0.1em;


  --lineHeights-3: .75rem;
  --lineHeights-4: 1rem;
  --lineHeights-5: 1.25rem;
  --lineHeights-6: 1.5rem;
  --lineHeights-7: 1.75rem;
  --lineHeights-8: 2rem;
  --lineHeights-9: 2.25rem;
  --lineHeights-10: 2.5rem;
  --lineHeights-normal: normal;
  --lineHeights-none: 1;
  --lineHeights-shorter: 1.25;
  --lineHeights-short: 1.375;
  --lineHeights-base: 1.5;
  --lineHeights-tall: 1.625;
  --lineHeights-taller: 2;



}




[color-scheme="dark"] {

  --primary-light: var(--primary);

  --button-primary-light: var(--button-primary);
  --button-primary-hover-light: var(--button-primary-hover);
  --button-primary-active-light: var(--button-primary-active);

  --button-secondary-light: var(--button-secondary);
  --button-secondary-hover-light: var(--button-secondary-hover);
  --button-secondary-active-light: var(--button-secondary-active);

  --secondary-button-text-light: var(--secondary-button-text-dark);
  --secondary-button-icon-light: var(--secondary-button-icon-dark);


  --button-text-light: var(--button-text);
  --button-icon-light: var(--button-icon);

  --link-primary-light: var(--link-primary);
  --link-primary-hover-light: var(--link-primary-hover);

  --heading-primary-light: var(--heading-primary);
  --heading-primary-01-light: var(--heading-primary-01);
  --heading-primary-02-light: var(--heading-primary-02);

  --paragraph-primary-light: var(--paragraph-primary);
  --paragraph-primary-100-light: var(--paragraph-primary-100);
  --paragraph-primary-200-light: var(--paragraph-primary-200);

  --surface-layer-01-light: var(--surface-layer-01);
  --surface-layer-02-light: var(--surface-layer-02);
  --surface-layer-03-light: var(--surface-layer-03);

  --surface-layer-01-hover-light: var(--surface-layer-01-hover);
  --surface-layer-02-hover-light: var(--surface-layer-02-hover);
  --surface-layer-03-hover-light: var(--surface-layer-03-hover);

  --border-subtle-01-light: var(--border-subtle-01);
  --border-subtle-02-light: var(--border-subtle-02);
  --border-subtle-03-light: var(--border-subtle-03);

  --partition-light: var(--partition-dark);

  --secondary-green-light: var(--secondary-green);
  --secondary-yellow-light: var(--secondary-yellow);
  --secondary-red-light: var(--secondary-red);
  --secondary-purple-light: var(--secondary-purple);
  --secondary-orange-light: var(--secondary-orange);
  --secondary-brown-light: var(--secondary-brown);
  --secondary-teal-light: var(--secondary-teal);

  --background-main-light: var(--background-main);

  --glass-light: var(--glass-dark);

  --drop-shadow-light: var(--drop-shadow-dark);

  --button-drop-shadow-light: var(--button-drop-shadow-dark);

}




[color-scheme="light"] {

  --primary: var(--primary-light);

  --button-primary: var(--button-primary-light);
  --button-primary-hover: var(--button-primary-hover-light);
  --button-primary-active: var(--button-primary-active-light);

  --button-secondary: var(--button-secondary-light);
  --button-secondary-hover: var(--button-secondary-hover-light);
  --button-secondary-active: var(--button-secondary-active-light);

  --secondary-button-text-dark: var(--secondary-button-text-light);
  --secondary-button-icon-dark: var(--secondary-button-icon-light);

  --button-text: var(--button-text-light);
  --button-icon: var(--button-icon-light);

  --link-primary: var(--link-primary-light);
  --link-primary-hover: var(--link-primary-hover-light);

  --heading-primary: var(--heading-primary-light);
  --heading-primary-01: var(--heading-primary-01-light);
  --heading-primary-02: var(--heading-primary-02-light);

  --paragraph-primary: var(--paragraph-primary-light);
  --paragraph-primary-100: var(--paragraph-primary-100-light);
  --paragraph-primary-200: var(--paragraph-primary-200-light);

  --surface-layer-01: var(--surface-layer-01-light);
  --surface-layer-02: var(--surface-layer-02-light);
  --surface-layer-03: var(--surface-layer-03-light);

  --surface-layer-01-hover: var(--surface-layer-01-hover-light);
  --surface-layer-02-hover: var(--surface-layer-02-hover-light);
  --surface-layer-03-hover: var(--surface-layer-03-hover-light);

  --border-subtle-01: var(--border-subtle-01-light);
  --border-subtle-02: var(--border-subtle-02-light);
  --border-subtle-03: var(--border-subtle-03-light);

  --partition-dark: var(--partition-light);

  --secondary-green: var(--secondary-green-light);
  --secondary-yellow: var(--secondary-yellow-light);
  --secondary-red: var(--secondary-red-light);
  --secondary-purple: var(--secondary-purple-light);
  --secondary-orange: var(--secondary-orange-light);
  --secondary-brown: var(--secondary-brown-light);
  --secondary-teal: var(--secondary-teal-light);

  --background-main: var(--background-main-light);

  --glass-dark: var(--glass-light);

  --drop-shadow-dark: var(--drop-shadow-light);

  --button-drop-shadow-dark: var(--button-drop-shadow-light);

}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonts-body);
  letter-spacing: var(--letterSpacings-normal);
  font-weight: var(--fontWeights-normal);
  line-height: var(--lineHeights-base);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-main);
}

main {
  min-height: 100vh;
}

.indicator {
  position: fixed;
  width: 0;
  height: 4px;
  z-index: 100;
  background-color: var(--primary-light);
}

#cover-mt {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: 16px;
}

#side-navbar {
  position: fixed;
  top: 110px;
  left: 0;
  max-width: 170px;
  height: min-content;
  background-color: var(--glass-dark);
  backdrop-filter: saturate(180%) blur(22px);
  border-radius: 0px 8px 8px 0px;
  padding: 12px 24px;
  z-index: 100;
  border: 1px solid var(--nav-border-dark);
}

#side-navbar .inner-nav {
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.inner-nav a {
  padding: 8px 0px;
  font-size: 16px;
  color: var(--paragraph-primary);
  text-decoration: none;
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-semibold);
}

.inner-nav a:hover {
  color: var(--link-primary-hover);
}

#back-to-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  height: min-content;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: var(--glass-dark);
  backdrop-filter: saturate(180%) blur(22px);
  text-decoration: none;
  border: 1px solid var(--nav-border-dark);
}

#back-to-top:hover {
  background-color: var(--surface-layer-01-hover);
}

#arrow-up2 {
  padding: 16px;
  font-size: 24px;
  color: var(--button-icon);
}

#main-container {
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

#upper-com {
  margin: 32px 0px;
}

#head {
  font-size: 42px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  margin-bottom: 16px;
  color: var(--heading-primary);
}

.cs {
  font-size: 18px;
  font-family: var(--fonts-mono);
  color: var(--paragraph-primary-200);
  letter-spacing: var(--letterSpacings-wide);
  margin-bottom: 16px;
}

.po {
  font-size: 18px;
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#project-info {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  align-items: start;
  margin-bottom: 24px;
  gap: 80px;
}

.r-r h6 {
  font-size: 28px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 8px;
}

.r-r p {
  font-size: 18px;
  color: var(--paragraph-primary-100);
}

.p-c h6 {
  font-size: 28px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 8px;
}

.p-c p {
  font-size: 18px;
  color: var(--paragraph-primary-100);
}

.tools h6 {
  font-size: 28px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 8px;
}

.tools p {
  font-size: 18px;
  color: var(--paragraph-primary-100);
}

.line {
  border-color: var(--border-subtle-01);
}

/* Main Case Study Section */

/* #middle-com{
    padding: 32px 8px;
} */
#problem-s {
  padding: 32px 0px;
  display: grid;
}

#problem-s h6 {
  font-size: 30px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 32px;
}

#problem-s h6:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: 600;
}

#problem-s p {
  font-size: 18px;
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#tackling-tp {
  padding: 32px 0px;
  display: grid;
}

#tackling-tp h6 {
  font-size: 30px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 32px;
}

#tackling-tp h6:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: 600;
}

#tackling-tp p {
  font-size: 18px;
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#tackling-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#research-sec {
  padding: 32px 0px;
  display: grid;
}

#re-head {
  font-size: 30px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 32px;
}

#re-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: 600;
}

#research-sec p {
  font-size: 18px;
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#re-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#ideation-sec {
  padding: 32px 0px;
  display: grid;
}

#id-head {
  font-size: 30px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 32px;
}

#id-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: 600;
}

#hmw-head {
  font-size: 24px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 24px;
}

#hmw-q {
  font-size: 18px;
  color: var(--paragraph-primary-100);
  margin-bottom: 32px;
}

#hmw-q p {
  margin-bottom: 16px;
}

#low-fi {
  font-size: 24px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 24px;
}

#lf-para {
  font-size: 18px;
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#low-fi-app {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#low-fi-web {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#task-sec {
  padding: 32px 0px;
  display: grid;
}

#ta-head {
  font-size: 30px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 32px;
}

#ta-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: 600;
}

#task-sec p {
  font-size: 18px;
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#em-task {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#ma-task {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#solution-sec {
  padding: 32px 0px;
  display: grid;
}

#so-head {
  font-size: 30px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 32px;
}

#so-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: 600;
}

#solution-sec p {
  font-size: 18px;
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#main-sol-sec {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.for-em {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 1100px;
  gap: 48px;
}

.for-em h6 {
  font-size: 24px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 24px;
}

#sol-v-mob {
  width: 100%;
  height: 532px;
}

.for-ma {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 1100px;
  gap: 48px;
}

.for-ma h6 {
  font-size: 24px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 24px;
}

#sol-v-des {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#map-sec {
  padding: 32px 0px;
  display: grid;
}

#pr-head {
  font-size: 30px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 32px;
}

#pr-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: 600;
}


#map-sec p {
  font-size: 18px;
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

.main-map {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 48px;
}

.p-o-map {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

#key-ta-sec {
  padding: 32px 0px;
  display: grid;
}

#ke-head {
  font-size: 30px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  margin-bottom: 32px;
}

#ke-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: 600;
}

#in-sec {
  display: grid;
  gap: 16px;
}


#finish {
  padding: 32px 0px 64px;
}

#fn-head {
  font-size: 36px;
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-short);
  color: var(--heading-primary-01);
  text-align: center;
  margin-bottom: 8px;
}

#back-to-all {
  margin: auto;
  width: max-content;
  font-weight: 500;
  color: var(--button-text);
  font-size: 20px;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  border: none;
  text-decoration: none;
  border-bottom: 2px solid var(--link-primary);
  transition: 0.3s ease-out;
}

#back-to-all:hover {
  color: var(--link-primary-hover);
  border-bottom: 2px solid var(--link-primary-hover);
  cursor: pointer;
}

#back-to-all #arrow-right {
  font-size: 24px;
}

#in-sec p {
  font-size: 18px;
  color: var(--paragraph-primary-100);
}


/* small desktop */

@media (max-width: 1400px) {
  #main-container {
    max-width: 972px;
    margin: auto;
    width: 100%;
  }

  #sol-v-des {
    object-fit: contain;
  }

  #side-navbar {
    display: none;
  }
}

/* Tablet */

@media (max-width: 1024px) {
  #main-container {
    max-width: 972px;
    margin: auto;
    padding: 0px 32px;
    width: 100%;
  }

  #project-info {
    gap: 24px;
  }

  #side-navbar {
    display: none;
  }

  .for-ma {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }


}

/* Mobile */

@media (max-width: 688px) {
  .indicator {
    position: fixed;
    width: 0;
    height: 6px;
    z-index: 100;
  }

  #main-container {
    margin: auto;
    padding: 0px 24px;
    width: 100%;
  }

  #back-to-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
    height: min-content;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    text-decoration: none;
  }

  #back-to-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
    height: min-content;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    text-decoration: none;
  }

  #arrow-up2 {
    padding: 20px;
    font-size: 24px;
  }

  #upper-com {
    margin: 16px 0px;
  }

  #head {
    font-size: 36px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 12px;
  }

  .cs {
    font-size: 16px;

    font-family: var(--fonts-mono);
    margin-bottom: 12px;
  }

  .po {
    font-size: 18px;
    margin-bottom: 16px;
  }

  #project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 16px;
    gap: 8px;
  }

  .r-r {
    margin-bottom: 16px;
  }

  .p-c {
    margin-bottom: 16px;
  }

  .tools {
    margin-bottom: 16px;
  }

  .r-r h6 {
    font-size: 24px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  .r-r p {
    font-size: 16px;
  }

  .p-c h6 {
    font-size: 24px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  .p-c p {
    font-size: 16px;
  }

  .tools h6 {
    font-size: 24px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  .tools p {
    font-size: 16px;
  }


  #problem-s {
    padding: 16px 0px;
  }

  #problem-s h6 {
    font-size: 24px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  #problem-s h6:hover::after {
    content: "";
  }

  #problem-s p {
    font-size: 18px;
  }

  #tackling-tp {
    padding: 16px 0px;
  }

  #tackling-tp h6 {
    font-size: 24px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  #tackling-tp h6:hover::after {
    content: "";
  }

  #tackling-tp p {
    font-size: 18px;
    margin-bottom: 16px;
  }

  #research-sec {
    padding: 16px 0px;
  }

  #re-head {
    font-size: 24px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  #re-head:hover::after {
    content: "";
  }

  #research-sec p {
    font-size: 18px;
    margin-bottom: 16px;
  }

  #ideation-sec {
    padding: 16px 0px;
  }

  #id-head {
    font-size: 26px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 16px;
  }

  #id-head:hover::after {
    content: "";
  }

  #hmw-head {
    font-size: 22px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 12px;
  }

  #hmw-q {
    font-size: 18px;
  }

  #hmw-q p {
    margin-bottom: 8px;
  }

  #low-fi {
    font-size: 22px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 24px;
  }

  #lf-para {
    font-size: 18px;
    margin-bottom: 16px;
  }

  #task-sec {
    padding: 16px 0px;
  }

  #ta-head {
    font-size: 26px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 16px;
  }

  #ta-head:hover::after {
    content: "";
  }

  #task-sec p {
    font-size: 18px;
    margin-bottom: 16px;
  }

  #solution-sec {
    padding: 16px 0px;
  }

  #so-head {
    font-size: 26px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 16px;
  }

  #so-head:hover::after {
    content: "";
  }

  #solution-sec p {
    font-size: 18px;
    margin-bottom: 16px;
  }

  #main-sol-sec {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .for-em {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }

  .for-em h6 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  #sol-v-mob {
    width: 100%;
    height: 100%;
  }

  .for-ma {
    gap: 32px;
  }

  .for-ma h6 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  #map-sec {
    padding: 16px 0px;
    display: grid;
  }

  #pr-head {
    font-size: 26px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 16px;
  }

  #pr-head:hover::after {
    content: "";
  }


  #map-sec p {
    font-size: 18px;
  }

  .main-map {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }

  #key-ta-sec {
    padding: 16px 0px;
    display: grid;
  }

  #ke-head {
    font-size: 26px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 16px;
  }

  #ke-head:hover::after {
    content: "";
  }

  #in-sec {
    display: grid;
    gap: 16px;
  }

  #finish {
    padding: 32px 0px 64px;
  }

  #fn-head {
    font-size: 36px;
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    text-align: center;
    margin-bottom: 8px;
  }

  #back-to-all {
    margin: auto;
    width: max-content;
    font-weight: 500;
    font-size: 20px;
    padding: 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    border: none;
    text-decoration: none;
    color: var(--button-text);
    border-bottom: 2px solid var(--link-primary);
  }

  #back-to-all:hover {
    color: var(--link-primary-hover);
    border-bottom: 2px solid var(--link-primary-hover);
    cursor: pointer;
  }

  #back-to-all #arrow-right {
    font-size: 24px;
  }

}