:root {

  /* Dark mode */


  --logo-dark: url(./assets/Icons/logo-dark-mode.svg);

  --primary: #0A84FF;

  --button-primary: #0A84FF;
  --button-primary-hover: #0A84FF;
  --button-primary-active: #0A84FF;

  --button-secondary: #CFE9FC;
  --button-secondary-hover: #A8D7FA;
  --button-secondary-active: #A8D7FA;

  --secondary-button-text-dark: #ffffff;
  --secondary-button-icon-dark: #ffffff;

  --primary-button-text: #ffffff;
  --primary-button-icon: #ffffff;

  --button-text: #ffffff;
  --button-icon: #ffffff;

  --link-primary: #0A84FF;
  --link-primary-hover: #0A84FF;

  --heading-primary: #FAFDFF;
  --heading-primary-01: #F0F5FA;
  --heading-primary-02: #E7EEF5;

  --paragraph-primary: #E7EEF5;
  --paragraph-primary-100: #CAD9EB;
  --paragraph-primary-200: #A3B5CC;

  --surface-layer-01: #1A1D29;
  --surface-layer-02: #1E2638;
  --surface-layer-03: #2A3448;

  --surface-layer-01-hover: #1E2638;
  --surface-layer-02-hover: #2A3448;
  --surface-layer-03-hover: #414F66;

  --border-subtle-01: #1E2638;
  --border-subtle-02: #2A3448;
  --border-subtle-03: #414F66;

  --partition-dark: #0C8CE9;

  --secondary-green: #198F51;
  --secondary-yellow: #FFC701;
  --secondary-red: #F34E1E;
  --secondary-purple: #5650FF;
  --secondary-orange: #FF6924;
  --secondary-brown: #A6674B;
  --secondary-teal: #45AEE5;

  --background-main: #0E0F1A;

  --glass-dark: #2E2E2E;

  --drop-shadow-dark: 16px 16px 0px 0px #0C8CE9;

  --button-drop-shadow-dark: 0px 1px 4px rgba(6, 139, 238, 0.24), 0px 0px 0px 1px rgba(6, 139, 238, 0.12);

  --dark-gradient: linear-gradient(to bottom, #0972D3, #539FE5);



  /* Light Mode */

  --logo-light: url(./assets/Icons/logo-light-mode.svg);

  --primary-light: #007AFF;

  --button-primary-light: #007AFF;
  --button-primary-hover-light: #007AFF;
  --button-primary-active-light: #007AFF;

  --button-secondary-light: #E5F4FF;
  --button-secondary-hover-light: #BDE3FF;
  --button-secondary-active-light: #BDE3FF;

  --secondary-button-text-light: #000000;
  --secondary-button-icon-light: #000000;

  --button-text-light: #000000;
  --button-icon-light: #000000;

  --link-primary-light: #007AFF;
  --link-primary-hover-light: #007AFF;

  --heading-primary-light: #0E0F1A;
  --heading-primary-01-light: #1A1D29;
  --heading-primary-02-light: #1E2638;

  --paragraph-primary-light: #1E2638;
  --paragraph-primary-100-light: #2A3448;
  --paragraph-primary-200-light: #4C5970;

  --surface-layer-01-light: #F0F5FA;
  --surface-layer-02-light: #E7EEF5;
  --surface-layer-03-light: #CAD9EB;

  --surface-layer-01-hover-light: #E7EEF5;
  --surface-layer-02-hover-light: #CAD9EB;
  --surface-layer-03-hover-light: #A3B5CC;

  --border-subtle-01-light: #E7EEF5;
  --border-subtle-02-light: #CAD9EB;
  --border-subtle-03-light: #A3B5CC;

  --partition-light: #0D99FF;

  --secondary-green-light: #14AE5C;
  --secondary-yellow-light: #FFC043;
  --secondary-red-light: #D44333;
  --secondary-purple-light: #716CFF;
  --secondary-orange-light: #ED6E33;
  --secondary-brown-light: #99644C;
  --secondary-teal-light: #22a6ed;

  --background-main-light: #FAFDFF;

  --glass-light: #474747;

  --drop-shadow-light: 16px 16px 0px 0px #0D99FF;

  --button-drop-shadow-light: 0px 1px 4px rgba(38, 110, 241, 0.24), 0px 0px 0px 1px rgba(38, 110, 241, 0.12);

  --light-gradient: linear-gradient(to bottom, #273EA5, #3759CE);


  /* Fonts */


  --fonts-heading: General Sans, Inter, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-body: Satoshi, Inter, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-mono: "DM mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


  --fontWeights-thin: 200;
  --fontWeights-light: 300;
  --fontWeights-normal: 450;
  --fontWeights-medium: 550;
  --fontWeights-semibold: 550;
  --fontWeights-bold: 600;
  --fontWeights-extrabold: 800;
  --fontWeights-black: 900;


  --letterSpacings-tighter: -0.05em;
  --letterSpacings-tight: -0.020em;
  --letterSpacings-normal: 0;
  --letterSpacings-wide: 0.020em;
  --letterSpacings-wider: 0.05em;
  --letterSpacings-widest: 0.1em;


  --lineHeights-3: .75rem;
  --lineHeights-4: 1rem;
  --lineHeights-5: 1.25rem;
  --lineHeights-6: 1.5rem;
  --lineHeights-7: 1.75rem;
  --lineHeights-8: 2rem;
  --lineHeights-9: 2.25rem;
  --lineHeights-10: 2.5rem;
  --lineHeights-normal: normal;
  --lineHeights-none: 1;
  --lineHeights-shorter: 1.25;
  --lineHeights-short: 1.375;
  --lineHeights-base: 1.5;
  --lineHeights-tall: 1.625;
  --lineHeights-taller: 2;



  --border-radius-none: 0rem;
  --border-radius-200: 0.25rem;
  --border-radius-400: 0.5rem;
  --border-radius-600: 0.75rem;
  --border-radius-800: 1rem;
  --border-radius-full: 10rem;


  --fontSizes-10: 0.625rem;
  --fontSizes-12: 0.75rem;
  --fontSizes-14: 0.875rem;
  --fontSizes-16: 1rem;
  --fontSizes-18: 1.125rem;
  --fontSizes-20: 1.25rem;
  --fontSizes-24: 1.5rem;
  --fontSizes-32: 2rem;
  --fontSizes-40: 2.5rem;
  --fontSizes-48: 3rem;
  --fontSizes-60: 3.75rem;
  --fontSizes-72: 4.5rem;
  --fontSizes-96: 6rem;
  --fontSizes-128: 8rem;



}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonts-body);
  letter-spacing: var(--letterSpacings-normal);
  font-weight: var(--fontWeights-normal);
  line-height: var(--lineHeights-short);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-main);
}

main {
  min-height: 100vh;
}

.indicator {
  position: fixed;
  width: 0;
  height: 4px;
  z-index: 100;
  background-color: var(--partition-dark);
}

#cover-mt {
  padding-top: 32px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius-none);
}

#side-navbar {
  position: fixed;
  top: 152px;
  left: 0;
  max-width: 168px;
  height: min-content;
  background-color: var(--surface-layer-01);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 0px var(--border-radius-200) var(--border-radius-200) 0px;
  padding: 12px 24px;
  z-index: 100;
  border: 1px solid var(--border-subtle-01);
}

#side-navbar .inner-nav {
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.inner-nav a {
  padding: 8px 0px;
  font-size: var(--fontSizes-14);
  color: var(--paragraph-primary);
  text-decoration: none;
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-medium);
}

.inner-nav a:hover {
  color: var(--link-primary-hover);
}

#back-to-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  height: min-content;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: var(--surface-layer-01);
  backdrop-filter: saturate(180%) blur(20px);
  text-decoration: none;
  border: 1px solid var(--border-subtle-01);
}

#back-to-top:hover {
  background-color: var(--surface-layer-01-hover);
}

#arrow-up2 {
  padding: 16px;
  font-size: var(--fontSizes-24);
  color: var(--button-icon);
}

#main-container {
  max-width: 1064px;
  margin: auto;
  width: 100%;
}

#upper-com {
  margin: 32px 0px;
}

#head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  margin-bottom: 16px;
  color: var(--heading-primary);
}

.cs {
  font-size: var(--fontSizes-18);
  font-family: var(--fonts-mono);
  font-weight: var(--fontWeights-medium);
  color: var(--paragraph-primary-200);
  letter-spacing: var(--letterSpacings-wide);
  margin-bottom: 16px;
}

.po {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#project-info {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  align-items: start;
  margin-bottom: 24px;
  gap: 80px;
}

.r-r h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.r-r p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
}

.p-c h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.p-c p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
}

.tools h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.tools p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
}

.line {
  border: 1px solid var(--border-subtle-01);
}

/* Main Case Study Section */

/* #middle-com{
    padding: 32px 8px;
} */
#problem-s {
  padding: 32px 0px;
  display: grid;
}

#problem-s h6 {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#problem-s h6:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#problem-s p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#tackling-tp {
  padding: 32px 0px;
  display: grid;
}

#tackling-tp h6 {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#tackling-tp h6:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#tackling-tp p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#tackling-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#research-sec {
  padding: 32px 0px;
  display: grid;
}

#re-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#re-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#research-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#re-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#ideation-sec {
  padding: 32px 0px;
  display: grid;
}

#id-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#id-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#hmw-head {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 24px;
}

#hmw-q {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
  margin-bottom: 32px;
}

#hmw-q p {
  margin-bottom: 16px;
}

#low-fi {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 24px;
}

#lf-para {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#low-fi-app {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#low-fi-web {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#task-sec {
  padding: 32px 0px;
  display: grid;
}

#ta-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#ta-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#task-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#em-task {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#ma-task {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#solution-sec {
  padding: 32px 0px;
  display: grid;
}

#so-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#so-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#solution-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

#main-sol-sec {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.for-em {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 1100px;
  gap: 48px;
}

.for-em h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 24px;
}

#sol-v-mob {
  width: 100%;
  height: 532px;
}

.for-ma {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 1100px;
  gap: 48px;
}

.for-ma h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 24px;
}

#sol-v-des {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

#map-sec {
  padding: 32px 0px;
  display: grid;
}

#pr-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#pr-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}


#map-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

.main-map {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 48px;
}

.p-o-map {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

#key-ta-sec {
  padding: 32px 0px;
  display: grid;
}

#ke-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#ke-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#in-sec {
  display: grid;
  gap: 16px;
}

#in-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
}


#finish {
  padding: 32px 0px 64px;
}

#fn-head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  text-align: center;
  margin-bottom: 8px;
}

#back-to-all {
  margin: auto;
  width: max-content;
  font-weight: var(--fontWeights-semibold);
  color: var(--link-primary);
  font-size: var(--fontSizes-18);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  text-decoration: none;
  transition: 0.3s ease-out;
}

#back-to-all:hover {
  color: var(--link-primary-hover);
  text-decoration: 2px underline var(--link-primary-hover);
  cursor: pointer;
}



/* small desktop */

@media (max-width: 1400px) {
  #main-container {
    max-width: 972px;
    margin: auto;
    width: 100%;
  }

  #sol-v-des {
    object-fit: contain;
  }

  #side-navbar {
    display: none;
  }
}

/* Tablet */

@media (max-width: 1024px) {
  #main-container {
    max-width: 972px;
    margin: auto;
    padding: 0px 40px;
    width: 100%;
  }

  #project-info {
    gap: 24px;
  }

  #side-navbar {
    display: none;
  }

  .for-ma {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }


}

/* Mobile */

@media (max-width: 688px) {
  .indicator {
    position: fixed;
    width: 0;
    height: 6px;
    z-index: 100;
  }

  #main-container {
    margin: auto;
    padding: 0px 24px;
    width: 100%;
  }

  #back-to-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
    height: min-content;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    text-decoration: none;
  }

  #back-to-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
    height: min-content;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    text-decoration: none;
  }

  #arrow-up2 {
    padding: 20px;
    font-size: var(--fontSizes-24);
  }

  #upper-com {
    margin: 16px 0px;
  }

  #cover-mt {
    margin-top: 16px;
  }

  #head {
    font-size: var(--fontSizes-32);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 12px;
  }

  .cs {
    font-size: var(--fontSizes-16);
    font-family: var(--fonts-mono);
    margin-bottom: 12px;
  }

  .po {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 16px;
    gap: 8px;
  }

  .r-r {
    margin-bottom: 16px;
  }

  .p-c {
    margin-bottom: 16px;
  }

  .tools {
    margin-bottom: 16px;
  }

  .r-r h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  .r-r p {
    font-size: var(--fontSizes-16);
  }

  .p-c h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  .p-c p {
    font-size: var(--fontSizes-16);
  }

  .tools h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  .tools p {
    font-size: var(--fontSizes-16);
  }


  #problem-s {
    padding: 16px 0px;
  }

  #problem-s h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  #problem-s h6:hover::after {
    content: "";
  }

  #problem-s p {
    font-size: var(--fontSizes-18);
  }

  #tackling-tp {
    padding: 16px 0px;
  }

  #tackling-tp h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  #tackling-tp h6:hover::after {
    content: "";
  }

  #tackling-tp p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #research-sec {
    padding: 16px 0px;
  }

  #re-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 8px;
  }

  #re-head:hover::after {
    content: "";
  }

  #research-sec p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #ideation-sec {
    padding: 16px 0px;
  }

  #id-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 16px;
  }

  #id-head:hover::after {
    content: "";
  }

  #hmw-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 12px;
  }

  #hmw-q {
    font-size: var(--fontSizes-18);
  }

  #hmw-q p {
    margin-bottom: 8px;
  }

  #low-fi {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 24px;
  }

  #lf-para {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #task-sec {
    padding: 16px 0px;
  }

  #ta-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 16px;
  }

  #ta-head:hover::after {
    content: "";
  }

  #task-sec p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #solution-sec {
    padding: 16px 0px;
  }

  #so-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 16px;
  }

  #so-head:hover::after {
    content: "";
  }

  #solution-sec p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #main-sol-sec {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .for-em {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }

  .for-em h6 {
    font-size: var(--fontSizes-24);
    margin-bottom: 16px;
  }

  #sol-v-mob {
    width: 100%;
    height: 100%;
  }

  .for-ma {
    gap: 32px;
  }

  .for-ma h6 {
    font-size: var(--fontSizes-24);
    margin-bottom: 16px;
  }

  #map-sec {
    padding: 16px 0px;
    display: grid;
  }

  #pr-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 16px;
  }

  #pr-head:hover::after {
    content: "";
  }


  #map-sec p {
    font-size: var(--fontSizes-18);
  }

  .main-map {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }

  #key-ta-sec {
    padding: 16px 0px;
    display: grid;
  }

  #ke-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    margin-bottom: 16px;
  }

  #ke-head:hover::after {
    content: "";
  }

  #in-sec {
    display: grid;
    gap: 16px;
  }

  #finish {
    padding: 32px 0px 64px;
  }

  #fn-head {
    font-size: var(--fontSizes-40);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-tight);
    text-align: center;
    margin-bottom: 8px;
  }

  #back-to-all {
    margin: auto;
    width: max-content;
    padding: 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }

}