:root {

  /* Dark mode */


  --logo-dark: url(./assets/Icons/logo-dark-mode.svg);

  --primary: #5551FF;

  --button-primary: #5551FF;
  --button-primary-hover: #5551FF;
  --button-primary-active: #5551FF;

  --button-secondary: #CFE9FC;
  --button-secondary-hover: #A8D7FA;
  --button-secondary-active: #A8D7FA;

  --secondary-button-text-dark: #FFFFFF;
  --secondary-button-icon-dark: #FFFFFF;

  --primary-button-text: #FFFFFF;
  --primary-button-icon: #FFFFFF;

  --button-text: #FFFFFF;
  --button-icon: #FFFFFF;

  --link-primary: #0C8CE9;
  --link-primary-hover: #0C8CE9;

  --heading-primary: #FFFFFF;
  --heading-primary-01: #C3CFE4;
  --heading-primary-02: #9FAECB;

  --paragraph-primary: #FFFFFF;
  --paragraph-primary-100: #C3CFE4;
  --paragraph-primary-200: #9FAECB;

  --surface-layer-01: #16161D;
  --surface-layer-02: #252632;
  --surface-layer-03: #333648;

  --surface-layer-01-hover: #252632;
  --surface-layer-02-hover: #16161D;
  --surface-layer-03-hover: #525975;

  --border-subtle-01: #333648;
  --border-subtle-02: #525975;
  --border-subtle-03: #727FA1;

  --partition-dark: #0C8CE9;

  --secondary-green: #198F51;
  --secondary-yellow: #FFC701;
  --secondary-red: #F34E1E;
  --secondary-purple: #5650FF;
  --secondary-orange: #FF6924;
  --secondary-brown: #A6674B;
  --secondary-teal: #45AEE5;

  --background-main: #16161D;

  --glass-dark: rgba(13, 13, 26, 0.75);

  --drop-shadow-dark: 0px 1px 4px 0px rgba(22, 30, 54, 0.05);

  --button-drop-shadow-dark: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;

  --dark-gradient: linear-gradient(to bottom, #0972D3, #539FE5);



  /* Light Mode */

  --logo-light: url(./assets/Icons/logo-light-mode.svg);

  --primary-light: #5551FF;

  --button-primary-light: #5551FF;
  --button-primary-hover-light: #5551FF;
  --button-primary-active-light: #5551FF;

  --button-secondary-light: #E5F4FF;
  --button-secondary-hover-light: #BDE3FF;
  --button-secondary-active-light: #BDE3FF;

  --secondary-button-text-light: #000000;
  --secondary-button-icon-light: #000000;

  --button-text-light: #000000;
  --button-icon-light: #000000;

  --link-primary-light: #007BE5;
  --link-primary-hover-light: #007BE5;

  --heading-primary-light: #000000;
  --heading-primary-01-light: #525975;
  --heading-primary-02-light: #727FA1;

  --paragraph-primary-light: #000000;
  --paragraph-primary-100-light: #525975;
  --paragraph-primary-200-light: #727FA1;

  --surface-layer-01-light: #F7FAFD;
  --surface-layer-02-light: #EDF2F8;
  --surface-layer-03-light: #DEE6F2;

  --surface-layer-01-hover-light: #EDF2F8;
  --surface-layer-02-hover-light: #DEE6F2;
  --surface-layer-03-hover-light: #C3CFE4;

  --border-subtle-01-light: #DEE6F2;
  --border-subtle-02-light: #9FAECB;
  --border-subtle-03-light: #525975;

  --partition-light: #0D99FF;

  --secondary-green-light: #14AE5C;
  --secondary-yellow-light: #FFC043;
  --secondary-red-light: #D44333;
  --secondary-purple-light: #716CFF;
  --secondary-orange-light: #ED6E33;
  --secondary-brown-light: #99644C;
  --secondary-teal-light: #22a6ed;

  --background-main-light: #F7FAFD;

  --glass-light: rgba(249, 251, 252, 0.75);

  --drop-shadow-light: 0px 1px 4px 0px rgba(13, 25, 63, 0.05);

  --button-drop-shadow-light: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;

  --light-gradient: linear-gradient(to bottom, #273EA5, #3759CE);


  /* Fonts */


  --fonts-heading: Whyte Variable, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-body: Inter Variable, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-mono: Apercu Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


  --fontWeights-thin: 200;
  --fontWeights-light: 300;
  --fontWeights-normal: 400;
  --fontWeights-medium: 500;
  --fontWeights-semibold: 600;
  --fontWeights-bold: 600;
  --fontWeights-extrabold: 800;
  --fontWeights-black: 900;


  --letterSpacings-tighter: -0.05em;
  --letterSpacings-tight: -0.025em;
  --letterSpacings-normal: 0;
  --letterSpacings-wide: 0.025em;
  --letterSpacings-wider: 0.05em;
  --letterSpacings-widest: 0.1em;


  --lineHeights-3: .75rem;
  --lineHeights-4: 1rem;
  --lineHeights-5: 1.25rem;
  --lineHeights-6: 1.5rem;
  --lineHeights-7: 1.75rem;
  --lineHeights-8: 2rem;
  --lineHeights-9: 2.25rem;
  --lineHeights-10: 2.5rem;
  --lineHeights-normal: normal;
  --lineHeights-none: 1;
  --lineHeights-shorter: 1.25;
  --lineHeights-short: 1.375;
  --lineHeights-base: 1.5;
  --lineHeights-tall: 1.625;
  --lineHeights-taller: 2;



  --border-radius-none: 0rem;
  --border-radius-200: 0.25rem;
  --border-radius-400: 0.5rem;
  --border-radius-500: 0.625rem;
  --border-radius-600: 0.75rem;
  --border-radius-800: 1rem;
  --border-radius-full: 100rem;


  --fontSizes-10: 0.625rem;
  --fontSizes-12: 0.75rem;
  --fontSizes-14: 0.875rem;
  --fontSizes-16: 1rem;
  --fontSizes-18: 1.125rem;
  --fontSizes-20: 1.25rem;
  --fontSizes-24: 1.5rem;
  --fontSizes-32: 2rem;
  --fontSizes-40: 2.5rem;
  --fontSizes-48: 3rem;
  --fontSizes-60: 3.75rem;
  --fontSizes-72: 4.5rem;
  --fontSizes-96: 6rem;
  --fontSizes-128: 8rem;


  --shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
  --shadows-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadows-none: none;
  --shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;



}




[color-scheme="dark"] {

  --logo-light: var(--logo-dark);

  --primary-light: var(--primary);

  --button-primary-light: var(--button-primary);
  --button-primary-hover-light: var(--button-primary-hover);
  --button-primary-active-light: var(--button-primary-active);

  --button-secondary-light: var(--button-secondary);
  --button-secondary-hover-light: var(--button-secondary-hover);
  --button-secondary-active-light: var(--button-secondary-active);

  --secondary-button-text-light: var(--secondary-button-text-dark);
  --secondary-button-icon-light: var(--secondary-button-icon-dark);


  --button-text-light: var(--button-text);
  --button-icon-light: var(--button-icon);

  --link-primary-light: var(--link-primary);
  --link-primary-hover-light: var(--link-primary-hover);

  --heading-primary-light: var(--heading-primary);
  --heading-primary-01-light: var(--heading-primary-01);
  --heading-primary-02-light: var(--heading-primary-02);

  --paragraph-primary-light: var(--paragraph-primary);
  --paragraph-primary-100-light: var(--paragraph-primary-100);
  --paragraph-primary-200-light: var(--paragraph-primary-200);

  --surface-layer-01-light: var(--surface-layer-01);
  --surface-layer-02-light: var(--surface-layer-02);
  --surface-layer-03-light: var(--surface-layer-03);

  --surface-layer-01-hover-light: var(--surface-layer-01-hover);
  --surface-layer-02-hover-light: var(--surface-layer-02-hover);
  --surface-layer-03-hover-light: var(--surface-layer-03-hover);

  --border-subtle-01-light: var(--border-subtle-01);
  --border-subtle-02-light: var(--border-subtle-02);
  --border-subtle-03-light: var(--border-subtle-03);

  --partition-light: var(--partition-dark);

  --nav-border-light: var(--nav-border-dark);

  --nav-hover-light: var(--nav-hover-dark);

  --secondary-green-light: var(--secondary-green);
  --secondary-yellow-light: var(--secondary-yellow);
  --secondary-red-light: var(--secondary-red);
  --secondary-purple-light: var(--secondary-purple);
  --secondary-orange-light: var(--secondary-orange);
  --secondary-brown-light: var(--secondary-brown);
  --secondary-teal-light: var(--secondary-teal);

  --background-main-light: var(--background-main);

  --glass-light: var(--glass-dark);

  --drop-shadow-light: var(--drop-shadow-dark);

  --button-drop-shadow-light: var(--button-drop-shadow-dark);

  --light-gradient: var(--dark-gradient);

}




[color-scheme="light"] {

  --logo-dark: var(--logo-light);

  --primary: var(--primary-light);

  --button-primary: var(--button-primary-light);
  --button-primary-hover: var(--button-primary-hover-light);
  --button-primary-active: var(--button-primary-active-light);

  --button-secondary: var(--button-secondary-light);
  --button-secondary-hover: var(--button-secondary-hover-light);
  --button-secondary-active: var(--button-secondary-active-light);

  --secondary-button-text-dark: var(--secondary-button-text-light);
  --secondary-button-icon-dark: var(--secondary-button-icon-light);

  --button-text: var(--button-text-light);
  --button-icon: var(--button-icon-light);

  --link-primary: var(--link-primary-light);
  --link-primary-hover: var(--link-primary-hover-light);

  --heading-primary: var(--heading-primary-light);
  --heading-primary-01: var(--heading-primary-01-light);
  --heading-primary-02: var(--heading-primary-02-light);

  --paragraph-primary: var(--paragraph-primary-light);
  --paragraph-primary-100: var(--paragraph-primary-100-light);
  --paragraph-primary-200: var(--paragraph-primary-200-light);

  --surface-layer-01: var(--surface-layer-01-light);
  --surface-layer-02: var(--surface-layer-02-light);
  --surface-layer-03: var(--surface-layer-03-light);

  --surface-layer-01-hover: var(--surface-layer-01-hover-light);
  --surface-layer-02-hover: var(--surface-layer-02-hover-light);
  --surface-layer-03-hover: var(--surface-layer-03-hover-light);

  --border-subtle-01: var(--border-subtle-01-light);
  --border-subtle-02: var(--border-subtle-02-light);
  --border-subtle-03: var(--border-subtle-03-light);

  --partition-dark: var(--partition-light);

  --nav-border-dark: var(--nav-border-light);

  --nav-hover-dark: var(--nav-hover-light);

  --secondary-green: var(--secondary-green-light);
  --secondary-yellow: var(--secondary-yellow-light);
  --secondary-red: var(--secondary-red-light);
  --secondary-purple: var(--secondary-purple-light);
  --secondary-orange: var(--secondary-orange-light);
  --secondary-brown: var(--secondary-brown-light);
  --secondary-teal: var(--secondary-teal-light);

  --background-main: var(--background-main-light);

  --glass-dark: var(--glass-light);

  --drop-shadow-dark: var(--drop-shadow-light);

  --button-drop-shadow-dark: var(--button-drop-shadow-light);

  --dark-gradient: var(--light-gradient);

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonts-body);
  letter-spacing: var(--letterSpacings-normal);
  font-weight: var(--fontWeights-normal);
  line-height: var(--lineHeights-short);
  /* font-feature-settings: 'ss02' on; */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-main);
}

main {
  min-height: 100vh;
}

.indicator {
  position: fixed;
  width: 0;
  height: 3.2px;
  z-index: 100;
  background-color: var(--partition-dark);
}

#cover-mt {
  margin-top: 32px;
  border-radius: var(--border-radius-none);
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#side-navbar {
  position: fixed;
  top: 104px;
  left: 0;
  max-width: 168px;
  height: min-content;
  background-color: var(--surface-layer-01);
  border-radius: 0px var(--border-radius-600) var(--border-radius-600) 0px;
  padding: 12px 24px;
  z-index: 100;
  border: 1px solid var(--border-subtle-01);
  box-shadow: var(--shadows-sm);
}

#side-navbar .inner-nav {
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.inner-nav a {
  padding: 8px 0px;
  font-size: var(--fontSizes-16);
  color: var(--paragraph-primary);
  text-decoration: none;
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-medium);
}

.inner-nav a:hover {
  color: var(--link-primary-hover);
}

#back-to-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  min-height: 56px;
  min-width: 56px;
  border-radius: var(--border-radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: var(--surface-layer-01);
  box-shadow: var(--shadows-sm);
  text-decoration: none;
  border: 1px solid var(--border-subtle-01);
  font-family: var(--fonts-body);
  font-size: var(--fontSizes-20);
  font-weight: var(--fontWeights-medium);
  color: var(--secondary-button-icon-dark);

}

#back-to-top:hover {
  background-color: var(--surface-layer-01-hover);
}

#arrow-up2 {
  padding: 16px;
  font-size: var(--fontSizes-24);
  color: var(--button-icon);
}

#main-container {
  max-width: 1064px;
  margin: auto;
  width: 100%;
}

#upper-com {
  margin: 32px 0px;
}

#head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  margin-bottom: 16px;
  color: var(--heading-primary);
}

.cs {
  font-size: var(--fontSizes-18);
  font-family: var(--fonts-mono);
  font-weight: var(--fontWeights-semibold);
  letter-spacing: var(--letterSpacings-wider);
  color: var(--paragraph-primary-100);
  margin-bottom: 16px;
}

.po {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#project-info {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  align-items: start;
  margin-bottom: 24px;
  gap: 80px;
}

.r-r h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.r-r p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.p-c h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.p-c p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.tools h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.tools p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.why-i {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  /* margin-bottom: 24px; */
}

.line {
  border: 1px solid var(--border-subtle-01);
}

/* Main Case Study Section */

/* #middle-com{
    padding: 32px 8px;
} */
#problem-s {
  padding: 32px 0px;
}

#problem-s h6 {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#problem-s h6:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#problem-s p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.design-goal {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#solution {
  padding: 32px 0px;
}

#sol-h {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#sol-h:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

.sol-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v1 {
  width: 40%;
}

#sol-info1 {
  width: 50%;
}

#sol-v1 {
  width: 316px;
  height: auto;
}

#sol-info1 h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 16px;
}

#sol-info1 p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 8px;
}

.sol-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v2 {
  width: 40%;
}

#sol-info2 {
  width: 50%;
}

#sol-v2 {
  width: 316px;
  height: auto;
}

#sol-info2 h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 16px;
}

#sol-info2 p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 8px;
}

.sol-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v3 {
  width: 40%;
}

#sol-info3 {
  width: 50%;
}

#sol-v3 {
  width: 316px;
  height: auto;
}

#sol-info3 h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 16px;
}

#sol-info3 p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 8px;
}

.sol-4 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

#sol-v4 {
  width: 40%;
}

#sol-info4 {
  width: 50%;
}

#sol-v4 {
  width: 316px;
  height: auto;
}

#sol-info4 h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 16px;
}

#sol-info4 p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 8px;
}

#my-ap {
  padding: 32px 0px;
  display: grid;
}

#ap-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#ap-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

.ap-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#research-sec {
  padding: 32px 0px;
  display: grid;
}

#re-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#re-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

.re-subh {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

.end-users {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

.btn-one {
  display: flex;
  align-items: start;
  justify-content: start;
}

.full-research {
  font-size: var(--fontSizes-16);
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-semibold);
  color: var(--link-primary);
  letter-spacing: var(--letterSpacings-wide);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 200ms ease-out;
  gap: 8px;
}

.full-research:hover {
  color: var(--link-primary-hover);
  cursor: pointer;
  text-decoration: 2px dashed underline var(--link-primary-hover);
}

.questions {
  padding: 32px 0px;
  display: grid;
}

#q-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#q-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

.questions p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#insights {
  padding: 32px 0px;
  display: grid;
}

#in-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#in-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#insights p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

.in-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#other-meth {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#design-sec {
  padding: 32px 0px;
  display: grid;
}

#de-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#de-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#design-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#wireframes {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

#low-fi {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#proto-sec {
  padding: 32px 0px;
  display: grid;
}

#pr-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#pr-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#proto-sec p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

.btn-two {
  display: flex;
  align-items: start;
  justify-content: start;
}

#pr-link {
  font-size: var(--fontSizes-16);
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-semibold);
  color: var(--link-primary);
  letter-spacing: var(--letterSpacings-wide);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 200ms ease-out;
  gap: 8px;
  margin-bottom: 16px;
}

#pr-link:hover {
  color: var(--link-primary-hover);
  cursor: pointer;
  text-decoration: 2px dashed underline var(--link-primary-hover);
}

.proto-bg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#eva-sec {
  padding: 32px 0px;
  display: grid;
}

#ev-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#ev-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

.ut-info {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

.observe {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
  margin-bottom: 16px;
}

.usa-test {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
  padding-bottom: 16px;
}

.ut-res {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

#my-learn {
  padding: 32px 0px;
}

#lr-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#lr-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#my-learn p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#next-st {
  padding: 32px 0px;
}

#ns-head {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 32px;
}

#ns-head:hover::after {
  content: "#";
  color: var(--primary-light);
  font-weight: var(--fontWeights-bold);
}

#next-st p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
  margin-bottom: 16px;
}

#finish {
  padding: 32px 0px 64px;
}

#fn-head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  text-align: center;
  margin-bottom: 8px;
}

#back-to-all {
  margin: auto;
  width: max-content;
  font-weight: var(--fontWeights-semibold);
  color: var(--link-primary);
  font-size: var(--fontSizes-18);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  text-decoration: none;
  transition: 200ms ease-out;
}

#back-to-all:hover {
  color: var(--link-primary-hover);
  text-decoration: 2px dashed underline var(--link-primary-hover);
  cursor: pointer;
}

/* small desktop */

@media (max-width: 1400px) {

  #main-container {
    max-width: 972px;
    margin: auto;
    width: 100%;
  }

  #side-navbar {
    display: none;
  }
}

/* Tablet */

@media (max-width: 1024px) {
  #main-container {
    margin: auto;
    padding: 0px 40px;
    width: 100%;
  }

  #side-navbar {
    display: none;
  }

  #back-to-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
  }

  #project-info {
    gap: 24px;
  }
}

/* Mobile */

@media (max-width: 688px) {

  #main-container {
    margin: auto;
    padding: 0px 24px;
    width: 100%;
  }

  #back-to-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
    height: min-content;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    text-decoration: none;
  }


  #arrow-up2 {
    padding: 20px;
    font-size: var(--fontSizes-24);
  }

  #upper-com {
    margin: 16px 0px;
  }

  #cover-mt {
    margin-top: 16px;
  }

  #head {
    font-size: var(--fontSizes-32);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 12px;
  }

  .cs {
    font-size: var(--fontSizes-16);
    margin-bottom: 12px;
  }

  .po {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 16px;
    gap: 8px;
  }

  .r-r {
    margin-bottom: 16px;
  }

  .p-c {
    margin-bottom: 16px;
  }

  .tools {
    margin-bottom: 16px;
  }

  .r-r h6 {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  .r-r p {
    font-size: var(--fontSizes-16);
  }

  .p-c h6 {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  .p-c p {
    font-size: var(--fontSizes-16);
  }

  .tools h6 {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  .tools p {
    font-size: var(--fontSizes-16);
  }

  .why-i {
    font-size: var(--fontSizes-18);
    /* margin-bottom: 24px; */
  }

  #problem-s {
    padding: 16px 0px;
  }

  #problem-s h6 {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  #problem-s h6:hover::after {
    content: "";
  }

  #problem-s p {
    font-size: var(--fontSizes-18);
  }

  .design-goal {
    display: none;
    /* height: 48px;
        background-image: url(./assets/moneytracker/design-goal.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        margin-top: 16px; */
  }

  #solution {
    padding: 16px 0px;
  }

  #sol-h {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 8px;
  }

  #sol-h:hover::after {
    content: "";
  }

  .sol-1 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v1 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info1 {
    min-width: 100%;
  }

  #sol-info1 h6 {
    display: block;
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #sol-info1 p {
    display: block;
    font-size: var(--fontSizes-18);
    margin-bottom: 8px;
  }

  .sol-2 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v2 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info2 {
    min-width: 100%;
  }

  #sol-info2 h6 {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #sol-info2 p {
    font-size: var(--fontSizes-18);
    margin-bottom: 8px;
  }

  .sol-3 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v3 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info3 {
    min-width: 100%;
  }

  #sol-info3 h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #sol-info3 p {
    font-size: var(--fontSizes-18);
    margin-bottom: 8px;
  }

  .sol-4 {
    display: block;
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-v4 {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #sol-info4 {
    min-width: 100%;
  }

  #sol-info4 h6 {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
    min-width: 100%;
  }

  #sol-info4 p {
    font-size: var(--fontSizes-18);
    margin-bottom: 8px;
    min-width: auto;
  }

  #my-ap {
    padding: 16px 0px;
  }

  #ap-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #ap-head:hover::after {
    content: "";
  }

  #research-sec {
    padding: 16px 0px;
  }

  #re-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #re-head:hover::after {
    content: "";
  }

  .re-subh {
    font-size: var(--fontSizes-18);
    margin-bottom: 12px;
  }

  .end-users {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  /* .full-research {
    width: 100%;
  } */

  .questions {
    padding: 16px 0px;
  }

  #q-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #q-head:hover::after {
    content: "";
  }

  .questions p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #insights {
    padding: 16px 0px;
  }

  #in-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #in-head:hover::after {
    content: "";
  }

  #insights p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #design-sec {
    padding: 16px 0px;
  }

  #de-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #de-head:hover::after {
    content: "";
  }

  #design-sec p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #proto-sec {
    padding: 16px 0px;
  }

  #pr-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #pr-head:hover::after {
    content: "";
  }

  #proto-sec p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #pr-link {
    margin-bottom: 16px;
  }

  #eva-sec {
    padding: 16px 0px;
  }

  #ev-head {
    font-size: var(--fontSizes-24);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #ev-head:hover::after {
    content: "";
  }

  .ut-info {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  .usa-test {
    max-width: 100%;
  }

  .observe {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #my-learn {
    padding: 16px 0px;
  }

  #lr-head {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #lr-head:hover::after {
    content: "";
  }

  #my-learn p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #next-st {
    padding: 16px 0px;
  }

  #ns-head {
    font-size: var(--fontSizes-24);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    margin-bottom: 16px;
  }

  #ns-head:hover::after {
    content: "";
  }

  #next-st p {
    font-size: var(--fontSizes-18);
    margin-bottom: 16px;
  }

  #finish {
    padding: 32px 0px 64px;
  }

  #fn-head {
    font-size: var(--fontSizes-40);

    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
    text-align: center;
    margin-bottom: 8px;
  }

  #back-to-all {
    margin: auto;
    width: max-content;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    text-decoration: none;
  }
}