:root {

  /* Cursors */

  --cursor-default: url(./assets/Cursor/cursor-default.svg);
  --cursor-pointer: url(./assets/Cursor/cursor-pointer.svg);
  --cursor-grab: url(./assets/Cursor/cursor-grab.svg);
  --cursor-grabbed: url(./assets/Cursor/cursor-grabbed.svg);
  --cursor-text: url(./assets/Cursor/curson-text.svg);

  /* Icons */


  --logo-dark: url(./assets/Icons/logo-dark-mode.svg);
  --logo-light: url(./assets/Icons/logo-light-mode.svg);


  /* Dark mode */


  --primary: #0A84FF;

  --button-primary: #0A84FF;
  --button-primary-hover: #0A84FF;
  --button-primary-active: #0A84FF;

  --button-secondary: #373741;
  --button-secondary-hover: #373741;
  --button-secondary-active: #373741;

  --secondary-button-text-dark: #0A84FF;
  --secondary-button-icon-dark: #0A84FF;

  --primary-button-text: #FFFFFF;
  --primary-button-icon: #FFFFFF;

  --button-text: #FFFFFF;
  --button-icon: #FFFFFF;

  --link-primary: #2997FF;
  --link-primary-hover: #2997FF;

  --heading-primary: #FFFFFF;
  --heading-primary-01: #B2B2BA;
  --heading-primary-02: #43434E;

  --paragraph-primary: #FFFFFF;
  --paragraph-primary-100: #B2B2BA;
  --paragraph-primary-200: #43434E;

  --surface-layer-01: #101013;
  --surface-layer-02: #1D1D23;
  --surface-layer-03: #373741;

  --surface-layer-01-hover: #2C2B34;
  --surface-layer-02-hover: #101013;
  --surface-layer-03-hover: #2C2B34;

  --border-subtle-01: #373741;
  --border-subtle-02: #43434E;
  --border-subtle-03: #73737E;

  --partition-dark: #0C8CE9;

  --secondary-green: #34C759;
  --secondary-yellow: #FFC701;
  --secondary-red: #FF453A;
  --secondary-purple: #5551FF;
  --secondary-orange: #FF6924;
  --secondary-brown: #A6674B;
  --secondary-teal: #64D2FF;

  --background-main: #101013;

  --glass-dark: rgba(35, 35, 41, 0.80);

  --drop-shadow-dark: 0.5px 1px 0px 0px #595964 inset, -0.5px -1px 0px 0px #2F2F36 inset;

  --button-drop-shadow-dark: 0px 0px 4px 0px #0057A3;

  --dark-gradient: linear-gradient(to bottom, #0972D3, #539FE5);



  /* Light Mode */


  --primary-light: #007AFF;

  --button-primary-light: #007AFF;
  --button-primary-hover-light: #007AFF;
  --button-primary-active-light: #007AFF;

  --button-secondary-light: #E5E5EB;
  --button-secondary-hover-light: #E5E5EB;
  --button-secondary-active-light: #E5E5EB;

  --secondary-button-text-light: #007AFF;
  --secondary-button-icon-light: #007AFF;

  --button-text-light: #000000;
  --button-icon-light: #000000;

  --link-primary-light: #0066CC;
  --link-primary-hover-light: #0066CC;

  --heading-primary-light: #000000;
  --heading-primary-01-light: #373741;
  --heading-primary-02-light: #73737E;

  --paragraph-primary-light: #000000;
  --paragraph-primary-100-light: #373741;
  --paragraph-primary-200-light: #73737E;

  --surface-layer-01-light: #FFFFFF;
  --surface-layer-02-light: #F4F4F8;
  --surface-layer-03-light: #E5E5EB;

  --surface-layer-01-hover-light: #F4F4F8;
  --surface-layer-02-hover-light: #E5E5EB;
  --surface-layer-03-hover-light: #D8D8DE;

  --border-subtle-01-light: #E5E5EB;
  --border-subtle-02-light: #B2B2BA;
  --border-subtle-03-light: #43434E;

  --partition-light: #0D99FF;

  --secondary-green-light: #30D158;
  --secondary-yellow-light: #FFC043;
  --secondary-red-light: #FF3B30;
  --secondary-purple-light: #5551FF;
  --secondary-orange-light: #ED6E33;
  --secondary-brown-light: #99644C;
  --secondary-teal-light: #32ADE6;

  --background-main-light: #FFFFFF;

  --glass-light: rgba(255, 255, 255, 0.80);

  --drop-shadow-light: 0.5px 1px 0px 0px #CCCCD4 inset, -0.5px -1px 0px 0px #E3E3E9 inset;

  --button-drop-shadow-light: 0px 0px 2px 0px #0057A3;

  --light-gradient: linear-gradient(to bottom, #273EA5, #3759CE);


  /* Fonts */


  --fonts-heading: New York, Whyte Variable, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-body: Whyte Variable, -apple-system, BlinkMacSystemFont, Inter Variable, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-mono: Whyte Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


  /* Fonts Weights */

  --fontWeights-thin: 200;
  --fontWeights-light: 300;
  --fontWeights-normal: 400;
  --fontWeights-medium: 500;
  --fontWeights-semibold: 600;
  --fontWeights-bold: 600;
  --fontWeights-extrabold: 800;
  --fontWeights-black: 900;


  /* Letter Spacing */


  --letterSpacings-tighter: -0.05em;
  --letterSpacings-tight: -0.0125em;
  --letterSpacings-normal: 0;
  --letterSpacings-wide: 0.025em;
  --letterSpacings-wider: 0.05em;
  --letterSpacings-widest: 0.1em;


  /* Line Heights */


  --lineHeights-3: .75rem;
  --lineHeights-4: 1rem;
  --lineHeights-5: 1.25rem;
  --lineHeights-6: 1.5rem;
  --lineHeights-7: 1.75rem;
  --lineHeights-8: 2rem;
  --lineHeights-9: 2.25rem;
  --lineHeights-10: 2.5rem;
  --lineHeights-normal: normal;
  --lineHeights-none: 1;
  --lineHeights-shorter: 1.25;
  --lineHeights-short: 1.375;
  --lineHeights-base: 1.5;
  --lineHeights-tall: 1.625;
  --lineHeights-taller: 2;


  /* Border Radius */


  --border-radius-none: 0rem;
  --border-radius-200: 0.25rem;
  --border-radius-400: 0.5rem;
  --border-radius-500: 0.625rem;
  --border-radius-600: 0.75rem;
  --border-radius-800: 1rem;
  --border-radius-full: 1000rem;


  /* Font Sizes */


  --fontSizes-10: 0.625rem;
  --fontSizes-12: 0.75rem;
  --fontSizes-14: 0.875rem;
  --fontSizes-16: 1rem;
  --fontSizes-18: 1.125rem;
  --fontSizes-20: 1.25rem;
  --fontSizes-24: 1.5rem;
  --fontSizes-32: 2rem;
  --fontSizes-40: 2.5rem;
  --fontSizes-48: 3rem;
  --fontSizes-56: 3.5rem;
  --fontSizes-72: 4.5rem;
  --fontSizes-96: 6rem;
  --fontSizes-128: 8rem;


  /* Shadows */


  --shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
  --shadows-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadows-none: none;
  --shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;




}




[color-scheme="dark"] {

  --logo-light: var(--logo-dark);

  --primary-light: var(--primary);

  --button-primary-light: var(--button-primary);
  --button-primary-hover-light: var(--button-primary-hover);
  --button-primary-active-light: var(--button-primary-active);

  --button-secondary-light: var(--button-secondary);
  --button-secondary-hover-light: var(--button-secondary-hover);
  --button-secondary-active-light: var(--button-secondary-active);

  --secondary-button-text-light: var(--secondary-button-text-dark);
  --secondary-button-icon-light: var(--secondary-button-icon-dark);


  --button-text-light: var(--button-text);
  --button-icon-light: var(--button-icon);

  --link-primary-light: var(--link-primary);
  --link-primary-hover-light: var(--link-primary-hover);

  --heading-primary-light: var(--heading-primary);
  --heading-primary-01-light: var(--heading-primary-01);
  --heading-primary-02-light: var(--heading-primary-02);

  --paragraph-primary-light: var(--paragraph-primary);
  --paragraph-primary-100-light: var(--paragraph-primary-100);
  --paragraph-primary-200-light: var(--paragraph-primary-200);

  --surface-layer-01-light: var(--surface-layer-01);
  --surface-layer-02-light: var(--surface-layer-02);
  --surface-layer-03-light: var(--surface-layer-03);

  --surface-layer-01-hover-light: var(--surface-layer-01-hover);
  --surface-layer-02-hover-light: var(--surface-layer-02-hover);
  --surface-layer-03-hover-light: var(--surface-layer-03-hover);

  --border-subtle-01-light: var(--border-subtle-01);
  --border-subtle-02-light: var(--border-subtle-02);
  --border-subtle-03-light: var(--border-subtle-03);

  --partition-light: var(--partition-dark);

  --nav-border-light: var(--nav-border-dark);

  --nav-hover-light: var(--nav-hover-dark);

  --secondary-green-light: var(--secondary-green);
  --secondary-yellow-light: var(--secondary-yellow);
  --secondary-red-light: var(--secondary-red);
  --secondary-purple-light: var(--secondary-purple);
  --secondary-orange-light: var(--secondary-orange);
  --secondary-brown-light: var(--secondary-brown);
  --secondary-teal-light: var(--secondary-teal);

  --background-main-light: var(--background-main);

  --glass-light: var(--glass-dark);

  --drop-shadow-light: var(--drop-shadow-dark);

  --button-drop-shadow-light: var(--button-drop-shadow-dark);

  --light-gradient: var(--dark-gradient);

}




[color-scheme="light"] {

  --logo-dark: var(--logo-light);

  --primary: var(--primary-light);

  --button-primary: var(--button-primary-light);
  --button-primary-hover: var(--button-primary-hover-light);
  --button-primary-active: var(--button-primary-active-light);

  --button-secondary: var(--button-secondary-light);
  --button-secondary-hover: var(--button-secondary-hover-light);
  --button-secondary-active: var(--button-secondary-active-light);

  --secondary-button-text-dark: var(--secondary-button-text-light);
  --secondary-button-icon-dark: var(--secondary-button-icon-light);

  --button-text: var(--button-text-light);
  --button-icon: var(--button-icon-light);

  --link-primary: var(--link-primary-light);
  --link-primary-hover: var(--link-primary-hover-light);

  --heading-primary: var(--heading-primary-light);
  --heading-primary-01: var(--heading-primary-01-light);
  --heading-primary-02: var(--heading-primary-02-light);

  --paragraph-primary: var(--paragraph-primary-light);
  --paragraph-primary-100: var(--paragraph-primary-100-light);
  --paragraph-primary-200: var(--paragraph-primary-200-light);

  --surface-layer-01: var(--surface-layer-01-light);
  --surface-layer-02: var(--surface-layer-02-light);
  --surface-layer-03: var(--surface-layer-03-light);

  --surface-layer-01-hover: var(--surface-layer-01-hover-light);
  --surface-layer-02-hover: var(--surface-layer-02-hover-light);
  --surface-layer-03-hover: var(--surface-layer-03-hover-light);

  --border-subtle-01: var(--border-subtle-01-light);
  --border-subtle-02: var(--border-subtle-02-light);
  --border-subtle-03: var(--border-subtle-03-light);

  --partition-dark: var(--partition-light);

  --nav-border-dark: var(--nav-border-light);

  --nav-hover-dark: var(--nav-hover-light);

  --secondary-green: var(--secondary-green-light);
  --secondary-yellow: var(--secondary-yellow-light);
  --secondary-red: var(--secondary-red-light);
  --secondary-purple: var(--secondary-purple-light);
  --secondary-orange: var(--secondary-orange-light);
  --secondary-brown: var(--secondary-brown-light);
  --secondary-teal: var(--secondary-teal-light);

  --background-main: var(--background-main-light);

  --glass-dark: var(--glass-light);

  --drop-shadow-dark: var(--drop-shadow-light);

  --button-drop-shadow-dark: var(--button-drop-shadow-light);

  --dark-gradient: var(--light-gradient);


}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonts-body);
  letter-spacing: var(--letterSpacings-normal);
  font-weight: var(--fontWeights-normal);
  line-height: var(--lineHeights-short);
  font-feature-settings: 'ss02' on;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-main);
  cursor: var(--cursor-default), auto;
}

.indicator {
  position: fixed;
  width: 0;
  height: 3.2px;
  z-index: 100;
  background-color: var(--partition-dark);
}

.prototype-container {
  max-width: 1024px;
  margin: auto;
  padding: 64px 0px;
  min-height: 75vh;
}

.design-deck {
  width: 100%;
  aspect-ratio: 3 / 2;
  border: 1px solid var(--border-subtle-01);
}

#upper-com {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 16px;
}

#head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
}

.po {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.button-group {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.link-to-video {
  width: fit-content;
  text-decoration: none;
  font-size: var(--fontSizes-18);
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-medium);
  color: var(--link-primary-hover);
  transition: 300ms ease-out;
}

.link-to-video:hover {
 cursor: var(--cursor-pointer), auto;
  color: var(--link-primary-hover);
  text-decoration: 2px underline dashed var(--link-primary-hover);
}

.link-to-video:focus {
  background-color: var(--button-primary-active);
  transform: translateY(0px);
}

#finish {
  padding: 56px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#fn-head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  text-align: center;
}

#back-to-all {
  margin: auto;
  width: max-content;
  font-weight: var(--fontWeights-medium);
  color: var(--link-primary);
  font-size: var(--fontSizes-18);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  text-decoration: none;
  transition: 200ms ease-out;
}

#back-to-all:hover {
  color: var(--link-primary-hover);
  text-decoration: 2px dashed underline var(--link-primary-hover);
 cursor: var(--cursor-pointer), auto;
}


@media (max-width: 1400px) {}

@media (max-width: 1024px) {
  .prototype-container {
    padding: 48px 40px;
  }

  #upper-com {
    margin-top: 24px;
  }

  #finish {
    padding: 48px 0px;
  }


}

@media (max-width: 688px) {
  .prototype-container {
    padding: 40px 24px;
  }

  #upper-com {
    margin-top: 16px;
  }

  #head {
    font-size: var(--fontSizes-32);
    font-family: var(--fonts-heading);
    font-weight: var(--fontWeights-bold);
    letter-spacing: var(--letterSpacings-normal);
  }

  .po {
    font-size: var(--fontSizes-18);
  }

  #finish {
    padding: 40px 0px;
  }


}