/* @font-face {
  font-family: 'Whyte';
  src: url('https://d8o6urisxu54f.cloudfront.net/template_image/08f759c569c2e23f75c76706b06fe8a657a811ee/original/1698906410-0d7c418f197287f9.woff2?1698906410') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte';
  src: url('https://d8o6urisxu54f.cloudfront.net/template_image/1b85942aca7bfe7d0efc9b8d2df4b33bb7f9b14e/original/1698906423-769eb3d5cf971456.woff2?1698906423') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte';
  src: url('https://d8o6urisxu54f.cloudfront.net/template_image/2f3bd93f405a47b4f6d963d9d37cac404711e8aa/original/1698906438-2b15c0de1eb0bd90.woff2?1698906438') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */





/* Active Fonts */




@font-face {
  font-family: 'Inter Variable';
  src: url('./assets/Fonts/Inter-var.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Italic Variable';
  src: url('./assets/Fonts/Inter-italic-var.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Whyte Variable';
  src: url('./assets/Fonts/abc-whyte-var.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Whyte Mono';
  src: url('./assets/Fonts/ABCWhyteMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'New York';
  src: url('./assets/Fonts/NewYorkLarge-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New York';
  src: url('./assets/Fonts/NewYorkLarge-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New York';
  src: url('./assets/Fonts/NewYorkLarge-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New York';
  src: url('./assets/Fonts/NewYorkLarge-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



/* SF Pro Display */

/* @font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/Fonts/SF-Pro/SF-Pro-Display-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/Fonts/SF-Pro/SF-Pro-Display-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/Fonts/SF-Pro/SF-Pro-Display-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/Fonts/SF-Pro/SF-Pro-Display-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

/* SF Pro Text */

/* @font-face {
  font-family: 'SF Pro Text';
  src: url('./assets/Fonts/SF-Pro/SF-Pro-Text-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('./assets/Fonts/SF-Pro/SF-Pro-Text-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('./assets/Fonts/SF-Pro/SF-Pro-Text-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('./assets/Fonts/SF-Pro/SF-Pro-Text-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

/* Style Guide */

/* Sementics */


:root {

  /* Icons */


  --logo-dark: url(./assets/Icons/logo-dark-mode.svg);
  --logo-light: url(./assets/Icons/logo-light-mode.svg);


  /* Dark mode */


  --primary: #0A84FF;

  --button-primary: #0A84FF;
  --button-primary-hover: #0A84FF;
  --button-primary-active: #0A84FF;

  --button-secondary: #373741;
  --button-secondary-hover: #373741;
  --button-secondary-active: #373741;

  --secondary-button-text-dark: #0A84FF;
  --secondary-button-icon-dark: #0A84FF;

  --primary-button-text: #FFFFFF;
  --primary-button-icon: #FFFFFF;

  --button-text: #FFFFFF;
  --button-icon: #FFFFFF;

  --link-primary: #2997FF;
  --link-primary-hover: #2997FF;

  --heading-primary: #FFFFFF;
  --heading-primary-01: #B2B2BA;
  --heading-primary-02: #43434E;

  --paragraph-primary: #FFFFFF;
  --paragraph-primary-100: #B2B2BA;
  --paragraph-primary-200: #43434E;

  --surface-layer-01: #101013;
  --surface-layer-02: #1D1D23;
  --surface-layer-03: #373741;

  --surface-layer-01-hover: #2C2B34;
  --surface-layer-02-hover: #101013;
  --surface-layer-03-hover: #2C2B34;

  --border-subtle-01: #373741;
  --border-subtle-02: #43434E;
  --border-subtle-03: #73737E;

  --partition-dark: #0C8CE9;

  --secondary-green: #198F51;
  --secondary-yellow: #FFC701;
  --secondary-red: #F34E1E;
  --secondary-purple: #5650FF;
  --secondary-orange: #FF6924;
  --secondary-brown: #A6674B;
  --secondary-teal: #45AEE5;

  --background-main: #101013;

  --glass-dark: rgba(35, 35, 41, 0.80);

  --drop-shadow-dark: 0.5px 1px 0px 0px #595964 inset, -0.5px -1px 0px 0px #2F2F36 inset;

  --button-drop-shadow-dark: 0px 0px 4px 0px #0057A3;

  --dark-gradient: linear-gradient(to bottom, #0972D3, #539FE5);



  /* Light Mode */


  --primary-light: #007AFF;

  --button-primary-light: #007AFF;
  --button-primary-hover-light: #007AFF;
  --button-primary-active-light: #007AFF;

  --button-secondary-light: #E5E5EB;
  --button-secondary-hover-light: #E5E5EB;
  --button-secondary-active-light: #E5E5EB;

  --secondary-button-text-light: #007AFF;
  --secondary-button-icon-light: #007AFF;

  --button-text-light: #000000;
  --button-icon-light: #000000;

  --link-primary-light: #0066CC;
  --link-primary-hover-light: #0066CC;

  --heading-primary-light: #000000;
  --heading-primary-01-light: #373741;
  --heading-primary-02-light: #73737E;

  --paragraph-primary-light: #000000;
  --paragraph-primary-100-light: #373741;
  --paragraph-primary-200-light: #73737E;

  --surface-layer-01-light: #FFFFFF;
  --surface-layer-02-light: #F4F4F8;
  --surface-layer-03-light: #E5E5EB;

  --surface-layer-01-hover-light: #F4F4F8;
  --surface-layer-02-hover-light: #E5E5EB;
  --surface-layer-03-hover-light: #D8D8DE;

  --border-subtle-01-light: #E5E5EB;
  --border-subtle-02-light: #B2B2BA;
  --border-subtle-03-light: #43434E;

  --partition-light: #0D99FF;

  --secondary-green-light: #14AE5C;
  --secondary-yellow-light: #FFC043;
  --secondary-red-light: #D44333;
  --secondary-purple-light: #716CFF;
  --secondary-orange-light: #ED6E33;
  --secondary-brown-light: #99644C;
  --secondary-teal-light: #22a6ed;

  --background-main-light: #FFFFFF;

  --glass-light: rgba(255, 255, 255, 0.80);

  --drop-shadow-light: 0.5px 1px 0px 0px #CCCCD4 inset, -0.5px -1px 0px 0px #E3E3E9 inset;

  --button-drop-shadow-light: 0px 0px 2px 0px #0057A3;

  --light-gradient: linear-gradient(to bottom, #273EA5, #3759CE);


  /* Fonts */


  --fonts-heading: New York, Whyte Variable, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-body: Whyte Variable, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-mono: Whyte Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


  /* Fonts Weights */

  --fontWeights-thin: 200;
  --fontWeights-light: 300;
  --fontWeights-normal: 400;
  --fontWeights-medium: 500;
  --fontWeights-semibold: 600;
  --fontWeights-bold: 600;
  --fontWeights-extrabold: 800;
  --fontWeights-black: 900;


  /* Letter Spacing */


  --letterSpacings-tighter: -0.05em;
  --letterSpacings-tight: -0.0125em;
  --letterSpacings-normal: 0;
  --letterSpacings-wide: 0.025em;
  --letterSpacings-wider: 0.05em;
  --letterSpacings-widest: 0.1em;


  /* Line Heights */


  --lineHeights-3: .75rem;
  --lineHeights-4: 1rem;
  --lineHeights-5: 1.25rem;
  --lineHeights-6: 1.5rem;
  --lineHeights-7: 1.75rem;
  --lineHeights-8: 2rem;
  --lineHeights-9: 2.25rem;
  --lineHeights-10: 2.5rem;
  --lineHeights-normal: normal;
  --lineHeights-none: 1;
  --lineHeights-shorter: 1.25;
  --lineHeights-short: 1.375;
  --lineHeights-base: 1.5;
  --lineHeights-tall: 1.625;
  --lineHeights-taller: 2;


  /* Border Radius */


  --border-radius-none: 0rem;
  --border-radius-200: 0.25rem;
  --border-radius-400: 0.5rem;
  --border-radius-500: 0.625rem;
  --border-radius-600: 0.75rem;
  --border-radius-800: 1rem;
  --border-radius-full: 1000rem;


  /* Font Sizes */


  --fontSizes-10: 0.625rem;
  --fontSizes-12: 0.75rem;
  --fontSizes-14: 0.875rem;
  --fontSizes-16: 1rem;
  --fontSizes-18: 1.125rem;
  --fontSizes-20: 1.25rem;
  --fontSizes-24: 1.5rem;
  --fontSizes-32: 2rem;
  --fontSizes-40: 2.5rem;
  --fontSizes-48: 3rem;
  --fontSizes-56: 3.5rem;
  --fontSizes-72: 4.5rem;
  --fontSizes-96: 6rem;
  --fontSizes-128: 8rem;


  /* Shadows */


  --shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
  --shadows-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadows-none: none;
  --shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;




}




[color-scheme="dark"] {

  --logo-light: var(--logo-dark);

  --primary-light: var(--primary);

  --button-primary-light: var(--button-primary);
  --button-primary-hover-light: var(--button-primary-hover);
  --button-primary-active-light: var(--button-primary-active);

  --button-secondary-light: var(--button-secondary);
  --button-secondary-hover-light: var(--button-secondary-hover);
  --button-secondary-active-light: var(--button-secondary-active);

  --secondary-button-text-light: var(--secondary-button-text-dark);
  --secondary-button-icon-light: var(--secondary-button-icon-dark);


  --button-text-light: var(--button-text);
  --button-icon-light: var(--button-icon);

  --link-primary-light: var(--link-primary);
  --link-primary-hover-light: var(--link-primary-hover);

  --heading-primary-light: var(--heading-primary);
  --heading-primary-01-light: var(--heading-primary-01);
  --heading-primary-02-light: var(--heading-primary-02);

  --paragraph-primary-light: var(--paragraph-primary);
  --paragraph-primary-100-light: var(--paragraph-primary-100);
  --paragraph-primary-200-light: var(--paragraph-primary-200);

  --surface-layer-01-light: var(--surface-layer-01);
  --surface-layer-02-light: var(--surface-layer-02);
  --surface-layer-03-light: var(--surface-layer-03);

  --surface-layer-01-hover-light: var(--surface-layer-01-hover);
  --surface-layer-02-hover-light: var(--surface-layer-02-hover);
  --surface-layer-03-hover-light: var(--surface-layer-03-hover);

  --border-subtle-01-light: var(--border-subtle-01);
  --border-subtle-02-light: var(--border-subtle-02);
  --border-subtle-03-light: var(--border-subtle-03);

  --partition-light: var(--partition-dark);

  --nav-border-light: var(--nav-border-dark);

  --nav-hover-light: var(--nav-hover-dark);

  --secondary-green-light: var(--secondary-green);
  --secondary-yellow-light: var(--secondary-yellow);
  --secondary-red-light: var(--secondary-red);
  --secondary-purple-light: var(--secondary-purple);
  --secondary-orange-light: var(--secondary-orange);
  --secondary-brown-light: var(--secondary-brown);
  --secondary-teal-light: var(--secondary-teal);

  --background-main-light: var(--background-main);

  --glass-light: var(--glass-dark);

  --drop-shadow-light: var(--drop-shadow-dark);

  --button-drop-shadow-light: var(--button-drop-shadow-dark);

  --light-gradient: var(--dark-gradient);

}




[color-scheme="light"] {

  --logo-dark: var(--logo-light);

  --primary: var(--primary-light);

  --button-primary: var(--button-primary-light);
  --button-primary-hover: var(--button-primary-hover-light);
  --button-primary-active: var(--button-primary-active-light);

  --button-secondary: var(--button-secondary-light);
  --button-secondary-hover: var(--button-secondary-hover-light);
  --button-secondary-active: var(--button-secondary-active-light);

  --secondary-button-text-dark: var(--secondary-button-text-light);
  --secondary-button-icon-dark: var(--secondary-button-icon-light);

  --button-text: var(--button-text-light);
  --button-icon: var(--button-icon-light);

  --link-primary: var(--link-primary-light);
  --link-primary-hover: var(--link-primary-hover-light);

  --heading-primary: var(--heading-primary-light);
  --heading-primary-01: var(--heading-primary-01-light);
  --heading-primary-02: var(--heading-primary-02-light);

  --paragraph-primary: var(--paragraph-primary-light);
  --paragraph-primary-100: var(--paragraph-primary-100-light);
  --paragraph-primary-200: var(--paragraph-primary-200-light);

  --surface-layer-01: var(--surface-layer-01-light);
  --surface-layer-02: var(--surface-layer-02-light);
  --surface-layer-03: var(--surface-layer-03-light);

  --surface-layer-01-hover: var(--surface-layer-01-hover-light);
  --surface-layer-02-hover: var(--surface-layer-02-hover-light);
  --surface-layer-03-hover: var(--surface-layer-03-hover-light);

  --border-subtle-01: var(--border-subtle-01-light);
  --border-subtle-02: var(--border-subtle-02-light);
  --border-subtle-03: var(--border-subtle-03-light);

  --partition-dark: var(--partition-light);

  --nav-border-dark: var(--nav-border-light);

  --nav-hover-dark: var(--nav-hover-light);

  --secondary-green: var(--secondary-green-light);
  --secondary-yellow: var(--secondary-yellow-light);
  --secondary-red: var(--secondary-red-light);
  --secondary-purple: var(--secondary-purple-light);
  --secondary-orange: var(--secondary-orange-light);
  --secondary-brown: var(--secondary-brown-light);
  --secondary-teal: var(--secondary-teal-light);

  --background-main: var(--background-main-light);

  --glass-dark: var(--glass-light);

  --drop-shadow-dark: var(--drop-shadow-light);

  --button-drop-shadow-dark: var(--button-drop-shadow-light);

  --dark-gradient: var(--light-gradient);


}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonts-body);
  letter-spacing: var(--letterSpacings-normal);
  font-weight: var(--fontWeights-normal);
  line-height: var(--lineHeights-short);
  font-feature-settings: 'ss02' on;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-main);
}

.indicator {
  position: fixed;
  width: 0;
  height: 3.2px;
  z-index: 100;
  background-color: var(--partition-dark);
}

#dynamic-nav-head {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: transform 0.32s ease-out;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.hidden {
  transform: translateY(-100%);
}


#dynamic-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 392px;
  margin: auto;
  background: var(--glass-dark);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: var(--border-radius-800);
  min-height: 56px;
  box-shadow: var(--drop-shadow-dark);
}


#nav-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#work {
  background-image: var(--logo-dark);
  min-width: 24px;
  min-height: 24px;
  border-radius: var(--border-radius-200);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-out;
}

#work:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#work:focus {
  transform: scale(1);
  outline: 0.2rem solid var(--link-primary-hover);
  outline-offset: 4px;
}

#about {
  font-size: var(--fontSizes-16);
  color: var(--paragraph-primary);
  text-decoration: none;
  font-family: var(--fonts-body);
  transition: 100ms ease-out;
  padding: 6px 8px;
  border-radius: var(--border-radius-400);
  text-align: center;
}

#about:hover {
  color: var(--link-primary-hover);
  background-color: var(--button-secondary-hover);
}

#about:focus {
  outline: 0.2rem solid var(--link-primary-hover);
}


#home {
  font-size: var(--fontSizes-16);
  color: var(--paragraph-primary);
  text-decoration: none;
  font-family: var(--fonts-body);
  transition: 100ms ease-out;
  padding: 6px 8px;
  border-radius: var(--border-radius-400);
  text-align: center;
}

#home:hover {
  color: var(--link-primary-hover);
  background-color: var(--button-secondary-hover);
}

#home:focus {
  outline: 0.2rem solid var(--link-primary-hover);
}

#resume {
  font-size: var(--fontSizes-16);
  color: var(--paragraph-primary);
  text-decoration: none;
  font-family: var(--fonts-body);
  transition: 100ms ease-out;
  padding: 6px 8px;
  border-radius: var(--border-radius-400);
  text-align: center;
}

#resume:hover {
  color: var(--link-primary-hover);
  background-color: var(--button-secondary-hover);
}

#resume:focus {
  outline: 0.2rem solid var(--link-primary-hover);
}



.sticky {
  position: fixed;
  top: 0;
}

.theme {
  min-height: 24px;
  min-width: 24px;
  border-radius: var(--border-radius-200);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-out;
}

.theme:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.theme:focus {
  transform: scale(1);
  outline: 0.2rem solid var(--link-primary-hover);
  outline-offset: 4px;
}

.hero-container {
  width: 100%;
  height: 100%;
}

.hero-section {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 128px;
  padding: 64px 128px;
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
  order: 2;
}

.main {
  min-width: 100%;
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: start;
}

.eyebrow-text {
  font-family: var(--fonts-mono);
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary-100);
  letter-spacing: var(--letterSpacings-wide);
  margin-bottom: 12px;
}

.heading {
  max-width: 752px;
  font-size: var(--fontSizes-56);
  color: var(--heading-primary);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  margin-bottom: 12px;
}

.para {
  max-width: 752px;
  font-size: var(--fontSizes-24);
  color: var(--paragraph-primary);
  font-family: var(--fonts-body);
}

#navbutton {
  margin-top: 40px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.let-connect {
  padding: 14px 24px;
  background-color: var(--button-primary);
  border-radius: var(--border-radius-500);
  text-decoration: none;
  background-color: var(--button-primary);
  font-size: var(--fontSizes-18);
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-medium);
  color: var(--primary-button-text);
  text-align: center;
  transition: 300ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.let-connect:hover {
  cursor: pointer;
  background-color: var(--button-primary-hover);
  transform: translateY(-3.2px);
}

.let-connect:focus {
  background-color: var(--button-primary-active);
  transform: translateY(0px);
}

.partition {
  width: 100%;
  height: 16px;
  background-color: var(--border-subtle-01);
}

#scroll {
  max-width: 1600px;
  margin: auto;
  padding: 64px 128px;
}

#selected {
  font-size: var(--fontSizes-40);
  color: var(--heading-primary);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  padding-bottom: 40px;
}

#project-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 48px;
}


.main-project-container {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.main-project-container:hover .pro-heading {
  cursor: pointer;
  text-decoration: 2px underline dashed var(--heading-primary);
}

.pro-cover {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

.pro-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
}

.pro-heading {
  font-size: var(--fontSizes-32);
  color: var(--heading-primary);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
}

.label-sec {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 8px;
}

#label {
  font-family: var(--fonts-mono);
  padding: 0.25rem 0.75rem;
  font-size: var(--fontSizes-14);
  border: 1px solid var(--border-subtle-01);
  text-decoration: none;
  letter-spacing: var(--letterSpacings-wide);
  color: var(--paragraph-primary-100);
  border-radius: var(--border-radius-400);
}

.pro-description {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
  text-overflow: ellipsis;
}


/* Writing */

#line {
  border: 1px solid var(--border-subtle-01);
  margin: 0px 128px;
}

#writing-section {
  max-width: 1600px;
  margin: auto;
  padding: 64px 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

#writing {
  font-size: var(--fontSizes-40);
  color: var(--heading-primary);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
}

#article-section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 48px;
  justify-content: space-between;
  align-items: start;
  min-width: 100%;
}

.main-article-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 16px;
}

.main-article-container:hover .article-heading {
  cursor: pointer;
  text-decoration: 2px underline dashed var(--heading-primary);
}

.article-cover {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
}

.article-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
}

.article-heading {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
}

.article-description {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
  text-overflow: ellipsis;
}


/* footer Section */


.footer {
  padding: 64px 128px;
  margin: auto;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.foot-sec-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.designed-coded {
  color: var(--paragraph-primary-100);
  font-size: var(--fontSizes-18);
  font-family: var(--fonts-body);
  text-align: center;
}

#bottom-text {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  text-align: center;
}

.foot-sec-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}


.bottom-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

#instagram-logo {
  border-radius: var(--border-radius-200);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-out;
  text-decoration: none;
}

#instagram-logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#instagram-logo:focus {
  transform: scale(1);
  outline: 0.2rem solid var(--link-primary-hover);
  outline-offset: 4px;
}

#linkedin-logo {
  border-radius: var(--border-radius-200);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-out;
  text-decoration: none;
}

#linkedin-logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#linkedin-logo:focus {
  transform: scale(1);
  outline: 0.2rem solid var(--link-primary-hover);
  outline-offset: 4px;
}

#mail-logo {
  border-radius: var(--border-radius-200);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-out;
  text-decoration: none;
}

#mail-logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#mail-logo:focus {
  transform: scale(1);
  outline: 0.2rem solid var(--link-primary-hover);
  outline-offset: 4px;
}

#twitter-logo {
  border-radius: var(--border-radius-200);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-out;
  text-decoration: none;
}

#twitter-logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#twitter-logo:focus {
  transform: scale(1);
  outline: 0.2rem solid var(--link-primary-hover);
  outline-offset: 4px;
}




/* About Page */




#main-about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 48px;
  padding: 64px 128px;
  max-width: 1600px;
  margin: auto;
}

.me-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: start;
  align-items: start;
  gap: 80px;
}

.about {
  font-size: var(--fontSizes-40);
  color: var(--heading-primary);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
}

.me {
  border: 2px solid var();
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
}

.myself {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 24px;
}

.myself p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.question {
  max-width: 752px;
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
}

.collage-outer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 8px;
}

.image-main {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
}

#finish {
  padding: 56px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#fn-head {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  text-align: center;
}

#back-to-all {
  margin: auto;
  width: max-content;
  font-weight: var(--fontWeights-medium);
  color: var(--link-primary);
  font-size: var(--fontSizes-18);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  text-decoration: none;
  transition: 200ms ease-out;
}

#back-to-all:hover {
  color: var(--link-primary-hover);
  text-decoration: 2px dashed underline var(--link-primary-hover);
  cursor: pointer;
}


@media (max-width: 1400px) {

  /* about section */
}

@media (max-width: 1024px) {

  #dynamic-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 48px 40px;
    gap: 32px;
    margin: 0px;
  }

  .hero-img {
    max-width: 416px;
  }

  .heading {
    font-size: var(--fontSizes-48);
  }

  .para {
    font-size: var(--fontSizes-24);
  }


  #navbutton {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .let-connect {
    font-size: var(--fontSizes-18);
  } */

  #selected {
    font-size: var(--fontSizes-40);
  }

  #scroll {
    max-width: 1600px;
    margin: auto;
    padding: 48px 40px;
  }

  #project-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
  }

  #label {
    font-size: var(--fontSizes-12);
  }

  /* writing section */

  #line {
    margin: 0px 40px;
  }

  #writing-section {
    margin: auto;
    padding: 48px 40px;
    gap: 32px;
  }

  #writing {
    font-size: var(--fontSizes-40);
  }

  #article-section {
    gap: 32px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .article-heading {
    font-size: var(--fontSizes-24);
  }


  .footer {
    padding: 48px 40px;
  }


  /* about section  */

  #main-about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 32px;
    padding: 48px 40px;
  }

  .about {
    font-size: var(--fontSizes-40);
  }

  .me-section {
    gap: 24px;
    display: flex;
    flex-direction: column-reverse;
  }

  .question {
    font-size: var(--fontSizes-32);
  }

  .collage-outer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #finish {
    padding: 48px 0px;
  }

  /* .hobbies {
    flex-direction: column;
    gap: 24px;
  }

  #cricket h6 {
    font-size: var(--fontSizes-32);
    margin-bottom: 16px;
  }

  #music h6 {
    font-size: var(--fontSizes-32);
    margin-bottom: 16px;
  } */
}

@media (max-width: 688px) {

  #dynamic-nav-head {
    padding: 20px 16px 0px 16px;
  }

  #dynamic-nav {
    min-width: 100%;
  }

  .hero-section {
    height: fit-content;
    padding: 40px 24px;
    gap: 24px;
  }

  .hero-img {
    max-width: 336px;
  }

  /* .main {
  } */

  .eyebrow-text {
    font-size: var(--fontSizes-16);
  }

  .heading {
    font-size: var(--fontSizes-40);
  }

  .para {
    font-size: var(--fontSizes-20);
  }

  /* .let-connect {
    font-size: var(--fontSizes-16);
  } */

  /* #navbutton {
    margin-top: 32px;
  } */

  #scroll {
    max-width: 1600px;
    margin: auto;
    padding: 40px 24px;
  }

  #selected {
    font-size: var(--fontSizes-32);
    padding-bottom: 16px;
  }

  #project-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
  }

  .pro-heading {
    font-size: var(--fontSizes-24);
  }

  .pro-description {
    color: var(--paragraph-primary);
    font-size: var(--fontSizes-18);
    text-overflow: ellipsis;
  }

  /* writing section */

  #line {
    margin: 0px 24px;
  }

  #writing-section {
    margin: auto;
    padding: 40px 24px;
    gap: 16px;
  }

  #article-section {
    gap: 32px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  #writing {
    font-size: var(--fontSizes-32);
  }

  #article-heading {
    font-size: var(--fontSizes-24);
  }

  .footer {
    padding: 40px 24px;
  }

  #bottom-text {
    font-size: var(--fontSizes-24);
  }

  .social {
    gap: 32px;
  }

  .bottom-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }


  /* about section */


  #main-about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
    padding: 40px 24px;
  }


  .about {
    font-size: var(--fontSizes-32);
  }

  .myself {
    gap: 16px;
  }

  .myself p {
    font-size: var(--fontSizes-18);
  }

  .question {
    font-size: var(--fontSizes-32);
  }

  .collage-outer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  #finish {
    padding: 40px 0px;
  }

}