@font-face {
  font-family: 'Nova Regular';
  src: url(./assets/Fonts/Airbnb-Cereal-WOFF2/AirbnbCereal-Book.woff2);
}

@font-face {
  font-family: 'Nova Semibold';
  src: url(./assets/Fonts/Airbnb-Cereal-WOFF2/AirbnbCereal-Medium.woff2);
}

@font-face {
  font-family: 'Nova Bold';
  src: url(./assets/Fonts/Airbnb-Cereal-WOFF2/AirbnbCereal-Bold.woff2);
}

@font-face {
  font-family: 'Nova Extrabold';
  src: url(./assets/Fonts/Airbnb-Cereal-WOFF2/AirbnbCereal-ExtraBold.woff2);
}

@font-face {
  font-family: 'Basic Grotesque Black';
  src: url(./assets/Fonts/Airbnb-Cereal-WOFF2/AirbnbCereal-ExtraBold.woff2);
}

@font-face {
  font-family: 'Basic Grotesque Bold';
  src: url(./assets/Fonts/Airbnb-Cereal-WOFF2/AirbnbCereal-Bold.woff2);
}

@font-face {
  font-family: 'Basic Grotesque Medium';
  src: url(./assets/Fonts/Airbnb-Cereal-WOFF2/AirbnbCereal-Medium.woff2);
}

@font-face {
  font-family: 'Basic Grotesque Regular';
  src: url(./assets/Fonts/Airbnb-Cereal-WOFF2/AirbnbCereal-Book.woff2);
}


:root {

  /* Dark mode */


  --primary: #0F62FE;

  --button-primary: #0A84FF;
  --button-primary-hover: #0974E0;
  --button-primary-active: #086FD6;

  --button-secondary: #6F6F6F;
  --button-secondary-hover: #606060;
  --button-secondary-active: #393939;

  --secondary-button-text-dark: #ffffff;
  --secondary-button-icon-dark: #ffffff;

  --primary-button-text: #ffffff;
  --primary-button-icon: #ffffff;

  --button-text: #ffffff;
  --button-icon: #ffffff;

  --link-primary: #78A9FF;
  --link-primary-hover: #A6C8FF;

  --heading-primary: #F4F4F4;
  --heading-primary-01: #E6E6E6;
  --heading-primary-02: #D9D9D9;

  --paragraph-primary: #CFCFCF;
  --paragraph-primary-100: #C4C4C4;
  --paragraph-primary-200: #B8B8B8;

  --surface-layer-01: #262626;
  --surface-layer-02: #393939;
  --surface-layer-03: #525252;

  --surface-layer-01-hover: #333333;
  --surface-layer-02-hover: #474747;
  --surface-layer-03-hover: #636363;

  --border-subtle-01: #393939;
  --border-subtle-02: #525252;
  --border-subtle-03: #6F6F6F;

  --secondary-green: #11A859;
  --secondary-yellow: #FFC701;
  --secondary-red: #F34E1E;
  --secondary-purple: #5650FF;
  --secondary-orange: #FF6924;
  --secondary-brown: #A6674B;
  --secondary-teal: #45AEE5;

  --background-main: #161616;

  --glass-dark: rgba(38, 38, 38, 0.80);

  --drop-shadow-dark: 0px 0px 1px 1px #393939, 0px 4px 20px 0px rgba(0, 0, 0, 0.45);

  --button-drop-shadow-dark: 0px 1px 2.5px 0px rgba(15, 98, 254, 0.24), 0px 0px 0px 0.5px rgba(15, 98, 254, 0.12);


  /* Light Mode */

  --primary-light: #0F62FE;

  --button-primary-light: #007AFF;
  --button-primary-hover-light: #1F8AFF;
  --button-primary-active-light: #3D9AFF;

  --button-secondary-light: #E8E8E8;
  --button-secondary-hover-light: #CCCCCC;
  --button-secondary-active-light: #B0B0B0;

  --secondary-button-text-light: #000000;
  --secondary-button-icon-light: #000000;

  --button-text-light: #000000;
  --button-icon-light: #000000;

  --link-primary-light: #0F62FE;
  --link-primary-hover-light: #0043CE;

  --heading-primary-light: #121212;
  --heading-primary-01-light: #202020;
  --heading-primary-02-light: #2E2E2E;

  --paragraph-primary-light: #424242;
  --paragraph-primary-100-light: #4D4D4D;
  --paragraph-primary-200-light: #424242;

  --surface-layer-01-light: #F4F4F4;
  --surface-layer-02-light: #ffffff;
  --surface-layer-03-light: #F4F4F4;

  --surface-layer-01-hover-light: #E8E8E8;
  --surface-layer-02-hover-light: #E8E8E8;
  --surface-layer-03-hover-light: #E8E8E8;

  --border-subtle-01-light: #E0E0E0;
  --border-subtle-02-light: #C6C6C6;
  --border-subtle-03-light: #E0E0E0;

  --secondary-green-light: #3AA76D;
  --secondary-yellow-light: #FFC043;
  --secondary-red-light: #D44333;
  --secondary-purple-light: #716CFF;
  --secondary-orange-light: #ED6E33;
  --secondary-brown-light: #99644C;
  --secondary-teal-light: #22a6ed;

  --background-main-light: #ffffff;

  --glass-light: rgba(244, 244, 244, 0.80);

  --drop-shadow-light: 0px 4px 25px 0px rgba(18, 18, 18, 0.14), 0px 0px 3px 0px #E0E0E0;

  --button-drop-shadow-light: 0px 1px 2.5px 0px rgba(0, 0, 0, 0.24), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
}



/* @media (prefers-color-scheme: light) {
  :root {
    --primary: var(--primary-light);
  
    --button-primary: var(--button-primary-light);
    --button-primary-hover: var(--button-primary-hover-light);
    --button-primary-active: var(--button-primary-active-light);
  
    --button-text: var(--button-text-light);
    --button-icon: var(--button-icon-light);
  
    --link-primary: var(--link-primary-light);
    --link-primary-hover: var(--link-primary-hover-light);
  
    --heading-primary: var(--heading-primary-light);
    --heading-primary-01: var(--heading-primary-01-light);
    --heading-primary-02: var(--heading-primary-02-light);
  
    --paragraph-primary: var(--paragraph-primary-light);
    --paragraph-primary-100: var(--paragraph-primary-100-light);
    --paragraph-primary-200: var(--paragraph-primary-200-light);
  
    --surface-layer-01: var(--surface-layer-01-light);
    --surface-layer-02: var(--surface-layer-02-light);
    --surface-layer-03: var(--surface-layer-03-light);
  
    --surface-layer-01-hover: var(--surface-layer-01-hover-light);
    --surface-layer-02-hover: var(--surface-layer-02-hover-light);
    --surface-layer-03-hover: var(--surface-layer-03-hover-light);
  
    --border-subtle-01: var(--border-subtle-01-light);
    --border-subtle-02: var(--border-subtle-02-light);
    --border-subtle-03: var(--border-subtle-03-light);
  
    --secondary-green: var(--secondary-green-light);
    --secondary-yellow: var(--secondary-yellow-light);
    --secondary-red: var(--secondary-red-light);
    --secondary-purple: var(--secondary-purple-light);
    --secondary-orange: var(--secondary-orange-light);
    --secondary-brown: var(--secondary-brown-light);
    --secondary-teal: var(--secondary-teal-light);
  
    --background-main: var(--background-main-light);

    --glass-dark: var(--glass-light);
}
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-light: var(--primary);
  
    --button-primary-light: var(--button-primary);
    --button-primary-hover-light: var(--button-primary-hover);
    --button-primary-active-light: var(--button-primary-active);
  
    --button-text-light: var(--button-text);
    --button-icon-light: var(--button-icon);
  
    --link-primary-light: var(--link-primary);
    --link-primary-hover-light: var(--link-primary-hover);
  
    --heading-primary-light: var(--heading-primary);
    --heading-primary-01-light: var(--heading-primary-01);
    --heading-primary-02-light: var(--heading-primary-02);
  
    --paragraph-primary-light: var(--paragraph-primary);
    --paragraph-primary-100-light: var(--paragraph-primary-100);
    --paragraph-primary-200-light: var(--paragraph-primary-200);
  
    --surface-layer-01-light: var(--surface-layer-01);
    --surface-layer-02-light: var(--surface-layer-02);
    --surface-layer-03-light: var(--surface-layer-03);
  
    --surface-layer-01-hover-light: var(--surface-layer-01-hover);
    --surface-layer-02-hover-light: var(--surface-layer-02-hover);
    --surface-layer-03-hover-light: var(--surface-layer-03-hover);
  
    --border-subtle-01-light: var(--border-subtle-01);
    --border-subtle-02-light: var(--border-subtle-02);
    --border-subtle-03-light: var(--border-subtle-03);
  
    --secondary-green-light: var(--secondary-green);
    --secondary-yellow-light: var(--secondary-yellow);
    --secondary-red-light: var(--secondary-red);
    --secondary-purple-light: var(--secondary-purple);
    --secondary-orange-light: var(--secondary-orange);
    --secondary-brown-light: var(--secondary-brown);
    --secondary-teal-light: var(--secondary-teal);
  
    --background-main-light: var(--background-main);

    --glass-light: var(--glass-dark);
}
} */




[color-scheme="dark"] {

  --primary-light: var(--primary);

  --button-primary-light: var(--button-primary);
  --button-primary-hover-light: var(--button-primary-hover);
  --button-primary-active-light: var(--button-primary-active);

  --button-secondary-light: var(--button-secondary);
  --button-secondary-hover-light: var(--button-secondary-hover);
  --button-secondary-active-light: var(--button-secondary-active);

  --secondary-button-text-light: var(--secondary-button-text-dark);
  --secondary-button-icon-light: var(--secondary-button-icon-dark);


  --button-text-light: var(--button-text);
  --button-icon-light: var(--button-icon);

  --link-primary-light: var(--link-primary);
  --link-primary-hover-light: var(--link-primary-hover);

  --heading-primary-light: var(--heading-primary);
  --heading-primary-01-light: var(--heading-primary-01);
  --heading-primary-02-light: var(--heading-primary-02);

  --paragraph-primary-light: var(--paragraph-primary);
  --paragraph-primary-100-light: var(--paragraph-primary-100);
  --paragraph-primary-200-light: var(--paragraph-primary-200);

  --surface-layer-01-light: var(--surface-layer-01);
  --surface-layer-02-light: var(--surface-layer-02);
  --surface-layer-03-light: var(--surface-layer-03);

  --surface-layer-01-hover-light: var(--surface-layer-01-hover);
  --surface-layer-02-hover-light: var(--surface-layer-02-hover);
  --surface-layer-03-hover-light: var(--surface-layer-03-hover);

  --border-subtle-01-light: var(--border-subtle-01);
  --border-subtle-02-light: var(--border-subtle-02);
  --border-subtle-03-light: var(--border-subtle-03);

  --secondary-green-light: var(--secondary-green);
  --secondary-yellow-light: var(--secondary-yellow);
  --secondary-red-light: var(--secondary-red);
  --secondary-purple-light: var(--secondary-purple);
  --secondary-orange-light: var(--secondary-orange);
  --secondary-brown-light: var(--secondary-brown);
  --secondary-teal-light: var(--secondary-teal);

  --background-main-light: var(--background-main);

  --glass-light: var(--glass-dark);

  --drop-shadow-light: var(--drop-shadow-dark);

  --button-drop-shadow-light: var(--button-drop-shadow-dark);

}




[color-scheme="light"] {

  --primary: var(--primary-light);

  --button-primary: var(--button-primary-light);
  --button-primary-hover: var(--button-primary-hover-light);
  --button-primary-active: var(--button-primary-active-light);

  --button-secondary: var(--button-secondary-light);
  --button-secondary-hover: var(--button-secondary-hover-light);
  --button-secondary-active: var(--button-secondary-active-light);

  --secondary-button-text-dark: var(--secondary-button-text-light);
  --secondary-button-icon-dark: var(--secondary-button-icon-light);

  --button-text: var(--button-text-light);
  --button-icon: var(--button-icon-light);

  --link-primary: var(--link-primary-light);
  --link-primary-hover: var(--link-primary-hover-light);

  --heading-primary: var(--heading-primary-light);
  --heading-primary-01: var(--heading-primary-01-light);
  --heading-primary-02: var(--heading-primary-02-light);

  --paragraph-primary: var(--paragraph-primary-light);
  --paragraph-primary-100: var(--paragraph-primary-100-light);
  --paragraph-primary-200: var(--paragraph-primary-200-light);

  --surface-layer-01: var(--surface-layer-01-light);
  --surface-layer-02: var(--surface-layer-02-light);
  --surface-layer-03: var(--surface-layer-03-light);

  --surface-layer-01-hover: var(--surface-layer-01-hover-light);
  --surface-layer-02-hover: var(--surface-layer-02-hover-light);
  --surface-layer-03-hover: var(--surface-layer-03-hover-light);

  --border-subtle-01: var(--border-subtle-01-light);
  --border-subtle-02: var(--border-subtle-02-light);
  --border-subtle-03: var(--border-subtle-03-light);

  --secondary-green: var(--secondary-green-light);
  --secondary-yellow: var(--secondary-yellow-light);
  --secondary-red: var(--secondary-red-light);
  --secondary-purple: var(--secondary-purple-light);
  --secondary-orange: var(--secondary-orange-light);
  --secondary-brown: var(--secondary-brown-light);
  --secondary-teal: var(--secondary-teal-light);

  --background-main: var(--background-main-light);

  --glass-dark: var(--glass-light);

  --drop-shadow-dark: var(--drop-shadow-light);

  --button-drop-shadow-dark: var(--button-drop-shadow-light);

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Basic Grotesque Bold", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-main);
}


.indicator {
  position: fixed;
  width: 0;
  height: 4px;
  z-index: 100;
  background-color: var(--primary-light);
}

#dynamic-nav-head {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 24px;
  z-index: 10;
  transition: transform 0.32s ease-out;
}

.hidden {
  transform: translateY(-100%);
}


#dynamic-nav {
  max-width: 424px;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 6px 8px;
  /* border: 1px solid var(--border-subtle-01); */
  border-radius: 128px;
  background-color: var(--glass-dark);
  backdrop-filter: saturate(180%) blur(22px);
  box-shadow: var(--drop-shadow-dark);
}

#nav-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.logo {
  text-decoration: none;
  height: 44px;
  width: 44px;
  background-image: url(./assets/mylogo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-radius: 50%;
}

#dynamic-nav a {
  font-size: 15.2px;
  color: var(--paragraph-primary);
  text-decoration: none;
  font-family: "Nova Semibold", sans-serif;
  /* line-height: 120%; */
  padding: 4px;
  background-color: transparent;
  transition: 200ms ease-out;
  text-decoration: none;
}

#dynamic-nav a:hover {
  background-color: var(--surface-layer-01-hover);
  border-radius: 32px;
}

#nav-info a {
  padding: 8px 12px;
}

.sticky {
  position: fixed;
  top: 0;
}

.theme {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  transition: 400ms ease-out;
  padding: 4px;
}

.theme:hover {
  background-color: var(--surface-layer-01-hover);
  cursor: pointer;
}

.main {
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 32px 112px;
}

/* #memoji {
  display: flex;
  align-items: center;
  justify-content: center;
}

#memoji-photo {
  height: 244px;
  width: 244px;
  background-image: url(./memoji.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-radius: 50%;
} */

.heading {
  font-size: 48px;
  color: var(--heading-primary);
  max-width: 1064px;
  margin-bottom: 12px;
}

.para {
  font-size: 18px;
  font-family: "Nova Regular", sans-serif;
  /* line-height: 120%; */
  color: var(--paragraph-primary-100);
  width: 100%;
  /* line-height: 120%; */
}

#navbutton {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dive-in {
  padding: 14px 24px;
  background-color: var(--button-primary);
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 0.16px;
  font-family: "Nova Semibold", sans-serif;
  /* line-height: 120%; */
  color: var(--primary-button-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: 0.3s ease-out;
  gap: 16px;
  box-shadow: var(--button-drop-shadow-dark);
}

#arrow-right {
  font-size: 24px;
}

.dive-in:hover {
  background-color: var(--button-primary-hover);
  cursor: pointer;
}


#scroll {
  max-width: 1600px;
  margin: auto;
  padding: 64px 112px;
}

#selected {
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 32px;
  color: var(--heading-primary-01);
}

#project-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 48px;
}

#project-1 {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 16px;

}

#bottom-text-h {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
}

.image-wrapper {
  max-width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.pro-bg-1 {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

.pro-bg-1:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-out;
}

#project-1 h6 {
  font-size: 32px;
  font-weight: 800;
  color: var(--heading-primary-01);
}

#project-1 p {
  color: var(--paragraph-primary-100);
  font-family: "Nova Regular", sans-serif;
  font-size: 18px;
  /* line-height: 120%; */
}

#project-2 {
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

#bottom-text-h {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
}

.pro-bg-2 {
  max-width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

.pro-bg-2:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-out;
}

#project-2 h6 {
  font-size: 32px;
  font-weight: 800;
  color: var(--heading-primary-01);
}

#project-2 p {
  color: var(--paragraph-primary-100);
  font-family: "Nova Regular", sans-serif;
  font-size: 18px;
  /* line-height: 120%; */
}

#project-3 {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}


.pro-bg-3 {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

.pro-bg-3:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-out;
}

#project-3 h6 {
  font-size: 32px;
  font-weight: 800;
  color: var(--heading-primary-01);
}

#project-3 p {
  color: var(--paragraph-primary-100);
  font-family: "Nova Regular", sans-serif;
  font-size: 18px;
  /* line-height: 120%; */
}

#project-4 {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}


.pro-bg-4 {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

.pro-bg-4:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-out;
}

#project-4 h6 {
  font-size: 32px;
  font-weight: 800;
  color: var(--heading-primary-01);
}

#project-4 p {
  color: var(--paragraph-primary-100);
  font-family: "Nova Regular", sans-serif;
  /* line-height: 120%; */
  font-size: 18px;
}

/* Writing */

#line {
  border-color: var(--border-subtle-01);
  margin: 0px 108px;
}

#writing-section {
  max-width: 1600px;
  margin: auto;
  padding: 64px 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 32px;
}

#writing {
  font-size: 36px;
  font-weight: 800;
  color: var(--heading-primary-01);
}

#article-section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 48px;
  justify-content: space-between;
  align-items: start;
  min-width: 100%;
}

.first-article {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 16px;
}

/* #info-1{ 
  padding: 16px;
  background-color: var(--surface-200);
  border-radius: 0px 0px 12px 12px;
  border: 1px solid var(--surface-100);
} */

#info-1 h6 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 8px;
  color: var(--heading-primary-01);
}

#info-1 p {
  color: var(--paragraph-primary-100);
  font-family: "Nova Regular", sans-serif;
  font-size: 18px;
  /* line-height: 120%; */
}

#f-a-bg {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.second-article {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 16px;
}

/* #info-2{
  padding: 16px;
  background-color: var(--surface-200);
  border-radius: 0px 0px 12px 12px;
  border: 1px solid var(--surface-100);
} */
#info-2 h6 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 8px;
  color: var(--heading-primary-01);
}

#info-2 p {
  color: var(--paragraph-primary-100);
  font-family: "Nova Regular", sans-serif;
  font-size: 18px;
  /* line-height: 120%; */
}

#s-a-bg {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.third-article {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 16px;
}

/* #info-3{
  padding: 16px;
  background-color: var(--surface-200);
  border-radius: 0px 0px 12px 12px;
  border: 1px solid var(--surface-100);
} */
#info-3 h6 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 8px;
  color: var(--heading-primary-01);
}

#info-3 p {
  color: var(--paragraph-primary-100);
  font-family: "Nova Regular", sans-serif;
  font-size: 18px;
  /* line-height: 120%; */
}

#t-a-bg {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

/* footer Section */


.footer {
  padding: 64px 112px;
  max-width: 1600px;
  margin: auto;
}

.footer .bottom-icons a {
  color: var(--paragraph-primary);
}

.trademark {
  font-size: 18px;
  font-family: "Nova Regular", sans-serif;
  color: var(--paragraph-primary-200);
}

#bottom-text {
  font-size: 32px;
  font-weight: 700;
  color: var(--heading-primary-01);
  /* line-height: 120%; */
  margin-bottom: 16px;
}

.bottom-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.bottom-icons a {
  font-size: 18px;
  text-decoration: none;
  transition: 200ms ease-out;
  font-family: "Nova Regular", sans-serif;
}

.bottom-icons a:hover {
  color: var(--link-primary-hover);
  text-decoration: underline var(--link-primary-hover);
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}


/* About Page */

#main-about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 32px;
  margin: 64px 128px;

}

.me-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: start;
  align-items: start;
  gap: 80px;
}

.about {
  font-size: 42px;
  font-weight: 800;
  color: var(--heading-primary);
}

.me {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  box-shadow: var(--drop-shadow-dark);
}

.myself {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 24px;
}

.myself p {
  font-family: "Nova Regular", sans-serif;
  /* line-height: 120%; */
  font-size: 18px;
  color: var(--paragraph-primary-100);
}

.question {
  font-size: 36px;
  font-weight: 800;
  color: var(--heading-primary-01);
}

.hobbies {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 48px;
}

#cricket{
  max-width: 100%;
  padding: 16px;
  background-color: var(--surface-layer-01);
  border: 1.2px solid var(--border-subtle-02);
  border-radius: 12px;
}

#cricket h6 {
  color: var(--heading-primary-01);
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 16px;
}

#cricket p {
  color: var(--paragraph-primary-100);
  font-family: "Nova Regular", sans-serif;
  font-size: 18px;
  /* line-height: 120%; */
}

#music{
  max-width: 100%;
  padding: 16px;
  background-color: var(--surface-layer-01);
  border: 1.2px solid var(--border-subtle-02);
  border-radius: 12px;
}

#music h6 {
  color: var(--heading-primary-01);
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 16px;
}

#music p {
  color: var(--paragraph-primary-100);
  font-family: "Nova Regular", sans-serif;
  font-size: 18px;
  /* line-height: 120%; */
}


@media (max-width: 1400px) {

  /* about section */
}

@media (max-width: 992px) {
  .header {
    padding: 20px 32px;
  }

  .main {
    padding: 24px 32px;
  }

  .heading {
    font-size: 44px;
    font-weight: 800;
    /* line-height: 120%; */
  }

  #navbutton {
    margin-top: 48px;
  }



  #selected {
    font-size: 36px;
    font-weight: 800;
  }

  /* #memoji-photo {
    height: 336px;
    width: 336px;
    background-image: url(./memoji.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 50%;
  } */

  #scroll {
    max-width: 1600px;
    margin: auto;
    padding: 32px;
  }

  #project-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
  }

  #project-1 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #project-2 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #project-3 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #project-4 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  /* writing section */

  #line {
    margin: 0px 32px;
  }

  #writing-section {
    margin: auto;
    padding: 32px 32px;
    gap: 32px;
  }

  #writing {
    font-size: 36px;
    font-weight: 800;
  }

  #article-section {
    gap: 32px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .first-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    min-width: 100%;
  }

  /* #info-1 {
    padding: 16px;
  } */

  #info-1 h6 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
  }

  #info-1 p {
    font-size: 18px;
  }


  .second-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    min-width: 100%;
  }

  /* #info-2 {
    padding: 16px;
  } */

  #info-2 h6 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
  }

  #info-2 p {
    font-size: 18px;
  }

  .third-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    min-width: 100%;
  }

  /* #info-3 {
    padding: 16px;
  } */

  #info-3 h6 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
  }

  #info-3 p {
    font-size: 18px;
  }


  .footer {
    padding: 32px;
    max-width: 1600px;
  }

  #bottom-text {
    margin-bottom: 8px;
  }

  /* about section  */

  #main-about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 32px;
    margin: 32px;
  }

  .about {
    font-size: 40px;
  }

  .me-section {
    gap: 24px;
    display: flex;
    flex-direction: column-reverse;
  }

  .question {
    font-size: 32px;
  }

  .hobbies {
    flex-direction: column;
    gap: 24px;
  }

  #cricket h6 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  #music h6 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
  }
}

@media (max-width: 688px) {
  .indicator {
    position: fixed;
    width: 0;
    height: 6px;
    z-index: 100;
  }

  #dynamic-nav-head {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 18px 8px 14px;
  }

  #dynamic-nav {
    width: 100%;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 8px 10px;
  }

  #nav-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    text-decoration: none;
    height: 42px;
    width: 42px;
    background-image: url(./assets/mylogo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 50%;
  }

  #dynamic-nav a {
    text-decoration: none;
    padding: 2px;
    background-color: transparent;
    transition: 200ms ease-out;
    text-decoration: none;
  }


  #dynamic-nav a:hover {
    background-color: transparent;
    border-radius: 32px;
  }

  .theme {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: none;
    display: grid;
    place-items: center;
    transition: 400ms ease-out;
    padding: 4px;
  }

  #nav-info a {
    padding: 8px 12px;
  }


  .main {
    padding: 16px;
  }

  /* #memoji {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 18px;
  }

  #memoji-photo {
    height: 220px;
    width: 220px;
  } */

  .heading {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  #navbutton {
    margin-top: 48px;
    width: 100%;
    padding: 0px;
  }

  .dive-in {
    width: 100%;
    padding: 16px 24px;
  }

  #scroll {
    max-width: 1600px;
    margin: auto;
    padding: 32px 16px;
  }

  #project-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
  }

  #selected {
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 16px;
  }

  #project-1 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #bottom-text-h {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
  }

  .pro-bg-1 {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-1 h6 {
    font-size: 26px;
    font-weight: 800;
  }

  #project-1 p {
    font-size: 18px;
  }

  #project-2 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #bottom-text-h {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
  }

  .pro-bg-2 {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-2 h6 {
    font-size: 26px;
    font-weight: 800;
  }

  #project-2 p {
    font-size: 18px;
  }

  #project-3 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #bottom-text-h {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
  }

  .pro-bg-3 {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-3 h6 {
    font-size: 26px;
    font-weight: 800;
  }

  #project-3 p {
    font-size: 18px;
  }

  #project-4 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #bottom-text-h {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
  }

  .pro-bg-4 {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-4 h6 {
    font-size: 26px;
    font-weight: 800;
  }

  #project-4 p {
    font-size: 18px;
  }

  /* writing section */

  #line1 {
    margin: 16px;
  }

  #writing-section {
    margin: auto;
    padding: 32px 16px;
    gap: 16px;
  }

  #article-section {
    gap: 32px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  #writing {
    font-size: 30px;
    font-weight: 800;
  }

  #info-1 {
    min-width: 100%;
  }

  #info-1 h6 {
    min-width: 100%;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 8px;
  }

  #info-1 p {
    font-size: 18px;
  }

  /* #f-a-bg {
  } */

  #info-2 {
    min-width: 100%;
  }

  #info-2 h6 {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 8px;
  }

  #info-2 p {
    font-size: 18px;
  }

  /* #s-a-bg {
  } */

  #info-3 {
    min-width: 100%;
  }

  #info-3 h6 {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 8px;
  }

  #info-3 p {
    font-size: 18px;
  }

  /* #t-a-bg {
  } */


  #line {
    margin: 0px 16px;
  }

  .footer {
    padding: 32px 16px;
  }

  .bottom-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .bottom-icons a {
    text-decoration: none;
    transition: 200ms ease-out;
    font-size: 18px;
  }

  .social {
    gap: 16px;
  }



  /* about section */


  #main-about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
    margin: 32px 16px;
  }


  .about {
    font-size: 36px;
  }

  .myself {
    gap: 16px;
  }

  .myself p {
    font-size: 18px;
  }

  .question {
    font-size: 30px;
  }

  #cricket h6 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  #music h6 {
    font-size: 28px;
    margin-bottom: 16px;
  }
}