/* @font-face {
  font-family: 'Whyte';
  src: url('https://d8o6urisxu54f.cloudfront.net/template_image/08f759c569c2e23f75c76706b06fe8a657a811ee/original/1698906410-0d7c418f197287f9.woff2?1698906410') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte';
  src: url('https://d8o6urisxu54f.cloudfront.net/template_image/1b85942aca7bfe7d0efc9b8d2df4b33bb7f9b14e/original/1698906423-769eb3d5cf971456.woff2?1698906423') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte';
  src: url('https://d8o6urisxu54f.cloudfront.net/template_image/2f3bd93f405a47b4f6d963d9d37cac404711e8aa/original/1698906438-2b15c0de1eb0bd90.woff2?1698906438') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */



/* 

@font-face {
  font-family: 'Whyte Medium';
  src: url('./assets/Fonts/CircularSpotifyTxT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Bold';
  src: url('./assets/Fonts/CircularSpotifyTxT-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('./assets/Fonts/CircularSpotifyTxT-Medium.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */


/* @font-face {
  font-family: 'Haldane Regular';
  src: url('./assets/Fonts/HeldaneTextRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Haldane Medium';
  src: url('./assets/Fonts/HeldaneTextMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Haldane Bold';
  src: url('./assets/Fonts/HeldaneTextBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */



/* Active Fonts */





@font-face {
  font-family: 'Roc Grotesk';
  src: url('./assets/Fonts/Roc-Grotesk-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Regular';
  src: url('./assets/Fonts/whyte-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





:root {

  /* Dark mode */


  --logo-dark: url(./assets/Icons/logo-dark-mode.svg);

  --primary: #0A84FF;

  --button-primary: #0C8CE9;
  --button-primary-hover: #0C8CE9;
  --button-primary-active: #0C8CE9;

  --button-secondary: #CFE9FC;
  --button-secondary-hover: #A8D7FA;
  --button-secondary-active: #A8D7FA;

  --secondary-button-text-dark: #FFFFFF;
  --secondary-button-icon-dark: #FFFFFF;

  --primary-button-text: #FFFFFF;
  --primary-button-icon: #FFFFFF;

  --button-text: #FFFFFF;
  --button-icon: #FFFFFF;

  --link-primary: #0C8CE9;
  --link-primary-hover: #0C8CE9;

  --heading-primary: #FFFFFF;
  --heading-primary-01: #C8D0DE;
  --heading-primary-02: #A4ADBF;

  --paragraph-primary: #FFFFFF;
  --paragraph-primary-100: #C8D0DE;
  --paragraph-primary-200: #A4ADBF;

  --surface-layer-01: #0D0D1A;
  --surface-layer-02: #1B1C2E;
  --surface-layer-03: #2D3148;

  --surface-layer-01-hover: #1B1C2E;
  --surface-layer-02-hover: #0D0D1A;
  --surface-layer-03-hover: #4D536B;

  --border-subtle-01: #2D3148;
  --border-subtle-02: #4D536B;
  --border-subtle-03: #747F99;

  --partition-dark: #0C8CE9;

  --secondary-green: #198F51;
  --secondary-yellow: #FFC701;
  --secondary-red: #F34E1E;
  --secondary-purple: #5650FF;
  --secondary-orange: #FF6924;
  --secondary-brown: #A6674B;
  --secondary-teal: #45AEE5;

  --background-main: #0D0D1A;

  --glass-dark: rgba(13, 13, 26, 0.75);

  --drop-shadow-dark: 0px 1px 4px 0px rgba(22, 30, 54, 0.05);

  --button-drop-shadow-dark: 0px 1px 4px rgba(6, 139, 238, 0.24), 0px 0px 0px 1px rgba(6, 139, 238, 0.12);

  --dark-gradient: linear-gradient(to bottom, #0972D3, #539FE5);



  /* Light Mode */

  --logo-light: url(./assets/Icons/logo-light-mode.svg);

  --primary-light: #007BE5;

  --button-primary-light: #007BE5;
  --button-primary-hover-light: #007BE5;
  --button-primary-active-light: #007BE5;

  --button-secondary-light: #E5F4FF;
  --button-secondary-hover-light: #BDE3FF;
  --button-secondary-active-light: #BDE3FF;

  --secondary-button-text-light: #000000;
  --secondary-button-icon-light: #000000;

  --button-text-light: #000000;
  --button-icon-light: #000000;

  --link-primary-light: #007BE5;
  --link-primary-hover-light: #007BE5;

  --heading-primary-light: #000000;
  --heading-primary-01-light: #4D536B;
  --heading-primary-02-light: #747F99;

  --paragraph-primary-light: #000000;
  --paragraph-primary-100-light: #4D536B;
  --paragraph-primary-200-light: #747F99;

  --surface-layer-01-light: #FAFBFC;
  --surface-layer-02-light: #F2F4F7;
  --surface-layer-03-light: #E1E6ED;

  --surface-layer-01-hover-light: #F2F4F7;
  --surface-layer-02-hover-light: #E1E6ED;
  --surface-layer-03-hover-light: #C8D0DE;

  --border-subtle-01-light: #E1E6ED;
  --border-subtle-02-light: #A4ADBF;
  --border-subtle-03-light: #4D536B;

  --partition-light: #0D99FF;

  --secondary-green-light: #14AE5C;
  --secondary-yellow-light: #FFC043;
  --secondary-red-light: #D44333;
  --secondary-purple-light: #716CFF;
  --secondary-orange-light: #ED6E33;
  --secondary-brown-light: #99644C;
  --secondary-teal-light: #22a6ed;

  --background-main-light: #FAFBFC;

  --glass-light: rgba(249, 251, 252, 0.75);

  --drop-shadow-light: 0px 1px 4px 0px rgba(13, 25, 63, 0.05);

  --button-drop-shadow-light: 0px 1px 4px rgba(38, 110, 241, 0.24), 0px 0px 0px 1px rgba(38, 110, 241, 0.12);

  --light-gradient: linear-gradient(to bottom, #273EA5, #3759CE);


  /* Fonts */


  --fonts-heading: Roc Grotesk, InterVariable, -apple-system, BlinkMacSystemFont, Inter, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-body: Whyte Regular, InterVariable, -apple-system, BlinkMacSystemFont, Inter, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-mono: Spline Sans Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


  --fontWeights-thin: 200;
  --fontWeights-light: 300;
  --fontWeights-normal: 400;
  --fontWeights-medium: 500;
  --fontWeights-semibold: 600;
  --fontWeights-bold: 500;
  --fontWeights-extrabold: 800;
  --fontWeights-black: 900;


  --letterSpacings-tighter: -0.05em;
  --letterSpacings-tight: -0.025em;
  --letterSpacings-normal: 0;
  --letterSpacings-wide: 0.025em;
  --letterSpacings-wider: 0.05em;
  --letterSpacings-widest: 0.1em;


  --lineHeights-3: .75rem;
  --lineHeights-4: 1rem;
  --lineHeights-5: 1.25rem;
  --lineHeights-6: 1.5rem;
  --lineHeights-7: 1.75rem;
  --lineHeights-8: 2rem;
  --lineHeights-9: 2.25rem;
  --lineHeights-10: 2.5rem;
  --lineHeights-normal: normal;
  --lineHeights-none: 1;
  --lineHeights-shorter: 1.25;
  --lineHeights-short: 1.375;
  --lineHeights-base: 1.5;
  --lineHeights-tall: 1.625;
  --lineHeights-taller: 2;



  --border-radius-none: 0rem;
  --border-radius-200: 0.25rem;
  --border-radius-400: 0.5rem;
  --border-radius-500: 0.625rem;
  --border-radius-600: 0.75rem;
  --border-radius-800: 1rem;
  --border-radius-full: 100rem;


  --fontSizes-10: 0.625rem;
  --fontSizes-12: 0.75rem;
  --fontSizes-14: 0.875rem;
  --fontSizes-16: 1rem;
  --fontSizes-18: 1.125rem;
  --fontSizes-20: 1.25rem;
  --fontSizes-24: 1.5rem;
  --fontSizes-32: 2rem;
  --fontSizes-40: 2.5rem;
  --fontSizes-48: 3rem;
  --fontSizes-60: 3.75rem;
  --fontSizes-72: 4.5rem;
  --fontSizes-96: 6rem;
  --fontSizes-128: 8rem;



}




[color-scheme="dark"] {

  --logo-light: var(--logo-dark);

  --primary-light: var(--primary);

  --button-primary-light: var(--button-primary);
  --button-primary-hover-light: var(--button-primary-hover);
  --button-primary-active-light: var(--button-primary-active);

  --button-secondary-light: var(--button-secondary);
  --button-secondary-hover-light: var(--button-secondary-hover);
  --button-secondary-active-light: var(--button-secondary-active);

  --secondary-button-text-light: var(--secondary-button-text-dark);
  --secondary-button-icon-light: var(--secondary-button-icon-dark);


  --button-text-light: var(--button-text);
  --button-icon-light: var(--button-icon);

  --link-primary-light: var(--link-primary);
  --link-primary-hover-light: var(--link-primary-hover);

  --heading-primary-light: var(--heading-primary);
  --heading-primary-01-light: var(--heading-primary-01);
  --heading-primary-02-light: var(--heading-primary-02);

  --paragraph-primary-light: var(--paragraph-primary);
  --paragraph-primary-100-light: var(--paragraph-primary-100);
  --paragraph-primary-200-light: var(--paragraph-primary-200);

  --surface-layer-01-light: var(--surface-layer-01);
  --surface-layer-02-light: var(--surface-layer-02);
  --surface-layer-03-light: var(--surface-layer-03);

  --surface-layer-01-hover-light: var(--surface-layer-01-hover);
  --surface-layer-02-hover-light: var(--surface-layer-02-hover);
  --surface-layer-03-hover-light: var(--surface-layer-03-hover);

  --border-subtle-01-light: var(--border-subtle-01);
  --border-subtle-02-light: var(--border-subtle-02);
  --border-subtle-03-light: var(--border-subtle-03);

  --partition-light: var(--partition-dark);

  --nav-border-light: var(--nav-border-dark);

  --nav-hover-light: var(--nav-hover-dark);

  --secondary-green-light: var(--secondary-green);
  --secondary-yellow-light: var(--secondary-yellow);
  --secondary-red-light: var(--secondary-red);
  --secondary-purple-light: var(--secondary-purple);
  --secondary-orange-light: var(--secondary-orange);
  --secondary-brown-light: var(--secondary-brown);
  --secondary-teal-light: var(--secondary-teal);

  --background-main-light: var(--background-main);

  --glass-light: var(--glass-dark);

  --drop-shadow-light: var(--drop-shadow-dark);

  --button-drop-shadow-light: var(--button-drop-shadow-dark);

  --light-gradient: var(--dark-gradient);

}




[color-scheme="light"] {

  --logo-dark: var(--logo-light);

  --primary: var(--primary-light);

  --button-primary: var(--button-primary-light);
  --button-primary-hover: var(--button-primary-hover-light);
  --button-primary-active: var(--button-primary-active-light);

  --button-secondary: var(--button-secondary-light);
  --button-secondary-hover: var(--button-secondary-hover-light);
  --button-secondary-active: var(--button-secondary-active-light);

  --secondary-button-text-dark: var(--secondary-button-text-light);
  --secondary-button-icon-dark: var(--secondary-button-icon-light);

  --button-text: var(--button-text-light);
  --button-icon: var(--button-icon-light);

  --link-primary: var(--link-primary-light);
  --link-primary-hover: var(--link-primary-hover-light);

  --heading-primary: var(--heading-primary-light);
  --heading-primary-01: var(--heading-primary-01-light);
  --heading-primary-02: var(--heading-primary-02-light);

  --paragraph-primary: var(--paragraph-primary-light);
  --paragraph-primary-100: var(--paragraph-primary-100-light);
  --paragraph-primary-200: var(--paragraph-primary-200-light);

  --surface-layer-01: var(--surface-layer-01-light);
  --surface-layer-02: var(--surface-layer-02-light);
  --surface-layer-03: var(--surface-layer-03-light);

  --surface-layer-01-hover: var(--surface-layer-01-hover-light);
  --surface-layer-02-hover: var(--surface-layer-02-hover-light);
  --surface-layer-03-hover: var(--surface-layer-03-hover-light);

  --border-subtle-01: var(--border-subtle-01-light);
  --border-subtle-02: var(--border-subtle-02-light);
  --border-subtle-03: var(--border-subtle-03-light);

  --partition-dark: var(--partition-light);

  --nav-border-dark: var(--nav-border-light);

  --nav-hover-dark: var(--nav-hover-light);

  --secondary-green: var(--secondary-green-light);
  --secondary-yellow: var(--secondary-yellow-light);
  --secondary-red: var(--secondary-red-light);
  --secondary-purple: var(--secondary-purple-light);
  --secondary-orange: var(--secondary-orange-light);
  --secondary-brown: var(--secondary-brown-light);
  --secondary-teal: var(--secondary-teal-light);

  --background-main: var(--background-main-light);

  --glass-dark: var(--glass-light);

  --drop-shadow-dark: var(--drop-shadow-light);

  --button-drop-shadow-dark: var(--button-drop-shadow-light);

  --dark-gradient: var(--light-gradient);

}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonts-body);
  letter-spacing: var(--letterSpacings-normal);
  font-weight: var(--fontWeights-normal);
  line-height: var(--lineHeights-short);
  font-feature-settings: 'ss02' on;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-main);
}


.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: var(--dark-gradient);
  z-index: -99;
}

.indicator {
  position: fixed;
  width: 0;
  height: 3.2px;
  z-index: 100;
  background-color: var(--partition-dark);
}

#dynamic-nav-head {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: transform 0.32s ease-out;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.hidden {
  transform: translateY(-100%);
}


#dynamic-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 384px;
  margin: auto;
  background: var(--surface-layer-01);
  /* height: fit-content;
  backdrop-filter: saturate(180%) blur(25px);
  background-blend-mode: luminosity; */
  border-radius: var(--border-radius-800);
  border: 1px solid var(--border-subtle-01);
  box-shadow: var(--drop-shadow-dark);
}


#nav-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#work {
  background-image: var(--logo-dark);
  min-width: 24px;
  min-height: 24px;
  border-radius: var(--border-radius-200);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-out;
}

#work:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#work:focus {
  transform: scale(1);
  outline: 0.2rem solid var(--link-primary-hover);
  outline-offset: 4px;
}

#about {
  font-size: var(--fontSizes-16);
  color: var(--secondary-button-text-dark);
  text-decoration: none;
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-medium);
  transition: 100ms ease-out;
  padding: 8px;
  border-radius: var(--border-radius-400);
}

#about:hover {
  color: var(--link-primary-hover);
}

#about:focus {
  outline: 0.2rem solid var(--link-primary-hover);
}


#snaps {
  font-size: var(--fontSizes-16);
  color: var(--secondary-button-text-dark);
  text-decoration: none;
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-medium);
  transition: 100ms ease-out;
  padding: 8px;
  border-radius: var(--border-radius-400);
}

#snaps:hover {
  color: var(--link-primary-hover);
}

#snaps:focus {
  outline: 0.2rem solid var(--link-primary-hover);
}

#resume {
  font-size: var(--fontSizes-16);
  color: var(--secondary-button-text-dark);
  text-decoration: none;
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-medium);
  transition: 100ms ease-out;
  padding: 8px;
  border-radius: var(--border-radius-400);
}

#resume:hover {
  color: var(--link-primary-hover);
}

#resume:focus {
  outline: 0.2rem solid var(--link-primary-hover);
}



.sticky {
  position: fixed;
  top: 0;
}

.theme {
  min-height: 24px;
  min-width: 24px;
  border-radius: var(--border-radius-200);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-out;
}

.theme:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.theme:focus {
  transform: scale(1);
  outline: 0.2rem solid var(--link-primary-hover);
  outline-offset: 4px;
}

.hero-container {
  width: 100%;
  height: 100%;
}

.hero-section {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 128px;
  padding: 48px 96px;
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
}

.hero-img{
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
  order: 2;
}

.main {
  min-width: 100%;
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: start;
}


.heading {
  font-size: var(--fontSizes-18);
  color: var(--heading-primary-01);
  font-family: var(--fonts-mono);
  font-weight: var(--fontWeights-medium);
  margin-bottom: 8px;
}

.para {
  max-width: 1024px;
  font-size: var(--fontSizes-48);
  color: var(--heading-primary);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  margin-bottom: 8px;
  letter-spacing: var(--letterSpacings-tight);
  line-height: var(--lineHeights-shorter);
}

#navbutton {
  margin-top: 24px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.let-connect {
  padding: 15px 24px;
  background-color: var(--button-primary);
  border-radius: var(--border-radius-500);
  text-decoration: none;
  background-color: var(--button-primary);
  font-size: var(--fontSizes-24);
  letter-spacing: var(--letterSpacings-normal);
  font-family: var(--fonts-body);
  font-weight: var(--fontWeights-semibold);
  color: var(--primary-button-text);
  text-align: center;
  transition: 300ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.let-connect:hover {
  cursor: pointer;
  transform: translateY(-2.4px);
  /* text-decoration: 2px dashed underline var(--link-primary-hover); */
}

.let-connect:focus {
  transform: translateY(0px);
}

.partition {
  width: 100%;
  height: 16px;
  background-color: var(--border-subtle-01);
}

#scroll {
  max-width: 1600px;
  margin: auto;
  padding: 48px 96px;
}

#selected {
  /* font-size: var(--fontSizes-40);
  color: var(--heading-primary);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter); */
  font-size: var(--fontSizes-18);
  color: var(--heading-primary-01);
  font-family: var(--fonts-mono);
  font-weight: var(--fontWeights-medium);
  padding-bottom: 32px;
}

#project-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 48px;
}

#project-1 {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

#bottom-text-h {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 12px;
  min-width: 100%;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-none);
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.label-sec {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 8px;
}

#label {
  font-family: var(--fonts-mono);
  padding: 0.25rem 0.75rem;
  font-size: var(--fontSizes-14);
  font-weight: var(--fontWeights-medium);
  border: 1px solid var(--border-subtle-01);
  text-decoration: none;
  letter-spacing: var(--letterSpacings-normal);
  color: var(--paragraph-primary-100);
  border-radius: var(--border-radius-400);
}

.pro-bg-1 {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

.pro-bg-1:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-out;
}

#project-1 h6 {
  font-size: var(--fontSizes-32);
  color: var(--heading-primary);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
}

#project-1 p {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
  text-overflow: ellipsis;
  overflow: hidden;
}

#project-2 {
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

#bottom-text-h {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
}

.pro-bg-2 {
  max-width: 100%;
  height: 100%;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

.pro-bg-2:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-out;
}

#project-2 h6 {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
}

#project-2 p {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
  text-overflow: ellipsis;
  overflow: hidden;
}

#project-3 {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}


.pro-bg-3 {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

.pro-bg-3:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-out;
}

#project-3 h6 {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
}

#project-3 p {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
  text-overflow: ellipsis;
  overflow: hidden;
}

#project-4 {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}


.pro-bg-4 {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-out;
}

.pro-bg-4:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-out;
}

#project-4 h6 {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
}

#project-4 p {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Writing */

#line {
  border: 1px solid var(--border-subtle-01);
  margin: 16px 96px;
}

#writing-section {
  max-width: 1600px;
  margin: auto;
  padding: 48px 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 32px;
}

#writing {
  font-size: var(--fontSizes-18);
  color: var(--heading-primary-01);
  font-family: var(--fonts-mono);
  font-weight: var(--fontWeights-medium);
}

#article-section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 48px;
  justify-content: space-between;
  align-items: start;
  min-width: 100%;
}

.first-article {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 16px;
}

/* #info-1 {
  padding: 12px;
} */

#info-1 h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  margin-bottom: 8px;
  color: var(--heading-primary);
}

#info-1 p {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
  text-overflow: ellipsis;
  overflow: hidden;
}

#f-a-bg {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
}

.second-article {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 16px;
}

/* #info-2 {

} */

#info-2 h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  margin-bottom: 8px;
  color: var(--heading-primary);
}

#info-2 p {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
  text-overflow: ellipsis;
  overflow: hidden;
}

#s-a-bg {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
}

.third-article {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 16px;
}

/* #info-3 {
  padding: 12px;
  border-radius: 0px 0px 12px 12px;
} */

#info-3 h6 {
  font-size: var(--fontSizes-24);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  margin-bottom: 8px;
  color: var(--heading-primary);
}

#info-3 p {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
  text-overflow: ellipsis;
  overflow: hidden;
}

#t-a-bg {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
}

/* footer Section */


.footer {
  padding: 48px 96px;
  max-width: 1600px;
  margin: auto;
}

.footer .bottom-icons a {
  color: var(--paragraph-primary);
}

.trademark {
  font-size: var(--fontSizes-18);
  font-family: var(--fonts-mono);
  font-weight: var(--fontWeights-medium);
  color: var(--heading-primary-01);
}

#bottom-text {
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
  margin-bottom: 8px;
}

.bottom-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.bottom-icons a {
  text-decoration: none;
  transition: 200ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fontSizes-18);
}

.bottom-icons a:hover {
  cursor: pointer;
  text-decoration: 2px dashed underline;
}

/* .bottom-icons a:focus{
  transform: scale(1);
  outline-offset: 4px;
  outline: 0.2rem solid var(--link-primary-hover);
} */

.social {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}


/* About Page */

#main-about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 48px;
  padding: 48px 96px;
  max-width: 1600px;
  margin: auto;
}

.me-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: start;
  align-items: start;
  gap: 80px;
}

.about {
  /* font-size: var(--fontSizes-48);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary); */
  font-size: var(--fontSizes-18);
  color: var(--heading-primary-01);
  font-family: var(--fonts-mono);
  font-weight: var(--fontWeights-medium);
}

.me {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-none);
  object-fit: cover;
  object-position: center;
}

.myself {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 24px;
}

.myself p {
  font-size: var(--fontSizes-18);
  color: var(--paragraph-primary);
}

.question {
  font-size: var(--fontSizes-40);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  color: var(--heading-primary);
}

.hobbies {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 64px;
  min-width: 100%;
}

#cricket {
  width: 100%;
}

#cricket h6 {
  color: var(--heading-primary);
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  margin-bottom: 16px;
}

#cricket p {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
}

#music {
  width: 100%;
}

#music h6 {
  color: var(--heading-primary);
  font-size: var(--fontSizes-32);
  font-family: var(--fonts-heading);
  font-weight: var(--fontWeights-bold);
  letter-spacing: var(--letterSpacings-normal);
  line-height: var(--lineHeights-shorter);
  margin-bottom: 16px;
}

#music p {
  color: var(--paragraph-primary);
  font-size: var(--fontSizes-18);
}


@media (max-width: 1400px) {

  /* about section */
}

@media (max-width: 1024px) {

  #dynamic-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* .hero-container{
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: start;
    align-items: start;
    overflow: hidden;
  } */

  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 48px 40px;
    gap: 32px;
    margin: 0px;
  }

  .hero-img{
    max-width: 416px;
  }


  .heading {
    font-size: var(--fontSizes-18);
  }

  .para {
    font-size: var(--fontSizes-40);
  }


  #navbutton {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .let-connect{
    font-size: var(--fontSizes-20);
  }



  #selected {
    font-size: var(--fontSizes-18);
  }

  #scroll {
    max-width: 1600px;
    margin: auto;
    padding: 32px 40px;
  }

  #project-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
  }

  #label {
    font-size: var(--fontSizes-12);
  }

  #project-1 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #project-2 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #project-3 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #project-4 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  /* writing section */

  #line {
    margin: 0px 40px;
  }

  #writing-section {
    margin: auto;
    padding: 32px 40px;
    gap: 32px;
  }

  #writing {
    font-size: var(--fontSizes-18);
  }

  #article-section {
    gap: 32px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .first-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    min-width: 100%;
  }

  /* #info-1 {
    padding: 16px;
  } */

  #info-1 h6 {
    font-size: var(--fontSizes-24);
    margin-bottom: 8px;
  }

  #info-1 p {
    font-size: var(--fontSizes-18);
  }


  .second-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    min-width: 100%;
  }

  /* #info-2 {
    padding: 16px;
  } */

  #info-2 h6 {
    font-size: var(--fontSizes-24);
    margin-bottom: 8px;
  }

  #info-2 p {
    font-size: var(--fontSizes-18);
  }

  .third-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    min-width: 100%;
  }

  /* #info-3 {
    padding: 16px;
  } */

  #info-3 h6 {
    font-size: var(--fontSizes-24);
    margin-bottom: 8px;
  }

  #info-3 p {
    font-size: var(--fontSizes-18);
  }


  .footer {
    padding: 32px 40px;
    max-width: 1600px;
  }

  /* about section  */

  #main-about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 32px;
    padding: 32px 40px;
  }

  .about {
    font-size: var(--fontSizes-18);
  }

  .me-section {
    gap: 24px;
    display: flex;
    flex-direction: column-reverse;
  }

  /* .me{
    box-shadow: 6px 6px 0px 0px var(--secondary-green);
  } */

  .question {
    font-size: var(--fontSizes-32);
  }

  .hobbies {
    flex-direction: column;
    gap: 24px;
  }

  #cricket h6 {
    font-size: var(--fontSizes-32);
    margin-bottom: 16px;
  }

  #music h6 {
    font-size: var(--fontSizes-32);
    margin-bottom: 16px;
  }
}

@media (max-width: 688px) {

  #dynamic-nav-head {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 20px 16px 0px 16px;
  }

  #dynamic-nav {
    min-width: 100%;
  }

  .hero-section {
    height: fit-content;
    padding: 32px 24px;
    gap: 24px;
  }

  /* .main {
  } */

  .heading {
    font-size: var(--fontSizes-16);
  }

  .para {
    font-size: var(--fontSizes-32);
  }

  .let-connect {
    font-size: var(--fontSizes-18);
    width: 100%;
  }

  #navbutton {
    margin-top: 16px;
    width: 100%;
  }

  #scroll {
    max-width: 1600px;
    margin: auto;
    padding: 32px 24px;
  }

  #project-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
  }

  #selected {
    font-size: var(--fontSizes-16);
    padding-bottom: 16px;
  }

  #project-1 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #bottom-text-h {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
  }

  /* #label{
    font-size: var(--fontSizes-12);
  } */

  .pro-bg-1 {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-1 h6 {
    font-size: var(--fontSizes-24);
  }

  #project-1 p {
    font-size: var(--fontSizes-18);
  }

  #project-2 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #bottom-text-h {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
  }

  .pro-bg-2 {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-2 h6 {
    font-size: var(--fontSizes-24);
  }

  #project-2 p {
    font-size: var(--fontSizes-18);
  }

  #project-3 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #bottom-text-h {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
  }

  .pro-bg-3 {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-3 h6 {
    font-size: var(--fontSizes-24);
  }

  #project-3 p {
    font-size: var(--fontSizes-18);
  }

  #project-4 {
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  #bottom-text-h {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
  }

  .pro-bg-4 {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #project-4 h6 {
    font-size: var(--fontSizes-24);
  }

  #project-4 p {
    font-size: var(--fontSizes-18);
  }

  /* writing section */

  /* #line1 {
    margin: 16px 24px;
  } */

  #writing-section {
    margin: auto;
    padding: 32px 24px;
    gap: 16px;
  }

  #article-section {
    gap: 32px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  #writing {
    font-size: var(--fontSizes-16);
  }

  #info-1 {
    min-width: 100%;
  }

  #info-1 h6 {
    min-width: 100%;
    font-size: var(--fontSizes-24);
    margin-bottom: 8px;
  }

  #info-1 p {
    font-size: var(--fontSizes-18);
  }

  /* #f-a-bg {
  } */

  #info-2 {
    min-width: 100%;
  }

  #info-2 h6 {
    font-size: var(--fontSizes-24);
    margin-bottom: 8px;
  }

  #info-2 p {
    font-size: var(--fontSizes-18);
  }

  /* #s-a-bg {
  } */

  #info-3 {
    min-width: 100%;
  }

  #info-3 h6 {
    font-size: var(--fontSizes-24);
    margin-bottom: 8px;
  }

  #info-3 p {
    font-size: var(--fontSizes-18);
  }

  /* #t-a-bg {
  } */


  #line {
    margin: 0px 24px;
  }

  .footer {
    padding: 32px 24px;
  }

  .trademark {
    font-size: var(--fontSizes-16);
  }

  .bottom-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .bottom-icons a {
    text-decoration: none;
    transition: 200ms ease-out;
  }

  .social {
    gap: 16px;
  }



  /* about section */


  #main-about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
    padding: 32px 24px;
  }


  .about {
    font-size: var(--fontSizes-16);
  }

  /* .me{
    box-shadow: 4px 4px 0px 0px var(--secondary-green);
  } */
  .myself {
    gap: 16px;
  }

  .myself p {
    font-size: var(--fontSizes-18);
  }

  .question {
    font-size: var(--fontSizes-32);
  }

  #cricket h6 {
    font-size: var(--fontSizes-24);
    margin-bottom: 16px;
  }

  #music h6 {
    font-size: var(--fontSizes-24);
    margin-bottom: 16px;
  }
}